#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($pages = $result.PagesNum)
#set ($currentPage = $result.CurrentPage)
#set ($url = "$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template', 'TimelineUrlScreen'))")
#set ($timelineViewType = "list")
#set ($indicator_id = "indicator-dlg-")
#set ($indicator_id2 = "indicator-dlg2-")
#set ($indicator_id3 = "indicator-dlg3-")
#set($actionAllUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "all")))
## ---------------------------------------------------------------------------
<img src="images/common/dot.gif" width="1" height="1" onload="dojo.byId('getTimelineOnClick').innerHTML=''" style="display:none" />
<div id="timelineOuter">
<input type="hidden" id="TimelineUserId" name="TimelineUserId" value="$result.UserId" />
<input type="hidden" id="TimelineUrl_$!{portlet.ID}" name="TimelineUrl_$!{portlet.ID}" value="$url" />
<input type="hidden" id="flag_$!{portlet.ID}" name="flag_$!{portlet.ID}" value="none" />
<input type="hidden" id="height_$!{portlet.ID}" name="flag_$!{portlet.ID}" value="$result.ContentHeightMax" />
<div id="inputField">
#ALajaxscreenformheader("timelineForm" $jslink $portlet "TimelineJSONScreen" "aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aipo.timeline.submit(this,'$indicator_id','$!portlet.ID',aipo.timeline.onReceiveMessage)")

<div class="tlInputMention" style="position:relative">
  <textarea class="elastic" id="note_$!{portlet.ID}" cols="10" name="note" rows="1" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; height: 39px;" onkeyup="aipo.timeline.onKeyUp('$!{portlet.ID}', null, event);" onpaste="aipo.timeline.onPaste('$!{portlet.ID}', null, event);" onfocus="aipo.timeline.onFocus('$!{portlet.ID}')" onblur="aipo.timeline.onBlur('$!{portlet.ID}')"></textarea>
  <span class="guide" id="guide_$!{portlet.ID}" onclick="this.style.display='none';document.getElementById('note_$!{portlet.ID}').focus();" style="display: block; position:absolute; color: #999999; top:5px; left:5px">$l10n.TIMELINE_LETS_SHARE</span>
</div>
<div class="clearfix tlInputClip" id="tlInputClip_$!{portlet.ID}">
</div>

<div class="tlInputAttachment" style="display: none">
  <p class="tlInputAttachmentTitle">添付ファイル</p>
  <ul id="attachments_$!{portlet.ID}" class="attachments #if(!$result.isFileUploadable())mb_hide#end">
    #foreach($record in $!result.AttachmentFileNameList )
    <li data-fileid="s${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">$l10n.TIMELINE_DELETION</span></li>
    #end
  </ul>
</div>

<div class="tlInputControls clearfix">
  <div class="floatRight">
  	#ALajaxIndicatorglay("$indicator_id" "$!portlet.ID" "&nbsp;")
    <span id="getTimelinePortletId" style="display:none;">$!portlet.ID</span>
    <span id="getTimelineOnClick" style="display:none;"></span>
	<input type="submit" id="al_submit_$!{portlet.ID}" class="auiButtonAction" onclick="aipo.timeline.write(this, '$indicator_id', '$portlet.ID');" value="$l10n.TIMELINE_POST" />
  </div>
  <div class="floatLeft mr10 #if(!$result.isFileUploadable())mb_hide#end">
    #IFFileUpload()
  </div>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName" />
</div>
#ALformfooter()
</div>

<div class="newMessage" id="newMessage_$!portlet.ID" style="display:none; clear:both">
	<a href="javascript:void(0)" onclick="aipo.timeline.displayIndicator('${actionAllUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.GroupName}'); aipo.portletReload('timeline')">$l10n.TIMELINE_NEW_MESSAGE</a>
</div>

#if($result.List.size() == 0)
		<div class="tlDisplayChanger">
			<div class="btn">
				#ALajaxIndicator("$indicator_id3" "$!portlet.ID" "&nbsp;")
				<a href="javascript:void(0)" onclick="aipo.timeline.changeDisplay('$!{portlet.ID}');">
					<span class="tlDisplayGroup" id="tlDisplayGroup_$!{portlet.ID}">
						#if("$!{result.TargetGroupName}" == "all")
							$l10n.TIMELINE_ALL_GROUP
						#else
						#foreach( $record in $result.MyGroupList)
						#if("$!{result.TargetGroupName}" == "$!{record.Name.toString()}")
						$!record.AliasName
						#end
						#end
						#foreach($record in $result.PostMap)
						#if("$!{result.TargetGroupName}" == "$!{record.GroupName.Value}")
						$!record.PostName
						#end
						#end
						#end
					</span>
				</a>
			</div>
			<div class="menubar" id="menubar_tlDisplayChanger_$!{portlet.ID}" style="display: none; ">
				<ul>
					<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "all")selected#end" id="PostName_$!{portlet.ID}_$!{record.GroupName}" onclick="aipo.timeline.displayIndicator('${actionAllUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.GroupName}');">$l10n.TIMELINE_ALL_GROUP</a></li>
					#foreach( $record in $result.MyGroupList)
					#set($actionmygroupUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "$!{record.Name.toString()}")))
					<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "$!{record.Name.toString()}")selected#end" id="PostName_$!{portlet.ID}_$!{record.Name.toString()}" onclick="aipo.timeline.displayIndicator('${actionmygroupUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.Name.toString()}');">$!record.AliasName</a></li>
					#end
					#foreach($record in $result.PostMap)
					#set($actionUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "$!{record.GroupName}")))
					<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "$!{record.GroupName.Value}")selected#end" id="PostName_$!{portlet.ID}_$!{record.GroupName}" onclick="aipo.timeline.displayIndicator('${actionUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.GroupName}');">$!record.PostName</a></li>
					#end
				</ul>
			</div>
		</div><div id="messageDivList_$!portlet.ID"></div>
	<div id="timeline_$!{portlet.ID}" class="timeline" style="clear:both; min-height:750px">
		<div id="content">
			<div id="" class="message">
			<p class="mt10">$l10n.TIMELINE_NO_MESSAGE</p>
			</div>
		</div>
	</div>
#else
  	<div class="tlDisplayChanger">
		<div class="btn">
			#ALajaxIndicator("$indicator_id3" "$!portlet.ID" "&nbsp;")
			<a href="javascript:void(0)" onclick="aipo.timeline.changeDisplay('$!{portlet.ID}');">
				<span class="tlDisplayGroup" id="tlDisplayGroup_$!{portlet.ID}">
				#if("$!{result.TargetGroupName}" == "all")
					$l10n.TIMELINE_ALL_GROUP
				#else
				#foreach( $record in $result.MyGroupList)
				#if("$!{result.TargetGroupName}" == "$!{record.Name.toString()}")
                	$!record.AliasName
				#end
            	#end
				#foreach($record in $result.PostMap)
				#if("$!{result.TargetGroupName}" == "$!{record.GroupName.Value}")
					$!record.PostName
				#end
				#end
				#end
                </span>
			</a>
		</div>
		<div class="menubar" id="menubar_tlDisplayChanger_$!{portlet.ID}" style="display: none; ">
			<ul>
			#set($actionAllUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "all")))
				<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "all")selected#end" id="PostName_$!{portlet.ID}_$!{record.GroupName}" onclick="aipo.timeline.displayIndicator('${actionAllUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.GroupName}');">$l10n.TIMELINE_ALL_GROUP</a></li>
			#foreach( $record in $result.MyGroupList)
			#set($actionmygroupUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "$!{record.Name.toString()}")))
				<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "$!{record.Name.toString()}")selected#end" id="PostName_$!{portlet.ID}_$!{record.Name.toString()}" onclick="aipo.timeline.displayIndicator('${actionmygroupUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.Name.toString()}');">$!record.AliasName</a></li>
			#end
			#foreach($record in $result.PostMap)
		    #set($actionUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TimelineScreen").addQueryData("target_group_name", "$!{record.GroupName}")))
				<li><a href="javascript:void(0)" class="PostName_$!{portlet.ID} #if("$!{result.TargetGroupName}" == "$!{record.GroupName.Value}")selected#end" id="PostName_$!{portlet.ID}_$!{record.GroupName}" onclick="aipo.timeline.displayIndicator('${actionUrl}', '$!{portlet.ID}', '$indicator_id3', '$!{record.GroupName}');">$!record.PostName</a></li>
			#end
			</ul>
		</div>
	</div><div id="messageDivList_$!portlet.ID"></div>
  #if($result.ContentHeightMax == 0)
    <div id="timeline_$!{portlet.ID}" class="timeline">
  #else
    <div id="timeline_$!{portlet.ID}" class="timeline" style="height: ${result.ContentHeightMax}px; overflow-y: scroll; overflow-x: hidden; clear:both" onScroll="dojo.byId('readHidden_$!{portlet.ID}').onclick()">
  #end
  <img src="images/common/dot.gif" width="1" height="1" onload="if(aipo.hasOwnProperty('timeline')) {aipo.timeline.setScrollTop('$portlet.ID', '$result.ScrollTop'); }" style="display:none" />
  <div id="content_$!{portlet.ID}_1">
	#parse("/portlets/html/ja/ajax-timeline-content.vm")
  </div>
  #if(${pages} > 1)
    #foreach ($i in [2..${pages}])
	  <div id="content_$!{portlet.ID}_${i}"></div>
    #end
  #end
  <div id="more_$!{portlet.ID}">
  #if($result.ContentHeightMax == 0)
	#if($pages > $currentPage)
		<div class="readMore clearfix">
			#ALajaxIndicatorglayFloatRight("$indicator_id2" "$!portlet.ID" "&nbsp;")
			<a href="javascript:void(0);" onClick="aipo.timeline.displayIndicatorNotViewPage('$!{portlet.ID}', '$indicator_id2');dojo.byId('readHiddenClick_$!{portlet.ID}').onclick();" style="display:block;">$l10n.TIMELINE_READ_MORE</a>
		</div>
	#end
  #end
  <div id="more_end_$!{portlet.ID}"></div>
  </div>
  </div>
#end
</div>