#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
#set ($pages = $result.PagesNum)
#set ($currentPage = $result.CurrentPage)
## ---------------------------------------------------------------------------
#if($pages > $currentPage) #set($next = $currentPage + 1)
	<input id="readHidden_$!{portlet.ID}" type="hidden" onClick="aipo.timeline.onScroll('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "TimelineContentScreen").addQueryData("start", $next))', '$!portlet.ID', '$currentPage', '$pages');" />
	<input id="readHiddenClick_$!{portlet.ID}" type="hidden" onClick="aipo.timeline.onClick('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "TimelineContentScreen").addQueryData("start", $next))', '$!portlet.ID', '$currentPage', '$pages');" />
#end
#if($result.List && $result.List.size() > 0)
#set ($last_timelineId = $result.List.get(0).TimelineId)
#else
#set ($last_timelineId = "0")
#end
<input type="hidden" id="last_timelineId_$!{portlet.ID}" value="$last_timelineId" />
#foreach ($record in $result.List)
#if($currentPage == 1 && $velocityCount == 1) #set($firstCss = " first")#else #set($firstCss = "")#end
	#parse("/portlets/html/ja/ajax-timeline-content-inner.vm")
#end
