#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<script language="JavaScript" type="text/JavaScript">
<!--
function onClick_Select(button){
  disableButton(button.form);
  var option = button.form.SelectMenu0.options[button.form.SelectMenu0.selectedIndex];
  button.form.action = "$!jslink.getPortletById($!portlet.ID)" + '?' + option.value + '=1';
  button.form.submit();

}
function event_csv(button) {
  disableButton(button.form);
  button.form.action = "$!jslink.getPortletById($!portlet.ID)" + '?' + button.name + '=1';
  button.form.submit();
}

function event_csv_page(button,page) {
    disableButton(button.form);
    button.form.action = "$!jslink.getPortletById($!portlet.ID)" + '?' + button.name + '=1' + '&csvpage=' + page;
    button.form.submit();
}

function event_csv_regist(button) {
  if(confirm('$l10n.FILEIO_ADD_BULK_ADDRESS_BOOK')) {
    disableButton(button.form);
    button.form.action = "$!jslink.getPortletById($!portlet.ID)" + '?' + button.name + '=1';
    button.form.submit();
  }
}

var flag = 0;

function onChg1(obj){

    var n = document.readcsv.SelectMenu1.selectedIndex;

  if(flag == 0){

      switch (n) {
      case 0:
            break;
        case 1:

            break;
        case 2:

            break;
        case 3:

        break;
        case 4:

            break;
      case 5:
      flag = 1;
            break;
      case 6:

            break;
      case 7:

            break;
        default:
            break;
        }
  }

}

function onChg2(obj){
    flag = 1;
}

function download_csv(){
    var flag = 0;
    for(i=0; i<document.io_select.downloadcsv.length; i++){
        if(document.io_select.downloadcsv[i].checked){
            flag = 1;
            window.location.href = document.io_select.downloadcsv[i].value;
        }
    }
	if(flag == 0){
        alert('$l10n.FILEIO_SELECT_DOWNLOAD_TEMPLATE');
    }
}


function import_csv(){
    var importflag = 0;
	for(j=0; j<document.readcsv.importcsv.length; j++){
        if(document.readcsv.importcsv[j].checked){
            importflag = 1;
			document.readcsv.action = document.readcsv.importcsv[j].value;
        }
	}
	if(importflag == 0){
        alert('$l10n.FILEIO_SELECT_TYPE_LOAD_CSV');
    }
	document.readcsv.submit();
}

function show_Attention(divId, divClass){
	var divs = document.getElementsByTagName('div');
	for(var i=0; i<divs.length; i++){
		if(divs[i].className == divClass){
			if(divs[i].id == divId) {
				divs[i].style.display = "block";
				}else{
				divs[i].style.display = "none";
				}
		}
	}
}

function hide_Attention(){
	var divs = document.getElementsByTagName('div');
	for(var i=0; i<divs.length; i++){
		if(divs[i].id == "Account_Attention" || divs[i].id == "Schedule_Attention") {
		divs[i].style.display = "none";
		}
	}
}

//-->
</script>
#if(${client}=="IPHONE")
#ALcontentheader($!portlet.Title '')
#AUIcontentsAreaHeader()
#AUISummaryDiv()
#AUISummaryDivfooter()
#end
#if((! $result.List || $result.List.size() == 0) && !$!validateError)#ALerrmsg($errmsgs)#end
#if($result.getClass().getName() == "com.aimluck.eip.account.AccountCsvSelectData")
#if(! $result.List || $result.List.size() <= 0)
#if($result.overMaxUser() || $result.repeatUsers())
<ul>
#if($result.overMaxUser())
<li><span class="caution">$l10n.FILEIO_EXCEEDED_USERS_MORE_LICENSES</span></li>
#end
</ul>
#end
#end
#end

<h3>$l10n.FILEIO_DOWNLOAD_TEMPLATE</h3>

<form enctype="multipart/form-data" method="post" action="" name="io_select" class="auiForm">
<input type="hidden" value="$secid" name="secid" />

<table class="listTable wide">
<tbody>

<tr>
<td width="150" class="caption">$l10n.FILEIO_TYPE</td>
<td>
<label><input type="radio" name="downloadcsv" class="mb5 mr5" value="$jslink.getTemplate('FileIOAccountCsvFileScreen')" />$l10n.FILEIO_USER_ACCOUNT</label><br />
<label><input type="radio" name="downloadcsv" class="mb5 mr5" value="$jslink.getTemplate('FileIOAccountPostCsvFileScreen')" />$l10n.FILEIO_UNIT</label><br />
<label><input type="radio" name="downloadcsv" class="mb5 mr5" value="$jslink.getTemplate('FileIOAddressBookCompanyCsvFileScreen')" />$l10n.FILEIO_ADDRESSBOOK_COMPANY</label><br />
<label><input type="radio" name="downloadcsv" class="mb5 mr5" value="$jslink.getTemplate('FileIOAddressBookCsvFileScreen')" />$l10n.FILEIO_ADDRESSBOOK</label><br />
<label><input type="radio" name="downloadcsv" class="mb5 mr5" value="$jslink.getTemplate('FileIOScheduleCsvFileScreen')" />$l10n.FILEIO_SCHEDULE</label><br />
</td>
</tr>

<tr>
<td colspan="2" class="center"><input type="button" onClick="download_csv()" value="$l10n.FILEIO_DOWNLOAD" class="button" name="send" /></td>
</tr>

</tbody>
</table>
</form>


<h3 class="mt20">$l10n.FILEIO_IMPORT</h3>

<form enctype="multipart/form-data" method="post" action="" name="readcsv">
<input type="hidden" value="$secid" name="secid" />
#if($temp_folder)
<input type="hidden" value="$temp_folder" name="temp_folder" />
#end

<table class="listTable wide">
<tbody>
<tr>
<td width="150" class="caption">$l10n.FILEIO_TYPE</td>
<td>
<label><input type="radio" name="importcsv" class="mb5 mr5" onClick="show_Attention('Account_Attention','AttentionGroup')" value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_upload_csv','1')" />$l10n.FILEIO_USER_ACCOUNT</label><br />
<label><input type="radio" name="importcsv" class="mb5 mr5" onClick="hide_Attention()" value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_postcsv_upload','1')" />$l10n.FILEIO_UNIT</label><br />
<label><input type="radio" name="importcsv" class="mb5 mr5" onClick="hide_Attention()" value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_upload_csv','1')" />$l10n.FILEIO_ADDRESSBOOK_COMPANY</label><br />
<label><input type="radio" name="importcsv" class="mb5 mr5" onClick="hide_Attention()" value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_upload_csv','1')" />$l10n.FILEIO_ADDRESSBOOK</label><br />
<label><input type="radio" name="importcsv" class="mb5 mr5" onClick="show_Attention('Schedule_Attention','AttentionGroup')" value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_upload_csv','1')"/>$l10n.FILEIO_SCHEDULE</label><br />
</td>
</tr>

#if(${client}!="IPHONE")
<tr>
<td class="caption">$l10n.FILEIO_SPECIFIED_CSV_FILE</td>
<td nowrap="nowrap"><input type="file" style="ime-mode:disable" size="30" value="" name="attachment" class="" /></td>
</tr>
#else
<tr>
<td class="caption">$l10n.FILEIO_SPECIFIED_CSV_FILE</td>
</tr>
<tr>
<td nowrap="nowrap" colspan="2"><input type="file" style="ime-mode:disable" value="" name="attachment" class="" /></td>
</tr>
#end

<tr>
<td colspan="2" class="center">
	#if($!result.List && $!result.List.size() > 0)
	<input type="submit" onClick="import_csv();aimluck.io.setHiddenValue(this);" value="$l10n.FILEIO_LOAD" class="button" name="send" />
	#else
	<input type="submit" onClick="import_csv();aimluck.io.setHiddenValue(this);" value="$l10n.FILEIO_LOAD" class="auiButtonAction" name="send" />
	#end
</td>
</tr>

</tbody>
</table>

<div id="Account_Attention" class="AttentionGroup" style="display:none">
	<p>
		$l10n.FILEIO_INFORMATION_AND_NOTES
	</p>
</div>
<div id="Schedule_Attention" class="AttentionGroup" style="display:none">
	<p>
		$l10n.FILEIO_REGISTERED_PRIORITIZE_USERNAME_THAN_NAME
	</p>
</div>

#if($result.List && $result.getPageCount() > 0)
#set($plist = [1..$result.getPageCount()])

#if($result.List && $result.List.size() > 0)
#set($showErrmsg1 = false)
#set($showErrmsg2 = false)
#set($showErrmsg3 = false)
#set($showErrmsg4 = false)
#set($showErrmsg5 = false)
#set($showErrmsg6 = false)
#set($showErrmsg7 = false)
#set($showErrmsg8 = false)
#set($showErrmsg9 = false)
#set($showErrmsg10 = false)


#foreach ($record in $result.List)

#if(($!record.getCompanyNameKana().toString() == "")&&($!record.getCompanyName().toString() != ""))#set($showErrmsg1 = true) #end
#if(!$!record.getZipcode().getValue())#set($showErrmsg2 = true)#end
#if(!$!record.getCompanyTelephone().getValue())#set($showErrmsg3 = true)#end
#if(!$!record.getCompanyFaxNumber().getValue())#set($showErrmsg4 = true)#end
#if($!record.getSameCompany())#set($showErrmsg5 = true)#end
#if(! $!record.getCompanyAddress().getValue())#set($showErrmsg6 = true)#end
#if(! $!record.getPostName().getValue())#set($showErrmsg7 = true)#end
#if(! $!record.getCompanyUrl().getValidate())#set($showErrmsg8 = true)#end
#if(! $!record.getCompanyName().getValue())#set($showErrmsg9 = true)#end
#if((! $!record.getCompanyNameKana().getValue()) && ! $showErrmsg1)#set($showErrmsg10 = true)#end

#end

<table class="listTable wide">
<td>


#if($result.isError())${result.getLineCount3()}<br>$l10n.FILEIO_ERROR_NOT_ADD_DATA #end
#set($showErrmsg = $showErrmsg1 || $showErrmsg2 || $showErrmsg3 || $showErrmsg4 || $showErrmsg5 || $showErrmsg6 || $showErrmsg7 || $showErrmsg8 || $showErrmsg9 || $showErrmsg10 )
#if($showErrmsg)
<ul>
#if($showErrmsg1)
<li><span class="caution">（※1）&nbsp;$l10n.FILEIO_NO_INPUT_COMPANY_NAME</span></li>
#end
#if($showErrmsg2)
<li><span class="caution">（※2）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_ZIP_CODE</span></li>
#end
#if($showErrmsg3)
<li><span class="caution">（※3）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_COMPANY_PHONE_NUMBER</span></li>
#end
#if($showErrmsg4)
<li><span class="caution">（※4）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_COMPANY_FAX_NUMBER</span></li>
#end
#if($showErrmsg5)
<li><span class="caution">（※5）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_ADD_SAME_COMPANY_NAME</span></li>
#end
#if($showErrmsg6)
<li><span class="caution">（※6）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_COMPANY_ADDRESS</span></li>
#end
#if($showErrmsg7)
<li><span class="caution">（※7）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_UNIT_NAME</span></li>
#end
#if($showErrmsg8)
<li><span class="caution">（※8）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_URL</span></li>
#end
#if($showErrmsg9)
<li><span class="caution">（※9）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_COMPANY_NAME</span></li>
#end
#if($showErrmsg10)
<li><span class="caution">（※10）&nbsp;$l10n.FILEIO_FILEIO_INFORMATION_INPUT_LIMIT_COMPANY_SPELL</span></li>
#end
</ul>
#else
<br>
<div style="margin:0px 0px 5px 0px">$l10n.FILEIO_CLICK_BUTTOM_REGISTER</div>
#end
#if($result.getErrorCount() == 100)
<span class="caution">$l10n.FILEIO_ERROR_LIMIT</span>
#elseif($result.getErrorCount() > 0)
<span class="caution">${result.getLineCount2()}</span>

#end
#if(($result.getPageCount() > 1)&&($result.getErrorCount() == 0))
#foreach($p in $plist)
#ALbutton('eventSubmit_doAddressbook_company_list_csv_page' $p "event_csv_page(this, $p)")
#end
#end
<div style="width:100%; overflow:auto;">
<table class="tableWrapper" style="margin: 1px"><tbody><tr><td>
#ALtableheaderBorderWide()
<tr>
<th nowrap="nowrap" class="head">$l10n.FILEIO_WHETHER_REGISTER</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_USER_NAME</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_COMPANY_NAME</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_COMPANU_NAME_SPELL</th>
<th nowrap="nowrap" class="head">$l10n.ADDRESSBOOK_ZIPCODE</th>
<th nowrap="nowrap" class="head">$l10n.ADDRESSBOOK_ADDRESS</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_COMPANY_PHONE_NUMBER</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_COMPANY_FAX_NUMBER</th>
<th nowrap="nowrap" class="head">$l10n.FILIIO_UNIT_NAME</th>
<th nowrap="nowrap" class="head">$l10n.FILEIO_URL</th>
</tr>
#set($con = 0)
#foreach ($record in $result.List)
#set($Err = false)
#if((($!record.getName().toString() == "")||($!record.getNameKana().toString() == ""))&&(($!record.getCompanyName().toString() == "")||($!record.getCompanyNameKana().toString() == "")))
#set($Err = true)
#end
#set($con = $con +1)


<tr>
<td nowrap="nowrap" class="item">
#if(!$!record.IsError)$l10n.FILEIO_YES ($!{record.LineCount}$l10n.FILEIO_LINE)#else <span class="caution">$l10n.FILEIO_NOT ($!{record.LineCount}$l10n.FILEIO_LINE)</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCreatedUser().toString() != "")$!{record.getCreatedUser().toString()}#else admin #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyName().toString() != "")$!{record.getCompanyName().toString()}#else <span class="caution"></span> #end
#if($!record.getSameCompany())<span class="caution">※5</span>#end
#if(!$!record.getCompanyName().getValue())<span class="caution">※9</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyNameKana().toString() != "")$!{record.getCompanyNameKana().toString()}#elseif($!record.getCompanyName().toString() != "") <span class="caution">※1</span>
#elseif(!$!record.getCompanyNameKana().getValue())<span class="caution">※10</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getZipcode().getValue())$!{record.getZipcode().toString()}#else <span class="caution">※2</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyAddress().getValue())$!{record.getCompanyAddress().toString()}#else <span class="caution">※6</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyTelephone().getValue())$!{record.getCompanyTelephone().toString()}#else <span class="caution">※3</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyFaxNumber().getValue())$!{record.getCompanyFaxNumber().toString()}#else <span class="caution">※4</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getPostName().getValue())$!{record.getPostName().toString()}#else <span class="caution">※7</span> #end
</td>
<td nowrap="nowrap" class="item">
#if($!record.getCompanyUrl().getValidate())$!{record.getCompanyUrl().toString()}#else <span class="caution">※8</span> #end
</td>
</tr>
#end
#ALtablefooter()
</td></tr></tbody></table>
<br>
</div>
<br>

</td>
</table>

<table class="listTableNoBorder wide">
<tr>
#if($result.isError())
#ALtdcellAtt("#ALbutton('eventSubmit_doAddressbook_company_form' $l10n.FILEIO_GO_BACK 'event_csv(this)')" 'colspan="11" align="center"')
#elseif(($result.getErrorCount() >= $result.getLineCount()))
#ALtdcellAtt("#ALbutton('eventSubmit_doAddressbook_company_form' $l10n.FILEIO_DO_CANCEL 'event_csv(this)')" 'colspan="11" align="center"')
#elseif($result.getErrorCount() ==100)
#ALtdcellAtt("#ALbutton('eventSubmit_doAddressbook_company_form' $l10n.FILEIO_DO_CANCEL 'event_csv(this)')" 'colspan="11" align="center"')
#elseif($result.getErrorCount() > 0)
#ALtdcellAtt("#ALauibutton('eventSubmit_doAddressbook_company_insert_csv' $l10n.FILEIO_REGISTER_ONLY_NORMAL_PART 'event_csv_regist(this)')#ALbutton('eventSubmit_doAddressbook_company_form' $l10n.FILEIO_DO_CANCEL 'event_csv(this)')" 'colspan="12" align="center"')
#else
#ALtdcellAtt("#ALauibutton('eventSubmit_doAddressbook_company_insert_csv' $l10n.FILEIO_DO_REGISTER 'event_csv_regist(this)')#ALbutton('eventSubmit_doAddressbook_company_form' $l10n.FILEIO_DO_CANCEL 'event_csv(this)')" 'colspan="12" align="center"')
#end
</tr>
</table>
#end
#end
</form>
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#ALcontentfooter()
#end