#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [["$l10n.FILEIO_IMPORT_MANAGEMENT", "",""]])
## ---------------------------------------------------------------------------
#ALtabheader($tabs "")
#if(${client}=="IPHONE")
#ALcontentheader($!portlet.Title '')
#end
<form name="io_select" action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="secid" value="$secid" />
<select name="post$!{portlet.ID}" onChange="location.href=this.options[this.selectedIndex].value">
<option value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_doAccount_form_csv','1')">$l10n.FILEIO_USER_ACCOUNT</option>
<option value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_doAccount_postcsv_form','1')">$l10n.FILEIO_POST</option>
<option value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_doaddressbook_company_form','1')">$l10n.FILEIO_ADDRESSBOOK_COMPANY</option>
<option value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_doaddressbook_form','1')">$l10n.FILEIO_ADDRESSBOOK</option>
<option value="$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_doSchedule_form','1')">$l10n.FILEIO_SCHEDULE</option>
</select>
$l10n.FILEIO_PACKAGE_REGISTER
</form>
#if(${client}=="IPHONE")
#ALcontentfooter()
#end
#ALtabfooter()
