#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($action_str = $l10n.TODO_ADD)
#set ($event_submit = "eventSubmit_doTodo_category_insert")
#set ($subtitle = $l10n.TODO_CATEGORY_ADDITION)
#else
#set ($action_str = $l10n.TODO_UPDATE)
#set ($event_submit = "eventSubmit_doTodo_category_update")
#set ($subtitle = $l10n.TODO_CATEGORY_EDITION)
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("todoCategoryForm" $jslink $portlet "ToDoCategoryFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.todo.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('category_name'))")
#ALtditem("#ALtextfield('category_name' $!result.CategoryName '90%' 50 'active')")
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonCancel()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
