#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($categoryEtc = false) ## msgboard-widgets.vmでのカテゴリ表示の判断用
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<div class="auiSummaryMeta auiFilter clearfix">
<form class="auiSearch" style="margin-right:1em;" id="searchForm_$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID)" onsubmit="aimluck.io.postViewPage(this, '$!portlet.ID', 'search-${indicator_id}'); return false;">
<input type="hidden" id="baseuri_$!portlet.ID" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen")' />
<input type="hidden" name="template" value="ToDoListScreen"/>
<div class="filterInputField">
<div class="filters" id="filters_$!portlet.ID">

#foreach($record in $result.postList)
#if($!result.issetFilter("post",$!{record.Name}))
<span class="filterTip">
<span>$!record.AliasName</span>
<a href="javascript:void(0)" onclick="aipo.todo.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end

#foreach($record in $result.PostMap)
#if($!result.issetFilter("post",$!{record.GroupName}))
<span class="filterTip">
<span>$!record.PostName</span>
<a href="javascript:void(0)" onclick="aipo.todo.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end

#foreach($record in $result.CategoryList)
#if($!result.issetFilter("category",$!{record.CategoryId}))
<span class="filterTip">
<span>$!record.CategoryName</span>
<a href="javascript:void(0)" onclick="aipo.todo.filterSetDefault('$!portlet.ID','category')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end
</div>
<a href="javascript:void(0)" class="filterDropDrawer menubarOpenButton" onclick="aipo.todo.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),true)"><i class="auiIcon auiIconArwBottom"></i></a>
<input class="text" type="text" name="keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" onfocus='aipo.todo.initFilterSearch("$!portlet.ID");' onblur='aipo.todo.finFilterSearch("$!portlet.ID");' />
</div>
<a class="auiButtonSearch" onclick="dojo.byId('searchForm_$!portlet.ID').onsubmit();">$l10n.TODO_SEARCH</a>
</form>
<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!portlet.ID" "&nbsp;")</div>
</div>

#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('ToDo')
#if($result.List.size() == 0)
<div class="message">$l10n.TODO_NO_TODO_YOUR_SELECT</div>
#else
<div class="auiSummaryMeta clearfix">
<div class="floatLeft">#if($!result.currentTab == 'list')
#AUIajaxbuttonCheckboxAction($l10n.TODO_FINISH "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_complete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")
#else
#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")
#end
</div>
#AUIajaxpageview('ToDoListScreen' $result)
</div>
#if($!result.targetKeyword && ($!result.targetKeyword.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($!result.targetKeyword.toString())
#AUISummaryDivfooter()
#end

#AUIrowMTableWide()
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='thin center'")
#ALtdheadAtt("#ALajaxsort('priority' $l10n.TODO_PRIORITY $result 'ToDoListScreen')" "class='thin mb_hide center'")
<th>#ALajaxsort('todo_name' $l10n.TODO_TITLE $result 'ToDoListScreen')</th>
<th class="wName">#ALajaxsort('user_name' $l10n.TODO_PREPARED $result 'ToDoListScreen')</th>
<th class="wCategory mb_hide">#ALajaxsort('category_name' $l10n.TODO_CATEGORY $result 'ToDoListScreen')</th>
#ALtdheadAtt("#ALajaxsort('end_date' $l10n.TODO_END_DATE $result 'ToDoListScreen')" 'class="w10 center"')
#ALtdheadAtt("#ALajaxsort('state' $l10n.TODO_STATE $result 'ToDoListScreen')" 'class="w10 mb_hide center"')
</tr>
#foreach ($record in $result.List)
#if($!result.currentTab == "list")
#set($limitState = ${record.limitState.Value})
#if($result.isMatch(0, $limitState))
#set($lsStyle = ' style="background-color:#FFFFE5"')
#elseif($result.isMatch(1, $limitState))
#set($lsStyle = ' style="background-color:#FFE5E5"')
#else
#set($lsStyle = '')
#end
#else
#set($lsStyle = '')
#end
<tr $lsStyle>

#ALtdcellAtt("<input name='check$!record.TodoId' type='checkbox' value='$!record.TodoId'/>" 'align="center" class="auiMTCheck"')
#ALtdcellAtt("<img src='images/todo/$!record.PriorityImage' alt='$!record.PriorityString'  title='$!record.PriorityString'/>" 'class=" mb_hide" align="center"')
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
#if(! $!record.Public)
#AUIiconSecretAtt("title='$l10n.TODO_CLOSE_PUBLIC'")&nbsp;
#end
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoDetailScreen").addQueryData("entityid",$record.TodoId))');">$!record.TodoName</a>
</div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.UserName</div>" "")
#ALtdcellAtt("<div>$!record.CategoryName</div>" "class='mb_hide' ")
#ALtdcellAtt("<div>$!record.EndDate</div>" 'nowrap="nowrap"')
#ALtdcellheaderAtt('nowrap="nowrap" class="mb_hide" ')
#if($!result.currentTab == "list")<img src='images/todo/$!record.StateImage' alt='$!record.StateString' title='$!record.StateString' style="vertical-align: middle;" />&nbsp;#end<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID');aipo.portletReload('todo','$!portlet.ID');">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "0"))"   #if ($!record.State.toString() == "0" )  selected="selected" #end>$l10n.TODO_NOT_START</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "10"))"  #if ($!record.State.toString() == "10")  selected="selected" #end>10%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "20"))"  #if ($!record.State.toString() == "20")  selected="selected" #end>20%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "30"))"  #if ($!record.State.toString() == "30")  selected="selected" #end>30%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "40"))"  #if ($!record.State.toString() == "40")  selected="selected" #end>40%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "50"))"  #if ($!record.State.toString() == "50")  selected="selected" #end>50%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "60"))"  #if ($!record.State.toString() == "60")  selected="selected" #end>60%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "70"))"  #if ($!record.State.toString() == "70")  selected="selected" #end>70%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "80"))"  #if ($!record.State.toString() == "80")  selected="selected" #end>80%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "90"))"  #if ($!record.State.toString() == "90")  selected="selected" #end>90%</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoListScreen").addQueryData("mode","update").addQueryData("start","$result.CurrentPage").addQueryData("entityid", $!record.TodoId).addQueryData("secid","$secid").addQueryData("state", "100"))" #if ($!record.State.toString() == "100") selected="selected" #end>$l10n.TODO_FINISHING</option>
</select>
#ALtdcellfooter()
</tr>

#end
#AUItablefooter()
<div class="auiSummaryMeta clearfix">
	<div class="floatLeft">#if($!result.currentTab == 'list')
		#AUIajaxbuttonCheckboxAction($l10n.TODO_FINISH "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_complete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")
		#else
		#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ToDoFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.todo.onListReceiveMessage")
		#end
	</div>
#AUIajaxpageview('ToDoListScreen' $result)
</div>
#end

<img src="images/common/dot.gif" alt="" width="1" height="1" onload='dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' />

<div class="menubar multi" id="menubar_auiFilter_$!portlet.ID" style="width:260px; display:none; top:85px; left:276px;">
<div>
<p class="caption">$l10n.COMMON_GROUP</p>
<ul class="filtertype filtertype_$!portlet.ID" data-type="post" data-defaultparam="0">
<li data-param="0" #if(!$!result.issetFilter("post")) class="selected" #end><a href="javascript:void(0)" #if(!$!result.issetFilter("post")) class="selected" #end onclick="aipo.todo.filterClick('$!portlet.ID',this,event)">$l10n.TODO_ALL_GLOUP</a></li>
#foreach($record in $result.postList)
<li data-param="$!record.Name" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end onclick="aipo.todo.filterClick('$!portlet.ID',this,event)">$!record.AliasName</a></li>
#end
#foreach($record in $result.PostMap)
<li data-param="$!record.GroupName" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end onclick="aipo.todo.filterClick('$!portlet.ID',this,event)">$!record.PostName</a></li>
#end
</ul>
</div>
<div>
<p class="caption">$l10n.TODO_CATEGORY</p>
<ul class="filtertype filtertype_$!portlet.ID" data-type="category" data-defaultparam="0">
<li data-param="0" #if(!$!result.issetFilter("category")) class="selected" #end><a href="javascript:void(0)" #if(!$!result.issetFilter("category")) class="selected" #end onclick="aipo.todo.filterClick('$!portlet.ID',this,event)">$l10n.TODO_ALL_CATEGORY</a></li>
#foreach($record in $result.CategoryList)
<li data-param="$!record.CategoryId" #if($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end onclick="aipo.todo.filterClick('$!portlet.ID',this,event)">$!record.CategoryName</a></li>
#end
</ul>
</div>
</div>

#ALformfooter()
#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/todo-widgets.vm")

