#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## Set Email headers
#set ($ignored = $email.addTo($config.getString("newuser.notification.email.to") ) )
#set ($ignored = $email.setFrom($config.getString("newuser.confirm.email.from") ) )
#set ($ignored = $email.setSubject("Jetspeed日本語版 新規ユーザーの承認待ち"))
##
Jetspeed日本語版 管理者 様

Jetspeed日本語版アプリケーション上に以下のユーザーを要求されました。
   名前:       $lastname #if ($firstname)$firstname#end
   $l10n.LOGIN_USERNAME $username
   Eメール:    $user.Email

この要求に対して、アカウントを許可または拒否して処理してください。

   $userurl

注意: 上記のリンクをクリックする前に、管理者としてログインする必要があります。

以上をよろしくお願いいたします。

Jetspeed日本語版 管理者
