#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($addAddress = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookFormScreen").addQueryData("entityid","new")))
#set ($groupUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookGroupListScreen")))
#set ($companyUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookCompanyListScreen")))
## ---------------------------------------------------------------------------

<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
#if("$button_flag"=="true")
#AUIbuttonAction($l10n.ADDRESSBOOK_ADDRESS_ADD "javascript:aipo.common.showDialog('$addAddress','$!portlet.ID',aipo.addressbook.onLoadAddressbookDialog);")
#else
<a title="$l10n.ADDRESSBOOK_ADDRESS_ADD" href="javascript:aipo.common.showDialog('$addAddress','$!portlet.ID',aipo.addressbook.onLoadAddressbookDialog);" class="auiButtonBold">$l10n.ADDRESSBOOK_ADDRESS_ADD</a>
#end
</div>
<div class="auiWidget clearfix">
<ul>
<li#if("$!result.currentTab" == "syagai" && ! $!result.CurrentFilter ) class="active"#end>
#set($all = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData("eventSubmit_doAddressbook_list", "1").addQueryData("filter", "").addQueryData("filtertype", "group").addQueryData('tab','syagai')))
<a href="javascript:void(0);" onclick="aipo.viewPage('$all', '$!portlet.ID');" >$l10n.ADDRESSBOOK_ALL_ADDRESS</a>
</li>
#if($result.GroupList.size()!=0)
#foreach($record in $result.GroupList)
<li#if("$!result.currentTab" == "syagai" && $!result.CurrentFilter && $!result.CurrentFilter == $!record.GroupId.toString()) class="active"#end>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookListScreen').addQueryData('eventSubmit_doAddressbook_list', '1').addQueryData('filter', $!record.GroupId).addQueryData('filtertype', 'group').addQueryData('tab','syagai'))', '$!portlet.ID');" >$!record.GroupName</a>
</li>
#end
#end


</ul>

<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$groupUrl', '$!portlet.ID')">$l10n.ADDRESSBOOK_GROUP_MANAGEMENT</a>
</div>
</div>

<div class="auiWidget clearfix">

<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$companyUrl', '$!portlet.ID')">$l10n.ADDRESSBOOK_COMPANY_MANAGEMENT</a>
</div>
</div>

#**
#macro(ALajaxsortaddressbook $key $name $result $screen)
#if($!result.CurrentSort && $!result.CurrentSort == "$key" && $!result.CurrentSortType && $!result.CurrentSortType == "asc")#set($sorttype ="desc")#set($sortHead ="headDown") #else #set($sorttype ="asc")#set($sortHead ="headUp")#end
#if($result.SearchWord && $result.SearchWord.toString() != "")
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype").addQueryData("mode","ajaxsearch").addQueryData("sword","$result.SearchWord").addQueryData("tab","$!result.currentTab"))', '$!portlet.ID');">$name</a>
#else
#if($!result.Index && $result.Index.toString() != "")
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype").addQueryData("idx","$result.Index"))', '$!portlet.ID');">$name</a>
#else
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype"))', '$!portlet.ID');">$name</a>
#end
#end
#end
**#
</div>
