#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($button_flag = "true")
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<h2>$l10n.ADDRESSBOOK_COMPANY_MANAGEMENT</h2>
#if($result.List.size() != 0)
<div class="auiSummaryMeta clearfix"><p>
#AUIbuttonAction($l10n.ADDRESSBOOK_COMPANY_ADD  "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormScreen').addQueryData('entityid','new')','$!portlet.ID',aipo.addressbook.onLoadAddressbookCompanyDialog);")
</p></div>
<form class="auiSearch floatLeft" id="AddressBookCompanyDownload$!portlet.ID" name="AdressBook" action="$jslink.getTemplate('AddressBookCompanyWordXlsExportScreen')" method="post">
<input type="hidden" name="mode" value="ajaxsearch"/>
<input type="hidden" name="sword" value="$!result.searchWord"/>
<input type="hidden" name="user_id" value="$!result.UserId"/>
<input type="hidden" name="idx" value="$!result.Index"/>
</form>
#end
#if($result.List.size() != 0 || ($result.SearchWord && $result.SearchWord.toString() != ""))
#AUISummaryDiv()
<form class="auiSearch floatLeft" name="addressbook$!portlet.ID" id="addressbook$!portlet.ID" action="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyListScreen').addQueryData('mode','ajaxsearch'))" method="post" onsubmit="aipo.addressbook.onSubmitSerchButton(this,'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyListScreen').addQueryData('mode','ajaxsearch'))','$!portlet.ID','$!result.currentTab','$!indicator_id'); return false;">
<input class="text floatLeft long" name="sword" id="sword" value="$!result.SearchWord" maxlength="100" style="margin-right:5px;ime-mode:active" />
<a href="javascript:void(0)" tabindex="0" class="auiButtonSearch floatLeft" onclick="dojo.byId('addressbook$!portlet.ID').onsubmit();">$l10n.ADDRESSBOOK_SEARCH</a>
<div class="floatLeft"><div class="indicator" id="${indicator_id}$!{portlet.ID}" style="display:none;">&nbsp;</div></div>
<input name="mode" type="hidden" value="ajaxsearch" />
</form>
#AUISummaryDivfooter()
#end

#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="listmessageDiv"></div>
#ALajaxlistformheader($l10n.ADDRESSBOOK_COMPANY)
#if($result.List.size() == 0)
#if($result.Index || ($result.SearchWord && $result.SearchWord.toString() != ""))
<div class="message">$l10n.ADDRESSBOOK_NO_COMPANY_YOUR_SELECT</div>
#else
#AUIbuttonActionInBlankBox($l10n.ADDRESSBOOK_COMPANY_ADD  "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormScreen').addQueryData('entityid','new')','$!portlet.ID',aipo.addressbook.onLoadAddressbookCompanyDialog);")
#end
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ADDRESSBOOK_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.addressbook.onListReceiveMessage")
#set($dlLink = "javascript:dojo.byId('AddressBookCompanyDownload$!portlet.ID').submit();" )
#AUIbutton($l10n.ADDRESSBOOK_DOWNLOAD_LIST $dlLink)
</div>
#AUIajaxpageview('AddressBookCompanyListScreen' $result)
#AUISummaryDivfooter()
#if($!result.SearchWord && ($!result.SearchWord.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($result.SearchWord.toString())
#AUISummaryDivfooter()
#end
##ALformheader($l10n.ADDRESSBOOK_COMPANY_NAME $jslink $portlet)
#AUIrowTableWide()
<tr>
#ALtdheadThin("#ALswitchCheckbox()")
#ALtdhead("#ALajaxsortaddressbook('company_name_kana' $l10n.ADDRESSBOOK_COMPANY_NAME $result 'AddressBookCompanyListScreen')")
#ALtdhead($l10n.ADDRESSBOOK_POST_NAME)
#ALtdhead($l10n.ADDRESSBOOK_ADDRESS)
#ALtdhead($l10n.ADDRESSBOOK_TELEPHONE)
#ALtdhead($l10n.ADDRESSBOOK_URL)
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.CompanyId' type='checkbox' value='$!record.CompanyId' />" 'align="center"')
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookCompanyDetailScreen").addQueryData("entityid",$record.CompanyId))');">$result.getStringCR($!record.CompanyName)</a></div>
#ALtdcellfooter()
#ALtdcell("<div>$result.getStringCR($!record.PostName)</div>")
#ALtdcell("<div>$result.getStringCR($!record.Address)</div>")
#ALtdcellAtt($!record.Telephone "nowrap='nowrap'")
#if ($!record.getUrl() && $!record.getUrl().toString().length() > 0)
#ALtdcellAtt("<div><a href='$!utils.normalizeURL($record.getUrl().toString())' target='_blank'>$record.getUrl().toString()</a></div>" "nowrap='nowrap'")
#else
#ALtdcell("")
#end
</tr>
#end
#AUItablefooter()
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ADDRESSBOOK_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.addressbook.onListReceiveMessage")
#set($dlLink = "javascript:dojo.byId('AddressBookCompanyDownload$!portlet.ID').submit();" )
#AUIbutton($l10n.ADDRESSBOOK_DOWNLOAD_LIST $dlLink)
</div>
#AUIajaxpageview('AddressBookCompanyListScreen' $result)
#AUISummaryDivfooter()
#end
#ALformfooter()
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/addressbook-widgets.vm")

