#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<table border="0" cellpadding="0" cellspacing="0" class="tableBg"><tbody>
<tr>
<td class="tl" width="18" height="40"><img src="images/common/dot.gif" width="18" height="40" alt="" /></td>
<td  height="40" valign="middle" class="t"><table width="100%" height="38"  border="0" cellpadding="0" cellspacing="0"><tbody>
<tr>
<td width="100%" nowrap="nowrap">$l10n.WAR_NO_ACCESSPM_NO_PAGE</td>
</tr>
</tbody></table></td>
<td class="tr" width="18" height="40"><img src="images/common/dot.gif" width="18" height="40" alt="" /></td>
</tr>
<tr>
<td class="l" width="18"><img src="images/common/dot.gif" width="18" height="2" alt="" /></td>
<td>
<table width="100%" border="0" cellpadding="5" cellspacing="1"><tbody>
<tr>
<td bgcolor="#FFFFFF" align="center">
<table width="500" height="200" border="0" cellpadding="20" cellspacing="0"><tbody>
<tr>
<td align="center">
<table  border="0" cellspacing="0" cellpadding="0"><tbody>
<tr>
<td nowrap="nowrap">
$l10n.ERROR_CANNOT_USE_PAGE<br /><br />
$l10n.ERROR_WRONG_URL2<br />
$l10n.WAR_AGAIN2

#if($config.getString("support.mail"))
 <br />
$l10n.WAR_NO_ERROR_URL_INQUILY
 <br />
[e-mail : <A Href="mailto:$config.getString("support.mail")">$config.getString("support.mail")</A> ]
 <br />
 <br />
#end

</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
<td class="r" width="18"><img src="images/common/dot.gif" width="18" height="2" alt="" /></td>
</tr>
<tr>
<td class="l" height="4"><img src="images/common/dot.gif" width="2" height="4" alt="" /></td>
<td height="4"><img src="images/common/dot.gif" width="2" height="4" /></td>
<td class="r" height="4"><img src="images/common/dot.gif" width="2" height="4" alt="" /></td>
</tr>
<tr>
<td class="bl" width="18" height="22"><img src="images/common/dot.gif" width="18" height="22" alt="" /></td>
<td class="b" height="22"><img src="images/common/dot.gif" width="2" height="22" alt="" /></td>
<td class="br" width="18" height="22"><img src="images/common/dot.gif" width="18" height="22" alt="" /></td>
</tr>
</tbody></table>
