#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------
#ALspacebothheader()
#ALformheader($l10n.GADGETS_CONTAINER_MANAGEMENT $jslink $portlet)
#ALtableheaderWide()
#ALtdcaption("Locked Domain")
<td class="item">
#if($result.Detail.LockedDomainRequired.toString() == "true")
${l10n.GADGETS_ENABLE}（$result.Detail.LockedDomainSuffix）
#else
${l10n.GADGETS_DISABLE}
#end
</td>
#ALtdcaption($l10n.GADGETS_CHECK_ACTIVITY_INTERVAL)
<td class="item">
#if($result.Detail.CheckActivityInterval.toString() == "0")
$l10n.GADGETS_DONOT_CHECK_ACTIVITY
#elseif($result.Detail.CheckActivityInterval.toString() == "60")
$l10n.GADGETS_PER1
#elseif($result.Detail.CheckActivityInterval.toString() == "300")
$l10n.GADGETS_PER5
#elseif($result.Detail.CheckActivityInterval.toString() == "600")
$l10n.GADGETS_PER10
#elseif($result.Detail.CheckActivityInterval.toString() == "1800")
$l10n.GADGETS_PER30
#elseif($result.Detail.CheckActivityInterval.toString() == "3600")
$l10n.GADGETS_PER60
#else

#end

</td>
#ALtdcaption($l10n.GADGETS_ACTIVITY_SAVE_LIMIT)
<td class="item">
#if($result.Detail.ActivitySaveLimit.toString() == "7")
$l10n.GADGETS_7DAYS
#elseif($result.Detail.ActivitySaveLimit.toString() == "15")
$l10n.GADGETS_15DAYS
#elseif($result.Detail.ActivitySaveLimit.toString() == "30")
$l10n.GADGETS_30DAYS
#elseif($result.Detail.ActivitySaveLimit.toString() == "60")
$l10n.GADGETS_60DAYS
#elseif($result.Detail.ActivitySaveLimit.toString() == "90")
$l10n.GADGETS_90DAYS
#else

#end

</td>
#ALtdcaption($l10n.GADGETS_CACHE_GADGET_XML)
<td class="item">
#if($result.Detail.CacheGadgetXml.toString() == "true")
${l10n.GADGETS_ENABLE}
#else
${l10n.GADGETS_DISABLE}
#end
</td>
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','GadgetsContainerAdminFormScreen').addQueryData('entityid','edit')")
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
