#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = $l10n.GADGETS_UPDATE)
#set ($subtitle = $l10n.GADGETS_CONTAINER_SETTING)
#set ($event_submit = "eventSubmit_doGadgets_container_admin_update")
#set ($indicator_id = "indicator-dlg-")
##----------------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.gadgets_admin.hideDialog()")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("gadgetsContainerAdminForm" $jslink $portlet "GadgetsContainerAdminFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.gadgets_admin.onReceiveMessage)")
#ALtableheaderWide()
#ALtdcaption("Locked Domain")
#ALtditemheader()
<input name="lockedDomainRequired" type="checkbox" value="1" id="lockedDomainRequired_for" #if ($result.LockedDomainRequired.toString() == "1") checked="checked" #end/>
<label for="lockedDomainRequired_for">${l10n.GADGETS_ENABLE}</label>&nbsp;<input class="text" type="text" name="lockedDomainSuffix" value="$result.LockedDomainSuffix" />
#ALtditemfooter()
#ALtdcaption($l10n.GADGETS_CHECK_ACTIVITY_INTERVAL)
#ALtditemheader()
<select name="checkActivityInterval">
<option value="0" #if($result.CheckActivityInterval.toString() == "0") selected="selected"#end>$l10n.GADGETS_DONOT_CHECK_ACTIVITY</option>
<option value="60" #if($result.CheckActivityInterval.toString() == "60") selected="selected"#end>$l10n.GADGETS_PER1</option>
<option value="300" #if($result.CheckActivityInterval.toString() == "300") selected="selected"#end>$l10n.GADGETS_PER5</option>
<option value="600" #if($result.CheckActivityInterval.toString() == "600") selected="selected"#end>$l10n.GADGETS_PER10</option>
<option value="1800" #if($result.CheckActivityInterval.toString() == "1800") selected="selected"#end>$l10n.GADGETS_PER30</option>
<option value="3600" #if($result.CheckActivityInterval.toString() == "3600") selected="selected"#end>$l10n.GADGETS_PER60</option>
</select>
#ALtditemfooter()
#ALtdcaption($l10n.GADGETS_ACTIVITY_SAVE_LIMIT)
#ALtditemheader()
<select name="activitySaveLimit">
<option value="7" #if($result.ActivitySaveLimit.toString() == "7") selected="selected"#end>$l10n.GADGETS_7DAYS</option>
<option value="15" #if($result.ActivitySaveLimit.toString() == "15") selected="selected"#end>$l10n.GADGETS_15DAYS</option>
<option value="30" #if($result.ActivitySaveLimit.toString() == "30") selected="selected"#end>$l10n.GADGETS_30DAYS</option>
<option value="60" #if($result.ActivitySaveLimit.toString() == "60") selected="selected"#end>$l10n.GADGETS_60DAYS</option>
<option value="90" #if($result.ActivitySaveLimit.toString() == "90") selected="selected"#end>$l10n.GADGETS_90DAYS</option>
</select>
#ALtditemfooter()
#ALtdcaption($l10n.GADGETS_CACHE_GADGET_XML)
#ALtditemheader()
<input name="cacheGadgetXml" type="checkbox" value="1" id="cacheGadgetXml_for" #if ($result.CacheGadgetXml.toString() == "1") checked="checked" #end/>
<label for="cacheGadgetXml_for">${l10n.GADGETS_ENABLE}</label>
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.GADGETS_CLOSE1" onclick="aipo.gadgets_admin.hideDialog();" />
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()


