#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader("$l10n.CABINET_SHARED_FILE")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader("$l10n.CABINET_FILE")
#if($result.CurrentPage)<input type="hidden" name="start" VALUE="$result.CurrentPage">#end
#ALtableheaderWide()
#ALtdcaption("$l10n.CABINET_TITLE")
#ALtditem("$!result.Detail.FileTitleHtml")
#ALtdcaption("$l10n.CABINET_FILE_NAME")
#ALtditemheader()
<a #if("$!{client}"=="IPHONE")target="_blank"#end href="$!jslink.getTemplate("CabinetFileRawScreen").addPathInfo("entityid",${result.Detail.FileId}).addPathInfo("f",${result.Detail.URLEncodedFileName})">$!result.Detail.WbrFileName</a>
#ALtditemfooter()
#ALtdcaption("$l10n.CABINET_POSISHION")
#ALtditem("$!result.Detail.PositionHtml")
#ALtdcaption("$l10n.CABINET_MEMO")
#ALtditem($!result.Detail.NoteHtml)
#ALtdcaption("$l10n.CABINET_DOWNLOAD_COUNT")
#ALtditem("$!{result.Detail.Counter} $l10n.CABINET_TIME")
#ALtdcaption("$l10n.CABINET_FILE_SIZE")
#ALtditem("$!{result.Detail.FileSize} KB")
#ALtdcaption("$l10n.CABINET_REGISTRANT")
#ALtditem("$!{result.Detail.CreateUser} （$!{result.Detail.CreateDate}）")
#ALtdcaption("$l10n.CABINET_MODIFIED")
#ALtditem("$!{result.Detail.UpdateUser} （$!{result.Detail.UpdateDate}）")
#ALtablefooter()
#ALbuttonheader()
#if($!result.Detail.isEditable())
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormScreen').addQueryData('entityid',$entityid)")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.cabinet.onReceiveMessage")
#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
