#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div class="auiSummaryMeta auiFilter clearfix">
	<input type="hidden" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen")' />
	<div class="filters floatLeft" id="filters_$!{portlet.ID}">#*
		*##if("$!result.SelectedPostName" != ""&&"$!result.SelectedPostName" != "0")#*
			*#<a href="javascript:void(0);" id="filter_group_$!portlet.ID" class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.cabinet.toggleMenu(dojo.byId('menubar_filter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'));"><span>$!result.SelectedPostAliasName</span></a>#*
		*##else#*
			*#<a href="javascript:void(0);" id="filter_group_$!portlet.ID" class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.cabinet.toggleMenu(dojo.byId('menubar_filter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'));"><span>$l10n.CABINET_ALL_GROUP</span></a>#*
		*##end#*
		*##if("$!result.SelectedFolderInfo.FolderId" != "" && "$!result.SelectedFolderInfo.FolderId" != "0")#*
			*#<a href="javascript:void(0);" id="filter_folder_$!portlet.ID" class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.cabinet.toggleMenu(dojo.byId('menubar_filter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'));"><span>$!result.SelectedFolderInfo.FolderName</span></a>#*
		*##end#*
	*#</div>
	#if ($result.List && $result.List.size() != 0 && $result.isAccessible())
		#AUIajaxpageview('CabinetScreen' $result)
	#end
</div>
<div class="menubar multi" id="menubar_filter_$!portlet.ID" style="width:260px;display:none;">
	<div>
    	<p class="caption">$l10n.CABINET_GROUP</p>
		<ul class="filtertype_$!portlet.ID" data-type="group" data-defaultparam="0">
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("post_name","0")))
			<li data-param="0"><a href="javascript:void(0)" #if("$!result.SelectedPostName"==""||"$!result.SelectedPostName"=="0") class="selected" #end onclick="aipo.cabinet.onChangeGroup('$url','$!portlet.ID','')" >$l10n.CABINET_ALL_GROUP</a></li>

			#foreach($record in $result.MyGroupList)
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("post_name",$record.Name)))
			<li data-param="$!record.Name"><a href="javascript:void(0)" #if("$!result.SelectedPostName"=="$!record.Name") class="selected" #end onclick="aipo.cabinet.onChangeGroup('$url','$!portlet.ID','$record.Name')" >$!record.AliasName</a></li>
			#end

			#foreach($record in $result.PostMap)
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("post_name",$record.GroupName)))
			<li data-param="$!record.GroupName"><a href="javascript:void(0)" #if("$!result.SelectedPostName"=="$!record.GroupName") class="selected" #end onclick="aipo.cabinet.onChangeGroup('$url','$!portlet.ID','$record.GroupName')" >$!record.PostName</a></li>
			#end
		</ul>
	</div>
	<div>
    	<p class="caption">$l10n.CABINET_FOLDER</p>
		<ul class="filtertype_folder_$!portlet.ID" data-type="folder" data-defaultparam="0">
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("folder_id","0")))
			<li data-param="0" ><a href="javascript:void(0)" #if(!$!result.SelectedFolderInfo || "$!result.SelectedFolderInfo.FolderId"=="0") class="selected" #end onclick="aipo.cabinet.onChangeFolder('$url','$!portlet.ID','0')" >$l10n.CABINET_ALL_FOLDER</a></li>
			#foreach($record in $!result.FolderHierarchyList)
			#if($record.isAuthorizedVisible())
			#set($space = '')
			#if(${record.HierarchyIndex} > 0)
			#foreach($index in [1..${record.HierarchyIndex}])
			#set($space = "${space}&nbsp;&nbsp;&nbsp;")
			#end
			#end
			#set($url = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetScreen").addQueryData("folder_id","$!record.FolderId")))
			<li data-param="$!record.FolderId"><a href="javascript:void(0)" #if("$!result.SelectedFolderInfo.FolderId"=="$!record.FolderId") class="selected" #end onclick="aipo.cabinet.onChangeFolder('$url','$!portlet.ID','$!record.FolderId')" >${space}${record.FolderName}</a></li>
			#end
			#end
		</ul>
	</div>
</div>


#if (!$result.isAccessible())
<div class="message">$l10n.CABINET_NOT_PERMISSION_VIEW</div>
#else
#if (!$result.List || $result.List.size() == 0)
<div class="message">$l10n.CABINET_NOTHING_FILE_IN_FOLDER</div>
#else
#if($result.TableColumNum == 4)
#ALformheaderAction('Cabinet' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:20%;" />
<colgroup style="width:20%;" />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitleHtml</a></div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.FolderNameHtml</div>" '')
#ALtdcellAtt("<div>$!record.updateUserHtml</div>" '')
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#else
#ALformheaderAction('Cabinet' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitleHtml</a></div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#end
#end
#end
