#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($tabs = [["$l10n.CABINET_SHARED_FILE", "", ""]])
## ---------------------------------------------------------------------------
#ALajaxtabheader($tabs "")
#ALspacebothheader()
#if($!result.isSearch())
<table cellSpacing=0 cellPadding=0 width="100%" border=0><tr>
<td class="item" align="left"><div style="padding:0px 0px 2px 0px;font-size:10pt;font-weight:bold;color:#5D6A70;">$l10n.CABINET_SEARCH_RESULT</div></td>
<td class="item" align="right"><a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doJob_list', '1')">$l10n.CABINET_BACK_LIST</a>
</td></tr></table>
#end
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="150px" valign="top">
<div  class="explorer_box" style="padding:2px 2px 2px 5px;width:150pt;overflow:scroll;">
#foreach($record in $!result.FolderHierarchyList)
#if($record.visible() && $record.isAuthorizedVisible())
#if($record.HierarchyIndex <= 0)
<nobr>#if($record.isOpened()) <img src="themes/$!theme/images/icon/folder_open.gif" alt=""> #else <img src="themes/$!theme/images/icon/folder_close.gif" alt=""> #end #if($result.SelectedFolderInfo.FolderId == $record.FolderId) <b>${record.FolderName}</b> #else
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1').addQueryData('folder_id' ,"$record.FolderId"))', '$!portlet.ID');" >${record.FolderName}</a>
#end</nobr><br>
#else
#set($imgwidth = 16 * $record.HierarchyIndex)
<nobr><img src="images/blank.gif" height="10" width="$imgwidth" alt="">#if($record.isOpened())  <img src="themes/$!theme/images/icon/folder_open.gif" alt=""> #else <img src="themes/$!theme/images/icon/folder_close.gif" alt=""> #end #if($result.SelectedFolderInfo.FolderId == $record.FolderId) <b>${record.FolderName}</b> #else
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1').addQueryData('folder_id' ,"$record.FolderId"))', '$!portlet.ID');" >${record.FolderName}</a>
#end</nobr><br>
#end
#end
#end
</div>
</td>
<td valign="top" style="padding:0px 0px 0px 5px">
<h4>
$l10n.CABINET_SEARCH_RESULT_FILE_LIST
<div style="text-align:right;"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1'))', '$!portlet.ID');" >$l10n.CABINET_BACK_LIST</a></div>
</h4>
<form name="cabinetlist$!portlet.ID" id="cabinetlist$!portlet.ID" action="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileSearchListScreen'))" method="post" onsubmit="aipo.cabinet.onSubmitSerchButton(this,'','$!portlet.ID'); return false;">
<input type="hidden" name="_name" value="$l10n.CABINET_FILE" />
<input type="hidden" name="secid" value="$secid" />
#ALtableheaderSimpleWide()
#ALtdcaption("$l10n.CABINET_SEARCH")
#ALtditemheader()
#ALtextfield('sword' "$!result.SearchWord" "120px" 100 'active')
#ALsubmitJS('submit' "$l10n.CABINET_SEARCH" 'setHiddenValue(this)')
<span class="middle">$l10n.CABINET_SEARCH_TITLE_FILE_MEMO</span>
#ALtditemfooter()
#ALtablefooter()
#if($result.List.size() == 0)
<div class="message">$l10n.CABINET_NOTHING_SELECT_FILE</div>
#else
#ALajaxpageview('CabinetFileSearchListScreen' $result)
#ALtableheader("100%")
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='thin auiMTCheck'")
#ALtdheadW33("#ALajaxsort('file_title' "$l10n.CABINET_TITLE" $result 'CabinetFileSearchListScreen')")
#ALtdheadW33("#ALajaxsort('file_name' "$l10n.CABINET_FILE_NAME" $result 'CabinetFileSearchListScreen')")
##ALtdheadThin("#ALajaxsort('update_user' "$l10n.CABINET_MODIFIED" $result 'CabinetListScreen')")
#ALtdheadW25("#ALajaxsort('update_date' "$l10n.CABINET_UPDATE_DATE" $result 'CabinetFileSearchListScreen')")
#ALtdheadThin("#ALajaxsort('file_size' "$l10n.CABINET_CAPACITY_KB" $result 'CabinetFileSearchListScreen')")
#ALtdheadW33("#ALajaxsort('folder_name' "$l10n.WEBMAIL_FOLDER_NAME"  $result 'CabinetFileSearchListScreen')")
#ALtdheadThin(' ')
</tr>
#foreach ($record in $result.List)
<tr>
#if($record.isEditable())
#ALtdcellAtt("<input name='check$!record.FileId' type='checkbox' value='$!record.FileId'/>" 'align="center" class="auiMTCheck"')
#else
#ALtdcellheader()
#ALtdcellfooter()
#end
#ALtdcellheader()
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileDetailScreen").addQueryData("entityid",$record.FileId))');">$!record.FileTitle</a>
#ALtdcellfooter()
#ALtdcellheader()
<a href="$jslink.getTemplate("CabinetFileRawScreen").addPathInfo("entityid",${record.FileId}).addPathInfo("f",${record.FileName})">$record.FileName</a>
#ALtdcellfooter()
#ALtdcell($record.UpdateDate)
<td class="item" align="right">$record.FileSize</td>
#ALtdcellheader()
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFolderDetailScreen").addQueryData("mode","folder_detail").addQueryData("folder_id","${record.FolderId}"))');">${record.FolderName}</a>
#ALtdcellfooter()
#if($record.isEditable())
<td class="item" nowrap="nowrap">#ALajaxbuttonLink("$l10n.CABINET_EDIT" $!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormScreen').addQueryData('entityid', ${record.FileId}) "themes/$!theme/images/icon/icon_edit.gif")</td>
#else
<td class="item" nowrap="nowrap">&nbsp;</td>
#end
</tr>
#end
#ALtablefooter()
#ALbuttonheaderRight()
$l10n.CABINET_THE_SELECTED_FILE
#ALajaxbuttonCheckboxDelete("$l10n.CABINET_DO_DELET" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFileFormJSONScreen').addQueryData('mode','multi_delete')" "$!indicator.id" "$!portlet.ID" "aipo.cabinet.onReceiveMessage")
#ALbuttonfooterRight()
#ALajaxpageviewFooter('CabinetFileSearchListScreen' $result)
#ALformfooter()
#end
</td></tr></table>
#ALspacebothfooter()
#ALajaxtabfooter()
