#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($!result.TargetUserId && ($!result.TargetUserId != "all"))
#set ($target_username = $!result.getUserFullName($!result.TargetUserId))
#set ($action_create_node = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_create_note','1').addQueryData('target_user_id',$!result.TargetUserId)")
#set ($action_received_notes = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_list','1').addQueryData('tab','received_notes').addQueryData('target_user_id', $!result.TargetUserId)")
#set ($action_sent_notes = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_list','1').addQueryData('tab','sent_notes').addQueryData('target_user_id', $!result.TargetUserId)")
#else
#set ($action_create_node = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_create_note','1')")
#set ($action_received_notes = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_list','1').addQueryData('tab','received_notes')")
#set ($action_sent_notes = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_list','1').addQueryData('tab','sent_notes')")
#end
##set ($tabs = [[$l10n.NOTE_RECEIVED_NOTES, "received_notes", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteListScreen').addQueryData('tab','received_notes')"], [$l10n.NOTE_SENT_NOTES, "sent_notes", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteListScreen').addQueryData('tab','sent_notes')"]])
#if ($!result.currentTab == 'received_notes')
#set($colcount = 8)
#set ($isReceive = true)
#else
#set($colcount = 7)
#set ($isReceive = false)
#end
#set ($indicator_id = "indicator-list-")

#parse("/portlets/html/ja/noteMacro.vm")
## ---------------------------------------------------------------------------

#AUIcontentsAreaHeader()

<div class="auiSummaryMeta clearfix">
<form class="auiSearch" id="searchForm_$!{portlet.ID}" action="$!jslink.getPortletById($!portlet.ID)" onsubmit="aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-${indicator_id}'); return false;">
<input type="hidden" name="template" value="NoteListScreen"/>
<input class="text floatLeft long" type="text" name="keyword" id="q$!{portlet.ID}" style="margin-right:5px;" value="$!result.targetKeyword"/>
<a class="auiButtonSearch floatLeft" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit();">$l10n.NOTE_SEARCH</a>
</form>
<div class="floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!{portlet.ID}" "&nbsp;")</div>
</div>
##ALajaxlistformheaderonsubmitOption('NoteListScreen' "aipo.note.onSubmitFilter('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID))','$!portlet.ID');" 'auiSearch floatLeft' 'margin-right:1em;')
##<input class="text floatLeft" type="text" name="q" id="q" style="margin-right:5px;margin-top:2px;">
##ALsubmitOption("submit" $l10n.NOTE_SEARCH "auiButtonSearch floatLeft")
##ALformfooter()
##</div>

#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
#if($!msg_type)
#ALnoteResultList($msg_type)
#end

#ALajaxlistformheaderAction($l10n.NOTE_NOTE)
#if($result.List.size()<=0)
<div class="message">
#if($!result.targetKeyword.toString()!="")$l10n.NOTE_ALERT_NO_NOTE_IN_YOUR_SELECT #elseif($isReceive) $l10n.NOTE_ALERT_NO_RECIEVED_NOTE#else $l10n.NOTE_ALERT_NO_SENT_NOTE #end
</div>
#else

#AUISummaryDiv()
<div class="floatLeft">
#if($isReceive)
#AUIajaxbuttonCheckboxAction($l10n.NOTE_READ_MESSAGE_TEXT "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_complete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#AUIajaxbuttonCheckboxDelete($l10n.NOTE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#else
#AUIajaxbuttonCheckboxDelete($l10n.NOTE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#end
</div>
#AUIajaxpageview('NoteListScreen' $result)
#AUISummaryDivfooter()
#if($!result.targetKeyword && ($!result.targetKeyword.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($!result.targetKeyword.toString())
#AUISummaryDivfooter()
#end
#AUIrowMTableWide()
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" 'class="width:20px"')
#ALtdheadAtt("#ALajaxsort('client_name' $l10n.NOTE_CLIENT_POSITION $result 'NoteListScreen')" 'style="width:8em"')
#ALtdheadAtt("#ALajaxsort('subject_type' $l10n.NOTE_AFFAIR $result 'NoteListScreen')" 'style=""')
#if(!$isReceive)
#ALtdheadAtt($l10n.NOTE_RECEIVE_PERSON 'class="mb_hide" style="width:20%"')
#ALtdheadAtt($l10n.NOTE_SITUATION 'class="mb_hide" style="width:5%"')
#end
#ALtdheadAtt("#if($isReceive) #ALajaxsort('accept_date' $l10n.NOTE_CLERK_TIME $result 'NoteListScreen') #else #ALajaxsort('create_date' $l10n.NOTE_CREATE_TIME $result 'NoteListScreen') #end" 'style="width:10em"')
</tr>
#set($setEven = true)
#foreach ($record in $result.List)
#ALsetSubject($record)
<tr class="#if(!$setEven) even #end
#if($isReceive)#if($record.NoteStat.toString() == "1" || $record.NoteStat.toString() == "2")
unread
#end#end
">
#ALsetEven($setEven)

#ALtdcellheaderAtt('class="auiMTCheck"')
<input name='check$!record.NoteId' type='checkbox' value='$!record.NoteId'/>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","NoteDetailScreen").addQueryData("entityid",$record.NoteId))');">$!{record.ClientName}#if($record.CompanyName != "")（$!record.CompanyName）#end</a></div>
#ALtdcellfooter()

#ALtdcellheader()<div>$!subject</div>#ALtdcellfooter()
#if (!$isReceive)
#ALtdcellheaderAtt('class="mb_hide"')<div>$!record.DestUserFullName.Value</div>#ALtdcellfooter()
#ALtdcellheaderAtt('class="mb_hide"')<div>$!record.ReadNote.Value/$!record.SentNote.Value</div>#ALtdcellfooter()
#end
#ALtdcellAtt("#if ($isReceive) $!{record.AuiAcceptDate} #else $!{record.AuiCreateDate} #end" 'nowrap="nowrap"')
</tr>
#end

#AUItablefooter()

#AUISummaryDiv()
<div class="floatLeft">
#if($isReceive)
#AUIajaxbuttonCheckboxAction($l10n.NOTE_READ_MESSAGE_TEXT "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_complete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#AUIajaxbuttonCheckboxDelete($l10n.NOTE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#else
#AUIajaxbuttonCheckboxDelete($l10n.NOTE_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")
#end
</div>
#AUIajaxpageview('NoteListScreen' $result)
#AUISummaryDivfooter()

#end
#ALformfooter()

#AUIcontentsAreaFooter()

<div id="auiWidgetsArea" #if(${clientVer} == "4") style="position:static" #elseif(${client} == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
  <a title="$l10n.NOTE_ADD_NOTE" href="javascript:void(0);" class="auiButtonAction" onclick="javascript:aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","NoteFormScreen").addQueryData("entityid","new"))','$!portlet.ID',aipo.note.onLoadNoteDialog);">$l10n.NOTE_ADD_NOTE</a>
</div>

<div class="auiWidget clearfix">
<ul>
<li #if($isReceive)class="active"#end>
<a href="javascript:void(0);" onClick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteListScreen').addQueryData('tab','received_notes').addQueryData("reset_params","true"))','$!portlet.ID');">$l10n.NOTE_RECEIVED_NOTES</a></li>
<li #if(!$isReceive)class="active"#end>
<a href="javascript:void(0);" onClick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteListScreen').addQueryData('tab','sent_notes').addQueryData("reset_params","true"))','$!portlet.ID');">$l10n.NOTE_SENT_NOTES</a></li>
</ul>
</div>
</div>
