#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($title = '$l10n.WEBMAIL_CREATE_EMAIL')
#set($linklist = [["$l10n.WEBMAIL_LINK_ACCOUNTLIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_menu','1')"]])


#ALcell_pagetitle_iphone($career $title)
#ALcell_contents_header($career)

#ALcell_errmsg($career $errmsgs)

#ALcell_formheader($career $jslink $portlet)
<h3>$l10n.WEBMAIL_SETFIELDNAME_TO#ALcell_must()</h3>
#ALtextfield('to' $!result.getAddrForCell($!result.To) '90%' 50 'active')

<h3>$l10n.WEBMAIL_SETFIELDNAME_CC</h3>
#ALtextfield('cc' $!result.getAddrForCell($!result.Cc) '90%' 50 'active')

<h3>$l10n.WEBMAIL_SETFIELDNAME_BCC</h3>
#ALtextfield('bcc' $!result.getAddrForCell($!result.Bcc) '90%' 50 'active')

<h3>$l10n.WEBMAIL_SETFIELDNAME_TO</h3>
#ALtextfield('subject' $!result.Subject '90%' 50 'active')

<h3>$l10n.WEBMAIL_SETFIELDNAME_BODY</h3>
#ALtextarea('body' $!result.Body 6 '')

<p class="center">
#ALcell_submit($career "eventSubmit_doWebmail_send_mail" "$l10n.WEBMAIL_DO_SEND")
</p>
#ALcell_formfooter()


#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
