#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#set($linklist = [["$l10n.WORKFLOW_REQUEST_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('mode','list')"], ["$l10n.WORKFLOW_GO_WORKFLOW_HALFWIDTH", "$!jslink.getPortletById($!portlet.ID).addQueryData('mode','menu')"]])
#ALcell_formheader($career $jslink $portlet)
#ALcell_pagetitle($career $l10n.WORKFLOW_WORKFLOW_DETAILS_HALFWIDTH)
#ALcell_dl_header($career)
#ALcell_dt($career "$l10n.WORKFLOW_FLOW_STATUS")
#if($!result.Detail.Progress.Value == "D")
<dd class="caution">$l10n.WORKFLOW_NEED_TO_CHECK_PASSBACK</dd>&nbsp;&nbsp;
#else
<dd class="caution">#if($!result.Detail.Progress.Value == "A") $l10n.WORKFLOW_CONFIRMED #else $l10n.WORKFLOW_WAITING_DECISION #end</dd>
#end
#ALcell_dt($career $l10n.WORKFLOW_CLASSIFICATION)
#ALcell_dd($career $!{result.Detail.CategoryName})
#if($!result.Detail.RequestName != '')
#ALcell_dt($career $l10n.WORKFLOW_REQUEST_NAME)
#ALcell_dd($career $!{result.Detail.RequestName})
#end
#ALcell_dt($career $l10n.WORKFLOW_POSTING_DAY)

#ALcell_dd($career "$!result.Detail.CreateDate")
<input type="hidden" name="confirmusers" value="#foreach($record in $!{result.MemberList})$!{record.Name},#end"> ##メンバーリストの作成

#ALcell_dt($career $l10n.WORKFLOW_CREATEDATE)
#ALcell_dd($career "$!result.Detail.CreateDate")
#ALcell_dt($career $l10n.WORKFLOW_PRIORITY_VALUE)
#ALcell_dd($career "$!result.Detail.PriorityString")
#ALcell_dt($career $l10n.WORKFLOW_ACCESS_TO)
#ALcell_dd($career $!result.Detail.Note)
##ALcell_dt($career $l10n.WORKFLOW_OF_MONEY)
##ALcell_dd($career "$!{result.Detail.PriceStr}&nbsp;$l10n.WORKFLOW_YEN")
#if($!result.Detail.UserId.Value == $!result.LoginUser.UserId.Value)
#ALcell_hr($career '1')
#ALcell_submit($career 'eventSubmit_doWorkflow_delete' $l10n.WORKFLOW_DO_REMOVE)
#end
#if($!result.Detail.OldRequestLinks.size() > 0)
#ALcell_dt($career $l10n.WORKFLOW_ACCESS_TO_PAST)
#ALtditemheader()
#set ($count = 1)
#foreach ($record in $!result.Detail.OldRequestLinks)
<a href="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('mode','detail').addQueryData('entityid',$record.RequestId).addQueryData('prvid',$!{result.PreviousID}))');">${count}${l10n.WORKFLOW_TH} $record.CategoryName #if($record.RequestName.toString() != '') &nbsp;&nbsp; $record.RequestName #end $record.UpdateDate</a>
#set ($count = $count + 1)
#end
#end

#if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
#ALcell_dt($career $l10n.WORKFLOW_ATTACHMENT)
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
#ALcell_dd($career "<a href='$jslink.getTemplate('WorkflowFileRawScreen').addQueryData('attachmentIndex', $attachmentFile.FileId).addQueryData('ownerid', $!{result.Detail.UserId}).addQueryData('entityid', $!result.Detail.RequestId)'>$!{attachmentFile.FileName}</a>")
#end
#end


<hr style="border:solid 1px #ffffff; color:#ffffff" />
<div style="background:$config.getString("aipo.color.cell.vm.logo"); color:#ffffff; text-align:center;"><img src="${context_path}/images/dot.gif" width="1" height="1" /></div>
<div style="background:$config.getString("aipo.color.cell.vm.title"); text-align:center;">$l10n.WORKFLOW_APPROVE_HISTORY</div>
<div style="background:$config.getString("aipo.color.cell.vm.logo");"><img src="${context_path}/images/dot.gif" width="1" height="1" /></div>
<hr style="border:solid 1px #ffffff; color:#ffffff" />
$l10n.WORKFLOW_HEADERS
#set ($confirm_view_flg = true)
<ol>
#foreach ($record in $result.Detail.DecisionRecords)
#set($delimiter="")
#ALcell_li_header($career)
#if($!record.Status.Value == "C")
#if($confirm_view_flg)
$!{record.StatusString}
#end
#elseif($!record.Status.Value == "R" || $!record.Status.Value == "A" || $!record.Status.Value == "D")
$!{record.StatusString}
#set($delimiter="/")
#else
$l10n.WORKFLOW_UNCONFIRMED
#end
 / $!record.UserAliasName $delimiter
#if($!record.Status.Value == "R" || $!record.Status.Value == "A") $!{record.UpdateDate} #end
#if($confirm_view_flg && $!record.Status.Value == "C" && $!record.UserId.Value == $!result.LoginUser.UserId.Value)
#ALcell_textarea($career 'comment' $!record.Note 10 40 '' '')
#ALcell_submit($career 'eventSubmit_doWorkflow_accept' $l10n.WORKFLOW_DO_APPROVE)
#ALselectpdheader("passback_order" "90%" "" )
<option value='0'>$l10n.WORKFLOW_APPLICANT</option>
#foreach ($record in $result.Detail.DecisionRecords)
  #if($!record.Status.Value == "A")
    <option value='$!record.Order'>$!record.UserAliasName</option>
  #end
#end
#ALselectfooter()
#ALcell_submit($career 'eventSubmit_doWorkflow_denial' $l10n.WORKFLOW_REFER_BACK)
</div>
#else
$!record.Note
#end
#ALcell_li_footer($career)
#if($!record.Status.Value == "C")
#set ($confirm_view_flg = false)
#end
#end
</ol>
#ALformfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

