#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($uri = "portal/")
#ALcell_pagetitle($career "簡易ﾛｸﾞｲﾝとは？")
簡易ﾛｸﾞｲﾝとは？#ALcell_br($career)
簡易ﾛｸﾞｲﾝ設定をすると、次回からﾊﾟｽﾜｰﾄﾞの入力なしで${alias}にﾛｸﾞｲﾝできます。
携帯電話の固有情報(電話番号ではありません)を利用するため、
設定しても別の携帯電話からﾛｸﾞｲﾝされる心配はありません。
#ALcell_hr($career '')
簡易ﾛｸﾞｲﾝを設定するには？#ALcell_br($career)
最初にﾊﾟｽﾜｰﾄﾞでﾛｸﾞｲﾝします。
TOPメニューの [簡易ﾛｸﾞｲﾝ設定] で簡易ﾛｸﾞｲﾝを有効にしてください。
次回からのﾛｸﾞｲﾝ時にはﾊﾟｽﾜｰﾄﾞを入力せずにﾛｸﾞｲﾝできます。
#ALcell_hr($career '1')
#if($key && $key != '')
<a href="${clink.setURI($uri)}?eventSubmit_doAccount_login=1&key=${key}">ﾛｸﾞｲﾝ画面へ</a>
#else
<a href="${clink.setURI($uri)}">ﾛｸﾞｲﾝ画面へ</a>
#end
