#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')")
##set($methodlist = [["記事追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"], ["テーマ追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_thema_form','1').addQueryData('entityid','new')"], ["みんなのブログを見る", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["記事を検索する", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($methodlist = [["記事追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"], ["みんなのブログ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["記事検索", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($linklist = [["記事一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"]])
#ALcell_pagetitle_iphone($career "ブログ最新記事一覧")
#ALcell_linklist_iphone($career $methodlist)
#ALcell_contents_header($career)
#if ($!{result.List.size()} <= 0)
<p class="center">指定したテーマに記事はありません。</p>
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#ALcell_radius_header($career)
#foreach ($record in $result.List)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_detail','1').addQueryData('mode','view').addQueryData("entityid",$record.EntryId).addQueryData('view_uid',${record.OwnerId})">
<strong>${record.Title}&nbsp;#if($record.CommentsNum > 0)（$record.CommentsNum）#end</strong><br />
<small>
${record.OwnerName}&nbsp;
(${record.TitleDate})
</small>
</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#end
<h3>記事コメント履歴</h3>
#if (!($result.CommentHistoryList) || $!result.CommentHistoryList.size() <= 0)
<p class="center">コメントした記事はありません。</p>
#else
#ALcell_radius_header($career)
#foreach ($record2 in $result.CommentHistoryList)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_detail','1').addQueryData('mode','view').addQueryData("entityid",$record2.EntryId).addQueryData('view_uid',${record2.OwnerId}))');">
<strong>${record2.Title}</strong><br />
<small>
${record2.OwnerName} &nbsp;
(${record2.TitleDate})
</small>
</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#end
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $methodlist)
