#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')")
#if($mode=="new_form")
#set ($action_str = "追加する")
#set ($subtitle = '記事追加')
#set ($event_submit = "eventSubmit_doBlog_entry_insert")
#else
#set ($action_str = "更新する")
#set ($subtitle = '記事編集')
#set ($event_submit = "eventSubmit_doBlog_entry_update")
#end
#set($linklist = [["記事一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"], ["みんなのブログ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["記事検索", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])

#ALcell_pagetitle_iphone($career $subtitle)
#ALcell_linklist_iphone($career $linklist)

#ALcell_errmsg($career $errmsgs)
#ALcell_contents_header($career)
#ALcell_formheader($career $jslink $portlet)
<h3>タイトル#ALcell_must()</h3>
#ALtextfield('title' $!result.Title '90%' 50 'active')
<h3>テーマ</h3>
<select name="thema_id">
#foreach( $record in $result.ThemaList )
<option value="$!record.ThemaId" #if ($!result.ThemaId.toString() == $!record.ThemaId.toString()) selected #end>$!record.ThemaName</option>
#end
</select>
<h3>本文</h3>
#ALtextarea('note' $!result.Note 5 34)
#ALcell_submit($career $event_submit $action_str)
#ALcell_formfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
