#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------

## ---------------------------------------------------------------------------
##
## Aipo Common Styles ( Aipo4 )
##
## ---------------------------------------------------------------------------

#* G L O B A L *#
#macro(ALjavascriptCache $file)
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/$file"></script>
#end
#macro(ALjavascript $file)
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/$file?$!{utils.CacheBust}"></script>
#end

#macro(ALjavascriptdefer $file)
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/$file?$!{utils.CacheBust}" defer="defer"></script>
#end


#macro(ALbuttonLink $title $url $image)
<a class="button" href="$!utils.escapeXML($url)" title="$title"><img src="$image" style="vertical-align:middle;margin-right:2px;padding:0px 0px 1px;" />$title</a>
#end

#macro(ALajaxbuttonLink $title $url $image)
<a class="button" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($url)');" title="$title"><img src="$image" style="vertical-align:middle;margin-right:2px;padding:0px 0px 1px;" />$title</a>
#end

#macro(ALajaxbuttonLinkCallback $title $url $image $portlet_id $callback)
<a class="button" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($url)', '$portlet_id', $callback);" title="$title"><img src="$image" style="vertical-align:middle;margin-right:2px;padding:0px 0px 1px;" />$title</a>
#end

#macro(ALpsmlLink $baseLink)
#set ($theLink = $baseLink)
#set ($mtype = $!data.Parameters.getString("mtype"))
#if  ($!mtype)
#set ($theLink = $theLink.addQueryData("mtype", $mtype))
#end$theLink#end

#macro(ALajaxIndicator $indicator_id $portlet_id $msg)
#if($msg == '') #set ($tmpmsg = "$l10n.EXTTIMECARD_SEND_DATA") #else #set ($tmpmsg = $msg) #end
<div class="indicator" id="${indicator_id}${portlet_id}" style="display:none;">$tmpmsg</div>
#end

#macro(ALajaxIndicatorglay $indicator_id $portlet_id $msg)
#if($msg == '') #set ($tmpmsg = "$l10n.EXTTIMECARD_SEND_DATA") #else #set ($tmpmsg = $msg) #end
<div class="indicatorglay" id="${indicator_id}${portlet_id}" style="display:none;">$tmpmsg</div>
#end

#macro(ALajaxIndicatorglayFloatRight $indicator_id $portlet_id $msg)
#if($msg == '') #set ($tmpmsg = "$l10n.EXTTIMECARD_SEND_DATA") #else #set ($tmpmsg = $msg) #end
<div class="indicatorglay floatRight" id="${indicator_id}${portlet_id}" style="display:none;">$tmpmsg</div>
#end

#macro(ALajaxIndicatorSpan $indicator_id $portlet_id $msg)
#if($msg == '') #set ($tmpmsg = "$l10n.EXTTIMECARD_SEND_DATA") #else #set ($tmpmsg = $msg) #end
<span class="indicator" id="${indicator_id}${portlet_id}" style="display:none;">$tmpmsg</span>
#end

#* T A B L E *#
#macro(ALtableheader $width)
<table class="listTable" width="$width">
  <tbody>
#end

#macro(ALtableheaderAtt $class)
<table class="$class">
  <tbody>
#end

#macro(ALtableheaderWide)
<table class="listTable wide">
  <tbody>
#end

#macro(ALtableheaderWideWithCaption $capt)
<table class="listTable wide">
  <caption>$capt</caption>
  <tbody>
#end

#macro(ALtableheaderBorderWide)
<table class="listTableBorder wide">
  <tbody>
#end

#macro(ALdialogtableheaderWide)
<table class="dialogTable wide">
  <tbody>
#end

#macro(ALtableheaderSub $width)
<table class="subTable" width="$width">
  <tbody>
#end

#macro(ALtableheaderSubWide)
<table class="subTable wide">
  <tbody>
#end

#macro(ALtableheaderSimple $width)
<table class="simpleTable" width="$width">
  <tbody>
#end

#macro(ALtableheaderSimpleWide)
<table class="simpleTable wide">
  <tbody>
#end

#macro(ALtableheaderCalendar $width)
<div class="calendarWrapper">
<table class="calendar" width="$width">
  <tbody>
#end

#macro(ALtablefooterCalendar)
  </tbody>
</table>
</div>
#end

#macro(ALtablefooter)
  </tbody>
</table>
#end

#macro(ALtableheaderBorder $border)
<table border=$border>
#end

#macro(ALtablefooterBorder)
</table>
#end



#macro(ALthtd $text1 $text2)
<tr><th>$text1</th><td>$text2</td></tr>
#end

#macro(ALthtd_iphone $text1 $text2)
#if($career == "iphone")
<tr><th>$text1</th><td><div class="detailperson">$text2</div></td></tr>
#else
<tr><th>$text1</th><td>$text2</td></tr>
#end
#end


#macro(ALtdhead $text)
<th>$text</th>
#end

#macro(ALtdheadThin $text)
<th class="thin">$text</th>
#end

#macro(ALtdheadWide $text)
<th class="wide">$text</th>
#end

#macro(ALtdheadW10 $text)
<th class="w10">$text</th>
#end
#macro(ALtdheadW10Class $text $class)
<th class="w10 $class">$text</th>
#end

#macro(ALtdheadW25 $text)
<th class="w25">$text</th>
#end

#macro(ALtdheadW25Class $text $class)
<th class="w25 $class">$text</th>
#end

#macro(ALtdheadW33 $text)
<th class="w33">$text</th>
#end

#macro(ALtdheadW40 $text)
<th class="w40">$text</th>
#end

#macro(ALtdheadW50 $text)
<th class="w50">$text</th>
#end

#macro(ALtdheadW75 $text)
<th class="w75">$text</th>
#end

#macro(ALtdheadAtt $text $option)
<th $option>$text</th>
#end

#macro(ALtdcaption $text)
    <tr>
      <td class="caption">$text</td>
#end

#macro(ALtdcaptionheader)
    <tr>
      <td class="caption">
#end

#macro(ALtdcaptionfooter)
    </td>
#end

#macro(ALtdcaptionAtt $text $option)
    <tr>
      <td class="caption" $option>$text</td>
#end

#macro(ALtditem $text)
      <td>$text</td>
    </tr>
#end

#macro(ALtdcell $text)
      <td>$text</td>
#end

#macro(ALtdcellAtt $text $option)
      <td $option>$text</td>
#end

#macro(ALtdheadheader)
    <th>
#end

#macro(ALtdheadheaderAtt $option)
    <th $option>
#end

#macro(ALtdheadfooter)
    </th>
#end

#macro(ALtditemheader)
    <td>
#end

#macro(ALtditemheaderAtt $option)
    <td $option>
#end

#macro(ALtditemfooter)
    </td>
  </tr>
#end

#macro(ALtdcellheader)
    <td>
#end

#macro(ALtdcellheaderAtt $option)
    <td $option>
#end

#macro(ALtdcellfooter)
    </td>
#end

#macro(ALspacebothheader)
<div class="spaceBoth">
#end

#macro(ALspacebothfooter)
</div>
#end

#* F O R M *#
#macro(ALformheader $name $jslink $portlet)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID)" method="post" onsubmit="return(aimluck.io.disableForm(this, true));">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxscreenformheader $name $jslink $portlet $template $js)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template',$template)" method="post" onsubmit="$js;return false;">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxdetailformheader $name)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="#" method="post" onsubmit="return false;">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxlistformheader $name)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="#" method="post" onsubmit="return false;">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxlistformheaderonsubmit $name $onsubmit)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="javascript:void(0)" method="post" onsubmit="return $onsubmit">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxlistformheaderonsubmitOption $name $onsubmit $class $style)
<form name="form$!portlet.ID" id="form$!portlet.ID" action="javascript:void(0)" method="post" onsubmit="return $onsubmit" class="$class" styel="$style">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALajaxlistformheaderOnsubmitAction $name $onsubmit $action $form $js $class $style)
<form name="$form$!portlet.ID" id="$form$!portlet.ID" action="$action" method="post" onsubmit="$js;$onsubmit" class="$class" style="$style">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALformheaderAction $name $jslink $portlet)
#ALajaxlistformheaderOnsubmitAction($name "return (aimluck.io.disableForm(this, true));" "$!jslink.getPortletById($!portlet.ID)" "listform"  "" "" "")
#end

#macro(ALajaxlistformheaderAction $name)
#ALajaxlistformheaderOnsubmitAction($name "return false;" "#" "listform"  "" "" "")
#end

#macro(ALformfooter)
</form>
#end

#macro(ALselectpdheader $name $width $onchange)
<select name="$name" id="$name" style="width:$width;" onchange="$onchange">
#end

#macro(ALselectpdheaderw100 $name $onchange)
#ALselectpdheaderclass($name $onchange 'w100')
#end

#macro(ALselectpdheaderclass $name $onchange $class)
<select name="$name" id="$name" class="$class" onchange="$onchange">
#end

#macro(ALselectfooter)
</select>
#end

#macro(ALtextfield $name $value $width $max $mode)
<input class="text" type="text" name="$name" id="$name" value="$value" maxlength="$max" style="width:$width;ime-mode:$mode" />
#end

#macro(ALtextfieldw100 $name $value $max $mode)
<input class="text w100" type="text" name="$name" id="$name" value="$value" maxlength="$max" style="ime-mode:$mode" />
#end

#macro(ALpasswdfield $name $value $width $max $mode)
<input class="text" type="password" name="$name" id="$name" value="$value" maxlength="$max" style="width:$width;ime-mode:$mode" />
#end

#macro(ALtextarea $name $text $rows $cols)
<textarea class="text wide" name="$name" rows="$rows" cols="$cols">$text</textarea>
#end

#macro(ALtextareaAtt $name $text $rows $cols $class)
<textarea class="$class" name="$name" rows="$rows" cols="$cols">$text</textarea>
#end

#macro(ALsubmit $name $value)
<input name="$name" class="auiButtonAction" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);" />
#end

#macro(ALsubmitCancel $name $value)
<input name="$name" class="button" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);" />
#end

#macro(ALsubmitOption $name $value $option)
<input name="$name" class="button $option" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);" />
#end

#macro(ALsubmitJSAuiButton $name $value $js)
<input name="$name" class="auiButton" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);$js" />
#end

#macro(ALsubmitJSAuiButtonAtt $name $value $js $class)
<input name="$name" class="auiButton $class" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);$js" />
#end

#macro(ALsubmitJS $name $value $js)
<input name="$name" class="auiButtonAction" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);$js" />
#end

#macro(ALsubmitJSAtt $name $value $js $class)
<input name="$name" class="auiButtonAction $class" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);$js" />
#end

#macro(ALbutton $name $value $onclick)
<input name="$name" class="button" type="button" value="$value" onclick="$onclick" />
#end

#macro(ALauibutton $name $value $onclick)
<input name="$name" class="auiButtonAction" type="button" value="$value" onclick="$onclick" />
#end


#macro(ALbuttonAction $name $value)
<input name="$name" class="button" type="button" value="$value" onclick="aimluck.io.actionSubmit(this);" />
#end

#macro(ALbuttonActionReturn $name $value $rtn)
<input name="$name" class="button" type="button" value="$value" onclick="aimluck.io.actionSubmitReturn(this, '$rtn');" />
#end

#macro(ALbuttonDelete $name $value)
<input name="$name" class="button" type="button" value="$value" onclick="aimluck.io.deleteSubmit(this);" />
#end

#macro(ALbuttonDeleteReturn $name $value $rtn)
<input name="$name" class="button" type="button" value="$value" onclick="aimluck.io.deleteSubmitReturn(this, '$rtn');" />
#end

#macro(ALajaxbuttonCheckboxAction $name $url $indicator_id $portlet_id $rt)
<input name="ajaxbuttonCheckboxAction" class="button" type="button" value="$name" onclick="aimluck.io.ajaxCheckboxActionSubmit(this, '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);" />
#end

#macro(ALajaxbuttonCheckboxDelete $name $url $indicator_id $portlet_id $rt)
<input name="ajaxbuttonCheckboxDelete" class="button" type="button" value="$name" onclick="aimluck.io.ajaxCheckboxDeleteSubmit(this, '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);" />
#end

#macro(ALajaxbuttonEdit $url)
<input name="ajaxbuttonEdit" class="button" type="button" value="$l10n.COMMON_EDIT" onclick="aimluck.io.openDialog(this, '$!utils.escapeXML($url)');" />
#end

#macro(ALajaxbuttonEditCallback $url $portlet_id $callback)
<input name="ajaxbuttonEdit" class="button" type="button" value="$l10n.COMMON_EDIT" onclick="aimluck.io.openDialog(this, '$!utils.escapeXML($url)', '$portlet_id', $callback);" />
#end

#macro(ALajaxbuttonNameEditCallback $url $portlet_id $callback $name)
<input name="ajaxbuttonEdit" class="button" type="button" value='$name' onclick="aimluck.io.openDialog(this, '$!utils.escapeXML($url)', '$portlet_id', $callback);" />
#end

#macro(ALajaxbuttonDelete $url $indicator_id $portlet_id $receive)
	<input name="ajaxbuttonDelete" class="button" type="button" value="$l10n.COMMON_DELETE" onclick="aimluck.io.ajaxDeleteSubmit(this, '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $receive);" />
#end

#macro(ALajaxbuttonClose)
<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.COMMON_CLOSE" onclick="aipo.common.hideDialog();" />
#end

#macro(ALajaxbuttonDialogSubClose)
	<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.COMMON_CLOSE" onclick="aipo.common.hideDialogSub();" />
#end

#macro(ALajaxbuttonCancel)
<input name="ajaxbuttonCancel" class="button" type="button" value="$l10n.COMMON_CANCEL" onclick="aipo.common.hideDialog();" />
#end

#macro(ALrequired $title)
<span class="required">$title</span>
#end

#macro(ALswitchCheckbox)
<input name="switchCheckbox" type="checkbox" onclick="aimluck.io.switchCheckbox(this);" />
#end

#macro(ALbuttonheader)
<div class="center auiPopupButtons">
#end

#macro(ALbuttonfooter)
</div>
#end

#macro(ALbuttonheaderRight)
<div align="right">
#end

#macro(ALbuttonfooterRight)
</div>
#end

#macro(ALerrmsg $msgs)
#if($msgs && !($msgs.size() == 0))
<ul>
#foreach($msg in $msgs)
  <li><span class="caution">$!msg</span></li>
#end
</ul>
#end
#end

#macro(ALcaution $text)
<span class="caution">$text</span>
#end

#* S O R T *#
#macro(ALsort $key $name $result $link)
#if($!result.CurrentSort && $!result.CurrentSort == "$key" && $!result.CurrentSortType && $!result.CurrentSortType == "asc")#set($sorttype ="desc")#set($sortHead ="headDown") #else #set($sorttype ="asc")#set($sortHead ="headUp")#end
#if($link)
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="$!utils.escapeXML("$!{link}&sort=$key&sorttype=$sorttype&start=$result.CurrentPage")">$name</a>
#else
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype"))">$name</a>
#end
#end

#macro(ALajaxsort $key $name $result $screen)
#if($!result.CurrentSort && $!result.CurrentSort == "$key" && $!result.CurrentSortType && $!result.CurrentSortType == "asc")#set($sorttype ="desc")#set($sortHead ="headDown") #else #set($sorttype ="asc")#set($sortHead ="headUp")#end
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype"))', '$!portlet.ID');">$name</a>
#end

#macro(ALajaxsortaddressbook $key $name $result $screen)
#if($!result.CurrentSort && $!result.CurrentSort == "$key" && $!result.CurrentSortType && $!result.CurrentSortType == "asc")#set($sorttype ="desc")#set($sortHead ="headDown") #else #set($sorttype ="asc")#set($sortHead ="headUp")#end
#if($!result.Index && $result.Index.toString() != "")
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype").addQueryData("idx","$result.Index"))', '$!portlet.ID');">$name</a>
#else
<a#if($!result.CurrentSort && $!result.CurrentSort == "$key") class="$sortHead"#end href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$screen).addQueryData("start","$result.CurrentPage").addQueryData("sort","$key").addQueryData("sorttype","$sorttype"))', '$!portlet.ID');">$name</a>
#end
#end

#* subMenuBar *#
#macro(ALsubmenubar $items $currentItem)
<div style="padding-bottom: 8px; white-space: nowrap;">
#foreach ( $item in $submenulist )
<div class="menuItemIcon menuBarIconSeparator" style="float: left"></div>
<div class="#if ($item.get(0) == $currentItem) 'selectedSubMenuItem' #end" style="float: left;">
<a title="$item.get(0)" href="$item.get(1)" class="subMenuBarItem">
<img src="$item.get(2)" width="16" height="16" style="vertical-align: middle;"/>
$item.get(0)
</a>
</div>
#end
<div class="menuItemIcon menuBarIconSeparator" style="float: left"></div>
</div><br/>
#end


#* T A B *#
#macro(ALtabheader $tabs $currentTab)
<div class="subTab clearfix">
  <ul class="tabContainer">
#foreach ( $tab in $tabs )
    <li#if ($tab.get(1) == $currentTab) class="selectedMenu"#end>
      <div class="menuTitle">#if (!($tab.get(1) == $currentTab))<a href="$!utils.escapeXML($tab.get(2))">$tab.get(0)</a>#else$tab.get(0)#end</div>
      <div class="menuIcon"></div>
    </li>
#end
  </ul>
</div>
<div class="clearfix">
	<div class="roundMainWrapper">
#end

#macro(ALtabfooter)
	</div>
</div>
#end

#macro(ALajaxtabheader $tabs $currentTab)
<div class="subTab clearfix">
  <ul class="tabContainer">
#foreach ( $tab in $tabs )
    <li#if ($tab.get(1) == $currentTab) class="selectedMenu"#end>
      <div class="menuTitle">#if (!($tab.get(1) == $currentTab))<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');">$tab.get(0)</a>#else$tab.get(0)#end</div>
      <div class="menuIcon"></div>
    </li>
#end
  </ul>
</div>
<div class="clearfix">
	<div class="roundMainWrapper">
#end

#macro(ALajaxtabfooter)
	</div>
</div>
#end

#* C O N T E N T *#
#macro(ALcontentheader $title $navigations)
#* Breadcrumb lists are deleted here at 2011/10/20. Showing the lists again, remove the comment-out simbols. *#
## #if($!{navilist.size()}) #set($len = $navilist.size()) #else #set($len = 0)  #end
## #if($len > 0)
##                                                               <div class="navigation small">
## #set($index = 0)
## #foreach($nav in $navigations)
## #if($index <= 0)
## #if($nav.get(1) == "") $nav.get(0) #else <a class="small" href="$!utils.escapeXML($nav.get(1))">$nav.get(0)</a> #end
## #else #if($!navigations.size() == 2 || $nav.get(1) == "") ＞ $nav.get(0) #else  ＞ <a class="small" href="$!utils.escapeXML($nav.get(1))">$nav.get(0)</a> #end#end
## #set($index = $index + 1)
## #end
##                                                               </div>
## #end
<!-- PORTLET OUTER -->
<div class="dojoDndItem auiPortlet">
	#if(${client} == "IPHONE")
	<!-- Smartphone  Header -->
		<div id="mobileHeader_v3" class="clearfix">
		<div class="inner">
		<h1><span>#if($!portlet.Title != "")$!portlet.Title #else $title #end</span></h1>
		<div class="mhLeft">
			<a href="javascript:void(0)" class="auiMbBtnNavi" onClick="appsNaviSwitch()">
				<i class="icon-reorder"></i>
			</a>
			#ALUnreadchecker()
		</div>
		<div class="mhRight clearfix">
			#ALMessage()
			#if($data.User.getUserName() != "admin")
				<div class="hdActivity" title="お知らせ">
					<a href="javascript:void(0)" onClick="activitySwitch()">
						#ALActivity()
					</a>
				</div>
			#end
			#ALSupport()
		</div>
		</div>
	</div>
	<!-- /Smartphone Header -->
	#end
	<div class="auiPortletHead"><div class="inner">
		<div class="auiPortletTitle" #if(${client} == "IPHONE")style="visibility:hidden;"#end>#if($!portlet.Title != "")$!portlet.Title #else $title #end</div>
		<div class="auiPortletTool"></div>
	</div></div>
	<!-- auiPortletBody -->
	<div class="auiPortletBody"><div class="inner">
				<div dojoType="aimluck:Contentpane" widgetId="widget_$!portlet.ID" id="portlet_$!portlet.ID">
#end

#macro(ALActivity)
<div id="activitycheckerContainer" class="dijitInline activitycheckerContainerstyle"><div id="activitychecker" class="activitycheckerstyle counter zero"></div><span class="mb_hide">$l10n.WIDGET_NOTICE</span></div>
#end

#macro(ALcontentfooter)
				</div>
	</div></div>
	<!-- /auiPortletBody -->
	<div class="auiPortletFoot"><div class="inner"></div></div>
</div>
<!-- /PORTLET OUTER -->
#end

#* D I A L O G *#
#macro(ALdialogheader $title)
#ALdialogheaderPrint($title "" "" "")
#end

#macro(ALdialogCloseButtonCommon)
#ALdialogCloseButton("dijit.byId('modalDialog').hide();")
#end

#macro(ALdialogCloseButton $onclick)
<a href="javascript:void(0)" class="auiButtonIcon" title="$l10n.COMMON_CLOSE" onClick="$onclick"><span><i class="icon-remove"></i></span></a>
#end

#macro(AUIPrintWindowCloseIcon)
<div class="buttons">
<a href="javascript:window.close();" class="auiButtonIcon" title="$l10n.COMMON_CLOSE"><i class="icon-remove"></i></a>
</div>
#end

#macro(ALdialogheaderPrint $title $portlet_id $screen $view_date)
#set($link=$!jslink.getPortletById("$portlet_id").addQueryData("template","$screen").addQueryData("view_date","$view_date").addQueryData("userid",""))
#ALdialogheaderPrintAbstract($title $portlet_id $screen $view_date "" "dijit.byId('modalDialog').hide();" "$link")
#end
#macro(ALdialogheaderPrintSchedule $title $portlet_id $screen $view_date $userid)
#set($link=$!jslink.getPortletById("$portlet_id").addQueryData("template","$screen").addQueryData("view_date","$view_date").addQueryData("userid","$userid"))
#ALdialogheaderPrintAbstract($title $portlet_id $screen $view_date $userid "dijit.byId('modalDialog').hide();" "$link")
#end
#macro(ALdialogheaderPrintMail $title $portlet_id $screen $entityid)
#set($link=$!jslink.getPortletById("$portlet_id").addQueryData("template","$screen").addQueryData("entityid","$entityid"))
#ALdialogheaderPrintAbstract($title $portlet_id $screen $view_date "" "aipo.webmail.hideDialog();" "$link")
#end
#macro(ALdialogheaderPrintNote $title $portlet_id $screen $view_date)
#set($link=$!jslink.getPortletById("$portlet_id").addQueryData("template","$screen").addQueryData("view_date","$view_date").addQueryData("userid",""))
#ALdialogheaderPrintAbstract($title $portlet_id $screen $view_date "" "aipo.note.hideDialog();" "$link")
#end

#macro(ALdialogheaderPrintAbstract $title $portlet_id $screen $view_date $userid $onclick $link)
	<div class="auiPopup clearfix">
		<div class="auiPopupHead clearfix">
	    	<div class="auiPopupTool">
	    		#if(($portlet_id!=""))
	        	<div><a href="javascript:void(0)" class="auiButtonIcon" title="$l10n.SCHEDULE_OPEN_PRINT_VIEW" onClick="javascript:window.open('$link');void(0);"><span><i class="auiIcon auiIconPrint"></i></span></a></div>
	        	#end
	        	<div>#ALdialogCloseButton($onclick)</div>
	    	</div>
	    		<div class="auiPopupTitle">$title</div>
		</div>
		<div class="roundBlockContent">
#end

#macro(ALdialogheaderCloseJS $title $js)
	<div class="auiPopup clearfix">
		<table class="roundBlockWrapperTop">
			<tbody>
				<tr>
					<td class="roundBlockTitle wide">$title</td>
					<td class="roundBlockIcon last"><div style="float:right">#ALdialogCloseButton($js)</div></td>
				</tr>
			</tbody>
		</table>
		<div class="roundBlockContent">
#end

#macro(ALdialogheaderDetailSmartPhone $title)
#ALdialogheaderDetailSmartPhoneAbstract($title "dijit.byId('modalDialog').hide();")
#end
#macro(ALdialogheaderDetailSmartPhoneMail $title)
#ALdialogheaderDetailSmartPhoneAbstract($title "aipo.webmail.hideDialog();")
#end
#macro(ALdialogheaderDetailSmartPhoneNote $title)
#ALdialogheaderDetailSmartPhoneAbstract($title "aipo.note.hideDialog();")
#end

#macro(ALdialogheaderDetailSmartPhoneAbstract $title $onclick)
	<!-- Smartphone  Header -->
	<div class="auiPopup clearfix">
		<div class="auiPopupHead clearfix">
	    	<div class="auiPopupTool">
	        	<div>#ALdialogCloseButton($onclick)</div>
	    	</div>
    			<div class="auiPopupTitle">$title</div>
		</div>
	<div class="roundBlockContent">
#end

#macro(ALdialogfooter)
		</div>
	</div>
#end

#macro(ALfileuploadDialogheader $title)
<div class="spaceAll">
  <div class="clearfix">
    <ul class="tabContainer">
      <li class="selectedMenu">
        <div class="menuTitle">$title</div>
        <div class="menuIcon"></div>
      </li>
    </ul>
    <div style="float:right">#ALdialogCloseButtonCommon()</div>
  </div>
  <div class="clearfix">
	<div class="roundMainWrapper">
		<div class="spaceBoth">
			<div class="clearfix">
#end

#macro(ALfileuploadDialogfooter)
			</div>
		</div>
	</div>
  </div>
</div>
#end

#macro(ALaddressbookDialogheader $title)
<div class="spaceAll">
  <div class="clearfix">
    <ul class="tabContainer">
      <li class="selectedMenu">
        <div class="menuTitle">$title</div>
        <div class="menuIcon"></div>
      </li>
    </ul>
    <div style="float:right">#ALdialogCloseButtonCommon()</div>
  </div>
  <div class="clearfix">
	<div class="roundMainWrapper">
		<div class="spaceBoth">
			<div class="clearfix">
#end

#macro(ALaddressbookDialogfooter)
			</div>
		</div>
	</div>
  </div>
</div>
#end

#* S U B M E N U *#
#macro(ALsubmenuheader $tabs)
<!-- LAYOUT -->
<table class="tableWrapper">
  <tbody>
    <tr>
      <td class="top mb_hide" width="200">
        <!-- SUBMENU -->
        <div class="submenu_v2">
          <ul>
#set($index = 0)
#foreach($tab in $tabs)
	#if($tab.Title.toString()!="ページ設定" && $tab.Title.toString()!="メッセージ")
            <li#if ($tab.isSelected() == true) class="selected"#end><a href="$!utils.escapeXML($tab.Link)">$tab.Title</a></li>
	#end
#set($index = $index + 1)
#end
          </ul>
        </div>
	    <!-- /SUBMENU -->
      </td>
      <td class="wide top">
#end

#macro(ALsubmenufooter)
      </td>
    </tr>
  </tbody>
</table>
<!-- /LAYOUT -->
#end



#* FOR CELL PHONE *#
#macro(ALcell_center_header $career)
#if($career == "docomo_foma")
<div style="text-align:center">
#elseif($career == "iphone")
<div class="navi">
#else
<center>
#end
#end

#macro(ALcell_center_footer $career)
#if($career == "docomo_foma")
</div>
#elseif($career == "iphone")
</div>
#else
</center>
#end
#end

## For Windows Mobile environment, this macro is written in one line.
#macro(ALcell_li_header $career) #if($career == "wm")<p>#else<li>#end#end

#macro(ALcell_li_footer $career)
#if($career == "docomo_imode")

#elseif($career == "wm")
</p>
#else
</li>
#end
#end

#macro(ALcell_font_header $career $color $size)
#if($career == "docomo_imode" || $career == "vodafone")
<font color="$color" size="$size">
#else
<span style="#if($color != '')color:$color;#end#if($size != '')font-size:$size;#end">
#end
#end

#macro(ALcell_font_footer $career)
#if($career == "docomo_imode" || $career == "vodafone")
</font>
#else
</span>
#end
#end

#macro(ALcell_br $career)
#if($career == "docomo_imode" || $career == "vodafone")
<br>
#else
<br />
#end
#end

#macro(ALcell_hr $career $size)
#if($career == "docomo_imode")
<hr#if($size != '') size="$size"#end>
#elseif($career == "vodafone")
<hr>
#else
<hr />
#end
#end


#macro(ALcell_dt $career $text)
#if($text != '')
<dt>$text</dt>
#end
#end

#macro(ALcell_dd $career $text)
#if($text != '')
<dd>$text</dd>
#end
#end

#macro(ALcell_dl_header $career)
<dl>
#end

#macro(ALcell_dl_footer $career)
</dl>
#end

#macro(ALcell_dt_header $career)
<dt>
#end

#macro(ALcell_dt_footer $career)
</dt>
#end

#macro(ALcell_dd_header $career)
<dd>
#end

#macro(ALcell_dd_footer $career)
</dd>
#end

#macro(ALcell_ul_header $career)
<ul>
#end

#macro(ALcell_ul_footer $career)
</ul>
#end

#macro(ALcell_textarea $career $name $text $rows $cols $option $style)
#set($style_option = '')
#if($career == "docomo_imode" || $career == "docomo_foma")
	#if($style == "h")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:h&gt;&quot;"')
	#elseif($style == "en")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;"')
	#elseif($style == "n")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;"')
	#end
#else
	#if($style == "h")
		#set($style_option = 'istyle="1" format="*M" mode="hiragana"')
	#elseif($style == "en")
		#set($style_option = 'istyle="3" format="*m" mode="alphabet"')
	#elseif($style == "n")
		#set($style_option = 'istyle="4" format="*N" mode="numeric"')
	#end
#end
#if("$cols" == "")
#if($option == '')
<textarea name="$name" rows="$rows" $!style_option>$text</textarea>
#else
<textarea name="$name" rows="$rows" $option $!style_option>$text</textarea>
#end
#else
#if($option == '')
<textarea name="$name" rows="$rows" cols="$cols" $!style_option>$text</textarea>
#else
<textarea name="$name" rows="$rows" cols="$cols" $option $!style_option>$text</textarea>
#end
#end
#end

#macro(ALcell_textfield $career $name $value $size $max $option $style)
#set($style_option = '')
#if($career == "docomo_imode" || $career == "docomo_foma")
	#if($style == "h")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:h&gt;&quot;"')
	#elseif($style == "en")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;"')
	#elseif($style == "n")
		#set($style_option = 'style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;"')
	#end
#else
	#if($style == "h")
		#set($style_option = 'istyle="1" format="*M" mode="hiragana"')
	#elseif($style == "en")
		#set($style_option = 'istyle="3" format="*m" mode="alphabet"')
	#elseif($style == "n")
		#set($style_option = 'istyle="4" format="*N" mode="numeric"')
	#end
#end
#if("$size" == "")
<input type="text" name="$name" value="$value" maxlength="$max" $option $!style_option>
#else
<input type="text" name="$name" value="$value" size="$size" maxlength="$max" $option $!style_option>
#end
#end

#macro(ALcell_passwordfield $career $name $value $size $max $option)
<input type="password" name="$name" value="$value" size="$size" maxlength="$max" $option>
#end

#macro(ALcell_mustmessage)
$l10n.WAR_GRABALMACRO_REQUIRED_ITEM
#end

#macro(ALcell_must)
（※）
#end

#macro(ALcell_pageview $career $link $result)
#set($pages = $result.PagesNum)
#set($currentPage = $result.CurrentPage)
#set($rowsNum = $result.RowsNum)
#if ($pages > 1)
#ALcell_center_header($career)
#if($currentPage > 1) #set($pre = $currentPage - 1) <a href="$!{link}&start=$pre" class="btn_left"> &lt;$l10n.WAR_BEFORE </a> #end
$currentPage/$pages
#if($pages > $currentPage) #set($next = $currentPage + 1) <a class="btn_right" href="$!{link}&start=$next"> $l10n.WAR_NEXT&gt; </a> #end
#ALcell_center_footer($career)
#end
#end

#macro(ALcell_menulist $career $title $list)
#set($index = 0)
#ALcell_pagetitle($career $title)
#if($career == "vodafone")
<dl>
#foreach($menulist in $list)
#set($menulistlen = $menulist.size() - 1)
#set($index = 0)
#foreach($menu in $menulist)
#if($index == 0)
<dt>
#if ($menu.get(1) == "")
$menu.get(0)
#else
<a href="$menu.get(1)">$menu.get(0)</a>
#end
</dt>
#else
<dd><a href="$menu.get(1)">$menu.get(0)</a></dd>
#end
#set($index = $index + 1)
#end
#end
</dl>
#else
<ul>
#foreach($menulist in $list)
#set($menulistlen = $menulist.size() - 1)
#set($index = 0)
#ALcell_li_header($career)
#foreach($menu in $menulist)
#if($index == 0)
#if ($menu.get(1) == "")
$menu.get(0)
#else
<a href="$menu.get(1)">$menu.get(0)</a>
#end
#ALcell_br($career)
#else
<a href="$menu.get(1)">$menu.get(0)</a>#if($index < $menulistlen)#ALcell_br($career)#end
#end
#set($index = $index + 1)
#end
#ALcell_li_footer($career)
#end
</ul>
#end
#end


#macro(ALcell_menulist_i $career $title $list)
#set($index = 0)
#ALcell_pagetitle($career $title)
#ALcell_contents_header($career)
#ALcell_radius_header($career)
#foreach($menulist in $list)
#set($menulistlen = $menulist.size() - 1)
#set($index = 0)
#foreach($menu in $menulist)
#if($index == 0)
#if ($menu.get(1) == "")
##$menu.get(0)
#else
##ALcell_radius_header($career)
<a href="$menu.get(1)">$menu.get(0)</a><br>
##ALcell_radius_footer($career)
#end
##ALcell_ul_header($career)
#else
#ALcell_li_header($career)
<a href="$menu.get(1)"><img src="$menu.get(2)" width="32" height="32" align="absmiddle" />$menu.get(0)</a>
#ALcell_li_footer($career)
#end
#set($index = $index + 1)
#end
##ALcell_ul_footer($career)
#end
#ALcell_radius_footer($career)
#ALcell_contents_footer($career)
#end
##ALcell_radius_footer($career)

#macro(ALcell_pagetitle $career $title)
<div style="background:$config.getString("aipo.color.cell.vm.logo"); color:#ffffff; text-align:center;">${alias}</div>
<div style="background:$config.getString("aipo.color.cell.vm.title"); text-align:center;">$title</div>
<div style="background:$config.getString("aipo.color.cell.vm.logo");"><img src="${external_resources_url}/images/dot.gif" width="1" height="1" /></div>
<hr style="border:solid 1px #ffffff; color:#ffffff" />
#end

#macro(ALcell_linklist $career $list)
#foreach($link in $list)
#if ($link.get(1) == "")
$link.get(0)
#else
<a href="$link.get(1)">$link.get(0)</a>
#end
#ALcell_br($career)
#end
#end

#macro(ALcell_pagetitle_iphone $career $title)
<h2>$title</h2>
#end


#macro(ALcell_linklist_i $career $list)
#foreach($link in $list)
#if ($link.get(1) == "")
$link.get(0)
<br>
#else
<a href="$link.get(1)"><img src="$link.get(2)" width="32" height="32" align="absmiddle" />$link.get(0)</a><br>
#end
#ALcell_br($career)
#end
#end

#macro(ALcell_linklist2 $career $list)
#set($count=0)
#foreach($link in $list)
#set($count=$count+1)
#if ($link.get(1) == "")
$link.get(0)
#else
<a href="$link.get(1)">$link.get(0)</a>
#end
#if($count%2==0)
#ALcell_br($career)
#else
 |
#end
#end
#end

#macro(ALcell_formheader $career $jslink $portlet)
<form action="$!jslink.getPortletById($!portlet.ID)" method="post">
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALcell_formheader_sjis $career $jslink $portlet)
<form action="$!jslink.getPortletById($!portlet.ID)" method="post" Accept-charset="Shift_JIS">
<input type="hidden" name="secid" value="$secid" />
#end

#macro(ALcell_formfooter)
</form>
#end

##macro(ALcell_formheader_iphone)





#macro(ALcell_errmsg $career $msgs)
#if($msgs && !($msgs.size() == 0))
<ul>
#foreach($msg in $msgs)
#ALcell_li_header($career)#ALcell_font_header($career 'Red' '')$!msg#ALcell_font_footer($career)#ALcell_li_footer($career)
#end
</ul>
#end
#end

#macro(ALcell_submit $career $name $value)
#if($career == "iphone")
<p class="center"><input class="submit" name="$name" type="submit" value="$value" /></p>
#else
<input name="$name" type="submit" value="$value">
#end
#end

#macro(ALcell_hidden $career $name $value)
<input name="$name" type="hidden" value="$value">
#end

#macro(ALtdcellEmoji $emoji $career)
      #if($career == "docomo_imode" || $career == "docomo_foma")
		#if($emoji == "1")
			&#xE6E2;
		#elseif($emoji == "2")
			&#xE6E3;
        #elseif($emoji == "3")
            &#xE6E4;
		#elseif($emoji == "4")
            &#xE6E5;
		#elseif($emoji == "5")
            &#xE6E6;
        #elseif($emoji == "6")
            &#xE6E7;
        #elseif($emoji == "7")
            &#xE6E8;
        #elseif($emoji == "8")
            &#xE6E9;
        #elseif($emoji == "9")
            &#xE6EA;
	    #elseif($emoji == "0")
            &#xE6EB;
		#elseif($emoji == "keitai")
            &#xE688;
		#end
      #elseif($career == "vodafone")
        #if($emoji == "1")
            $F<
        #elseif($emoji == "2")
            $F=
        #elseif($emoji == "3")
            $F>
        #elseif($emoji == "4")
            $F?
        #elseif($emoji == "5")
            $F@
        #elseif($emoji == "6")
            $FA
        #elseif($emoji == "7")
            $FB
        #elseif($emoji == "8")
            $FC
        #elseif($emoji == "9")
            $FD
        #elseif($emoji == "0")
            $FE
        #elseif($emoji == "keitai")
##            $G*
        #end
	  #else
		#if($emoji == "1")
            <img localsrc="180">
        #elseif($emoji == "2")
            <img localsrc="181">
        #elseif($emoji == "3")
            <img localsrc="182">
        #elseif($emoji == "4")
            <img localsrc="183">
        #elseif($emoji == "5")
            <img localsrc="184">
        #elseif($emoji == "6")
            <img localsrc="185">
        #elseif($emoji == "7")
            <img localsrc="186">
        #elseif($emoji == "8")
            <img localsrc="187">
        #elseif($emoji == "9")
            <img localsrc="188">
        #elseif($emoji == "0")
            <img localsrc="325">
        #elseif($emoji == "keitai")
            <img localsrc="161">
		#end
	  #end
#end

#macro(ALtdcellFooterLink $career)
<hr style="border:solid 1px #ffffff; color:#ffffff" />
<div style="background:#005699;"><img src="themes/$!result.Theme/images/common/dot.gif" width="1" height="1" /></div>
<div style="background:$config.getString("aipo.color.cell.vm.menu.bottom"); text-align:center;"><a href="$!jslink.getAction('controls.Restore',$!portlet.ID)" accesskey="0">[0] $l10n.WAR_GROBALMACRO_TOP</a> | <a href="$jslink.setAction($config.getString('action.logout'))">$l10n.CELL_LOGOUT</a></div>
#end


#* FOR IPHONE *#

#macro(ALcell_navi_header $career)
<div class="navi">
#end

#macro(ALcell_navi_footer $career)
</div>
#end

#macro(ALcell_contents_header $career)
<div id="contents">
#end

#macro(ALcell_contents_footer $career)
</div><!-- contents END -->
#end

#macro(ALcell_radius_header $career)
#if($career == "wm")
<div class="radius_list">
#else
<ul class="radius_list">
#end
#end

#macro(ALcell_radius_footer $career)
#if($career == "wm")
</div><!-- radius_list END -->
#else
</ul><!-- radius_list END -->
#end
#end

#macro(ALcell_schedule_header $career)
<ul id="schedule">
#end

#macro(ALcell_schedule_footer $career)
</ul>
#end

#macro(ALcell_msgboard_detail $career $detail)
<h3 class="mt5 mb5">$!{detail.TopicName}</h3>
<p class="mt0 fssmaller right">$l10n.BLOG_POSTING_DAY：$!{detail.CreateDate.Year}/$!{detail.CreateDate.Month}/$!{detail.CreateDate.Day}&nbsp;$!{detail.CreateDate.Hour}:$!{detail.CreateDate.Minute}<br />
$l10n.BLOG_POSTING_NAME：$!{detail.OwnerName}　$l10n.WORKFLOW_CATEGORY：$!{detail.CategoryName}</p>
$!{detail.Note}
#end

#macro(ALcell_blog_detail $career $detail)
<h3 class="mt5 mb5">$!{detail.Title}</h3>
##$!{detail.CreateDate}
<p class="mt0 fssmaller right">$l10n.BLOG_POSTING_DAY：$!{detail.CreateDateAlternative.Year}/$!{detail.CreateDateAlternative.Month}/$!{detail.CreateDateAlternative.Day}$!{detail.CreateDateAlternative.toStringDayOfWeek()}$!{detail.CreateDateAlternative.Hour}:$!{detail.CreateDateAlternative.Minute}<br />$l10n.BLOG_POSTING_NAME：$!detail.OwnerName　$l10n.BLOG_THEME_CELL：$!{detail.ThemaName}</p>
$!{detail.Note}
#end

#macro(ALcell_msgboard_comment $career $comment )
<p class="mt0 fssmaller right">$l10n.BLOG_POSTING_DAY：$!comment.UpdateDate<br />$l10n.BLOG_POSTING_NAME：$!comment.OwnerName　##ｶﾃｺﾞﾘ：$!{comment.ParentTopic.CategoryName}
</p>
$!{comment.Note}
#end

#macro(ALcell_blog_comment $career $comment )
<p class="mt0 fssmaller right">$l10n.BLOG_POSTING_DAY：$!{comment.UpdateDateAlternative.Year}/$!{comment.UpdateDateAlternative.Month}/$!{comment.UpdateDateAlternative.Day}$!{comment.UpdateDateAlternative.toStringDayOfWeek()}$!{comment.UpdateDateAlternative.Hour}:$!{comment.UpdateDateAlternative.Minute}<br />$l10n.BLOG_POSTING_NAME：$!comment.OwnerName　</p>
$!{comment.Comment}
#end

#macro(ALcell_linklist_iphone $career $list)
#if($career == "wm")
<div class="submenu">
#foreach($link in $list)
#if ($link.get(1) == "")
$link.get(0)
#else
<a href="$link.get(1)" class="btn">$link.get(0)</a>
#end
#end
</div>
#else
<ul class="submenu">
#foreach($link in $list)
#if ($link.get(1) == "")
$link.get(0)
#else
<li><a href="$link.get(1)" class="btn">$link.get(0)</a></li>
#end
#end
</ul>
#end
#end

#macro(ALcell_navilist $career $list)
<div class="navi">
#foreach($link in $list)
#if ($link.get(1) == "")
$link.get(0)
#else
<a href="$link.get(1)" class="btn">$link.get(0)</a>
#end
#end
</div>
#end


##
## smartphone menu macros
##

#macro(ALtabElementMaximizeAbstract $name $imageclass $prefix)
#set($break=false)
#foreach($tab in $menus)
	#if($break==false)
		#if($tab.Name.toString()==$name)
		<li><a href="$!utils.escapeXML($tab.MaximizeLink)">$!{prefix}<span class="icon"><i class="$!{imageclass}"></i></span>$tab.Title</a></li>
		#set($break=true)
		#elseif($tab.Name.toString()=="AjaxScheduleWeekly" && $name=="Schedule")
		<li><a href="$!utils.escapeXML($tab.MaximizeLink)">$!{prefix}<span class="icon"><i class="$!{imageclass}"></i></span>$tab.Title</a></li>
		#set($break=true)
		#end
	#end
#end
#end

#macro(ALtabElementMaximize $name $imageclass)
#ALtabElementMaximizeAbstract($name $imageclass "")
#end

##
##  AUI MACROS
##
#macro(AUIrowTableWide)
<table class="auiRowTable wide">
  <tbody>
#end

#macro(AUIrowMTableWide)
<table class="auiRowTable auiMbTable wide">
  <tbody>
#end

#macro(AUIrowTableWideScheduleList)
<table class="auiRowTable wide scheduleList">
  <tbody>
#end

#macro(AUImultiTableWide)
<table class="auiMultiTable wide">
  <tbody>
#end

#macro(AUItablefooter)
  </tbody>
</table>
#end


#macro(AUIbuttonAction $text $url)
<a title="$text" href="$url" class="auiButtonAction">$text</a>
#end

#macro(AUIbuttonActionW80 $text $url)
<a title="$text" href="$url" class="auiButtonAction w80">$text</a>
#end

#macro(AUIbuttonActionInBlankBox $text $url)
<div class="auiBlankBox">
<a title="$text" href="$url" class="auiButtonAction">$text</a>
</div>
#end

#macro(AUIprintbutton $jslink)
<a href="javascript:void(0);" onclick="javascript:window.open('$!utils.escapeXML($jslink)');void(0);" title="$l10n.SCHEDULE_OPEN_PRINT_VIEW" class="auiButton pl5 pr5">
<span><i class="auiIcon auiIconPrint"></i></span>
</a>
#end

#macro(AUIbutton $text $url)
<a title="$text" href="$url" class="auiButton">$text</a>
#end

#macro(AUIajaxbuttonLink $title $url)
<a class="auiButton" title="$title" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($url)');" >$title</a>
#end

#macro(AUIajaxbuttonLinkCallback $title $url $portlet_id $callback)
<a class="auiButton" title="$title" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($url)', '$portlet_id', $callback);" >$title</a>
#end
#macro(AUIajaxbuttonLinkCallbackBold $title $url $portlet_id $callback)
<a class="auiButtonBold" title="$title" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($url)', '$portlet_id', $callback);" >$title</a>
#end

#macro(AUIajaxbuttonLinkCallbackBoldInput $title $url $portlet_id $callback)
<input type="button" value="$title" class="auiButtonBold" title="$title" onclick="aipo.common.showDialog('$!utils.escapeXML($url)', '$portlet_id', $callback);" />
#end

#macro(AUIactionMenu $items $currentItem)
<div class="auiWidget clearfix">
#foreach ( $item in $submenulist )
<a title="$item.get(0)" href="$item.get(1)" class="auiButtonAction">
$item.get(0)
</a>
#end
</div>
#end

#macro(AUIajaxpageview $screen $result)
#set($pages = $result.PagesNum)
#set($currentPage = $result.CurrentPage)
#set($rowsNum = $result.RowsNum)
#set($count = $result.Count)
#set($from = ($currentPage - 1 ) * $rowsNum + 1)
#if ($currentPage * $rowsNum > $result.Count)
#set($to = $result.Count )
#else
#set($to = $currentPage * $rowsNum )
#end

#if(($currentPage + 1) == $pages)
#set($nextCount = $count - $to)
#else
#set($nextCount = $rowsNum)
#end
<div class="floatRight">
  <div class="count">$from - $to / $count</div>
#if ($pages > 1)
    <div class="auiSelectButton floatLeft">
      <ul class="floatLeft">
#if($currentPage > 1) #set($pre = $currentPage - 1)
	    <li title="$l10n.TIMELINE_PREV"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", $screen).addQueryData("start", $pre))', '$!portlet.ID');" class="first arrow" title="前の $rowsNum 件"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
#else
	    <li title="$l10n.TIMELINE_PREV"><a href="javascript:void(0);" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
#end
#if($pages > $currentPage) #set($next = $currentPage + 1)
        <li title="$l10n.TIMELINE_NEXT"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", $screen).addQueryData("start", $next))', '$!portlet.ID');" class="last arrow" title="次の $nextCount 件"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
#else
	    <li title="$l10n.TIMELINE_NEXT"><a href="javascript:void(0);" class="last arrow"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
#end
      </ul>
    </div>
#end
</div>
#end

#macro(AUIwidgetViewPageMenuList $menues $active)
<ul>
#foreach ( $menu in $menues )
  <li#if ($menu.get(1) == $active) class="active"#end>
    <a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($menu.get(2))', '$!portlet.ID');">$menu.get(0)</a>
  </li>
#end
</ul>
#end

#macro(AUIwidgetMenuList $menues $active)
<ul>
#foreach ( $menu in $menues )
  <li#if ($menu.get(1) == $active) class="active"#end>
    <a href="$!utils.escapeXML($menu.get(2))">$menu.get(0)</a>
  </li>
#end
</ul>
#end

#macro(AUIajaxbuttonCheckboxAction $name $url $indicator_id $portlet_id $rt)
<a name="ajaxbuttonCheckboxAction" class="auiButton" onclick="aimluck.io.ajaxCheckboxActionSubmit(dojo.byId('dummy_btn_auiajaxbuttoncheckboxaction$portlet_id'), '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);">$name</a>
<input type="hidden" id="dummy_btn_auiajaxbuttoncheckboxaction$portlet_id" value="" />
#end

#macro(AUIajaxbuttonCheckboxDelete $name $url $indicator_id $portlet_id $rt)
<a name="ajaxbuttonCheckboxDelete" class="auiButton" onclick="aimluck.io.ajaxCheckboxDeleteSubmit(dojo.byId('dummy_btn_auiajaxbuttoncheckboxdelete$portlet_id'), '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);">$name</a>
<input type="hidden" id="dummy_btn_auiajaxbuttoncheckboxdelete$portlet_id" value="" />
#end

#macro(AUIajaxbuttonCheckboxEnable $name $url $indicator_id $portlet_id $rt)
<a name="ajaxbuttonCheckboxEnable" class="auiButton" onclick="aimluck.io.ajaxCheckboxEnableSubmit(dojo.byId('dummy_btn_auiajaxbuttoncheckboxenable$portlet_id'), '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);">$name</a>
<input type="hidden" id="dummy_btn_auiajaxbuttoncheckboxenable$portlet_id" value="" />
#end

#macro(AUIajaxbuttonCheckboxDisable $name $url $indicator_id $portlet_id $rt)
<a name="ajaxbuttonCheckboxDisable" class="auiButton" onclick="aimluck.io.ajaxCheckboxDisableSubmit(dojo.byId('dummy_btn_auiajaxbuttoncheckboxdisable$portlet_id'), '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);">$name</a>
<input type="hidden" id="dummy_btn_auiajaxbuttoncheckboxdisable$portlet_id" value="" />
#end

#macro(AUIsearchresult $keyword)
#if($!keyword && $!keyword != "")
<div class="floatLeft auiSearchResult">$l10n.CABINET_SEARCH_RESULT：$!keyword</div>
#end
#end

#macro(AUInewsearchresult $keyword)
#if($!keyword && $!keyword != "")
<div class="auiSummaryMeta auiSearchResult">$l10n.CABINET_SEARCH_RESULT：$!keyword</div>
#end
#end



#macro(AUIcontentsAreaHeader)
<div id="auiContentsArea" #if($clientVer == "5") style="margin-bottom:45px" #end><div id="auiContentsAreaInner">
#end
#macro(AUIcontentsAreaFooter)
</div></div>
#end

#macro(AUIwideAreaHeader)
<div id="auiWideArea"><div id="auiWideAreaInner">
#end
#macro(AUIwideAreaFooter)
</div></div>
#end

#macro(AUISummaryDiv)
<div class="auiSummaryMeta clearfix">
#end

#macro(AUISummaryDivfooter)
</div>
#end

#macro(AUIsubmit $name $value)
<input name="$name" class="auiButton" type="submit" value="$value" onclick="aimluck.io.setHiddenValue(this);" />
#end

#macro(AUIselectpdheader $name $width $onchange)
<form class="auiForm">
	<select name="$name" id="$name" style="width:$width;" onchange="$onchange">
#end

#macro(AUIselectfooter)
	</select>
</form>
#end

#macro(AUIajaxscreenformheader $name $jslink $portlet $template $js)
<form class="auiForm" name="form$!portlet.ID" id="form$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template',$template)" method="post" onsubmit="$js;return false;">
<input type="hidden" name="_name" value="$name" />
<input type="hidden" name="secid" value="$secid" />
#end

#macro(AUIconfigheader $portlet_id $width)
<div class="floatRight clearfix relative">
<div><a href="javascript:void(0);" id="menubar_button_$!{portlet.ID}" class='customizeMenuIcon auiButtonBold' onclick="aipo.customize.showMenu('${portlet_id}');"><span class="auiIcon auiIconSetting mr5"></span>$l10n.WAR_SET_UP</a></div>
<div class="menubar body-child" id="menubar_$!{portlet.ID}" style="width: ${width}; right: 0px; display: none; ">
<ul>
#end

#macro(AUIconfigitem $text $link)
<li><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($link)');">$text</a></li>
#end

#macro(AUIconfigitemsubmitJS $title $text $script)
<div class="auiMenuListItem"><a style="width: 100%; " title="$title" href="javascript:void(0);" onclick="aimluck.io.setHiddenValue(this);$script">$text</a></div>
#end

#macro(AUIconfigfooter)
</ul>
</div>
</div>
#end

#macro(IFFileUpload)
<iframe name="if_fileupload_$!{portlet.ID}" id="if_fileupload_$!{portlet.ID}" allowtransparency="true" class="auiInputFileFrame" src="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FileuploadFormScreen').addQueryData('mode','miniform')" frameborder="0" scrolling="no" >
</iframe>
#end

#macro(AuiInformation $title $text $cookie $flag)
#if (${flag})
<div class="auiInfo" id="$!{cookie}"><div class="inner clearfix">
<div class="auiInfoClose"><a href="javascript:void(0)" title="$l10n.WAR_CLOSE_NEXT_LOGIN" onclick="document.getElementById('$!{cookie}').style.display='none';aipo.setCookie('$!{cookie}',false,'/')"><i class="icon-remove"></i></a></div>
<div class="auiInfoTitle"><i class="icon-info-sign"></i>$utils.getl10nFormat1("WAR_INFO",${title})</div>
<div class="auiInfoBody">$!{text}</div>
</div></div>
#end
#end


#macro(AUIiconSecretAtt $option)
	<i class="auiIcon auiIconSecret" $option></i>
#end