#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($indicator_str = $l10n.MSGBOARD_SEND_DATA)
#set ($action_str = $l10n.MSGBOARD_ADD)
#set ($event_submit = "eventSubmit_doMsgboard_category_insert")
#set ($subtitle = $l10n.MSGBOARD_ADD_CATEGORY)
#else
#set ($indicator_str = $l10n.MSGBOARD_SEND_DATA)
#set ($action_str = $l10n.MSGBOARD_UPDATE)
#set ($event_submit = "eventSubmit_doMsgboard_category_update")
#set ($subtitle = $l10n.MSGBOARD_CATEGORY_EDITION)
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("msgboardCategoryForm" $jslink $portlet "MsgboardCategoryFormJSONScreen" "aimluck.io.selectAllOptions(this.member_to);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.msgboard.onReceiveMessage)")
<input id="is_member" name="is_member" type="hidden" value="FALSE">
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('category_name'))")
#ALtditem("#ALtextfield('category_name' $!result.CategoryName '90%' 50 'active')")
#ALtdcaption($!result.getFieldName("note"))
#ALtditemheader()
#ALtextarea('note' $!result.Note 10 40)
#ALtditemfooter()
#ALtdcaption("#ALrequired($l10n.MSGBOARD_TOPIC_CHANGE_VIEWS)")
#ALtditemheader()
<div class="spaceBottom">
<input name="access_flag" type="radio" value="0" id="$!{portlet.ID}access_flag_0_id" onclick="aipo.msgboard.hideMember(form)" #if($!{result.AccessFlag.toString()} == "0") checked="checked" #end>
<label for="$!{portlet.ID}access_flag_0_id"> $l10n.MSGBOARD_ALL_REPLY_ALL_VIEWS</label><br />
<input name="access_flag" type="radio" value="1"  id="$!{portlet.ID}access_flag_1_id" onclick="aipo.msgboard.showMember(this)" #if($!{result.AccessFlag.toString()} == "1") checked="checked" #end>
<label for="$!{portlet.ID}access_flag_1_id"> $l10n.MSGBOARD_ALL_MEMBER_MEMBER_VIEWS</label><br />
<input name="access_flag" type="radio" value="2" id="$!{portlet.ID}access_flag_2_id" onclick="aipo.msgboard.showMember(form)" #if($!{result.AccessFlag.toString()} == "2") checked="checked" #end>
<label for="$!{portlet.ID}access_flag_2_id"> $l10n.MSGBOARD_MEMBER_REPLY_MEMBER_VIEWS</label><br />
<input name="access_flag" type="radio" value="3"  id="$!{portlet.ID}access_flag_3_id" onclick="aipo.msgboard.hideMember(form)" #if($!{result.AccessFlag.toString()} == "3") checked="checked" #end>
<label for="$!{portlet.ID}access_flag_3_id"> $l10n.MSGBOARD_OWN_REPLY_OWE_VIEWS</label>
</div>
<div id="Block-GroupMember-Show" #if ($!result.isMember()) #else style="display:none;" #end>
<div class="spaceTop">
<h3>$l10n.MSGBOARD_SELECT_MEMBER</h3>
<div class="spaceLeft small">$l10n.MSGBOARD_ADD_MEMBER_LEFT</div>
<div dojoType="aipo.widget.MemberNormalSelectList"
    id="membernormalselect"
    widgetId="membernormalselect"
    buttonAddId="button_member_add"
    buttonRemoveId="button_member_remove"
    memberFromId="tmp_member_from"
    memberToTitle="$l10n.MSGBOARD_MEMBER_LIST"
    memberToId="member_to"
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
    memberFromOptionKey="name"
    memberFromOptionValue="aliasName"
    groupSelectId="tmp_group"
	groupSelectPreOptionKey="LoginUser"
    groupSelectPreOptionValue="$l10n.MSGBOARD_GROUP_LIST"
    groupSelectOptionKey="groupId"
    groupSelectOptionValue="name"
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen')"
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="5" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
</div>
</div>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonCancel()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
