#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = $l10n.MSGBOARD_TOPIC_REPLY)
#set ($subtitle = $l10n.MSGBOARD_TOPIC_DETAIL)
#set ($event_submit = "eventSubmit_doMsgboard_update")
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxdetailformheader($l10n.MSGBOARD_WRITE)
<table class="listTable wide">
	#if(! $!{result.ParentTopic.isPublic()})
		<img src="images/msgboard/msgboard_secret.gif" border="0" width="16" height="16" align="absmiddle" alt="$l10n.MSGBOARD_CLOSE_PUBLIC" title="$l10n.MSGBOARD_CLOSE_PUBLIC">
	#end
##&gt;&nbsp;$!{result.ParentTopic.TopicName}
	<caption>
	<span class="floatRight" style="font-weight:normal">$!result.ParentTopic.CategoryNameHtml</span>$!{result.ParentTopic.TopicNameHtml}
	</caption>
		<tbody>
			<tr>
				<td>
					<div class="alignright">
						#if($!result.isMatch($!{result.UserId} , $!{result.ParentTopic.OwnerId.Value}) || $!{result.hasAclUpdateTopicOthers()})
						#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.msgboard.onLoadMsgboardDialog")
						#end
						#if($!result.isMatch($!{result.UserId} , $!{result.ParentTopic.OwnerId.Value}) || $!{result.hasAclDeleteTopicOthers()})
						#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.msgboard.onReceiveMessage")
						#end
					</div>
					<div class="avatar floatLeft mr10">
						#if($!{result.ParentTopic.OwnerHasPhoto})
							<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{result.ParentTopic.OwnerId}).addQueryData("t", $!{result.ParentTopic.OwnerId}))" alt="$!{result.ParentTopic.OwnerId}" width="32" height="32" />
							#else
							<img src="images/common/avatar_default3.png" alt="$!{result.ParentTopic.OwnerId}" width="32" height="32" />
						#end
					</div>
					<div>
						<b>$!{result.ParentTopic.OwnerName}</b><br>$!{result.ParentTopic.CreateDate.Year}$l10n.MSGBOARD_YEAR$!{result.ParentTopic.CreateDate.Month}$l10n.MSGBOARD_MONTH$!{result.ParentTopic.CreateDate.Day}$l10n.MSGBOARD_DATE$!{result.ParentTopic.CreateDate.DayOfWeek}  $!{result.ParentTopic.CreateDate.time}
					</div>
				</td>
			</tr>
			<tr>
				<td style="border-bottom:none;">
							$!{result.ParentTopic.Note}
							#if($!result.ParentTopic.AttachmentFileList && $!result.ParentTopic.AttachmentFileList.size() > 0)
								<div class="mt20">
									#foreach( $attachmentFile in $!result.ParentTopic.AttachmentFileList )
										<img src="images/msgboard/msgboard_item.gif">&nbsp;<a #if("$!{client}"=="IPHONE")target="_blank"#end href="$jslink.getTemplate("MsgboardTopicFileRawScreen").addPathInfo("ownerid", $!{result.ParentTopic.OwnerId}).addPathInfo("entityid", $!result.ParentTopic.TopicId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})">$result.getStringCR($attachmentFile.FileNameField)</a><br>
										#if($attachmentFile.isImage())
											<div  style="padding-top:3px;padding-left:12px;">
												<div id='popc' style='position:absolute'></div>
													<div class="thumbBlock">
														<a href="javascript:void(0);" onclick="aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen','MsgboardTopicFileRawScreen').addPathInfo("ownerid", $!{result.ParentTopic.OwnerId}).addPathInfo("entityid", $!result.ParentTopic.TopicId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})');">
														<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("MsgboardTopicFileThumbnailScreen").addQueryData("ownerid", $!{result.ParentTopic.OwnerId}).addQueryData("entityid", $!result.ParentTopic.TopicId).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br>
													</div>
												</div>
											</div>
										#end
									#end
								</div>
							#end
				</td>
			</tr>
  </tbody>
</table>

<table class="listTable wide mb0">
<caption>$l10n.MSGBOARD_COMMENT</caption>
#if($!result.CoTopicList && $!result.CoTopicList.size() > 0)
##pageview($link $result)
<tbody>
#set($firstCoTopic = true)
#foreach ($record in $result.CoTopicList)
#set($firstCoTopic = false)
	<tr>
		<td style="border-bottom:none;border-top:solid 1px #DDD">
			<div class="clearfix">
				<div class="alignright">
					#if($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}) || $!result.hasAclDeleteTopicOthers())
					#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','MsgboardTopicFormJSONScreen').addQueryData('topic_reply_id',${record.TopicId}).addQueryData('mode', 'delete_reply')" "$indicator_id" "$!portlet.ID" "aipo.msgboard.onReceiveMessage")
					#end
				</div>
					<div class="avatar floatLeft mr10">
						#if($!{record.OwnerHasPhoto})
						<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{record.OwnerId}).addQueryData("t", $!{result.ParentTopic.OwnerId}))" alt="$!{result.ParentTopic.OwnerId}" width="32" height="32" />
						#else
						<img src="images/common/avatar_default3.png" alt="$!{result.ParentTopic.OwnerId}" width="32" height="32" />
						#end
					</div>
				<div class="alignleft">
					<b>$!{record.OwnerName}</b><br>$!{record.CreateDate.Year}$l10n.MSGBOARD_YEAR$!{record.CreateDate.Month}$l10n.MSGBOARD_MONTH$!{record.CreateDate.Day}$l10n.MSGBOARD_DATE$!{record.CreateDate.DayOfWeek} $!{record.CreateDate.time}
				</div>
			</div>
			<div><br>
				${record.Note}
				#if($!record.AttachmentFileList && $!record.AttachmentFileList.size() > 0)
					<div class="mt20">
						#foreach( $attachmentFile in $!record.AttachmentFileList )
						<img src="images/msgboard/msgboard_item.gif">&nbsp;<a #if(${client}=="IPHONE")target="_blank"#end href="$jslink.getTemplate("MsgboardTopicFileRawScreen").addQueryData("ownerid", ${record.OwnerId}).addQueryData("entityid", $record.TopicId).addQueryData("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})">$result.getStringCR($attachmentFile.FileNameField)</a><br>
							#if($attachmentFile.isImage())
								<div style="padding-top:3px;padding-left:12px;">
									<div id='popc' style='position:absolute'></div>
									<div class="thumbBlock">
									<a href="javascript:void(0);" onclick="aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen','MsgboardTopicFileRawScreen').addPathInfo("ownerid", $!{record.OwnerId}).addPathInfo("entityid", $!record.TopicId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})');">
									<img class="width_thumbs" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("MsgboardTopicFileThumbnailScreen").addQueryData("ownerid", ${record.OwnerId}).addQueryData("entityid", $record.TopicId).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br>
								</div>
								</div>
							#end
						#end
					</div>
				#end
			</div>
    	</td>
  	</tr>
#end
</tbody>
##pageview($link $result)
#end
</table>
#ALformfooter()

#if($!resultOnTopicDetail)
	#ALajaxscreenformheader("msgboardForm" $jslink $portlet "MsgboardTopicFormJSONScreen" "aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.msgboard.onReceiveMessage)")
		<input name="is_new_category" type="hidden" value="$!result.NewCategory"/>
		<input type="hidden" name="mode" value="topic_reply" />
		<input type="hidden" name="entityid" value="${result.ParentTopic.TopicId}" />
			<table class="listTable wide">
				<tbody>
				#if($mode=="new_form")
					#ALtdcaption($!resultOnTopicDetail.getFieldName("category_id"))
						<td>
							<div id="msgboardCategoryInputField" #if(!$!{resultOnTopicDetail.NewCategory})style="display:none"#end>
								#ALtableheaderSubWide()
									#ALtdcaption("#ALrequired($!result.getFieldName('category_name'))")
									#ALtditem("#ALtextfield('category_name' $!result.CategoryName '90%' 50 'active')")
								#ALtablefooter()
							</div>
							<div id="msgboardCategorySelectField" #if($!{resultOnTopicDetail.NewCategory})style="display:none"#end>
								#ALselectpdheader("category_id" "90%" "")
									#foreach( $record in $result.CategoryList )
										<option value='$!record.CategoryId' #if ($!resultOnTopicDetail.CategoryId.toString() == $!resultOnTopicDetail.CategoryId.toString()) selected="selected" #end>$!record.CategoryName</option>
									#end
								#ALselectfooter()
							</div>
							<div class="mt5">
							<input name="category_input_button" type="button" class="button" value=" #if(!$!{resultOnTopicDetail.NewCategory})新しく入力する#else一覧から選択する#end " onclick="aipo.msgboard.formSwitchCategoryInput(this)" />
                            </div>
					#end
						</td>
  					</tr>
					<tr>
						<td class="caption"><span class="required">$!resultOnTopicDetail.getFieldName('note')</span> </td>
						<td>
							#ALtextarea('note' $!resultOnTopicDetail.Note 5 40)
						</td>
					</tr>　
					<tr #if(!$result.isFileUploadable())class="mb_hide"#end>
						<td class="caption">$l10n.MSGBOARD_FILE_ATTACH</td>
						<td>
							<div class="clearfix">
							<div>
							#IFFileUpload()
							</div>
							<ul id="attachments_$!{portlet.ID}" class="attachments">
								#foreach($record in $!result.AttachmentFileNameList )
									<li data-fileid="s${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">$l10n.MSGBOARD_DELETE_DO</span></li>
								#end
							</ul>
							</div>
						</td>
					</tr>
					<input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName" />
  				</tbody>
			</table>
#end
#ALbuttonheader()
		#if($!resultOnTopicDetail)
			<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="コメントする" onclick="aimluck.io.setHiddenValue(this);">
		#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
