#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowCategoryFormScreen").addQueryData("entityid","new")))
#set ($newAfterFunction1 = "aipo.workflow_category.onLoadWorkflowCategoryDialog")
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowRouteFormScreen").addQueryData("entityid","new")))
#set ($newAfterFunction2 = "aipo.workflow_route.onLoadWorkflowRouteDialog")
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#else
#AUIwideAreaHeader()
#end
#AUISummaryDiv()
<div class="floatLeft">
#AUIbuttonAction("$l10n.WORKFLOW_DO_ADD_CLASSIFICATION" "javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',$newAfterFunction1);")
</div>
<div class="floatRight clearfix relative">
<div class="auiSelectButton">
<ul>
#set($tab = ["$l10n.WORKFLOW_CLASSIFICATION", "category","$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWorkflow_category_list','1')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:4em;" href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWorkflow_category_list','1')"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.WORKFLOW_APPLICATION_ROUTE", "route","$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowScreen').addQueryData('tab','route')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:6em;" href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWorkflow_route_list','1')"><span>$tab.get(0)</span></a></li>
</ul>
</div>
</div>

#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
#ALajaxlistformheaderAction("$l10n.WORKFLOW_CLASSIFICATION")
#if($result.List.size() <= 0)
<div class="message">$l10n.WORKFLOW_SELECT_CATEGORY_MSG</div>
<div class="message">$l10n.WORKFLOW_ADD_CATEGORY_MSG </div>
#else

#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.WORKFLOW_DO_REMOVE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.workflow_category.onReceiveMessage")
</div>
#AUIajaxpageview('WorkflowCategoryListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable auiMbTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="">
</colgroup>
<tbody>
<tr>
#ALtdhead("#ALswitchCheckbox()")
#ALtdhead("#ALajaxsort('category_name' $l10n.WORKFLOW_CLASSIFICATION_NAME $result 'WorkflowCategoryListScreen')")
#ALtdhead("#ALajaxsort('route_name' $l10n.WORKFLOW_APPLICATION_ROUTE_NAME $result 'WorkflowCategoryListScreen')")
</tr>
#foreach ($record in $result.List)
<tr>
#if($!{client}=="IPHONE")
#ALtdcellheaderAtt('align="center" class="auiMTCheck"')
<input name='check$!record.CategoryId' type='checkbox' value='$!record.CategoryId' />
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href='javascript:void(0);' onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowCategoryDetailScreen").addQueryData("entityid",$record.CategoryId))');">
$!record.CategoryName</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
#if($!record.HasRouteName)
	$!record.RouteName
#end
</div>
#ALtdcellfooter()
#else
#if($!record.CategoryId.toString() == "1")
#ALtdcellAtt("<input type='checkbox' disabled='disabled' />" 'align="center"')
#else
#ALtdcellAtt("<input name='check$!record.CategoryId' type='checkbox' value='$!record.CategoryId'/>" 'align="center"')
#end
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowCategoryDetailScreen").addQueryData("entityid",$record.CategoryId))');">$!record.CategoryName</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
#if($!record.HasRouteName)
$!record.RouteName
#end
</div>
#ALtdcellfooter()
#end
</tr>
#end
</tbody>
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.WORKFLOW_DO_REMOVE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.workflow_category.onReceiveMessage")
</div>
#AUIajaxpageview('WorkflowCategoryListScreen' $result)
#AUISummaryDivfooter()

#end
#ALformfooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#else
#AUIwideAreaFooter()
#end