#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
#AUIbuttonAction("$l10n.WORKFLOW_CREATE_REQUEST" "javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.workflow.onLoadWorkflowDialog);")
</div>

<div class="auiWidget clearfix">

<ul>
<li #if("$!result.currentTab" == 'unconfirmed')class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "requested").addQueryData("filtertype","category").addQueryData("filter","$!result.CurrentFilter").addQueryData("reset_params","true").addQueryData("tab","unconfirmed"))','$!portlet.ID');">$l10n.WORKFLOW_RECEIVED_REQUEST</a></li>
</ul>

<ul>
<li #if(("$!result.currentTab" == 'unfinished'))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","$!result.CurrentFilter").addQueryData("reset_params","true").addQueryData("tab","unfinished"))','$!portlet.ID');">$l10n.WORKFLOW_TRANSMITED_REQUEST</a></li>
</ul>
#if($!result.hasAuthorityOther())
<ul>
<li #if((!($!result.currentTab)||$!result.currentTab == 'alldisplay'))class="active"#end>
<a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","$!result.CurrentFilter").addQueryData("eventSubmit_doWorkflow_list_all","1").addQueryData("reset_params","true").addQueryData("tab","alldisplay"))','$!portlet.ID');">$l10n.WORKFLOW_ALL_REQUEST</a></li>
</ul>
#end

</div>

</div>

