#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardTopicFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardCategoryFormScreen").addQueryData("entityid","new")))
#set ($submenulist = [[$l10n.MSGBOARD_ADD_TOPIC,"javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.msgboard.onLoadMsgboardDialog);","images/icon/icon_add.gif"], [$l10n.MSGBOARD_CATEGORY_ADD,"javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.msgboard.onLoadCategoryDialog);","images/icon/icon_add.gif"]])
#set ($tabs = [[$l10n.MSGBOARD_CATEGORY_LIST, "",""]])
#set ($indicator_id = "indicator-list-")

#set ($categoryList = $result.List)
#set ($categoryEtc = true) ## msgboard-widgets.vmでのカテゴリ表示の判断用
## ---------------------------------------------------------------------------
#macro(MsgboardajaxbuttonCheckboxDelete $name $url $indicator_id $portlet_id $rt)
<input name="ajaxbuttonCheckboxDelete" class="button" type="button" value="$name" onclick="aipo.msgboard.ajaxCheckboxDeleteSubmit(this, '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $rt);" />
#end
## ---------------------------------------------------------------------------
<div id="auiContentsArea">
<div id="auiContentsAreaInner">
<h2>$l10n.MSGBOARD_MANAGEMENT</h2>
#if($result.List.size() > 0)
<div class="auiSummaryMeta clearfix"><p>
#AUIbuttonAction("$l10n.MSGBOARD_CATEGORY_ADD" "javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.msgboard.onLoadCategoryDialog);")
</p></div>
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="listmessageDiv"></div>
#ALformheaderAction($l10n.MSGBOARD_PORTLET_CATEGORY $jslink $portlet)
#end
#if($result.List.size() <= 0)
#AUIbuttonActionInBlankBox($l10n.MSGBOARD_CATEGORY_ADD "javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.msgboard.onLoadCategoryDialog);")
#else
<div class="auiSummaryMeta clearfix">
#AUIajaxpageview('MsgboardCategoryListScreen' $result)
</div>
#AUIrowTableWide()
<tr>
#ALtdheadW75("#ALajaxsort('category_name' $l10n.MSGBOARD_CATEGORY_NAME $result 'MsgboardCategoryListScreen')")
#ALtdheadW25Class("#ALajaxsort('create_user' $l10n.MSGBOARD_CREATE_USER_NAME $result 'MsgboardCategoryListScreen')" "mb_hide")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardCategoryDetailScreen").addQueryData("entityid",$record.CategoryId))');">$!record.CategoryName</a>
#if(! ${record.isPublic()})
<img src="images/msgboard/msgboard_secret.gif" border="0" width="16" height="16" align="absmiddle" alt="$l10n.MSGBOARD_CLOSE_PUBLIC" title="$l10n.MSGBOARD_CLOSE_PUBLIC">
#end
</div>
#ALtdcellfooter()
#ALtdcellAtt("$!{record.OwnerName}" "class='mb_hide'")
</tr>
#end
#AUItablefooter()

<div class="auiSummaryMeta clearfix">
#AUIajaxpageview('MsgboardCategoryListScreen' $result)
</div>
#end
#ALformfooter()
</div>
</div>
#parse("/portlets/html/ja/msgboard-category-widgets.vm")