#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardTopicFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardCategoryFormScreen").addQueryData("entityid","new")))
#set ($categoryUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_category_list','1')))
#set ($submenulist = [[$l10n.MSGBOARD_ADD_TOPIC,"javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.msgboard.onLoadMsgboardDialog);","images/icon/icon_add.gif"], [$l10n.MSGBOARD_CATEGORY_ADD,"javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.msgboard.onLoadCategoryDialog);","images/icon/icon_add.gif"]])
#set ($tabs = [[$l10n.MSGBOARD_TOPIC_LIST, "",""]])
#set ($indicator_id = "indicator-list-")

#set ($categoryList = $result.CategoryList)
#set ($categoryEtc = false) ## msgboard-widgets.vmでのカテゴリ表示の判断用
## ---------------------------------------------------------------------------
<!-- Start Contents Area -->
#AUIcontentsAreaHeader()
<div class="auiSummaryMeta auiFilter clearfix">
<form class="auiSearch" style="margin-right:1em;" id="searchForm_$!{portlet.ID}" action="$!jslink.getPortletById($!portlet.ID)" onsubmit='aimluck.io.postViewPage(this, "$!{portlet.ID}", "search-${indicator_id}"); return false;'>
<div class="filterInputField">
<input type="hidden" name="baseuri_$!{portlet.ID}" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardTopicListScreen")' />
<input type="hidden" name="template" value="MsgboardTopicListScreen"/>

<div class="filters" id="filters_$!portlet.ID">#*
*##if("$!result.PostName"!="")#*
	*#<span class="filterTip">#*
		*#<span>$!result.PostName</span>#*
		*#<a href="javascript:void(0);" class="btn" onclick='aipo.msgboard.filterSetDefault("$!portlet.ID","post");'><i class="auiIcon auiIconDelete"></i></a>#*
	*#</span>#*
*##end#*
*##if("$!result.CategoryName"!="")#*
	*#<span class="filterTip">#*
		*#<span>$!result.CategoryName</span>#*
		*#<a href="javascript:void(0);" class="btn" onclick='aipo.msgboard.filterSetDefault("$!portlet.ID","category");'><i class="auiIcon auiIconDelete"></i></a>#*
	*#</span>#*
*##end#*
*#</div>

<a href="javascript:void(0);" id="filter_drawer_$!portlet.ID" class="filterDropDrawer menubarOpenButton" onclick='aipo.msgboard.toggleMenu(dojo.byId("menubar_auiFilter_$!portlet.ID"),dojo.byId("filters_$!portlet.ID"),true);' title="フィルタ"><i class="auiIcon auiIconArwBottom"></i></a>
<input class="text" type="text" name="keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" style="width:480px;" onfocus='aipo.msgboard.initFilterSearch("$!portlet.ID");' onblur='aipo.msgboard.finFilterSearch("$!portlet.ID");' />
</div>
<a href="javascript:void(0);" class="auiButtonSearch" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit(); return false;">$l10n.MSGBOARD_SEARCH</a>
</form>

<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!{portlet.ID}" "&nbsp;")</div>
</div>
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('Msgboard')
#if($result.List.size() == 0)
<div class="message">$l10n.MSGBOARD_NOTHING_TOPIC</div>
#else
<div class="auiSummaryMeta clearfix">
#AUIsearchresult($!result.targetKeyword.toString())
#AUIajaxpageview('MsgboardTopicListScreen' $result)
</div>
#AUIrowTableWide()
<tr>
#ALtdhead("#ALajaxsort('topic_name' $l10n.MSGBOARD_TITLE $result 'MsgboardTopicListScreen')")
#ALtdheadAtt("#ALajaxsort('category_name' $l10n.MSGBOARD_PORTLET_CATEGORY $result 'MsgboardTopicListScreen')" 'class="mb_hide" style="width:10em"')
#ALtdheadAtt("#ALajaxsort('owner_name' $l10n.MSGBOARD_CREATE_USER_NAME $result 'MsgboardTopicListScreen')" 'class="mb_hide" style="width:8em"')
#ALtdheadAtt("#ALajaxsort('update_date' $l10n.MSGBOARD_UPDATE_DATE $result 'MsgboardTopicListScreen')" 'style="width:6em"')
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MsgboardTopicDetailScreen").addQueryData("entityid",$record.TopicId))','$!portlet.ID',aipo.msgboard.onLoadMsgboardDialog);">$!record.TopicName  #if($record.ReplyCount.toString() != "0")（$record.ReplyCount）#end</a>
</div>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="mb_hide"')
<div>
$!record.CategoryName
#if(! ${record.isPublic()})
<img class="img_icon" src="images/msgboard/msgboard_secret.gif" alt="$l10n.MSGBOARD_CLOSE_PUBLIC" title="$l10n.MSGBOARD_CLOSE_PUBLIC" />
#end
</div>
</td>
#ALtdcellAtt("$!{record.OwnerName}" 'class="mb_hide" nowrap="nowrap"')
#ALtdcellAtt("$!{record.UpdateDate}" 'class="right" nowrap="nowrap"')
</tr>
#end
#AUItablefooter()
<div class="auiSummaryMeta clearfix">
#AUIajaxpageview('MsgboardTopicListScreen' $result)
</div>
#end

#ALformfooter()

<img src="images/common/dot.gif" width="1" height="1" onload='dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' />
<div class="menubar multi " id="menubar_auiFilter_$!portlet.ID" style="width:260px; display:none;">
  <div>
    <p class="caption">グループ</p>
    <ul class="filtertype filtertype_$!portlet.ID" data-type="post" data-defaultparam="0">
      <li data-param="0" #if("$!result.postId"==""||"$!result.postId"=="0") class="selected" #end><a href="javascript:void(0);" #if("$!result.postId"==""||"$!result.postId"=="0") class="selected" #end onclick='aipo.msgboard.filterClick("$!portlet.ID",this,event)'>すべてのグループ</a></li>
    #foreach($record in $result.postList)
      <li data-param="$!record.Name" #if("$!result.postId"=="$!record.Name") class="selected" #end><a href="javascript:void(0);" #if("$!result.postId"=="$!record.Name") class="selected" #end onclick='aipo.msgboard.filterClick("$!portlet.ID",this,event)'>$!{record.AliasName}</a></li>
    #end
    #foreach($record in $result.PostMap)
      <li data-param="$!record.GroupName" #if("$!result.postId"=="$!record.GroupName") class="selected" #end><a href="javascript:void(0);" #if("$!result.postId"=="$!record.GroupName") class="selected" #end onclick='aipo.msgboard.filterClick("$!portlet.ID",this,event)'>$!{record.PostName}</a></li>
    #end
    </ul>
  </div>
  <div>
    <p class="caption">カテゴリ</p>
    <ul class="filtertype filtertype_$!portlet.ID" data-type="category" data-defaultparam="0">
      <li data-param="0" #if("$!result.CategoryId"==""||"$!result.CategoryId"=="0") class="selected" #end><a href="javascript:void(0);" #if("$!result.CategoryId"==""||"$!result.CategoryId"=="0") class="selected" #end onclick='aipo.msgboard.filterClick("$!portlet.ID",this,event)'>すべてのカテゴリ</a></li>
    #foreach($record in $result.CategoryList)
      <li data-param="$!record.CategoryId" #if("$!result.CategoryId"=="$!record.CategoryId") class="selected" #end><a href="javascript:void(0);" #if("$!result.CategoryId"=="$!record.CategoryId") class="selected" #end onclick='aipo.msgboard.filterClick("$!portlet.ID",this,event)'>$!{record.CategoryName}</a></li>
    #end
    </ul>
  </div>
</div>

#AUIcontentsAreaFooter()
<!-- END Contents Area -->



#parse("/portlets/html/ja/msgboard-widgets.vm")