#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [[$l10n.EXTTIMECARD_WORKTIME_SETTING, "",""]])
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS_DETAIL "aipo.exttimecardsystem.hideDialog()")
#ALspacebothheader()
#ALformheader('ExtTimecardSettings' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaption($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS)
#ALtditemheader()
$!{result.Detail.SystemName}
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_WORKTIME)
#ALtditemheader()
${result.Detail.Span}
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_START_DAY)
#ALtditemheader()
${result.Detail.StartDay}$l10n.EXTTIMECARD_DAY
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_RESTTIME)
#ALtditemheader()
<h3 class="mb5">$l10n.EXTTIMECARD_WORKTIME_IN</h3><p>$!{result.Detail.WorkTimeInRestTimeInText}</p>
<h3 class="mb5">$l10n.EXTTIMECARD_WORKTIME_OUT</h3><p>$!{result.Detail.WorkTimeOutRestTimeOutText}</p>
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_CHANGE_HOUR)
#ALtditemheader()
<div class="spaceTop">$!{result.Detail.ChangeHour}$l10n.EXTTIMECARD_CHANGE_HOUR_DETAIL</div>
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_OUTGOINGTIME)
#ALtditemheader()
#if($result.Detail.OutgoingAddFlag == "T")
	$l10n.EXTTIMECARD_ADD_OUTGOINGTIME
#else
	$l10n.EXTTIMECARD_DONT_ADD_OUTGOINGTIME
#end
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#if($!{result.PortletName} == "ExtTimecardSystem")
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardSystemFormScreen').addQueryData('entityid',$entityid)")
#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
#ALdialogfooter()
