#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($s = '"')
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#if($result.DateListKeys.size() == 0)
<div class="message">$l10n.EXTTIMECARD_NO_TIMECARD_MESSAGE</div>
#else
#ALajaxscreenformheader("exttimecardForm" $jslink $portlet "ExtTimecardFormJSONScreen" "aimluck.io.submit(this, '','$!portlet.ID',aipo.exttimecard.onListReceiveMessage)")
#if($!result.TargetUserId != "")
<div class="auiSummaryMeta clearfix">
<div class="auiSelectButton floatLeft">
<ul class="floatLeft">
<li style="margin-right:10px;"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_CURRENT_MONTH" class="btn" style="width:4em;"><span>$l10n.EXTTIMECARD_CURRENT_MONTH</span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_PREV_MONTH" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
<li><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_NEXT_MONTH" class="last arrow"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
</ul>
</div>
<div class="count"><strong>$!{result.ViewMonthYearMonthText}</strong></div>
#if($!result.hasAclXlsExport())
<div class="floatRight">
#set($dlLink = $!utils.escapeXML($jslink.getTemplate('ExtTimecardXlsExportScreen').addPathInfo('target_user_id', "$!result.TargetUserId").addPathInfo('view_month', "$!result.ViewMonth").addPathInfo("f", "timecard.xls")))
#AUIbutton($l10n.EXTTIMECARD_DOWNLOAD_DISPLAY_LIST $dlLink)
</div>
#end
</div>
<div class="auiSummaryMeta">
<div class="auiForm">
<select name="target_group_name_list" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" class="mw49">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name","all").addQueryData("target_user_id","none"))">$l10n.EXTTIMECARD_ALL_GROUP</option>
#foreach( $record in $!result.MyGroupList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name",$!{record.Name.toString()}).addQueryData("target_user_id","none"))" #if($!result.TargetGroupName == $!record.Name.toString()) selected="selected" #end>$!record.AliasName</option>
#end
#if(($result.MyGroupList.size() > 0) && ($result.PostMap.size() > 0))
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name","all").addQueryData("target_user_id", "none"))">----------</option>
#end
#foreach( $record in $!result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name",$!{record.GroupName.toString()}).addQueryData("target_user_id", "none"))" #if($!result.TargetGroupName == $!record.GroupName.toString()) selected="selected" #end>$!record.PostName</option>
#end
</select>
<select name="target_user_id" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" class="mw49">
#foreach($record in $!result.Users)
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name",$!{result.TargetGroupName}).addQueryData("target_user_id",$!{record.UserId.toString()}))" #if($!result.TargetUserId != "all") #if($!result.TargetUserId == $!record.UserId.toString()) selected="selected" #end #end>$!record.AliasName</option>
#end
</select>
</div>
</div>
#if($!result.TargetUserId == $!result.UserId)
#set($col_count = 5)
#else
#set($col_count = 4)
#end
#AUIrowTableWide()
<tr>
#ALtdheadAtt($l10n.EXTTIMECARD_DATE "class='thin center'")
#ALtdheadAtt($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS "class='thin mb_hide center'")
#ALtdheadAtt($l10n.EXTTIMECARD_PUNCH_IN "class='thin center'")
#ALtdheadAtt($l10n.EXTTIMECARD_PUNCH_OUT "class='thin center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OUTGOING "class='thin center'")
#ALtdheadAtt($l10n.EXTTIMECARD_COMEBACK "class='thin center'")
#ALtdheadAtt($l10n.EXTTIMECARD_WORK_DAY "class='thin mb_hide center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OVERTIME_DAY "class='thin mb_hide center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OFF_DAY "class='thin mb_hide center'")
#ALtdheadAtt($l10n.EXTTIMECARD_REASON_REMARKS "class='wide mb_hide center'")
</tr>

#foreach ($rdlist in $result.DateListKeys)
#set($isrd = $rdlist.IsResultData)
#if($isrd)
#set($rd = $rdlist.Rd)
#else
#set($rd = "")
#end

#set($outcomes = $rdlist.OutgoingComeback)
#set($listsize = $outcomes.size())
#set($saturday_sunday_holiday = $rdlist.IsSaturdayOrSundayOrHoliday)
#set($beforeafter = $rdlist.BeforeAfter)
#set($entityid = "")
#if($isrd)
#set($entityid = $rd.TimecardId.toString())
#else
#set($entityid = "new")
#end
#set($class = "")
#if($saturday_sunday_holiday == 1)
#set($class = "saturday")
#elseif($saturday_sunday_holiday == 2)
#set($class = "sunday")
#elseif($saturday_sunday_holiday == 3)
#set($class = "holiday")
#end
#if($beforeafter == 0)
#set($class = "today")
#end

<tr class="$class">
#ALtdcellheaderAtt("class='day'")

#set($formLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date))
#set($formLink_ins = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date).addQueryData('userid', "$!result.TargetUserId"))
#if($!result.TargetUserId == $!result.UserId)
  <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($formLink)', '$!portlet.ID', 'aipo.exttimecard.onLoadExtTimecardDialog')" >$rdlist.DateStr</a>
#elseif($!result.hasAclUpdate() && "$entityid" != "new")
  <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($formLink)', '$!portlet.ID', 'aipo.exttimecard.onLoadExtTimecardDialog')" >$rdlist.DateStr</a>
#elseif($!result.hasAclInsert() && "$entityid" == "new")
  <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($formLink_ins)', '$!portlet.ID', 'aipo.exttimecard.onLoadExtTimecardDialog')" >$rdlist.DateStr</a>
#else
  $rdlist.DateStr
#end
#ALtdcellfooter()

#ALtdcellheaderAtt('align="center" class="mb_hide"')
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSystemDetailScreen").addQueryData("entityid",$result.TimecardSystem.SystemId))');">$!utils.escapeXML($result.TimecardSystem.SystemName)</a>
#ALtdcellfooter()

#if($beforeafter > 0)

  #if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE} || $!{rd.IsTypeP})
    <td nowrap='nowrap' align='center' colspan='7' class="$class">
    #if($!{rd.IsTypeA})
$l10n.EXTTIMECARD_ABSENT_DAY
    #elseif($!{rd.IsTypeH})
$l10n.EXTTIMECARD_PAID_HOLIDAY
    #elseif($!{rd.IsTypeC})
$l10n.EXTTIMECARD_COMPENSATORY_HOLIDAY
    #elseif($!{rd.IsTypeE})
$l10n.EXTTIMECARD_OTHER
    #elseif($!{rd.IsTypeP})
$l10n.EXTTIMECARD_PUNCH_IN
    #end
    </td>
  #else
    #ALtdcellAtt(" " "")
    #ALtdcellAtt(" " "")
    #ALtdcellAtt(" " "")
    #ALtdcellAtt(" " "")
    #ALtdcellAtt(" " " class='mb_hide'")
    #ALtdcellAtt(" " " class='mb_hide'")
    #ALtdcellAtt(" " " class='mb_hide'")
  #end

  <td class='mb_hide'>
  #if($!{rd.ReasonFlg})
$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
    #if($!{rd.RemarksFlg})
	、
    #end
  #end
  #if($!{rd.RemarksFlg})
$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
  #end
  </td>

#else

#if($!{rd.IsTypeA} || $!{rd.IsTypeH} || $!{rd.IsTypeC} || $!{rd.IsTypeE})
  <td nowrap='nowrap' align='center' colspan='7' class="$class">
  #if($!{rd.IsTypeA})
      $l10n.EXTTIMECARD_ABSENT_DAY
  #elseif($!{rd.IsTypeH})
      $l10n.EXTTIMECARD_PAID_HOLIDAY
  #elseif($!{rd.IsTypeC})
      $l10n.EXTTIMECARD_COMPENSATORY_HOLIDAY
  #elseif($!{rd.IsTypeE})
      $l10n.EXTTIMECARD_OTHER
  #end
  </td>
  <td class='mb_hide'>
  #if($!{rd.ReasonFlg})
$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
    #if($!{rd.RemarksFlg})
	、
    #end
  #end
  #if($!{rd.RemarksFlg})
$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
  #end
  </td>

#else
  #if($rdlist.IsNotNullClockInTime)
        #ALtdcellAtt("$!{rd.ClockInTimeHourMinuteText}" "nowrap='nowrap' align='center'")
  #else
    ###if($saturday_sunday_holiday == 0)
      #if($!result.TargetUserId == $!result.UserId)
        #if($class == "today")
          <td nowrap="nowrap" align="center"><input type="button" value="$l10n.EXTTIMECARD_PUNCH_IN" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '$l10n.EXTTIMECARD_PUNCH_IN');dojo.byId('form$!portlet.ID').onsubmit();" /></td>
        #else
          #ALtdcellAtt("#AUIajaxbuttonLinkCallbackBoldInput($l10n.EXTTIMECARD_NOT_INPUT $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap'")
        #end
      #else
        #ALtdcellAtt('' "")
      #end
    ###else
      ###ALtdcellAtt("" "nowrap='nowrap' align='center'")
    ###end
  #end

  #if($rdlist.IsNotNullClockOutTime)
    #ALtdcellAtt("$!{rd.ClockOutTimeHourMinuteText}" "nowrap='nowrap' align='center' ")
  #else
    ###if($saturday_sunday_holiday == 0)
      #if($!result.TargetUserId == $!result.UserId)
        #if($class == "today")
          #set($q = '"')
          #if($rdlist.IsNotNullClockInTime)
            #if($rdlist.IsClockOverTime)
              #set($leaving = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_PUNCH_OUT${q} class=${q}auiButtonAction${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();${q} />")
            #else
              #set($leaving = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_PUNCH_OUT${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();${q} />")
            #end
          #else
              #set($leaving = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_PUNCH_OUT</span>")
          #end
        #else
          #ALtdcellAtt("#AUIajaxbuttonLinkCallbackBoldInput($l10n.EXTTIMECARD_NOT_INPUT $!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardFormScreen').addQueryData('eventSubmit_doExtTimecard_form','1').addQueryData('entityid', $entityid).addQueryData('date', $rdlist.Date) $!portlet.ID 'aipo.exttimecard.onLoadExtTimecardDialog')" "nowrap='nowrap'")
        #end
      #else
        #ALtdcellAtt('' "")
      #end
    ###else
      ###ALtdcellAtt("" "nowrap='nowrap' align='center'")
    ###end
  #end

  #set($first = 0)
  #set($isOutgoing = 0)
  #set($outgoings = "")
  #set($comebacks = "")
  #foreach ($outcome in $outcomes)
    #if($first == 0)
      #if($class == "today" && $!result.TargetUserId == $!result.UserId && !($rdlist.IsNotNullClockOutTime))
        #if($outcome.get('outgoing') != "")
          #set($isOutgoing = 1)
          #set($outgoings = "$outcome.get('outgoing')")
		#end
        #if($outcome.get('comeback') != "")
          #set($isOutgoing = 0)
          #set($comebacks = "$outcome.get('comeback')")
        #end
      #else
        #set($outgoings = $outcome.get('outgoing'))
        #set($comebacks = $outcome.get('comeback'))
      #end
      #set($first = 1)
    #else
      #set($outgoings = "$outgoings<br>$outcome.get('outgoing')")
      #if($outcome.get('comeback') == "") ##復帰時間が記録されていない <=> 外出中である
		#set($isOutgoing = 1)
      #else
        #set($isOutgoing = 0)
        #set($comebacks = "$comebacks<br>$outcome.get('comeback')")
      #end
    #end
  #end

  ##今日である＆＆そのユーザーである
  #if($class == "today" && $!result.TargetUserId == $!result.UserId)
  	##退勤ボタンの出力
  	#if($isOutgoing == 1)
	  #set($leaving = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_PUNCH_OUT</span>")
	#end
	#if(!($rdlist.IsNotNullClockOutTime)) ## 退勤ボタンが押されていないならボタンを出力
	  #ALtdcellAtt($leaving "align='center' nowrap='nowrap'")
	#end

  	#if(!($rdlist.IsNotNullClockInTime)) ## 出勤ボタンが押されていない
  	  <td nowrap="nowrap" align="center"><span class="auiButtonDisabled">$l10n.EXTTIMECARD_OUTGOING</span></td>
  	  <td nowrap="nowrap" align="center"><span class="auiButtonDisabled">$l10n.EXTTIMECARD_COMEBACK</span></td>
  	#else
  	  #if(!($rdlist.IsNotNullClockOutTime)) ## 退勤ボタンが押されていない
  	  	#set($q = '"')
  	    #if($isOutgoing == 0) ## 外出していない
  	      #if($outgoings == "") ##一番最初だけ２つ（外出・復帰）とも表示
            #set($outgoings = "<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_OUTGOING${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_OUTGOING');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
			#set($comebacks = "<span class='auiButtonDisabled'>$l10n.EXTTIMECARD_COMEBACK</span>")
      	  #else
  	        #set($outgoings = "$outgoings<br><input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_OUTGOING${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_OUTGOING');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
  	      #end
  	    #else
  	      #if($comebacks != "") ##一番最初以外は改行が必要
  	        #set($comebacks = "$comebacks<br>")
      	  #end
		  #set($comebacks = "$comebacks<input type=${q}button${q} value=${q}$l10n.EXTTIMECARD_COMEBACK${q} class=${q}auiButtonBold${q} onclick=${q}aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'comeback');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_COMEBACK');dojo.byId('form$!portlet.ID').onsubmit();${q}>")
  	    #end
  	  #end
	#end
  #end

  #if($rdlist.IsNotNullClockInTime || $class != "today" || $!result.TargetUserId != $!result.UserId)
    #ALtdcellAtt($outgoings "align='center' nowrap='nowrap'")
    #ALtdcellAtt($comebacks "align='center' nowrap='nowrap' ")
  #end

  #ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getWorkHourWithoutRestHour(true)})}" "class='mb_hide' align='center'")
  #ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOvertimeHourWithoutRestHour(true)})}" "class='mb_hide' align='center'")
  #ALtdcellAtt("$!{rdlist.getHourToString($!{rdlist.getOffHour(true)})}" "class='mb_hide' align='center'")

  <td class='mb_hide'>
  #if($!{rd.ReasonFlg})
$l10n.EXTTIMECARD_REASON：$!{rd.Reason}
    #if($!{rd.RemarksFlg})
  	、
    #end
  #end
  #if($!{rd.RemarksFlg})
$l10n.EXTTIMECARD_REMARKS：$!{rd.Remarks}
  #end
  </td>
#end

#end
</tr>

#end
#AUItablefooter()

#else
<div class="auiSummaryMeta">
<div class="auiForm">
<select name="target_group_name_list" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" class="mw49">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name","all").addQueryData("target_user_id","none"))">$l10n.EXTTIMECARD_ALL_GROUP</option>
#foreach( $record in $!result.MyGroupList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name",$!{record.Name.toString()}).addQueryData("target_user_id","none"))" #if($!result.TargetGroupName == $!record.Name.toString()) selected="selected" #end>$!record.AliasName</option>
#end
#if(($result.MyGroupList.size() > 0) && ($result.PostMap.size() > 0))
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name","all").addQueryData("target_user_id", "none"))">----------</option>
#end
#foreach( $record in $!result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardListScreen").addQueryData("target_group_name",$!{record.GroupName.toString()}).addQueryData("target_user_id", "none"))" #if($!result.TargetGroupName == $!record.GroupName.toString()) selected="selected" #end>$!record.PostName</option>
#end
</select>
</div>
</div>
<div class="message">$l10n.EXTTIMECARD_NO_USER_IN_THIS_GROUP</div>
#end


#end
#ALformfooter()
#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/exttimecard-widget.vm")
