#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [[$l10n.EXTTIMECARD_WORKTIME_SETTING, "",""]])
## ---------------------------------------------------------------------------
#ALajaxtabheader($tabs "")
#ALspacebothheader()
#ALformheader('ExtTimecardSettings' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaption($l10n.EXTTIMECARD_WORKTIME)
#ALtditemheader()
$!{result.Detail.StartTime}&nbsp;-&nbsp;$!{result.Detail.EndTime}
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_RESTTIME)
#ALtditemheader()
<h3>$l10n.EXTTIMECARD_WORKTIME_IN</h3>$!{result.Detail.WorkTimeInRestTimeInText}<br />
<h3>$l10n.EXTTIMECARD_WORKTIME_OUT</h3>$!{result.Detail.WorkTimeOutRestTimeOutText}
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardSettingsFormScreen')")
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
