#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#ALajaxIndicator("$!indicator_id" "$!{portlet.ID}" "")
<div id="exttimecardmessageDiv"></div>
#ALajaxscreenformheader("exttimecardForm" $jslink $portlet "ExtTimecardFormJSONScreen" "aimluck.io.submit(this, '$!indicator_id','$!portlet.ID',aipo.exttimecard.onListReceiveMessage)")
#ALtableheaderAtt("wide")
<tr>

#if($!{result.Detail.IsTypeA}||$!{result.Detail.IsTypeH}||$!{result.Detail.IsTypeC})
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_PUNCH_IN</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_PUNCH_OUT</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_OUTGOING</span>
</td>
<td nowrap="nowrap" class="w25 center">
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_COMEBACK</span>
</td>
#else

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")
#if (!$!{result.Detail})
<input type="button" value="$l10n.EXTTIMECARD_PUNCH_IN" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '$l10n.EXTTIMECARD_PUNCH_IN');dojo.byId('form$!portlet.ID').onsubmit();"/>
#else

#if (!($!{result.Detail.IsNullClockInTime}))
出勤<br />$!{result.Detail.ClockInTime.Time}
#else
#if (!$!{result.Detail.IsNullClockOutTime})
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_PUNCH_IN</span>
#else
<input type="button" value="$l10n.EXTTIMECARD_PUNCH_IN" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchin');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchin', '$l10n.EXTTIMECARD_PUNCH_IN');dojo.byId('form$!portlet.ID').onsubmit();" />
#end
#end

#end

#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")

#if ($!{result.Detail} && !($!{result.Detail.IsNullClockInTime})) ##出勤している
  #if ($!{result.Detail} && !($!{result.Detail.IsNullClockOutTime}))
    $l10n.EXTTIMECARD_PUNCH_OUT<br />$!{result.Detail.ClockOutTime.Time}
  #else
    #if ($!{result.Detail.IsOutgoing}) ## 外出中である
      <span class="auiButtonDisabled">$l10n.EXTTIMECARD_PUNCH_OUT</span>
    #else
      #if($!{result.Detail.IsOverTime})
        <input type="button" value="$l10n.EXTTIMECARD_PUNCH_OUT" class="auiButtonAction" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();"/>
      #else
        <input type="button" value="$l10n.EXTTIMECARD_PUNCH_OUT" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'punchout');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'punchout', '$l10n.EXTTIMECARD_PUNCH_OUT');dojo.byId('form$!portlet.ID').onsubmit();"/>
      #end
    #end
  #end
#else
  <span class="auiButtonDisabled">$l10n.EXTTIMECARD_PUNCH_OUT</span>
#end
#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")
#if(!$!{result.Detail} || !($!{result.Detail.IsNullClockOutTime})) ## 出勤してない || 退勤後である
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_OUTGOING</span>
#else
#if($!{result.Detail.IsOutgoing}) ##外出中である
$l10n.EXTTIMECARD_OUTGOING<br />$!{result.Detail.OutgoingTime.Time}
#else
<input type="button" value="$l10n.EXTTIMECARD_OUTGOING" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'outgoing');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_OUTGOING');dojo.byId('form$!portlet.ID').onsubmit();"/>
#end
#end
#ALtdcellfooter()

#ALtdcellheaderAtt("nowrap='nowrap' class='w25 center'")
#if(!$!{result.Detail} || !($!{result.Detail.IsNullClockOutTime}) || !($!{result.Detail.IsOutgoing}))## 出勤してない || 退勤後である || 外出中でない
<span class="auiButtonDisabled">$l10n.EXTTIMECARD_COMEBACK</span>
#else
<input type="button" value="$l10n.EXTTIMECARD_COMEBACK" class="auiButtonBold" onclick="aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'mode', 'comeback');aipo.exttimecard.addHiddenValue(dojo.byId('form$!portlet.ID'), 'outgoing', '$l10n.EXTTIMECARD_COMEBACK');dojo.byId('form$!portlet.ID').onsubmit();"/>
#end

#ALtdcellfooter()
#end
</tr>
#ALtablefooter()
#ALformfooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end