#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'wm')
#ALcell_pagetitle_iphone($career "メール詳細")
#if($!result.currentTab == "received_mailbox")
#set($pagetitle = "受信トレイ")
#set($person = "差出人")
#set($person_value = "$!{result.Detail.From}")
#else
#set($pagetitle = "送信トレイ")
#set($person = "宛先")
#set($person_value = "$!{result.Detail.To}")
#end
#set($methodlist = [["メール返信", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '1')"], ["メール転送", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '2')"]])
#set($linklist = [["アカウント一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_accountlist-max','1')"],["送信トレイへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1')"],["メール作成", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1')"]])

#ALcell_pagetitle_iphone($pagetitle)
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

<dl class="detail">
<dt>件名</dt>
<dd>$!{result.Detail.Subject}</dd>
<dt>受信日</dt>
<dd>$!{result.Detail.Date.Year}年$!{result.Detail.Date.Month}月$!{result.Detail.Date.Day}日 $!{result.Detail.Date.Hour}時$!{result.Detail.Date.Minute}分</dd>
<dt>$person</dt>
<dd>$person_value</dd>
</dl>
<br>
$!{result.Detail.Body}<br>
<div class="navi">
#foreach($link in $methodlist)
<a href="$link.get(1)" class="btn">$link.get(0)</a>
#end
#ALcell_contents_footer($career)


#ALcell_linklist_iphone($career $linklist)
