#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($linklist = [["$l10n.WORKFLOW_GO_WORKFLOW", "$!jslink.getPortletById($!portlet.ID).addQueryData('mode','menu')"], ["$l10n.WORKFLOW_GO_CONFIRMATION_REQUEST_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('mode','list')"]])
#ALcell_pagetitle_iphone($career "$l10n.WORKFLOW_WORKFLOW_DETAILS")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)
#ALcell_formheader($career $jslink $portlet)
#ALtableheaderBorder("1")
#if($!result.Detail.Progress.Value == "D")
#ALthtd('' "$l10n.WORKFLOW_NEED_TO_CHECK_PASSBACK")
#else
#if($!result.Detail.Progress.Value == "A")
#ALthtd("$l10n.WORKFLOW_FLOW_STATUS" "$l10n.WORKFLOW_CONFIRMED")
#else
#ALthtd("$l10n.WORKFLOW_FLOW_STATUS" "$l10n.WORKFLOW_WAITING_DECISION")
#end
#end
#ALthtd("$l10n.WORKFLOW_CLASSIFICATION" "$!{result.Detail.CategoryName}")
#if($!result.Detail.RequestName != '')
#ALthtd("$l10n.WORKFLOW_REQUEST_NAME" "$!result.Detail.RequestName")
#end
#ALthtd("$l10n.WORKFLOW_POSTING_DAY" "$!result.Detail.CreateDate")
#ALthtd("$l10n.WORKFLOW_CREATEDATE" "$!result.Detail.CreateDate")
#ALthtd("$l10n.WORKFLOW_PRIORITY_VALUE" "$!result.Detail.PriorityString")
#ALthtd("$l10n.WORKFLOW_ACCESS_TO" $!result.Detail.Note)
##ALthtd("$l10n.WORKFLOW_OF_MONEY" "$!{result.Detail.PriceStr}&nbsp;$l10n.WORKFLOW_YEN")
#if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
<tr><th>$l10n.WORKFLOW_ATTACHMENT</th>
<td>
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
	<a href="$jslink.getTemplate("WorkflowFileRawScreen").addQueryData("attachmentIndex", $attachmentFile.FileId).addQueryData("ownerid", $!{result.Detail.UserId}).addQueryData("entityid", $!result.Detail.RequestId)">$!{attachmentFile.FileName}</a><br />
#end
</td></tr>
#end

#ALtablefooterBorder()
<input type="hidden" name="confirmusers" value="#foreach($record in $!{result.MemberList})$!{record.Name},#end"> ##メンバーリストの作成
#if($!result.Detail.UserId.Value == $!result.LoginUser.UserId.Value)
#ALcell_submit($career 'eventSubmit_doWorkflow_delete' $l10n.WORKFLOW_DO_REMOVE)
#end

#if($!result.Detail.OldRequestLinks.size() > 0)
<h3>$l10n.WORKFLOW_ACCESS_TO_PAST</h3>
<ul>
#set ($count = 1)
#foreach ($record in $!result.Detail.OldRequestLinks)
<li>
<a href="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('mode','detail').addQueryData('entityid',$record.RequestId).addQueryData('prvid',$!{result.PreviousID}))');">${count}${l10n.WORKFLOW_TH} $record.CategoryName #if($record.RequestName.toString() != '') &nbsp;&nbsp; $record.RequestName #end $record.UpdateDate</a>
</li>
#set ($count = $count + 1)
#end
</ul>
#end

<h3>$l10n.WORKFLOW_APPROVE_HISTORY</h3>
##$l10n.WORKFLOW_HEADERS
#set ($confirm_view_flg = true)
<ol>
#foreach ($record in $result.Detail.DecisionRecords)
#set($delimiter="")
#ALcell_li_header($career)
#if($!record.Status.Value == "C")
#if($confirm_view_flg)
$!{record.StatusString}
#end
#elseif($!record.Status.Value == "R" || $!record.Status.Value == "A" || $!record.Status.Value == "D")
$!{record.StatusString}
#set($delimiter="/")
#else
$l10n.WORKFLOW_UNCONFIRMED
#end
 / $!record.UserAliasName $delimiter
#if($!record.Status.Value == "R" || $!record.Status.Value == "A") $!{record.UpdateDate} #end
#if($confirm_view_flg && $!record.Status.Value == "C" && $!record.UserId.Value == $!result.LoginUser.UserId.Value)
#ALtextarea('comment' $!record.Note 10 40)
#ALcell_submit($career 'eventSubmit_doWorkflow_accept' $l10n.WORKFLOW_DO_APPROVE)
#ALselectpdheader("passback_order" "90%" "" )
<option value='0'>$l10n.WORKFLOW_APPLICANT</option>
#foreach ($record in $result.Detail.DecisionRecords)
  #if($!record.Status.Value == "A")
    <option value='$!record.Order'>$!record.UserAliasName</option>
  #end
#end
#ALselectfooter()
#ALcell_submit($career 'eventSubmit_doWorkflow_denial' $l10n.WORKFLOW_REFER_BACK)
#else
$!record.Note
#end
#ALcell_li_footer($career)
#if($!record.Status.Value == "C")
#set ($confirm_view_flg = false)
#end
#end
</ol>
#ALformfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
