${user_email}${message}

[決裁状況]
${progress}
${content}

[${serviceAlias}へのアクセス]
#if($enableAsp)
 ${globalurl}
#else
・社外
  ${globalurl}
・社内
  ${localurl}
#end

---------------------
${serviceAlias}