#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.ACCOUNT_POST_DETAIL)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader($l10n.ACCOUNT_POST)
#ALtableheaderWide()
#ALtdcaption($l10n.ACCOUNT_POST_NAME)
#ALtditem($!result.Detail.PostName)
#ALtdcaption($l10n.ACCOUNT_ZIPCODE)
#ALtditem($!result.Detail.Zipcode)
#ALtdcaption($l10n.ACCOUNT_ADDRESS)
#ALtditem($!result.Detail.Address)
#ALtdcaption($l10n.ACCOUNT_OUT_TELEPHONE)
#ALtditem($!result.Detail.OutTelephone)
#ALtdcaption($l10n.ACCOUNT_IN_TELEPHONE)
#ALtditem($!result.Detail.InTelephone)
#ALtdcaption($l10n.ACCOUNT_FAX_NUMBER)
#ALtditem($!result.Detail.FaxNumber)
#ALtdcaption($l10n.ACCOUNT_BELONG_MEMBER)
#ALtditemheader()
#foreach($record in $!result.getMemberListByGroup($!{result.Detail.GroupName.Value}))
$!record.AliasName<br />
#end
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountPostFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.account_company.onLoadPostDialog")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountPostFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.account_company.onReceiveMessage")
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
