#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($subtitle = "ユーザー情報")
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.common.hideDialog()")
<div id="messageDiv"></div>
<div class="auiSummaryMeta clearfix">
<div class="floatRight">
#set($dlLink = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountPersonFormScreen')) )
<a class="auiButton" title="$l10n.ACCOUNT_DO_EDIT_ACCOUNT" href="javascript:void(0);" onclick="aipo.common.showDialog('$dlLink','$!portlet.ID','aipo.account_person.onLoadPersonInfoDialog');">$l10n.ACCOUNT_DO_EDIT_ACCOUNT</a>
</div>
</div>

#ALajaxlistformheader($l10n.ACCOUNT_USER)
#ALtableheaderWide()
#ALtdcaption($l10n.ACCOUNT_USER_NAME)
#ALtditem($!result.Detail.UserName)
#ALtdcaption($l10n.ACCOUNT_USER_NAME)
#ALtditem($!result.Detail.Name)
#ALtdcaption($l10n.ACCOUNT_USER_NAME_KANA)
#ALtditem($!result.Detail.NameKana)
#ALtdcaption($l10n.ACCOUNT_USER_EMAIL)
#ALtditem($!result.Detail.Email)
#ALtdcaption($l10n.ACCOUNT_OUT_TELEPHONE)
#ALtditem($!result.Detail.OutTelephone)
#ALtdcaption($l10n.ACCOUNT_IN_TELEPHONE)
#ALtditem($!result.Detail.InTelephone)
#ALtdcaption($l10n.ACCOUNT_USER_CELLULAR_PHONE)
#ALtditem($!result.Detail.CellularPhone)
#ALtdcaption($l10n.ACCOUNT_USER_CELLULAR_MAIL)
#ALtditem($!result.Detail.CellularMail)
#ALtdcaption($l10n.ACCOUNT_USER_PHOTO)
#ALtditemheader()
#if($!{result.Detail.hasPhoto()})
<img class="avatar" src="$jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{result.Detail.UserId}).addQueryData("t",$!{result.Detail.PhotoModified})" alt="$l10n.ACCOUNT_USER_PHOTO" align="absmiddle" />
#else
$l10n.ACCOUNT_USER_NOT_CREATE
#end
#ALtditemfooter()
#ALtdcaption($l10n.ACCOUNT_POST)
#ALtditemheader()
#foreach($record in $!result.Detail.getPostNameList())
#set($n = $velocityCount - 1)
##<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountPersonPostDetailScreen').addQueryData('entityid',$!result.Detail.getPostID($!n)))');" style="display:block;">$!record</a>
<span style="display:block;">$!record</span>
#end
#ALtditemfooter()
#ALtdcaption($l10n.ACCOUNT_POSITION)
#ALtditem($!result.Detail.PositionName)
#ALtablefooter()
#ALformfooter()

<h3>$l10n.ACCOUNT_COMPANY_INFO</h3>
#ALtableheaderWide()
#ALtdcaption($l10n.ACCOUNT_COMPANY_NAME)
#ALtditem($!result.Detail.CompanyName)
#ALtdcaption($l10n.ACCOUNT_ZIPCODE)
#ALtditemheader()
#if($!result.Detail.CompanyZipcode.toString() != "")$l10n.ACCOUNT_POST_SIGN#end $!result.Detail.CompanyZipcode
#ALtditemfooter()
#ALtdcaption($l10n.ACCOUNT_ADDRESS)
#ALtditem($!result.Detail.CompanyAddress)
#ALtdcaption($l10n.ACCOUNT_TELEPHONE)
#ALtditem($!result.Detail.CompanyTelephone)
#ALtdcaption($l10n.ACCOUNT_FAX_NUMBER)
#ALtditem($!result.Detail.CompanyFaxNumber)
#ALtablefooter()
#ALdialogfooter()