#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
##set($tabs = [["会社情報・部署情報", "",""]])
## ---------------------------------------------------------------------------
#ALspacebothheader()
<h3>$l10n.ACCOUNT_COMPANY_INFO</h3>
#ALtableheaderWide()
#ALtdcaption($l10n.ACCOUNT_COMPANY_NAME)
#ALtditem($!result.Detail.CompanyName)
#ALtdcaption($l10n.ACCOUNT_ZIPCODE)
#ALtditemheader()
#if($!result.CompanyZipcode.toString() != "")$l10n.ACCOUNT_POST_SIGN#end $!result.CompanyZipcode
#ALtditemfooter()
#ALtdcaption($l10n.ACCOUNT_ADDRESS)
#ALtditem($!result.CompanyAddress)
#ALtdcaption($l10n.ACCOUNT_TELEPHONE)
#ALtditem($!result.CompanyTelephone)
#ALtdcaption($l10n.ACCOUNT_FAX_NUMBER)
#ALtditem($!result.CompanyFaxNumber)
#ALtablefooter()
<div class="spaceTop">
<h3>$l10n.ACCOUNT_POST_INFO</h3>
#set($n = 0)
#if($!result.PostNameList.size() == 0)
$l10n.ACCOUNT_NO_BELONG_POST
#else
#ALtableheaderWide()
#ALtdcaption($l10n.ACCOUNT_BELONG_POST)
#ALtditemheader()
#foreach($record in $!result.PostNameList)
<ul><li><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountPersonPostDetailScreen").addQueryData("entityid",$!result.getPostID($n)))');">$!record</a></li></ul>
#set($n = $n + 1)
#end
#ALtditemfooter()
#ALtablefooter()
#end
</div>
#ALspacebothfooter()
