#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($isSerchRes)
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_addr_search_list','1')")
#else
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list','1')")
#end
#set($linklist = [["アドレス帳", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"],["アドレス検索", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_addr_search','1')"],["会社検索", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_search','1')"]])
#ALcell_pagetitle_iphone($career "社外アドレス一覧")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)
#if($isSerchRes)
<h3>検索結果</h3>
#end
#if($result.List.size() == 0)
<p class="center">アドレスはありません。</p>
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#ALcell_radius_header($career)
#foreach ($record in $result.List)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_detail','1').addQueryData('entityid',$!record.AddressId)">
<strong>$!record.Name</strong>
<br />
#if($!record.PublicFlag.toString() == 'F')
（非公開）
#else
<small>$!record.telephone　$!record.email</small>
#end
</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#end
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)

