#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "コメントする")
#set ($subtitle = '記事にコメントする')
#set ($event_submit = "eventSubmit_doBlog_entry_reply")
#set($linklist = [["記事一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"],["記事追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"],["みんなのブログ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["記事検索", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])

#ALcell_pagetitle_iphone($career $subtitle)
#ALcell_linklist_iphone($career $linklist)
#ALcell_errmsg($career $errmsgs)
#ALcell_contents_header($career)
#ALcell_errmsg($career $!{errmsgsOnCommentDetail})
#ALcell_formheader($career $jslink $portlet)

<h3>記事へのコメント#ALcell_must()</h3>
#ALcell_textarea($career 'comment' '' 5 34 '' 'h')
<input type="hidden" name="entryid" value="$entityid">
<input type="hidden" name="mode" value="comment" />
#ALcell_submit($career $event_submit $action_str)
#ALcell_formfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)