#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($linklist = [["社外アドレス一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list', '1')"], ["アドレス帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle_iphone($career "社外アドレス詳細")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

#ALtableheaderBorder("1")
#set($publicflag = "")
#if($!result.Detail.PublicFlag.toString() == 'F')
#set($publicflag = "（非公開）")
#end
#ALthtd('名前' "$!{result.Detail.Name}${publicflag}")
#ALthtd('フリガナ' $!{result.Detail.NameKana})
#if($!{result.Detail.Email} && $!{result.Detail.Email.Value} != '')
#ALthtd('メール' "<a href='mailto:$!{result.Detail.Email}'>$!{result.Detail.Email}</a>")
#end
#if($!{result.Detail.Telephone} && $!{result.Detail.Telephone.Value} != '')
#if($!{result.Detail.Telephone.Value.length()} > 3 || $!{result.Detail.Telephone.Value.length()} < 26)
#ALthtd('電話番号' "<a href='tel:$!{result.Detail.Telephone}'>$!{result.Detail.Telephone}</a>")
#else
#ALthtd('電話番号' $!{result.Detail.Telephone})
#end
#end
#if($!{result.Detail.CellularPhone} && $!{result.Detail.CellularPhone.Value} != '')
#if($!{result.Detail.CellularPhone.Value.length()} > 3 || $!{result.Detail.CellularPhone.Value.length()} < 26)
#ALthtd('携帯番号' "<a href='tel:$!{result.Detail.CellularPhone}'>$!{result.Detail.CellularPhone}</a>")
#else
#ALthtd('携帯番号' $!{result.Detail.CellularPhone})
#end
#end
#if($!{result.Detail.CellularMail} && $!{result.Detail.CellularMail.Value} != '')
#ALthtd('携帯メール' "<a href='mailto:$!{result.Detail.CellularMail}'>$!{result.Detail.CellularMail}</a>")
#end
#ALthtd('役職名' $!{result.Detail.PositionName})
#ALtablefooterBorder()

<h3>会社情報</h3>
#ALtableheaderBorder("1")
#ALthtd('会社名' $!{result.Detail.CompanyName})
#ALthtd('フリガナ' $!{result.Detail.CompanyNameKana})
#ALthtd('部署名' $!{result.Detail.PostName})
#ALthtd('郵便番号' $!{result.Detail.Zipcode})
#ALthtd('住所' $!{result.Detail.CompanyAddress})
#if($!{result.Detail.CompanyTelephone} && $!{result.Detail.CompanyTelephone.Value} != '')
#if($!{result.Detail.CompanyTelephone.Value.length()} > 3 || $!{result.Detail.CompanyTelephone.Value.length()} < 26)
#ALthtd('電話番号' "<a href='tel:$!{result.Detail.CompanyTelephone}'>$!{result.Detail.CompanyTelephone}</a>")
#else
#ALthtd('電話番号' $!{result.Detail.CompanyTelephone})
#end
#end
#ALthtd('FAX番号' $!{result.Detail.CompanyFaxNumber})
#ALthtd('URL' "<a href='$!{result.Detail.CompanyUrl}'>$!{result.Detail.CompanyUrl}</a>")
#ALthtd('登録者名' "$!{result.Detail.CreatedUser}($!{result.Detail.CreateDate})")
#ALthtd('更新者名' "$!{result.Detail.UpdatedUser}($!{result.Detail.UpdateDate})")
#ALtablefooterBorder()

#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
