#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2008 Aimluck,Inc.
 * http://aipostyle.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http:// www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#if($!result.currentTab == "list") #set($pagetitle = "未完了ToDo一覧") #else #set($pagetitle = "完了ToDo一覧") #end
#set($linklist = [["未完了ToDo一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_list','1').addQueryData('tab','list')"], ["完了ToDo一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_list','1').addQueryData('tab','complete')"], ["カテゴリ一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_category_list','1')"]])
#ALcell_pagetitle_iphone($career "ToDo詳細")
#ALcell_linklist_iphone($career $linklist)
<div id="contents">

<table border="1">
<tr>
#ALtdhead('タイトル')
#ALtdcell("$!{result.Detail.TodoName}")
</tr>
<tr>
#ALtdhead('カテゴリ')
#ALtdcell("$!{result.Detail.CategoryName}")
</tr>
<tr>
#ALtdhead('開始日')
#ALtdcell("$!{result.Detail.StartDate}")
</tr>
<tr>
#ALtdhead('締切日')
#ALtdcell("$!{result.Detail.EndDate}")
</tr>
<tr>
#ALtdhead('進捗')
#ALtdcell("$!{result.Detail.StateString}")
</tr>
<tr>
#ALtdhead('優先度')
#ALtdcell("$!{result.Detail.PriorityString}")
</tr>
<tr>
#ALtdhead('登録日')
#ALtdcell("$!{result.Detail.CreateDate}")
</tr>
<tr>
#ALtdhead('更新日')
#ALtdcell("$!{result.Detail.UpdateDate}")
</tr>
<tr>
#ALtdhead('メモ')
#ALtdcell("$!{result.Detail.Note}")
</tr>
<tr>
#ALtdhead('公開区分')
#if(${result.Detail.isPublic()})
<td>公開</td>
#else<td>非公開</td>
</tr>
#end
<tr>
#ALtdhead('スケジュールへの表示')
#ALtdcell("#if($!{result.Detail.addonScheduleFlg()}) 表示 #else 非表示 #end")
</tr>
</table>

#if($!result.ScheduleUrl && $!result.ScheduleUrl != "")
<a href="$!result.ScheduleUrl" class="btn">前のページに戻る</a>
#end
</div><!-- contents END -->
#ALcell_linklist_iphone($career $linklist)
