#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#parse("/portlets/smartphone_default/ja/schedule-form-title.vm")

#set($linklist = [["スケジュールへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#set ($action_str = "次へ")
#set ($event_submit = "eventSubmit_doSchedule_form_next")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

#ALcell_errmsg($career $errmsgs)
#ALcell_formheader($career $jslink $portlet)
#if($!{result.EntityId} && $!{result.EntityId} != 'new')
<input type="hidden" name="entityid" value="$!{result.EntityId}">
<input type="hidden" name="edit_repeat_flag" value="$!{result.FormData.EditRepeatFlag.toString()}">
<input type="hidden" name="view_date" value="$!{result.FormData.ViewDate.toString()}">
#end
<input type="hidden" value="$!{result.ScheduleType}" name="schedule_type">

#if ($!{result.isRepeat()})
<input type="hidden" name="repeat_type" value="$!{result.FormData.RepeatType}">
#if ($!{result.FormData.RepeatType.toString()} == "W")
#if ($!{result.FormData.Week0.toString()} == "TRUE") <input type="hidden" name="week_0" value="TRUE"> #end
#if ($!{result.FormData.Week1.toString()} == "TRUE") <input type="hidden" name="week_1" value="TRUE"> #end
#if ($!{result.FormData.Week2.toString()} == "TRUE") <input type="hidden" name="week_2" value="TRUE"> #end
#if ($!{result.FormData.Week3.toString()} == "TRUE") <input type="hidden" name="week_3" value="TRUE"> #end
#if ($!{result.FormData.Week4.toString()} == "TRUE") <input type="hidden" name="week_4" value="TRUE"> #end
#if ($!{result.FormData.Week5.toString()} == "TRUE") <input type="hidden" name="week_5" value="TRUE"> #end
#if ($!{result.FormData.Week6.toString()} == "TRUE") <input type="hidden" name="week_6" value="TRUE"> #end
#elseif ($!{result.FormData.RepeatType.toString()} == "M")
<input type="hidden" name="month_day" value="$!{result.FormData.MonthDay}">
#end
<input type="hidden" name="limit_flag" value="$!{result.FormData.LimitFlag.toString()}">
#if($!{result.FormData.LimitFlag.toString()} == "ON")
<input type="hidden" name="limit_start_date" value="$!{result.FormData.LimitStartDateDate}">
<input type="hidden" name="limit_end_date" value="$!{result.FormData.LimitEndDateDate}">
#end
#end
<input type="hidden" name="start_date_date" value="$!{result.FormData.StartDateDate}">
<input type="hidden" name="start_date_time" value="$!{result.FormData.StartDateTime}">
<input type="hidden" name="end_date_date" value="$!{result.FormData.EndDateDate}">
<input type="hidden" name="end_date_time" value="$!{result.FormData.EndDateTime}">

#set($usercount = 1)
#set($membersize = $!{result.FormData.MemberList.size()})
<input type="hidden" name="shareusers" value="#foreach($record in $!{result.FormData.MemberList})$!{record.Name}#if($usercount<$membersize),#set($usercount = $usercount + 1)#end#end">
#set($facilitycount = 1)
#set($fmembersize = $!{result.FormData.FacilityMemberList.size()})
<input type="hidden" name="sharefacs" value="#foreach($record in $!{result.FormData.FacilityMemberList})$!{record.FacilityId}#if($facilitycount<$fmembersize),#set($facilitycount = $facilitycount + 1)#end#end">

<input type="hidden" name="edit_flag" value="$!{result.FormData.EditFlag.toString()}">
<input type="hidden" name="change_tmpreserve_flag" value="$!{result.FormData.ChangeTmpreserveFlag.toString()}">

<h3>設備グループ選択</h3>
<script type="text/javascript">

function formSubmit(value) {
  var form = document.forms[0];
  form.selectedgroup.value = value;
  form.submit();
}

</script>
<input name="eventSubmit_doSchedule_form_facility" type="hidden" value="1"/>
<input name="selectedgroup" type="hidden" value="all"/>
#ALcell_radius_header($career)
#ALcell_li_header($career)
<a href="javascript:void(0);" onclick="formSubmit('all');return false;">全て</a>
#ALcell_li_footer($career)
#ALcell_radius_footer($career)

#if($result.FacilityGroupList.size() > 0)
<h3>グループ</h3>
#ALcell_radius_header($career)
#foreach( $record in $result.FacilityGroupList )
#ALcell_li_header($career)
<a href="javascript:void(0);" onclick="formSubmit('$!{record.GroupId}');return false;">$!record.GroupName</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#end
#ALcell_formfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)