#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
#set($methodlist = [["登録(1日)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','O')"], ["登録(繰り返し)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','R')"], ["登録(期間)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','S')"]])
#set($daylist = [["前日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.PrevDate.toString()})"],["今日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.Today.toString()})"],["翌日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.NextDate.toString()})"]])
#set($linklist = [["スケジュールへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])

#ALcell_pagetitle_iphone($career "スケジュール(1日)一覧")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)
#ALcell_navilist($career $daylist)

<h3>$!{result.ViewDate.Year}年$!{result.ViewDate.Month}月$!{result.ViewDate.Day}日$!{result.ViewDate.DayOfWeek}</h3>
#if($!{result.List.size()} <= 0)
<p class="center">予定はありません。</p>
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#ALcell_radius_header($career)
#foreach($record in $!{result.List})
#if ($!{record.Name.Value})
#ALcell_li_header($career)
<a href="$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('mode','detail').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('view_date', $!{result.ViewDate.toString()})">
#if(! $!{record.isSpan()})
$!{record.Date}#ALcell_br($career)
#else
期間：
#end
$!{record.Name}
#if(! ${record.isPublic()})
(非公開)
#end
#if($record.isDuplicate())
(重複)
#end
#if($record.isRepeat())
(繰り返し)
#end
#if($record.isTmpreserve())
(仮)
#end
</a>
#ALcell_li_footer($career)
#else
##予定追加1
#end
#end
#ALcell_radius_footer($career)
#end
<h3>ToDo一覧</h3>
#if($!{result.ToDoResultDataList.size()} <= 0)
<p class="center">ToDoはありません。</p>
#else
#ALcell_radius_header($career)
#foreach($record in $result.ToDoResultDataList)
#ALcell_li_header($career)<a href="$record.TodoUrl">${record.TodoName}#if(! ${record.isPublic()})(非公開)#end</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#end
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#ALcell_navilist($career $methodlist)
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)

