#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($otherlist = [["ユーザーの選択へ戻る", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectmember','1')"]])
## add by motegi1019 end
#set($linklist = [["ユーザーの選択へ戻る", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectmember','1')"]])
#set($menulist = [["次の週へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member','1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $nextweek)"], ["前の週へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('start_date', $prevweek)"], ["今週に戻る", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $!now)"],["週を指定", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectday_select_member','1').addQueryData('view_date', $!daylist.get(0)).addQueryData('selectedmember', $result.TargerUser.UserId)"]])
##ALcell_pagetitle_iphone($career "$result.TargerUser.AliasName さんのスケジュール($!daylist.get(0).replace('-','/') - $!daylist.get(6).replace('-','/'))")
#ALcell_pagetitle_iphone($career "$result.TargerUser.AliasName さんのスケジュール")
#ALcell_linklist_iphone($career $otherlist)
#ALcell_contents_header($career)
#ALcell_navi_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member','1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $nextweek)" class="btn_right">次の週へ</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('start_date', $prevweek)" class="btn_left">前の週へ</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $!now)" class="btn">今週に戻る</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectday_select_member','1').addQueryData('view_date', $!daylist.get(0)).addQueryData('selectedmember', $result.TargerUser.UserId)" class="btn">週を指定 </a>
#ALcell_navi_footer($career)
<ul class="multi_list">
#set($daycount = 0)
#foreach($record in $!result.List)
#set($yearindex = $!daylist.get($daycount).indexOf("-") + 1)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list_select_member','1').addQueryData('tab','oneday').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('view_date', $!daylist.get($daycount))">$!daylist.get($daycount).substring($yearindex).replace('-','/')$!weekdaylist.get($daycount)</a>
#ALcell_ul_header($career)
#foreach($schedule in $!record)
#ALcell_li_header($career)
##<a href="$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('mode','detail').addQueryData('entityid', $!{schedule.ScheduleId}).addQueryData('view_date', $!daylist.get($daycount))">$schedule.Name</a>

##ALcell_br($career)$schedule.Name
#if(!$schedule.Public && !$schedule.Member)
<span>
#if($schedule.Repeat)
期間：
#else
$schedule.StartDate&nbsp;-&nbsp;$schedule.EndDate #ALcell_br($career)
#end
非公開
#if(!$schedule.Repeat && $schedule.Pattern != 'N')#ALcell_br($career) &nbsp;(繰り返し)#end
</span>
#else
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_detail_select_member','1').addQueryData('entityid', $!{schedule.ScheduleId}).addQueryData('view_date', $!daylist.get($daycount)).addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('userid', $result.TargerUser.UserId)">
#if($schedule.Repeat)
期間：
#else
$schedule.StartDate&nbsp;-&nbsp;$schedule.EndDate #ALcell_br($career)
#end
$schedule.Name
#if(!$schedule.Public)#ALcell_br($career) &nbsp;(非公開)#end
#if(!$schedule.Repeat && $schedule.Pattern != 'N')#ALcell_br($career) &nbsp;(繰り返し)#end
</a>

#end

#ALcell_li_footer($career)
#end
#ALcell_ul_footer($career)
#ALcell_li_footer($career)
#set($daycount = $daycount + 1)
#end
</ul>
#ALcell_navi_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member','1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $nextweek)" class="btn_right">次の週へ</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('start_date', $prevweek)" class="btn_left">前の週へ</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member', '1').addQueryData('selectedmember', $result.TargerUser.UserId).addQueryData('start_date', $!now)" class="btn">今週に戻る</a>
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectday_select_member','1').addQueryData('view_date', $!daylist.get(0)).addQueryData('selectedmember', $result.TargerUser.UserId)" class="btn">週を指定 </a>
#ALcell_navi_footer($career)
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $otherlist)