#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($membersize = $!{result.FormData.MemberList.size()})
#if($membersize > 1)
参加ﾕｰｻﾞｰ：#ALcell_br($career)
<ul>
#foreach($record in $!{result.FormData.MemberList})
#if ( ! ($!result.LoginUser.Name.toString() == $!record.Name.toString()) )
#ALcell_li_header($career)$!{record.AliasName}#ALcell_li_footer($career)
#end
#end
</ul>
#if($!{result.isOwner()} || $!{result.FormData.EditFlag.toString()} == "T")
#ALcell_br($career)
$l10n.SCHEDULE_RIGHT_AND_WRONG#ALcell_br($career)
<input name="edit_flag" type="radio" value="T" #if ($!{result.FormData.EditFlag.toString()} == "T") checked="checked" #end>$l10n.SCHEDULE_PASS#ALcell_br($career)
<input name="edit_flag" type="radio" value="F" #if ($!{result.FormData.EditFlag.toString()} == "F") checked="checked" #end>$l10n.SCHEDULE_DISAPPROVE
#end
#if($mode != "new_form" && $!result.isMember())
#ALcell_br($career)
$l10n.SCHEDULE_UPDATE_TO_TEMP_SCHEDULE#ALcell_br($career)
<input name="change_tmpreserve_flag" type="radio" value="T" #if ($!{result.FormData.ChangeTmpreserveFlag.toString()} == "T") checked="checked" #end>$l10n.SCHEDULE_BRING_BACK#ALcell_br($career)
<input name="change_tmpreserve_flag" type="radio" value="F" #if ($!{result.FormData.ChangeTmpreserveFlag.toString()} == "F") checked="checked" #end>$l10n.SCHEDULE_NOT_BRING_BACK
#end
#ALcell_hr($career '1')
#end

#set($fmembersize = $!{result.FormData.FacilityMemberList.size()})
#if($fmembersize > 0)
$l10n.SCHEDULE_SHARED_FACILITIES：#ALcell_br($career)
<ul>
#foreach($record in $!{result.FormData.FacilityMemberList})
#ALcell_li_header($career)$!{record.FacilityName}#ALcell_li_footer($career)
#end
</ul>
#ALcell_hr($career '1')
#end
