#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
#set($methodlist = [[$l10n.SCHEDULE_REGISTER_ONEDAY, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','O')"], [$l10n.SCHEDULE_TO_REPEAT_REGISTRATION, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','R')"], [$l10n.SCHEDULE_TO_SPAN_REGISTRATION, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','S')"]])
#set($linklist = [[$l10n.SCHEDULE_TO_SCHEDULE, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#ALcell_pagetitle($career $l10n.SCHEDULE_ONEDAY_LIST_SUB)
$!{result.ViewDateNospaceText}$!{result.ViewDate.DayOfWeek}#ALcell_br($career)
<a href="$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.PrevDate.toString()})">$l10n.SCHEDULE_YESTERDAY</a>
<a href="$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.Today.toString()})">$l10n.SCHEDULE_THIS_DAY</a>
<a href="$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.NextDate.toString()})">$l10n.SCHEDULE_NEXTDAY</a>
#ALcell_hr($career '1')
#if($!{result.List.size()} <= 0)
$l10n.SCHEDULE_NO_SCHEDULE
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#ALcell_hr($career '1')
#end
<ul>
#foreach($record in $!{result.List})
#if ($!{record.Name.Value})
#ALcell_li_header($career)
#if(! $!{record.isSpan()})
$!{record.Date}
#else
$l10n.SCHEDULE_TERM：
#end
<a href="$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('mode','detail').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('view_date', $!{result.ViewDate.toString()})">$!{record.Name}</a>#ALcell_br($career)
#if(! ${record.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
#if($record.isDuplicate())
$l10n.SCHEDULE_SUB_DUPLICATE
#end
#if($record.isRepeat())
$l10n.SCHEDULE_SUB_REPEAT
#end
#if($record.isTmpreserve())
$l10n.SCHEDULE_SUB_TEMP
#end
#ALcell_li_footer($career)
#else
##予定追加1
#end
#end
</ul>
#end
#ALcell_hr($career '1')
#if( ($!{result.ToDoResultDataList.size()}) && $!{result.ToDoResultDataList.size()} <= 0)
$l10n.SCHEDULE_NO_TODO
#else
<ul>
#foreach($record in $result.ToDoResultDataList)
#ALcell_li_header($career)
<a href="$record.TodoUrl">${record.TodoName}</a>#if(! ${record.isPublic()})$l10n.SCHEDULE_SUB_CLOSE_PUBLIC#end
#ALcell_li_footer($career)
#end
</ul>
#end
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#ALcell_hr($career '1')
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

