#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($event_submit = "eventSubmit_doSchedule_form")
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
###set($methodlist = [["登録(1日)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_oneday','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"], ["登録(繰り返し)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_repeat','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"], ["登録(期間)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_span','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"]])
#set($linklist = [["$result.AliasNameListText", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list_select_member','1').addQueryData('tab', 'oneday').addQueryData('view_date', $!{result.ViewDate.toString()})"], ["$result.AliasNameText", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu_select_member','1').addQueryData('selectedmember', $result.TargerUser.UserId)"]])
#set ($hasMember = false)
#ALcell_pagetitle($career "$result.AliasNameDetailText")
#ALcell_dl_header($career)
#ALcell_dt($career $l10n.SCHEDULE_NAME)#ALcell_dd($career "$!{result.Detail.User.AliasName}")
#ALcell_dt($career $l10n.SCHEDULE_DATE)#ALcell_dd_header($career)
#if($!{result.Detail.isSpan()})
$!{result.Detail.SpanDateText}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}
$!{result.Detail.DateForCell}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
$l10n.SCHEDULE_SUB_REPEAT
#else
$!{result.Detail.StartDate.Year}/$!{result.Detail.StartDate.Month}/$!{result.Detail.StartDate.Day}$!{result.Detail.StartDate.DayOfWeek}
$!{result.Detail.DateForCell}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
#end
#if($!{result.Detail.isTmpreserve()})
$l10n.SCHEDULE_SUB_TEMP
#end
#ALcell_dd_footer($career)
#ALcell_dt($career $l10n.SCHEDULE_TITLE)#ALcell_dd($career "$!{result.Detail.Name}")
#ALcell_dt($career $l10n.SCHEDULE_PLACE)#ALcell_dd($career "$!{result.Detail.Place}")
#ALcell_dt($career $l10n.SCHEDULE_NOTE)#ALcell_dd($career "$!{result.Detail.Note}")
#ALcell_dt($career $l10n.SCHEDULE_PUBLIC)#ALcell_dd_header($career)
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC_WORD
#elseif($!result.Detail.isPrivate())
$l10n.SCHEDULE_CLOSE_PUBLIC_WORD
#elseif($!result.Detail.isHidden())
$l10n.SCHEDULE_HIDE_ALL
#end
#ALcell_dd_footer($career)
#ALcell_dt($career $l10n.SCHEDULE_MEMBERS)
#if($!result.MemberList.size() > 1)
#set($counter = 0)
#foreach($record in $!result.MemberList)
#if(!($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}))
#ALcell_dd_header($career)
$!record.AliasName
#if($result.getStatus($record.UserId.Value) == "T")
$l10n.SCHEDULE_SUB_TEMP
#elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
#set($counter = $counter + 1)
$l10n.SCHEDULE_SUB_DELETE
#end
#ALcell_dd_footer($career)
#end
#end
#if($counter < ($!result.MemberList.size() - 1))
#set ($hasMember = true)
#end
#if($hasMember)
#ALcell_dd_header($career)
#if($!{result.Detail.isEditable()})$l10n.SCHEDULE_CAN_EDIT_DELETE#else$l10n.SCHEDULE_CANNOT_EDIT_DELETE#end
#ALcell_dd_footer($career)
#end
#end

#ALcell_dt($career $l10n.SCHEDULE_SHARED_FACILITIES)
#foreach($record in $!result.FacilityList)
#ALcell_dd_header($career)
${record.FacilityName}
#ALcell_dd_footer($career)
#end

#ALcell_dt($career $l10n.SCHEDULE_CREATE_USER)#ALcell_dd($career "$!{result.Detail.CreateUser.AliasName}")#ALcell_dd($career "($!{result.Detail.CreateDate})")
#ALcell_dt($career $l10n.SCHEDULE_UPDATE_USER)#ALcell_dd($career "$!{result.Detail.UpdateUser.AliasName}")#ALcell_dd($career "($!{result.Detail.UpdateDate})")
#ALcell_dl_footer($career)
###ALcell_hr($career '1')
###ALcell_formheader($career $jslink $portlet)
##<input type="hidden" name="selectedmember" value="$!{result.TargerUser.UserId}">
##<input type="hidden" name="entityid" value="$!{result.EntityId}">
##<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}">
##
###if ($!{result.Detail.isRepeat()})
##<input type="hidden" name="schedule_type" value="R">
###elseif($!{result.Detail.isSpan()})
##<input type="hidden" name="schedule_type" value="S">
###else
##<input type="hidden" name="schedule_type" value="O">
###end
##
###if($!{result.Detail.isOwner()})
###ALcell_submit($career "$event_submit" '編集する')
###ALcell_submit($career 'eventSubmit_doSchedule_form_delete_select_member' '削除する')
###elseif($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()})
##<input type="hidden" name="status" value="C">
###ALcell_submit($career 'eventSubmit_doSchedule_change_status' '確定する')
###if($!{result.Detail.isEditable()})
###ALcell_submit($career "$event_submit" '編集する')
###end
###ALcell_submit($career 'eventSubmit_doSchedule_form_delete_select_member' '削除する')
###elseif($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()})
##<input type="hidden" name="status" value="T">
###ALcell_submit($career 'eventSubmit_doSchedule_change_status' '仮の予定にする')
###if($!{result.Detail.isEditable()})
###ALcell_submit($career "$event_submit" '編集する')
###end
###ALcell_submit($career 'eventSubmit_doSchedule_form_delete_select_member' '削除する')
###end
###ALcell_formfooter()
###ALcell_hr($career '1')
###ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
