#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
#set($linklist = [[$l10n.SCHEDULE_ONEDAY_LIST, "$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')"], [$l10n.SCHEDULE_TO_SCHEDULE, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])

#set($counter = 0)
#foreach($record in $!result.MemberList)
#if(!($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}))
#if($result.getStatus($record.UserId.Value) == "R") #set($counter = $counter + 1) #end
#end
#end
#if($counter < ($!result.MemberList.size() - 1))
#set ($hasMember = true)
#else
#set ($hasMember = false)
#end
#ALcell_pagetitle($career $l10n.SCHEDULE_SCHEDULE_DELETE)
#ALcell_formheader($career $jslink $portlet)
$l10n.SCHEDULE_DELETE_CONDITOPN：#ALcell_br($career)
#if($!{result.Detail.isOwner()})
#if($hasMember && $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="3" checked>
$!{result.ViewDateTextDeleteOwn}#ALcell_br($career)
<input name="del_flag" type="radio" value="2">
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE#ALcell_br($career)
<input name="del_flag" type="radio" value="1">
$!{result.ViewDateTextDeleteAll}#ALcell_br($career)
<input name="del_flag" type="radio" value="0">
$l10n.SCHEDULE_DELETE_ALL_MEMBER_SCHEDULE
#elseif($hasMember && ! $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="2" checked>
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE#ALcell_br($career)
<input name="del_flag" type="radio" value="0">
$l10n.SCHEDULE_DELETE_ALL_MEMBER_SCHEDULE
#elseif(! $hasMember && $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="3" checked>
$!{result.ViewDateTextDeleteOwn}#ALcell_br($career)
<input name="del_flag" type="radio" value="2">
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#else
<input name="del_flag" type="radio" value="2" checked>
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#end
#else
#if($!{result.Detail.isEditable()})
#if($hasMember && $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="3" checked>
$!{result.ViewDateTextDeleteOwn}#ALcell_br($career)
<input name="del_flag" type="radio" value="2">
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE#ALcell_br($career)
<input name="del_flag" type="radio" value="1">
$!{result.ViewDateTextDeleteAll}#ALcell_br($career)
<input name="del_flag" type="radio" value="0">
$l10n.SCHEDULE_DELETE_ALL_MEMBER_SCHEDULE
#elseif($hasMember && ! $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="2" checked>
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE#ALcell_br($career)
<input name="del_flag" type="radio" value="0">
$l10n.SCHEDULE_DELETE_ALL_MEMBER_SCHEDULE
#elseif(! $hasMember && $!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="3" checked>
$!{result.ViewDateTextDeleteOwn}#ALcell_br($career)
<input name="del_flag" type="radio" value="2">
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#else
<input name="del_flag" type="radio" value="2" checked>
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#end
#else
#if($!{result.Detail.isRepeat()})
<input name="del_flag" type="radio" value="3" checked>
$!{result.ViewDateTextDeleteOwn}#ALcell_br($career)
<input name="del_flag" type="radio" value="2">
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#else
<input name="del_flag" type="radio" value="2" checked>
$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE
#end
#end
#end
#ALcell_br($career)#ALcell_br($career)
<input type="hidden" name="entityid" value="$!{result.EntityId}">
<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}">
#ALcell_hr($career '1')
#ALcell_submit($career 'eventSubmit_doSchedule_delete' $l10n.SCHEDULE_DELETE)
#ALcell_formfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
