#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

##-------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailAccountFormScreen").addQueryData("entityid","new")))
#set ($submenulist = [[$l10n.WEBMAIL_DO_ADD_MAILACCOUNT,"javascript:aipo.common.showDialog('$newUrl1');","themes/$!theme/images/icon/icon_add.gif"]])
#set($tabs = [[$l10n.WEBMAIL_MAILACCOUNTLIST, "",""]])
##------------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<h2>$l10n.WEBMAIL_MANAGEMENT_ACCOUNT</h2>
#if($result.List.size() <= 0)
#AUIbuttonActionInBlankBox($l10n.WEBMAIL_DO_ADD_ACCOUNT "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormScreen').addQueryData('entityid','new')');")
#else
<div class="auiSummaryMeta clearfix"><p>
#AUIbuttonAction($l10n.WEBMAIL_DO_ADD_ACCOUNT "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormScreen').addQueryData('entityid','new')');")
</p></div>
#AUISummaryDiv()
#AUIajaxpageview('WebMailAccountListScreen' $result)
#AUISummaryDivfooter()
#AUIrowTableWide()
<tr>
#ALtdhead("<div>#ALajaxsort('account_name' $l10n.WEBMAIL_ACCOUNT_NAME $result 'WebMailAccountListScreen')</div>")
#ALtdheadAtt("<div><wbr>$l10n.WEBMAIL_MAILADDRESS</div>" 'class="mb_hide" width="10%"')
#ALtdheadAtt($l10n.WEBMAIL_UNREAD_COUNT 'width="1%"')
#ALtdheadAtt($l10n.WEBMAIL_LAST_RECEIVE_DATE 'width="1%"class="center mb_hide"')
</tr>
#foreach ($record in $result.List)
#if($!record.countUnRead>= 0)
#set($countUnRead = $!record.countUnRead)
#else
#set($countUnRead = $l10n.WEBMAIL_CHECK_FAILED)
#end
<tr>
#ALtdcellheader()
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailAccountDetailScreen").addQueryData("accountid",$record.AccountId))');">$!record.AccountName</a>
#ALtdcellfooter()
#ALtdcellAtt("$!record.MailAddress" ' nowrap class="mb_hide"')
#ALtdcellAtt("$countUnRead" 'align="right" nowrap')
#if($!record.FinalAccessDate.toString() != "")
#ALtdcellAtt("$!{record.FinalAccessDate.Month}$l10n.WEBMAIL_MONTH$!{record.FinalAccessDate.Day}$l10n.WEBMAIL_DAY$!{record.FinalAccessDate.time}" 'align="left" valign="center" nowrap class="mb_hide"')
#else
#ALtdcellAtt($l10n.WEBMAIL_NOTHING 'align="center"class="mb_hide"')
#end
</tr>
#end
#AUItablefooter()
#AUISummaryDiv()
#AUIajaxpageview('WebMailAccountListScreen' $result)
#AUISummaryDivfooter()
#end
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/webmail-nonaction-widgets.vm")


