#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($action_str = $l10n.WEBMAIL_DO_CHANGE)
#set ($subtitle = $l10n.WEBMAIL_CHANGE_ORDER)
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALerrmsg($errmsgs)
#if((! $!result.FilterList) || $result.FilterList.size() == 0)
<div class="message">$l10n.WEBMAIL_FILTER_NOT_CREATED_MSG</div>
#else
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div style="padding:0px 0px 5px 5px"><img src="images/account/account_up_10.gif" align="absmiddle">&nbsp;<img src="images/account/account_up_1.gif" align="absmiddle">&nbsp;<img src="images/account/account_down_1.gif" align="absmiddle">&nbsp;<img src="images/account/account_down_10.gif" align="absmiddle">$l10n.WEBMAIL_FILTER_ORDER_MSG<br>
$l10n.WEBMAIL_MULTICHOICE_MSG</div>
#ALajaxscreenformheader("filterOrderForm" $jslink $portlet "WebMailFilterOrderFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID' ,aipo.webmail.onReceiveMessage)")
<input type="hidden" name="mode" value="update">
<input type="hidden" name="positions" value="">
<table class="dialogTable wide">
<tbody>
<tr>
<td class="caption" width="30%" nowrap="">$l10n.WEBMAIL_FILTERLIST</td>
<td width="5%">
<div class="mb10"><a href="javascript:doUpOptions10(dojo.byId('filter_so_$!portlet.ID'))" title="$l10n.WEBMAIL_ACEND_ORDER_10"><img src="images/account/account_up_10.gif" alt="$l10n.WEBMAIL_ACEND_ORDER_10" border="0"></a></div>
<div class="mb40"><a href="javascript:doUpOptions(dojo.byId('filter_so_$!portlet.ID'))" title="$l10n.WEBMAIL_ACEND_ORDER_1"><img src="images/account/account_up_1.gif" alt="$l10n.WEBMAIL_ACEND_ORDER_1" border="0"></a></div>
<div class="mt40"><a href="javascript:doDownOptions(dojo.byId('filter_so_$!portlet.ID'))" title="$l10n.WEBMAIL_DECEND_ORDER_1"><img src="images/account/account_down_1.gif" alt="$l10n.WEBMAIL_DECEND_ORDER_1" border="0"></a></div>
<div class="mt10"><a href="javascript:doDownOptions10(dojo.byId('filter_so_$!portlet.ID'))" title="$l10n.WEBMAIL_DECEND_ORDER_10"><img src="images/account/account_down_10.gif" alt="$l10n.WEBMAIL_DECEND_ORDER_10" border="0"></a></div>
</td>
<td width="65%">
<select id="filter_so_$!portlet.ID" name="filter_so" size="20" multiple="multiple" style="WIDTH: 100%">
#if($!result.FilterList.size() <= 0)
<option value=""></option>
#else
#foreach($record in $!result.FilterList)
<option value="$!record.FilterId">$!record.FilterName</option>
#end
#end
</select>
</td>
</tr>
</tbody>
</table>
#ALbuttonheader()
#ALsubmitJS('eventSubmit_doWebmail_update_filter' $action_str 'setHiddenValue(this);aipo.webmail.filter_order_submit(this.form)')
#ALajaxbuttonCancel()
#ALbuttonfooter()
#ALformfooter()
#end
#ALdialogfooter()
