#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.WEBMAIL_FILTER_DETAIL)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader($l10n.WEBMAIL_FILTER)
#ALtableheaderWide()
#ALtdcaption($l10n.WEBMAIL_FILTER_NAME)
#ALtditem("$!result.Detail.FilterName")
#ALtdcaption($l10n.WEBMAIL_PROCESS_ORDER)
#ALtditem("$!result.Detail.SortOrder")
#ALtdcaption($l10n.WEBMAIL_DIVIDE_CONDITION)
#ALtditem("$!{result.Detail.FilterType}$l10n.WEBMAIL_IS$!{result.Detail.FilterString}$l10n.WEBMAIL_CONTAINS")
#ALtdcaption($l10n.WEBMAIL_FOLDER_DIVIDED)
#ALtditem("$!result.Detail.DstFolderName")
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormScreen').addQueryData('entityid',$!{result.Detail.FilterId})" "$!portlet.ID" "aipo.webmail.onLoadMailFilterDialog")
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormJSONScreen').addQueryData('entityid',$!{result.Detail.FilterId}).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
