#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = $l10n.WEBMAIL_DO_APPLY)
#set ($subtitle = $l10n.WEBMAIL_SETTING_MAILINFO)
#set ($event_submit = "eventSubmit_doWebmail_mailaccount_update_option")
#set ($indicator_id = "indicator-dlg-")
#set ($hour = $result.NotifyTimeHour)
#set ($minute = $result.NotifyTimeMinute)
##----------------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.webmail.hideDialog()")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("webmailForm" $jslink $portlet "WebMailAdminSettingsFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.webmail.onReceiveMessageAdmin)")
#ALtableheaderWide()
#ALtdcaption($l10n.WEBMAIL_COMMENT_OTHERS)
#ALtditemheader()
<input name="pc_flg_blog" type="checkbox" value="1" id="pc_flg_blog_id" #if ($result.PcFlgBlog.toString() == "1") checked="checked" #end/>
<label for="pc_flg_blog_id">$l10n.WEBMAIL_PC1</label>
<input name="cell_flg_blog" type="checkbox" value="1" id="cell_flg_blog_id" #if ($result.CellFlgBlog.toString() == "1") checked="checked" #end/>
<label for="cell_flg_blog_id">$l10n.WEBMAIL_CELLPHONE1</label>
#ALtditemfooter()
#ALtdcaption($l10n.WEBMAIL_ADD_SCHEDULE_OTHERS)
#ALtditemheader()
<input name="pc_flg_schedule" type="checkbox" value="1" id="pc_flg_schedule_id" #if ($result.PcFlgSchedule.toString() == "1") checked="checked" #end/>
<label for="pc_flg_schedule_id">$l10n.WEBMAIL_PC1</label>
<input name="cell_flg_schedule" type="checkbox" value="1" id="cell_flg_schedule_id" #if ($result.CellFlgSchedule.toString() == "1") checked="checked" #end/>
<label for="cell_flg_schedule_id">$l10n.WEBMAIL_CELLPHONE1</label>
#ALtditemfooter()
#ALtdcaption($l10n.WEBMAIL_REQUEST_WORKFLOW)
#ALtditemheader()
<input name="pc_flg_workflow" type="checkbox" value="1" id="pc_flg_workflow_id" #if ($result.PcFlgWorkflow.toString() == "1") checked="checked" #end/>
<label for="pc_flg_workflow_id">$l10n.WEBMAIL_PC1</label>
<input name="cell_flg_workflow" type="checkbox" value="1" id="cell_flg_workflow_id" #if ($result.CellFlgWorkflow.toString() == "1") checked="checked" #end/>
<label for="cell_flg_workflow_id">$l10n.WEBMAIL_CELLPHONE1</label>
#ALtditemfooter()
#*
#ALtdcaption($l10n.WEBMAIL_INFORMTIME)
#ALtditemheader()
$l10n.WEBMAIL_THEDAY <select name="notify_time_hour">#foreach($time in [0..23])<option value="$time" #if ($hour == $time) selected="selected"#end>$time</option>#end</select>$l10n.WEBMAIL_HOUR<select name="notify_time_minute">#foreach($time in [0..11])#set($time2 = $time * 5)<option value="$time2" #if ($minute == $time2) selected="selected"#end>$time2</option>#end</select>$l10n.WEBMAIL_MINUTE
#ALtditemfooter()
*#
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.WEBMAIL_USERPASS_RECEIVE" onclick="aipo.webmail.hideDialogAdmin();" />
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()


