#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

##-------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFilterFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFilterOrderFormScreen")))
#set ($submenulist = [[$l10n.WEBMAIL_DO_ADD_FILTER,"javascript:aipo.common.showDialog('$newUrl1');","themes/$!theme/images/icon/icon_add.gif"], [$l10n.WEBMAIL_DO_SORT_FILTER,"javascript:aipo.common.showDialog('$newUrl2');","images/webmail/webmail_change_turn.gif"]])
#set($tabs = [[$l10n.WEBMAIL_FILTERLIST, "",""]])
#set ($type = "filter")
##------------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<h2>$l10n.WEBMAIL_MANAGEMENT_FILTER</h2>
#if($result.List.size() > 0)
<div class="auiSummaryMeta clearfix"><p>
#AUIbuttonAction($l10n.WEBMAIL_DO_ADD_FILTER "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormScreen')');")
</p></div>
#end
#if($!result.AccountId == 0)
<a href="javascript:aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailAccountFormScreen").addQueryData("entityid","new"))');">$l10n.WEBMAIL_ADD_MAILACCOUNT_INFOMSG</a>

#else
#if($result.List.size() <= 0)
#AUIbuttonActionInBlankBox($l10n.WEBMAIL_DO_ADD_FILTER "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormScreen')');")
#else
#ALajaxlistformheader($l10n.WEBMAIL_FILTER)
#AUISummaryDiv()
<div class="floatLeft auiForm">
#AUIajaxbuttonCheckboxDelete($l10n.WEBMAIL_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormJSONScreen').addQueryData('mode','multi_delete')" "$!indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#AUIbutton($l10n.WEBMAIL_DO_SORT_APPLY_FILTER "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterOrderFormScreen')');")
</div>
<div class="floatRight">
#AUIajaxpageview('WebMailFilterListScreen' $result)
</div>
#AUISummaryDivfooter()
#ALformfooter()
#AUIrowTableWide()
<tr>
#ALtdheadThin("#ALswitchCheckbox()")
#ALtdheadThin("#ALajaxsort('sort_order' $l10n.WEBMAIL_PROCESS_ORDER $result 'WebMailFilterListScreen')")
#ALtdhead("#ALajaxsort('filter_name' $l10n.WEBMAIL_FILTER_NAME $result 'WebMailFilterListScreen')")
#ALtdhead("#ALajaxsort('filter_string' $l10n.WEBMAIL_DIVIDE_CONDITION $result 'WebMailFilterListScreen')")
#ALtdhead("#ALajaxsort('dst_folder_name' $l10n.WEBMAIL_DIVIDE_FOLDER $result 'WebMailFilterListScreen')")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.FilterId' type='checkbox' value='$!record.FilterId'/>" 'align="center"')
#ALtdcellAtt("$!record.SortOrder" "class='right'")
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFilterDetailScreen").addQueryData("filterid",$record.FilterId))');">$!record.FilterName</a>
</div>
#ALtdcellfooter()
#ALtdcellheaderAtt('align="center" nowrap')
$!{record.FilterType}$l10n.WEBMAIL_IS$!{record.FilterString}$l10n.WEBMAIL_CONTAINS
#ALtdcellfooter()
#ALtdcell("$!record.DstFolderName")
</tr>
#end
#AUItablefooter()
#AUISummaryDiv()
<div class="floatLeft auiForm">
#AUIajaxbuttonCheckboxDelete($l10n.WEBMAIL_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterFormJSONScreen').addQueryData('mode','multi_delete')" "$!indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#AUIbutton($l10n.WEBMAIL_DO_SORT_APPLY_FILTER "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFilterOrderFormScreen')');")
</div>
<div class="floatRight">
#AUIajaxpageview('WebMailFilterListScreen' $result)
</div>
#AUISummaryDivfooter()

#end

#end
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/webmail-nonaction-widgets.vm")
