#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<base href="$clink.External" ></base>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
#if($config.getString("portal.title"))#set($titlePrefix = $config.getString("portal.title"))#else#set($titlePrefix = "")#end
<title>${alias}</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="copyright" content="${copyright}" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7,chrome=1" />
<meta name="robots" content="noindex,follow" />
<link type="image/x-icon" rel="shortcut icon" href="${external_resources_url}/images/favicon.ico?$!{utils.CacheBust}" />
<link type="image/x-icon" rel="icon" href="${external_resources_url}/images/favicon.ico?$!{utils.CacheBust}" />
<link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/${theme}/css/aui.css?$!{utils.CacheBust}"/>
<link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/${theme}/css/pre_print.css?$!{utils.CacheBust}"/>
<link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/${theme}/css/print.css?$!{utils.CacheBust}" media="print" />
<link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/$!{theme}/css/font-awesome.min.css" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/$!{theme}/css/font-awesome-ie7.min.css" /><![endif]-->
<style>
.p10 td{
padding:10px;
line-height:140%;
}
</style>
<!--
#if($isXDomain == "true")
<script type="text/javascript">
  djConifg = {
    xDomainBasePath: '${external_resources_url}/javascript'
  };
</script>
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/javascript/dojo/dojo.xd.js"></script>
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/javascript/aipo.xd.js"></script>
#else
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/javascript/dojo/dojo.js"></script>
<script language="JavaScript" type="text/javascript" src="${external_resources_url}/javascript/aipo.js"></script>
#end
<script type="text/javascript" src="${unlockeddomain_url}/gadgets/js/core:rpc:shindig-container.js?c=1"></script>
<script type="text/javascript" src="${external_resources_url}/javascript/aipo/container.js"></script>
<script type="text/javascript" src="${external_resources_url}/javascript/aipo/customize/form.js"></script>
-->
</head>
<body>
<div id="printHeader">
#AUIPrintWindowCloseIcon()
$l10n.WEBMAIL_NOT_REFLECT_MSG
<table>
<tr>
<th>$l10n.WEBMAIL_SHOWWIDTH</th>
<td>
<select id="print_width" onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="100%" >100%</option>
<option value="90%">90%</option>
<option value="80%">80%</option>
<option selected="selected" value="600px">600$l10n.WEBMAIL_PIXEL</option>
<option value="620px">620$l10n.WEBMAIL_PIXEL</option>
<option value="640px">640$l10n.WEBMAIL_PIXEL</option>
<option value="660px">660$l10n.WEBMAIL_PIXEL</option>
<option value="680px">680$l10n.WEBMAIL_PIXEL</option>
<option value="700px">700$l10n.WEBMAIL_PIXEL</option>
<option value="720px">720$l10n.WEBMAIL_PIXEL</option>
<option value="740px">740$l10n.WEBMAIL_PIXEL</option>
<option value="760px">760$l10n.WEBMAIL_PIXEL</option>
<option value="780px">780$l10n.WEBMAIL_PIXEL</option>
<option value="800px">800$l10n.WEBMAIL_PIXEL</option>
</select>
</td>
</tr>
<tr>
<th>$l10n.WEBMAIL_CHARSIZE</th>
<td><select id="print_word_size" onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="8pt">8pt</option>
<option value="9pt">9pt</option>
<option selected="selected" value="10pt">10pt</option>
<option value="11pt">11pt</option>
<option value="12pt">12pt</option>
<option value="13pt">13pt</option>
<option value="14pt">14pt</option>
<option value="16pt">16pt</option>
<option value="18pt">18pt</option>
<option value="20pt">20pt</option>
</select>
</td>
</tr>
<tr>
<td><input type="button" value="$l10n.WEBMAIL_DO_PRINT" onclick="javascript:print();"/></td>
</tr>
</table>
</div>
<script type="text/javascript" language="JavaScript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;
  }
  //]]>
</script>
<div id="printBody" style="width:600px;font-size:10pt;">
<h1>$!result.Detail.Subject</h1>
<table class="p10">
<colgroup width="30%"></colgroup>
<colgroup width="70%"></colgroup>
<tbody>
<tr>
<td colspan="2">
$l10n.WEBMAIL_DATE$l10n.WEBMAIL_COLON$!{result.Detail.Date.Year}$l10n.WEBMAIL_YEAR$!{result.Detail.Date.Month}$l10n.WEBMAIL_MONTH$!{result.Detail.Date.Day}$l10n.WEBMAIL_DAY$!{result.Detail.Date.time}<br>
$l10n.WEBMAIL_TO$l10n.WEBMAIL_COLON$!result.Detail.To<br>
$l10n.WEBMAIL_SENDER$l10n.WEBMAIL_COLON$!result.Detail.From<br>
</td>
</tr>
<tr>
<td colspan="2">
$!result.Detail.Body
</td>
</tr>
<tr>
	<th class="left">$l10n.WEBMAIL_ATTACHMENT</th>
	<td>
#foreach( $attachmentFileName in $!result.Detail.AttachmentFileNames )
	$result.getStringCR($attachmentFileName)<br>
#end
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>

