#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($DefTypeCompany = $!result.TypeCompany.toString())
#set ($subtitle = $l10n.WEBMAIL_ADDRESSBOOK)
#set($internalScreenlink = "$jslink.getPortletById($!portlet.ID).addPathInfo('template','UserEmailLiteJSONScreen')")
#set($externalScreenlink = "$jslink.getPortletById($!portlet.ID).addPathInfo('template','AddressBookUserEmailLiteJSONScreen')")
## ---------------------------------------------------------------------------

<div class="spaceAll"><h4>$subtitle</h4>
#ALajaxdetailformheader("webmailAddressbookForm")
#ALdialogtableheaderWide()
<tr>
<td width="40%" rowspan="3" valign="top">
<div style="width: 250px;">
<p style="line-height:1" class="mb5">
<input name="type_company" type="radio" value="1" id="corpId$!{portlet.ID}" #if($DefTypeCompany == "1") checked="checked" #end onclick="aipo.webmail.switchTypeCompany(this)">
<label for="corpId$!{portlet.ID}">$l10n.WEBMAIL_USERLIST</label>
<input name="type_company" type="radio" value="0" id="syagaiId$!{portlet.ID}" #if($DefTypeCompany == "0") checked="checked" #end onclick="aipo.webmail.switchTypeCompany(this)">
<label for="syagaiId$!{portlet.ID}">$l10n.WEBMAIL_ADDRESSBOOK</label>
</p>
<div id="Block_Internal_Group" class="mb5" #if($DefTypeCompany == "0") style="display:none;" #end>
<select name="currentInternalGroupName" id="currentInternalGroupName" style="width: 99%" onchange="aipo.webmail.changeInternalGroup('$internalScreenlink', this.options[this.selectedIndex].value)">
<option value="LoginUser">$l10n.WEBMAIL_ALL_GROUP</option>
#foreach( $record in $!result.InternalGroupList )
<option value="$!record.Name">$!record.AliasName</option>
#end
#if(($result.InternalGroupList.size() > 0) && ($result.PostMap.size() > 0))
<option value="$!record.Name">----------</option>
#end
#foreach( $record in $!result.PostMap )
<option value="$!record.GroupName">$!record.PostName</option>
#end
</select>
</div>
<div id="userDiv" class="mb5" #if($DefTypeCompany == "0") style="display:none;" #end></div>
<div id="Block_External_Group" class="mb5" #if($DefTypeCompany == "1") style="display:none;" #end>
<select name="currentExternalGroupName" id="currentExternalGroupName" style="width: 99%" onchange="aipo.webmail.changeExternalGroup('$externalScreenlink', this.options[this.selectedIndex].value)">
<option value="">$l10n.WEBMAIL_ALL_GROUP</option>
#foreach( $record in $!result.ExternalGroupList )
<option value="$!record.GroupId">$!record.Name</option>
#end
</select>
</div>
<div id="addrDiv" class="mb5" #if($DefTypeCompany == "1") style="display:none;" #end></div>
#ALbutton('add_to' $l10n.WEBMAIL_ADD_TO "aipo.webmail.exAddMember(this.form, this.form.detail_to_recipients, '${portlet.ID}')")
#ALbutton('add_cc' $l10n.WEBMAIL_ADD_CC "aipo.webmail.exAddMember(this.form, this.form.detail_cc_recipients, '${portlet.ID}')")
#ALbutton('add_bcc' $l10n.WEBMAIL_ADD_BCC "aipo.webmail.exAddMember(this.form, this.form.detail_bcc_recipients, '${portlet.ID}')")
</div>
</td>
<td class="caption" style="min-width:50px;width:50px">$l10n.WEBMAIL_TO</td>
#ALtditemheader()
<select name="detail_to_recipients" id="detail_to_recipients" size="3" multiple="multiple" style="width: 230px;">
#foreach( $record in $!result.ToRecipientList )
<option value="$record.toString()">$record.toString()</option>
#end
</select>
<div class="alignright">$l10n.WEBMAIL_SELECTED_ADDRESS#ALbutton('del_to' $l10n.WEBMAIL_DELETE 'aimluck.io.removeOptions(this.form.detail_to_recipients)')</div>
#ALtditemfooter()
<td  class="caption" style="min-width:50px;width:50px">CC</td>
#ALtditemheader()
<select name="detail_cc_recipients" id="detail_cc_recipients" size="3" multiple="multiple" style="width: 230px;">
#foreach( $record in $!result.CcRecipientList )
<option value="$record.toString()">$record.toString()</option>
#end
</select>
<div class="alignright">$l10n.WEBMAIL_SELECTED_ADDRESS#ALbutton('del_cc' $l10n.WEBMAIL_DELETE 'aimluck.io.removeOptions(this.form.detail_cc_recipients)')</div>
#ALtditemfooter()
<td  class="caption" style="min-width:50px;width:50px">BCC</td>
#ALtditemheader()
<select name="detail_bcc_recipients" id="detail_bcc_recipients" size="3" multiple="multiple" style="width: 230px;">
#foreach( $record in $!result.BccRecipientList )
<option value="$record.toString()">$record.toString()</option>
#end
</select>
<div class="alignright">$l10n.WEBMAIL_SELECTED_ADDRESS#ALbutton('del_bcc' $l10n.WEBMAIL_DELETE 'aimluck.io.removeOptions(this.form.detail_bcc_recipients)')</div>
#ALtditemfooter()
</tr>
#ALtablefooter()
#ALbuttonheader()
#ALbutton('addAddresses' $l10n.WEBMAIL_DO_DECIDE 'aipo.webmail.insertData()')
<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.WEBMAIL_CLOSE1" onclick="aipo.webmail.close();" />
#ALbuttonfooter()
<input type="hidden" id="urlUserlist$!portlet.ID" name="urlUserlist$!portlet.ID" value="$internalScreenlink" />
<input type="hidden" id="urlAddrlist$!portlet.ID" name="urlAddrlist$!portlet.ID" value="$externalScreenlink" />
#ALformfooter()
</div>
