#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')")
#if($mode=="new_form")
#set ($action_str = "追加する")
#set ($subtitle = 'ﾄﾋﾟｯｸ追加')
#set ($event_submit = "eventSubmit_doMsgboard_topic_insert")
#else
#set ($action_str = "更新する")
#set ($subtitle = 'ﾄﾋﾟｯｸ編集')
#set ($event_submit = "eventSubmit_doMsgboard_topic_update")
#end
#set($linklist = [["ﾄﾋﾟｯｸ一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')"]])
#ALcell_pagetitle($career $subtitle)
#ALcell_errmsg($career $errmsgs)
#ALcell_formheader($career $jslink $portlet)
ｶﾃｺﾞﾘ#ALcell_br($career)
<select name="category_id">
#foreach( $record in $result.CategoryList )
<option value="$!record.CategoryId" #if (!(($!result.CategoryId) && $!record.CategoryId.toString() == '0') || ($!result.CategoryId.toString() == $!record.CategoryId.toString())) #end>$!record.CategoryName</option>
#end
</select>
#ALcell_hr($career '1')
ﾀｲﾄﾙ#ALcell_must()#ALcell_br($career)
#ALcell_textfield($career 'topic_name' $!result.TopicName 14 50 '' 'h')
#ALcell_hr($career '1')
$!result.getFieldName('note')#ALcell_must()#ALcell_br($career)
#ALcell_textarea($career 'note' $!result.Note 6 14 '' 'h')
#ALcell_hr($career '1')
#ALcell_submit($career $event_submit $action_str)
#ALcell_formfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
