#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFileFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetFolderFormScreen").addQueryData("entityid","new").addQueryData("mode","new")))
#set ($newUrl3 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doCabinet_list','1')))
#set ($submenulist = [["$l10n.CABINET_DO_ADD_FILE","javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.todo.onLoadTodoDialog);","images/icon/icon_add.gif"], ["$l10n.CABINET_DO_ADD_FOLDER","javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID',aipo.todo.onLoadCategoryDialog);","images/icon/icon_add.gif"]])
## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if("${clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
<a title="$l10n.CABINET_DO_ADD_FILE" href="javascript:aipo.common.showDialog('$newUrl1','$!portlet.ID',aipo.cabinet.onLoadFileDialog);" class="auiButtonBold">$l10n.CABINET_DO_ADD_FILE</a>
</div>
<div id="subNavigation" class="auiWidget clearfix">
<div class="auiDirectoryList">
<div class="d0#if(!$result.SelectedFolderInfo) active #end"><a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1').addQueryData('folder_id' ,'0').addQueryData("reset_params","true"))', '$!portlet.ID');" ><span class="directory">$l10n.CABINET_ALL_FOLDER</span></a></div>
#foreach($record in $!result.FolderHierarchyList)
#set($index = $record.HierarchyIndex + 1)
##全フォルダを表示するのでvisibleの条件は無視
#if($record.isAuthorizedVisible())
#if($record.HierarchyIndex <= 0)
<div class="d1#if("$!result.SelectedFolderInfo.FolderId" == "$record.FolderId") active#end">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1').addQueryData('folder_id' ,"$record.FolderId"))', '$!portlet.ID');" ><span class="directory">${record.FolderName}</span></a></div>
#else
<div class="d$index#if("$!result.SelectedFolderInfo.FolderId" == "$record.FolderId") active#end">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","CabinetListScreen").addQueryData('eventSubmit_doCabinet_list','1').addQueryData('folder_id' ,"$record.FolderId"))', '$!portlet.ID');" ><span class="directory">${record.FolderName}</span></a></div>
#end
#end
#end
</div>
<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','CabinetFolderListScreen')', '$!portlet.ID');">$l10n.CABINET_MANAGEMENT_FOLDER</a>
</div>
</div>
</div>