#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($mode=="new_form")
#set ($action_str = $l10n.REPORT_ADD)
#set ($event_submit = "eventSubmit_doReport_insert")
#set ($subtitle = $l10n.REPORT_REPORT_ADDING)
#set ($modesrv = "insert")
#else
#set ($action_str = $l10n.REPORT_UPDATE)
#set ($subtitle = $l10n.REPORT_REPORT_EDIT)
#set ($event_submit = "eventSubmit_doReport_update")
#set ($modesrv = "update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="report_val_member1" style="display:none">$l10n.REPORT_SELECT_MENVERS</span>
<span id="report_val_member2" style="display:none">$l10n.REPORT_SELECT_NOTIFY_POSITION</span>
<span id="report_val_member3" style="display:none">$l10n.REPORT_HIDE_SELECT_MENU</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)

#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")

<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("reportForm" $jslink $portlet "ReportFormJSONScreen" "aimluck.io.selectAllOptions(this.positions);aipo.report.delaySelectAllOptions(this, aimluck.io.createSelectFromFileList(this, '$!portlet.ID'));aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.report.onReceiveMessage);aipo.report.onLoadReportDetail")
<input type="hidden" name="mode" value="$!modesrv" />

#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('report_name'))")
#ALtditemheader()
#ALtextfieldw100('report_name' $!result.ReportName 50 'active')
#ALtditemfooter()

#ALtdcaption("#ALrequired($l10n.REPORT_SETFIELDNAME_MENVERS)")

#ALtditemheader()
<div id="memberFieldButton"></div>
<div id="memberField" style="display:none;">
<table class="none">
  <tr><td>
    <div class="spaceTop spaceLeft small">$l10n.REPORT_ADD_MENVER_MSG</div>
    <div dojoType="aipo.widget.MemberNormalSelectList"
        id="membernormalselect"
        widgetId="membernormalselect"
        buttonAddId="button_member_add"
        buttonRemoveId="button_member_remove"
        memberFromId="tmp_member_from"
        memberToTitle="$l10n.REPORT_MEMVER_LIST"
        memberToId="members"
        memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
        memberFromOptionKey="name"
        memberFromOptionValue="aliasName"
        groupSelectId="tmp_group"
        groupSelectPreOptionKey="LoginUser"
        groupSelectPreOptionValue="$l10n.REPORT_ALL_GROUP"
        groupSelectOptionKey="groupId"
        groupSelectOptionValue="name"
        memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen').addQueryData('mode','mygroup_and_post')"
        changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
    </div>
    <select size="5" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
  </td></tr>
</table>
</div>
#ALtditemfooter()

#ALtdcaption("#ALrequired($!result.getFieldName('createDate'))")
#ALtditemheaderAtt('class="auiSetDate"')
<div class="mb5">
	<div dojoType="aipo.widget.DropdownDatepicker" id="datepicker" widgetId="datepicker" iconURL="images/icon/icon_date.gif" iconAlt="$l10n.REPORT_DATE" hiddenId="startDate" initValue="$!{result.startDate.Year}/$!{result.startDate.Month}/$!{result.startDate.Day}" inputId="input_date" dateId="startDate" displayCheck="none"></div>
</div>
<select name="startDate_hour" size="1">
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.StartDate.Hour == "$num") selected #end>$num</option>
#end
</select>&nbsp;:
<select name="startDate_minute" size="1">
#foreach ( $num in [0..11] )
#set($num2 = $num * 5)
<option value="${num2}" #if ($!result.StartDate.Minute == "${num2}") selected #end>$!result.toTwoDigitString($!num2)</option>
#end
</select>
&nbsp;-&nbsp;
<select name="endDate_hour" size="1">
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.EndDate.Hour == "$num") selected #end>$num</option>
#end
</select>&nbsp;:
<select name="endDate_minute" size="1">
#foreach ( $num in [0..11] )
#set($num2 = $num * 5)
<option value="${num2}" #if ($!result.EndDate.Minute == "${num2}") selected #end>$!result.toTwoDigitString($!num2)</option>
#end
</select>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('note'))")
#ALtditemheader()
<textarea class="text wide" name="note" rows="10" cols="40">$!result.Note</textarea>
#ALtditemfooter()

<tr #if(!$result.isFileUploadable())class="mb_hide"#end>
<td class="caption">$l10n.REPORT_SETFIELDNAME_ATTACHMENT</td>
<td>
  <div class="clearfix">
  <div>
	#IFFileUpload()
  </div>
  	<ul id="attachments_$!{portlet.ID}" class="attachments">
  	#foreach($record in $!result.AttachmentFileNameList )
  	<li data-fileid="s${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);aipo.report.setWrapperHeight();">$l10n.REPORT_DELETE</span></li>
  	#end
  </ul>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName" />
  </div>
</td>
</tr>
#ALtdcaption("#ALrequired($l10n.REPORT_SETFIELDNAME_POSITIONS)")
#ALtditemheader()
<div id="mapFieldButton"></div>
<div id="mapField">
<table class="none">
  <tr><td>
    <div class="spaceTop spaceLeft small">$l10n.REPORT_ADD_NOTIFY_POSITION_MSG</div>
    <div dojoType="aipo.widget.MemberNormalSelectList"
        id="mapnormalselect"
        widgetId="mapnormalselect"
        buttonAddId="button_map_add"
        buttonRemoveId="button_map_remove"
        memberFromId="tmp_map_from"
        memberToTitle="$l10n.REPORT_NOTIFY_POSITION_LIST"
        memberToId="positions"
        memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
        memberFromOptionKey="name"
        memberFromOptionValue="aliasName"
        groupSelectId="tmp_map_group"
        groupSelectPreOptionKey="LoginUser"
        groupSelectPreOptionValue="$l10n.REPORT_ALL_GROUP"
        groupSelectOptionKey="groupId"
        groupSelectOptionValue="name"
        memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen').addQueryData('mode','mygroup_and_post')"
        changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
    </div>
    <select size="5" multiple="multiple" style="display:none;" name="init_maplist" id="init_maplist">#foreach($record in $!result.mapList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
  </td></tr>
</table>
</div>
#ALtditemfooter()

#ALtablefooter()

#ALbuttonheader()
<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="$l10n.REPORT_ADD" onclick="aimluck.io.setHiddenValue(this);">
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
