#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

##-------------------------------------------------------------
#set ($action_str = $l10n.WEBMAIL_DO_SEND)
#set ($event_submit = "eventSubmit_doWebmail_send_mail")
#set ($accountname = $!result.AccountName)
#set($to = $!result.To)
#set($cc = $!result.Cc)
#set($bcc =$!result.Bcc)
#set($subject = $!result.Subject)
#set($body = $!result.Body)
#set ($indicator_id = "indicator-dlg-")
##-------------------------------------------------------------
#ALdialogheader($l10n.WEBMAIL_CREATE_EMAIL)
#if($!result.AccountId == 0)
#ALbuttonheader()
<div class="message">$l10n.WEBMAIL_SELECT_MAILACCOUNT_MSG</div>
#ALajaxbuttonClose()
#ALbuttonfooter()
#else
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("workflowForm" $jslink $portlet "WebMailFormJSONScreen" "aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.webmail.onReceiveMessage)")
<input type="hidden" name="mode" value="insert" />
<input type="hidden" name="mailtype" value="$!result.MailType">
<div id="addressbookDialog" class="addressbookDialog" style="width:600px;display:none"></div>
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('to'))")
#ALtditemheader()
#ALtextfield('to' $!result.To '60%' 512 'disable')
##ALbutton('addressbook' $l10n.WEBMAIL_ADDRESSBOOK 'open_addressbook()')
#if($result.hasAuthorityAddressBook())
<input type="button" onclick="aipo.webmail.showAddressbookDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailAddressbookFormScreen"))', '$!portlet.ID', '$indicator_id', aipo.webmail.onLoadAddressbookDialog);" value="$l10n.WEBMAIL_ADDRESSBOOK" class="button" name="open_addressbook"/>
#end
#ALtditemfooter()
#ALtdcaption("$!result.getFieldName('cc')")
#ALtditem("#ALtextfield('cc' $!result.Cc '60%' 512 'disable')")
#ALtdcaption("$!result.getFieldName('bcc')")
#ALtditem("#ALtextfield('bcc' $!result.Bcc '60%' 512 'disable')")
#ALtdcaption("$!result.getFieldName('subject')")
#ALtditem("#ALtextfield('subject' $!result.Subject '60%' $!result.Subject.MaxLength 'active')")
#ALtdcaption("$!result.getFieldName('body')")
#ALtditemheader()
#ALtextarea('body' $!result.Body 10 40)
#ALtditemfooter()
<tr #if(!$result.isFileUploadable())class="mb_hide"#end>
<td class="caption">$l10n.WEBMAIL_ATTACHMENT</td>
<td>
  <div class="clearfix">
  <div>
  #IFFileUpload()
  </div>
  <ul id="attachments_$!{portlet.ID}" class="attachments">
   #foreach($record in $!result.AttachmentFileNameList )
    <li data-fileid="${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">削除</span></li>
   #end
  </ul>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName" />
  </div>
</td>
</tr>
#ALtablefooter()
#ALbuttonheader()
<input class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="$l10n.WEBMAIL_DO_SEND" onclick="aimluck.io.setHiddenValue(this);">
<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.WEBMAIL_CLOSE1" onclick="aipo.common.hideDialog();if(dojo.isIE==8){location.reload();}">
#ALbuttonfooter()
#ALformfooter()
#end
#ALdialogfooter()
