#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.WEBMAIL_DETAIL_MAILACCOUNT)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader($l10n.WEBMAIL_MAILACCOUNT)
#ALtableheaderWide()
#ALtdcaption($l10n.WEBMAIL_MAILACCOUNT_NAME)
#ALtditem("$!result.Detail.AccountName")
#ALtdcaption($l10n.WEBMAIL_MAILSERVER_SEND)
#ALtditem("$!result.Detail.SmtpserverName")
#ALtdcaption($l10n.WEBMAIL_MAILSERVER_RECEIVE)
#ALtditem("$!result.Detail.Pop3serverName")
#ALtdcaption($l10n.WEBMAIL_USERID_RECEIVE)
#ALtditem("$!result.Detail.Pop3userName")
#ALtdcaption($l10n.WEBMAIL_USERPASS_RECEIVE)
#ALtditem("**********")
#ALtdcaption($l10n.WEBMAIL_NAME)
#ALtditem("$!result.Detail.MailUserName")
#ALtdcaption($l10n.WEBMAIL_MAILADDRESS)
#ALtditem("$!result.Detail.MailAddress")
#ALtdcaption($l10n.WEBMAIL_PORTNUM_SEND)
#ALtditem("$!result.Detail.SmtpPort")
#ALtdcaption($l10n.WEBMAIL_PORTNUM_RECEIVE)
#ALtditem("$!result.Detail.Pop3Port")
#ALtdcaption($l10n.WEBMAIL_AUTHENTICATION_SEND)
#ALtditemheader()
#if ($!result.Detail.AuthSendFlg.toString() == "1")
$l10n.WEBMAIL_POP_BEFORE_SMTP
#elseif ($!result.Detail.AuthSendFlg.toString() == "2")
$l10n.WEBMAIL_SMTP_USERID$l10n.WEBMAIL_COLON$!{result.Detail.AuthSendUserId}）
#else
$l10n.WEBMAIL_NO_AUTHENTICATION
#end
#ALtditemfooter()
#ALtdcaption($l10n.WEBMAIL_CYPHER_SEND)
#ALtditemheader()
#if ($!result.Detail.SmtpEncryptionFlag.toString() == "1")
$l10n.WEBMAIL_SSL_CODING
#else
$l10n.WEBMAIL_NO_CODING
#end
#ALtditemfooter()
#ALtdcaption($l10n.WEBMAIL_CYPHER_RECEIVE)
#ALtditemheader()
#if ($!result.Detail.Pop3EncryptionFlag.toString() == "1")
$l10n.WEBMAIL_SSL_CODING
#else
$l10n.WEBMAIL_NO_CODING
#end
#ALtditemfooter()
#ALtdcaption($l10n.WEBMAIL_SIGN)
#ALtditem($!result.Detail.Signature)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormScreen').addQueryData('entityid',$!{result.Detail.AccountId})" "$!portlet.ID" "aipo.webmail.onLoadMailAccountDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormJSONScreen').addQueryData('accountid',$!{result.Detail.AccountId}).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
