#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#macro(ALtdcaptionAttWebmail $title)
<tr>
<td class="caption" style="width:160px;">
<span class="required">
<div style="white-space:normal;width:110px;">
${title}
</div>
</span>
</td>
#end
## ---------------------------------------------------------------------------
#if($mode=="new_form")
#set ($action_str = $l10n.WEBMAIL_DO_ADD)
#set ($event_submit = "eventSubmit_doWebmail_insert_account")
#set ($subtitle = $l10n.WEBMAIL_ADD_NEW_MAILACCOUNT)
#else
#set ($action_str = $l10n.WEBMAIL_DO_UPDATE)
#set ($event_submit = "eventSubmit_doWebmail_update_account")
#set ($subtitle = $l10n.WEBMAIL_SETTING_MAILACCOUNT)
#end
#set ($indicator_id = "indicator-dlg-")
##----------------------------------------------------------------------------------
#ALdialogheader($subtitle)
#if(! ($mode=="new_form") && $!result.AccountId == 0)
#ALbuttonheader()
<div class="message">$l10n.WEBMAIL_SELECT_MAILACCOUNT_MSG</div>
#ALajaxbuttonClose()
#ALbuttonfooter()
#else
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("webmailForm" $jslink $portlet "WebMailAccountFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.webmail.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaptionAttWebmail($!result.getFieldName('account_name'))
#ALtditem("#ALtextfield('account_name' $!result.AccountName '60%' 50 'active')")
#ALtdcaptionAttWebmail($!result.getFieldName('smtpserver_name') )
#ALtditem("#ALtextfield('smtpserver_name' $!result.SmtpserverName '60%' 50 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('pop3server_name') )
#ALtditem("#ALtextfield('pop3server_name' $!result.Pop3serverName '60%' 50 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('pop3user_name') )
#ALtditem("#ALtextfield('pop3user_name' $!result.Pop3userName '60%' 50 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('pop3_password') )
#ALtditemheader()
<input class="text" name="pop3_password" value="$!result.Pop3Password" type="password" size="20" maxlength="50" >#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)
#ALtditemfooter()
#ALtdcaptionAttWebmail($!result.getFieldName('mail_user_name') )
#ALtditem("#ALtextfield('mail_user_name' $!result.MailUserName '60%' 50 'active')")
#ALtdcaptionAttWebmail($!result.getFieldName('mail_address') )
#ALtditem("#ALtextfield('mail_address' $!result.MailAddress '60%' 50 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('smtp_port') )
#ALtditem("#ALtextfield('smtp_port' $!result.SmtpPort '60%' 5 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_NUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('pop3_port') )
#ALtditem("#ALtextfield('pop3_port' $!result.Pop3Port '60%' 5 'disabled')#ALcaution($l10n.WEBMAIL_HALFWIDTH_NUM)")
#ALtdcaptionAttWebmail($!result.getFieldName('auth_send_flg'))
#ALtditemheader()
<input name="auth_send_flg" type="radio" value="0" id="$!{portlet.ID}auth_send_id0" #if ($!result.AuthSendFlg.toString() == "0") checked="checked" #end onclick="aipo.webmail.switchAuthSend(this)" />
<label for="$!{portlet.ID}auth_send_id0">$l10n.WEBMAIL_NO_AUTHENTICATION</label>
<input name="auth_send_flg" type="radio" value="1" id="$!{portlet.ID}auth_send_id1" #if ($!result.AuthSendFlg.toString() == "1") checked="checked" #end onclick="aipo.webmail.switchAuthSend(this)" />
<label for="$!{portlet.ID}auth_send_id1">$l10n.WEBMAIL_POP_BEFORE_SMTP</label>
<input name="auth_send_flg" type="radio" value="2" id="$!{portlet.ID}auth_send_id2" #if ($!result.AuthSendFlg.toString() == "2") checked="checked" #end onclick="aipo.webmail.switchAuthSend(this)" />
<label for="$!{portlet.ID}auth_send_id2">$l10n.WEBMAIL_SMTP</label>
<span id="smtp_auth_field" style="display:#if (! ($!result.AuthSendFlg.toString() == "2"))none#end">
<div class="spaceTop">
<h3>$l10n.WEBMAIL_SMTP_INFO#ALcaution($l10n.WEBMAIL_HALFWIDTH_ALPHANUM)</h3>
<div style="padding:3px;width:70px;float:left;clear:both;">$l10n.WEBMAIL_USER</div>#ALtextfield('auth_send_user_id' $!{result.AuthSendUserId} '60%' 50 'disabled')
<br/>
<div style="padding:3px;width:70px;float:left;clear:both;">$l10n.WEBMAIL_PASSWORD</div>#ALpasswdfield('auth_send_user_password' $!{result.AuthSendUserPasswd} '60%' 50 'disabled')
</div>
</span>
#ALtditemfooter()
#ALtdcaptionAttWebmail("$!result.getFieldName('auth_receive_flag')" )
#ALtditemheader()
<input name="auth_receive_flag" type="radio" value="0" id="$!{portlet.ID}auth_receive_id0" #if ($!result.AuthReceiveFlg.toString() == "0") checked="checked" #end>
<label for="$!{portlet.ID}auth_receive_id0">$l10n.WEBMAIL_STANDARD</label>
<input name="auth_receive_flag" type="radio" value="1" id="$!{portlet.ID}auth_receive_id1" #if ($!result.AuthReceiveFlg.toString() == "1") checked="checked" #end>
<label for="$!{portlet.ID}auth_receive_id1">$l10n.WEBMAIL_APOP</label>
#ALtditemfooter()
#ALtdcaptionAttWebmail("$!result.getFieldName('smtp_encryption_flag')" )
#ALtditemheader()
<input name="smtp_encryption_flag" type="radio" value="0" id="$!{portlet.ID}smtp_encryption_id0" #if ($!result.SmtpEncryptionFlag.toString() == "0") checked="checked" #end>
<label for="$!{portlet.ID}smtp_encryption_id0">$l10n.WEBMAIL_DONT_CODING</label>
<input name="smtp_encryption_flag" type="radio" value="1" id="$!{portlet.ID}smtp_encryption_id1" #if ($!result.SmtpEncryptionFlag.toString() == "1") checked="checked" #end>
<label for="$!{portlet.ID}smtp_encryption_id1">$l10n.WEBMAIL_SSL_CODING</label>
#ALtditemfooter()
#ALtdcaptionAttWebmail("$!result.getFieldName('pop3_encryption_flag')" )
#ALtditemheader()
<input name="pop3_encryption_flag" type="radio" value="0" id="$!{portlet.ID}pop3_encryption_id0" #if ($!result.Pop3EncryptionFlag.toString() == "0") checked="checked" #end>
<label for="$!{portlet.ID}pop3_encryption_id0">$l10n.WEBMAIL_DONT_CODING</label>
<input name="pop3_encryption_flag" type="radio" value="1" id="$!{portlet.ID}pop3_encryption_id1" #if ($!result.Pop3EncryptionFlag.toString() == "1") checked="checked" #end>
<label for="$!{portlet.ID}pop3_encryption_id1">$l10n.WEBMAIL_SSL_CODING</label>
#ALtditemfooter()
#ALtdcaptionAttWebmail($!result.getFieldName("del_at_pop3_flg") )
<td nowrap="nowrap">
<input name="del_at_pop3_flg" type="radio" value="1" id="$!{portlet.ID}del_at_pop3_flg_enable_id" #if ($!result.DelAtPop3Flg.toString() == "1") checked="checked" #end onclick="aipo.webmail.switchDelAtPop3(this)">
<label for="$!{portlet.ID}del_at_pop3_flg_enable_id">$l10n.WEBMAIL_VALID</label>
<input name="del_at_pop3_flg" type="radio" value="0" id="$!{portlet.ID}del_at_pop3_flg_disable_id" #if ($!result.DelAtPop3Flg.toString() == "0") checked="checked" #end onclick="aipo.webmail.switchDelAtPop3(this)">
<label for="$!{portlet.ID}del_at_pop3_flg_disable_id">$l10n.WEBMAIL_INVALID</label>
<span id="del_at_pop3_flg_on_field" style="display:#if (! ($!result.DelAtPop3Flg.toString() == "0"))none;#end">
<br/><input name="del_at_pop3_before_days_flg" type="checkbox" value="1" id="$!{portlet.ID}del_at_pop3_for_days_flg_enable_id" #if ($!result.DelAtPop3BeforeDaysFlg.toString() == "1") checked="checked" #end>
<select name="del_at_pop3_before_days" witdth="30%">
#foreach ( $num in [1..100] )
<option value="$num" #if ($!result.DelAtPop3BeforeDays.toString() == "$num") selected #end>$num</option>
#end
</select>
<label for="$!{portlet.ID}del_at_pop3_for_days_flg_enable_id">$l10n.WEBMAIL_AUTODELETE_DATE_MSG</label>
</span>
<br />
<div><small>$l10n.WEBMAIL_DELETE_MAIL_MSG</small></div>
</td>
#ALtdcaptionAttWebmail($!result.getFieldName("non_received_flg") )
#ALtditemheader()
<input name="non_received_flg" type="radio" value="1" id="$!{portlet.ID}non_received_flg_enable_id" #if ($!result.NonReceivedFlg.toString() == "1") checked="checked" #end>
<label for="$!{portlet.ID}non_received_flg_enable_id">$l10n.WEBMAIL_VALID</label>
<input name="non_received_flg" type="radio" value="0" id="$!{portlet.ID}non_received_flg_disable_id" #if ($!result.NonReceivedFlg.toString() == "0") checked="checked" #end>
<label for="$!{portlet.ID}non_received_flg_disable_id">$l10n.WEBMAIL_INVALID</label>
#ALtditemfooter()
<tr>
<td class="caption" style="width:160px;">
<span class="">
<div style="white-space:normal;width:110px;">
$!result.getFieldName('signature')
</div>
</span>
</td>
#ALtditem("#ALtextarea('signature' $!result.Signature 10 20)")
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#end
#ALdialogfooter()
