#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [[$l10n.WEBMAIL_CONNECT_SETTING,"connect","$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_mailaccount_detail','1').addQueryData('Template','WebMailAdminDetailScreen')"],["メール通知設定","mailarrert","$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_mailaccount_detail_option','1').addQueryData('Template','WebMailAdminSettingsScreen')"]])
## ---------------------------------------------------------------------------
#ALajaxtabheader($tabs "mailarrert")
#ALspacebothheader()
<div style="padding:0px 0px 5px 0px">
$l10n.WEBMAIL_MAILINFORM_MSG
</div>
#ALformheader($l10n.WEBMAIL_MAILACCOUNT $jslink $portlet)
#ALtableheaderWide()
#ALtdcaption($l10n.WEBMAIL_COMMENT_OTHERS)
#set($cel = $l10n.WEBMAIL_DONT_INFORM)
#set($pc = $l10n.WEBMAIL_DONT_INFORM)
#if($result.Detail.MsgTypeBlog.toString() == "3") #set($pc = $l10n.DO_INFORM) #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeBlog.toString() == "2") #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeBlog.toString() == "1") #set($pc = $l10n.DO_INFORM)#end
<td class="item">
$l10n.WEBMAIL_PC2$pc
</td>
<td class="item">
$l10n.WEBMAIL_CELLPHONE2$cel
</td>
#ALtdcaption($l10n.WEBMAIL_ADD_SCHEDULE_OTHERS)
#set($cel = $l10n.WEBMAIL_DONT_INFORM)
#set($pc = $l10n.WEBMAIL_DONT_INFORM)
#if($result.Detail.MsgTypeSchedule.toString() == "3") #set($pc = $l10n.DO_INFORM) #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeSchedule.toString() == "2") #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeSchedule.toString() == "1") #set($pc = $l10n.DO_INFORM)#end
<td class="item">
$l10n.WEBMAIL_PC2$pc
</td>
<td class="item">
$l10n.WEBMAIL_CELLPHONE2$cel
</td>
#ALtdcaption($l10n.WEBMAIL_REQUEST_WORKFLOW)
#set($cel = $l10n.WEBMAIL_DONT_INFORM)
#set($pc = $l10n.WEBMAIL_DONT_INFORM)
#if($result.Detail.MsgTypeWorkflow.toString() == "3") #set($pc = $l10n.DO_INFORM) #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeWorkflow.toString() == "2") #set($cel = $l10n.DO_INFORM)
#elseif($result.Detail.MsgTypeWorkflow.toString() == "1") #set($pc = $l10n.DO_INFORM)#end
<td class="item">
$l10n.WEBMAIL_PC2$pc
</td>
<td class="item">
$l10n.WEBMAIL_CELLPHONE2$cel
</td>
 #*
#ALtdcaption($l10n.WEBMAIL_INFORMTIME)
<td class="item" colspan="2">
$l10n.WEBMAIL_THEDAY $!result.Detail.MsgNotifyTimeHour.toString() $l10n.WEBMAIL_HOUR $!result.Detail.MsgNotifyTimeMinute.toString() $l10n.WEBMAIL_MINUTE
</td>
 *#

#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEdit("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAdminSettingsFormScreen').addQueryData('entityid', 'edit')")
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
