#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#macro(WebmailajaxbuttonDelete $url $indicator_id $portlet_id $receive)
<input name="ajaxbuttonDelete" class="button" type="button" value="$l10n.WEBMAIL_DELETE" onclick="aipo.webmail.ajaxDeleteSubmit(this, '$!utils.escapeXML($url)', '$indicator_id', '$portlet_id', $receive);" />
#end
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.WEBMAIL_FOLDER)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader($l10n.WEBMAIL_FOLDER)
#if($result.CurrentPage)<input type="hidden" name="start" VALUE="$result.CurrentPage">#end
#ALtableheaderWide()
#ALtdcaption($l10n.WEBMAIL_FOLDER_NAME)
#ALtditem($!result.Detail.WbrFolderName)
#ALtablefooter()
#ALbuttonheader()
#if($!result.Detail.CanUpdate)
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFolderFormScreen').addQueryData('entityid',$!{result.Detail.FolderId})" "$!portlet.ID" "aipo.webmail.onLoadMailFolderDialog")
#WebmailajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFolderFormJSONScreen').addQueryData('mode', 'delete').addQueryData('entityid',$!{result.Detail.FolderId})" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
