#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!result.currentTab == "receive")
#set($person = $l10n.WEBMAIL_SENDER)
#else
#set($person = $l10n.WEBMAIL_RECEIVER)
#end
#set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFormScreen").addQueryData("entityid","new")))
#set ($newUrl2 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailAccountFormScreen").addQueryData('entityid',$result.AccountId)))
#set ($newUrl3 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailListScreen").addQueryData("mode","recieve")))
#set ($newUrl4 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailFolderFormScreen").addQueryData("entityid","new")))
#set ($submenulist = [[$l10n.WEBMAIL_DO_CREATE_EMAIL,"","themes/$!theme/images/icon/icon_add.gif"], [$l10n.WEBMAIL_DO_EDIT_ACCOUNT,"javascript:aipo.common.showDialog('$newUrl2','$!portlet.ID', aipo.webmail.onLoadMailAccountDialog);","images/icon/icon_edit.gif"], [$l10n.WEBMAIL_DO_RECEIVE_MAIL,"javascript:aipo.viewPage('$newUrl3','$!portlet.ID');aipo.webmail.onProcessingTimer();","themes/$!theme/images/icon/webmail_receive_mail.gif"], [$l10n.WEBMAIL_DO_CREATE_FOLDER,"javascript:aipo.common.showDialog('$newUrl4','$!portlet.ID');aipo.webmail.onProcessingTimer();","images/webmail/webmail_folder_add.gif"]])
#set ($tabs = [[$l10n.WEBMAIL_INBOX, "receive","$!jslink.getPortletById($!portlet.getID()).addQueryData('template','WebMailListScreen').addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('tab','receive')"], [$l10n.WEBMAIL_OUTBOX, "sent","$!jslink.getPortletById($!portlet.getID()).addQueryData('template','WebMailListScreen').addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('tab','sent')"]])
#set ($indicator_id = "indicator-list-")
#set ($StatStr = $!{result.StatStr})
#set ($type = "mail")
## ---------------------------------------------------------------------------
##ALsubmenubar($submenulist "")

#AUIcontentsAreaHeader()
#if(($errmsgs) && ($errmsgs.toString() != ""))
#ALerrmsg($errmsgs)
#else

#if($!result.AccountId == 0)
#AUIbuttonActionInBlankBox($l10n.WEBMAIL_DO_ADD_ACCOUNT "javascript:aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailAccountFormScreen').addQueryData('entityid','new'))');")
#else
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
#ALajaxlistformheader($l10n.WEBMAIL_WEBMAIL)

<div class="auiSummaryMeta clearfix">
<div class="floatLeft auiForm">
#if($!result.currentTab == "receive")
#AUIajaxbuttonCheckboxAction($l10n.WEBMAIL_DO_ALREADY_READ "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_read')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#end
#AUIajaxbuttonCheckboxDelete($l10n.WEBMAIL_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#if(($!result.FolderList.size() > 1) && ($!result.currentTab == "receive"))
#ALselectpdheader('move_folder' '12em' "if(this.selectedIndex != 0)aimluck.io.ajaxCheckboxActionSubmit(this, '$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_move'))', '$indicator_id', '$!portlet.ID', aipo.webmail.onReceiveMessage);this.selectedIndex = 0;")
<option value="">$l10n.WEBMAIL_MOVE_FOLDER</option>
#foreach($record in $!result.FolderList)
#if($result.FolderId != $record.FolderId)
<option value="${record.FolderId}">${record.FolderName}</option>
#end
#end
#ALselectfooter()
#end
<a class="auiButton" title="$l10n.WEBMAIL_RECEIVE_MAIL" href="javascript:void(0)" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailListScreen').addQueryData('mode','recieve')', '$!portlet.ID');aipo.webmail.onProcessingTimer();">
<span><img src='images/icon/icon_reload.gif' width='18' height='18' alt="$l10n.WEBMAIL_RECEIVE_MAIL"></span>
</a>
#if($StatStr && !($StatStr == ''))
<span class="indicator" id="indicator-$!portlet.ID">$StatStr</span>
#end
</div>
#if($result.List.size() != 0)
#AUIajaxpageview('WebMailListScreen' $result)
#end
</div>

#AUIrowMTableWide()
<tr>
#ALtdheadThin("#ALswitchCheckbox()")
##ALtdheadThin("#ALajaxsort('read_flg' $l10n.WEBMAIL_STATE $result 'WebMailListScreen')")
#ALtdheadAtt("#ALajaxsort('person' $person $result 'WebMailListScreen')" 'style="width:10em;"')
#ALtdhead("#ALajaxsort('subject' $l10n.WEBMAIL_TITLE $result 'WebMailListScreen')")
#ALtdheadAtt("#ALajaxsort('date' $l10n.WEBMAIL_DATE $result 'WebMailListScreen')" 'style="width:6em" class="center"')
##ALtdheadThin($l10n.WEBMAIL_CAPACITY)
##ALtdheadThin(' ')
##ALtdheadThin(' ')
</tr>
#if($!result.List && $!result.List.size() <= 0)
<tr><td colspan="4" class="auiNoData"><p>$l10n.WEBMAIL_NO_MAIL_THIS_FOLDER</p></td></tr>
#else
#foreach ($record in $result.List)
<tr>

#if(($!record.Subject) && ($!record.getSubject().toString() != ""))
#set($MailSubject = $!record.Subject)
#elseif($!record.Subject)
#set($MailSubject = $l10n.WEBMAIL_NOTITLE)
#end

#ALtdcellheaderAtt('class="auiMTCheck" align="center"')
<input name='check$!record.MailId' type='checkbox' value='$!record.MailId' />
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<a href='javascript:void(0);' onclick='aipo.common.showDialog("$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_mail','1').addQueryData('template','WebMailDetailScreen').addQueryData('entityid',$record.MailId).addQueryData('tab', $!result.currentTab))","$!portlet.ID",aipo.webmail.onLoadMailListDetail);' style="display:inline;">
#if($!record.isRead())
$!record.Person
#else
<strong>$!record.Person</strong>
#end
</a>
#ALtdcell("<div>$MailSubject</div>")
#ALtdcellAtt("$!{record.Date}" 'class="right" nowrap="nowrap"')

#ALtdcellfooter()
</tr>
#end
#end
#AUItablefooter()

<div class="auiSummaryMeta clearfix">
<div class="floatLeft auiForm">
#if($!result.currentTab == "receive")
#AUIajaxbuttonCheckboxAction($l10n.WEBMAIL_DO_ALREADY_READ "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_read')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#end
#AUIajaxbuttonCheckboxDelete($l10n.WEBMAIL_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.webmail.onReceiveMessage")
#if(($!result.FolderList.size() > 1) && ($!result.currentTab == "receive"))
#ALselectpdheader('move_folder' '12em' "if(this.selectedIndex != 0)aimluck.io.ajaxCheckboxActionSubmit(this, '$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailFormJSONScreen').addQueryData('mode','multi_move'))', '$indicator_id', '$!portlet.ID', aipo.webmail.onReceiveMessage);this.selectedIndex = 0;")
<option value="">$l10n.WEBMAIL_MOVE_FOLDER</option>
#foreach($record in $!result.FolderList)
#if($result.FolderId != $record.FolderId)
<option value="${record.FolderId}">${record.FolderName}</option>
#end
#end
#ALselectfooter()
#end
<a class="auiButton" title="$l10n.WEBMAIL_RECEIVE_MAIL" href="javascript:void(0)" onclick="aipo.viewPage('$!jslink.getPortletById($!portlet.ID).addQueryData('template','WebMailListScreen').addQueryData('mode','recieve')', '$!portlet.ID');aipo.webmail.onProcessingTimer();">
<span><img src='images/icon/icon_reload.gif' width='18' height='18' alt="$l10n.WEBMAIL_RECEIVE_MAIL"></span>
</a>
</div>
#if($result.List.size() != 0)
#AUIajaxpageview('WebMailListScreen' $result)
#end
</div>


#if($result.CurrentPage > 1)
<input type="hidden" id="page_start" name="page_start" value="$result.CurrentPage" />
#end
#if($StatStr && !($StatStr == ''))
#set ($mailScreenUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WebMailListScreen")))
<input type="hidden" id="receiving" name="receiving" value="$mailScreenUrl" />
<input type="hidden" id="receivingPid" name="receivingPid" value="$!portlet.ID" />
#end
#ALformfooter()
#end
#end
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/webmail-widgets.vm")
