@charset "utf-8";
/* CSS Document */

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

#appsNavigation_v2,
#appsNavigationBack_v2 {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/***************************************************
	modalDialog
--------------------------------------------------*/
.modalDialog input[type=checkbox],
.modalDialog input[type=radio] {
  vertical-align: -0.3em;
}

/***************************************************
	auiIcon
--------------------------------------------------*/
[class^="auiButton"] [class^="auiIcon "] {
  margin-top: -1px;
}

/***************************************************
	mobileHeader
--------------------------------------------------*/
.auiPortletHead {
  display: none;
}

#mobileHeader_v2 {
  position: static;
}
#mobileHeader_v2 .counter {
  padding: 2px 2px 0;
}

#mobileHeader_v3 {
  position: static;
}
#mobileHeader_v3 .counter {
  padding: 2px 2px 0;
}

#roundWrapper .roundMainWrapper {
  padding:0;
}

/***************************************************
	auiMbTable
--------------------------------------------------*/
.auiMbTable .auiMTCheck {
  padding: 2px 10px 0 5px;
}
