@charset"utf-8";
body {
	width:auto;
	padding:5px;
}

label {
	cursor:pointer;
}

#printHeader {
  position: relative;
  width: 580px;
  margin: 0 0 10px 0;
  padding: 10px;
  font-size: 10pt;
  border: solid 2px #c0c0c0;
  background: #f0f0f0;
}
#printHeader .buttons {
	float:right;
}
#printHeader table {
	margin:10px 0;
}
#printHeader th {
	text-align:right;
	padding-right:5px;
}
#printBody h1 {
	font-size:12pt;
}
#printBody table, #printBody th, #printBody td {
	border:solid 1px #000;
	border-collapse:collapse;
}
#printBody table {
	width:100%;
}
#printBody td {
	vertical-align:top;
	padding:2px;
}
.week th {
	width:14%;
}
.days th {
	width:14%;
	text-align:left;
	border-top-width:3px !important;
	background:#ccc;
}
.days td {
	position:relative;
	border-top-width:3px !important;
	clear:both;
}
.days td div {
	z-index:1;
}
.day {
	position:absolute;
	float:right;
	font-size:3em;
	font-family:Verdana;
	color:#eee;
	z-index:-1 !important;
}
.off {
	background:#eee;
}
.off div {
	color:#666;
}
.off .day {
	display:none;
}
.times th {
	width:5%;
	text-align:left;
	border-top-width:3px !important;
	background:#ccc;
}
.calendarBody {
	min-height:80px;
}