#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "$l10n.BLOG_DO_COMMENT_CELL")
#set ($subtitle = "$l10n.BLOG_DO_COMMENT_ENTRY")
#set ($event_submit = "eventSubmit_doBlog_entry_reply")
#set($linklist = [["$l10n.BLOG_GO_BLOG_ENTRY_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"]])

#ALcell_pagetitle($career $subtitle)
#ALcell_errmsg($career $errmsgs)
#ALcell_errmsg($career $!{errmsgsOnCommentDetail})

#ALcell_formheader($career $jslink $portlet)
$l10n.BLOG_COMMENT_CELL_ENTRY#ALcell_must()#ALcell_br($career)
#ALcell_textarea($career 'comment' '' 6 14 '' 'h')
<input type="hidden" name="entityid" value="$entityid">
<input type="hidden" name="mode" value="comment" />
#ALcell_hr($career '1')
#ALcell_submit($career $event_submit $action_str)
#ALcell_formfooter()

#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
