#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')")
##set($methodlist = [["$l10n.BLOG_ADD_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"], ["$l10n.BLOG_ADD_THEME", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_thema_form','1').addQueryData('entityid','new')"], ["$l10n.BLOG_LOOK_ALL_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["$l10n.BLOG_DO_ENTRY_SEARCH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($methodlist = [["$l10n.BLOG_ADD_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"], ["$l10n.BLOG_LOOK_ALL_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["$l10n.BLOG_DO_ENTRY_SEARCH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($linklist = [["$l10n.BLOG_GO_ENTRY_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"]])
#ALcell_pagetitle($career "$l10n.BLOG_BLOG")
#ALcell_li_header($career)
$l10n.BLOG_COMMENT_CELL_NEW_LIST<br />
#ALcell_li_footer($career)
#if ($!{result.List.size()} <= 0)
$l10n.BLOG_NOTHING_ENTRY_SELECT_THEME
#else
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#ALcell_hr($career '1')
<ul>
#foreach ($record in $result.List)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_detail','1').addQueryData('mode','view').addQueryData("entityid",$record.EntryId).addQueryData('view_uid',${record.OwnerId})">${record.Title} #if($record.CommentsNum > 0)（$record.CommentsNum）#end</a>&nbsp;
${record.OwnerName}&nbsp;
(${record.TitleDate})
#ALcell_li_footer($career)
#end
</ul>
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#end
#ALcell_hr($career '1')
#ALcell_li_header($career)
$l10n.BLOG_COMMENT_CELL_HISTORY<br />
#ALcell_li_footer($career)
#if (!($result.CommentHistoryList) || $!result.CommentHistoryList.size() <= 0)
 &nbsp;$l10n.BLOG_COMMENT_CELL_NOTHING_DO
#else
<table>
#foreach ($record2 in $result.CommentHistoryList)
<tr>
<td>${record2.TitleDate}</td>
<td><a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_detail','1').addQueryData('mode','view').addQueryData("entityid",$record2.EntryId).addQueryData('view_uid',${record2.OwnerId}))');">${record2.Title}</a> （${record2.CommentsNum}） &nbsp;</td>
<td>${record2.OwnerName}</td>
</tr>
#end
</table>
#end
#ALcell_hr($career '1')
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
