#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($title = $l10n.SCHEDULE_SELECT_MEMBER_TEXT)
#set($pagelink = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectmember','1')")
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_member','1')")
#set($linklist = [[$l10n.SCHEDULE_TO_SELECT_GROUP, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_selectgroup','1')"],[$l10n.SCHEDULE_MY_SCHEDULE, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#ALcell_pagetitle($career $title)
#ALcell_hr($career '1')

#ALcell_formheader($career $jslink $portlet)
##ALcell_center_header($career)参加ﾕｰｻﾞｰ選択#ALcell_center_footer($career)
##ALcell_hr($career '1')

##set($memberlist = $!result.getUsers($!result.SelectedGroup.Value))
#set($memberlist = $!result.getUsers())
<input type="hidden" name="selectedgroup" value="$!{result.SelectedGroup}">
#set($usercount = 1)
##set($membersize = $!{result.MemberList.size()})

#if($memberlist.size() == 0)
$l10n.SCHEDULE_NO_USER_BELONGS
#else
$l10n.SCHEDULE_DISPLAY_YOUR_SCHEDULE
#ALcell_br($career)
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $pagelink $result)
#end

#foreach($record in $memberlist)
#if ( ! ($!result.LoginUser.Name.toString() == $!record.Name.toString()) )
<input name="selectedmember" type="radio" value="$!record.UserId">$!record.AliasName#ALcell_br($career)
#end
#end

#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $pagelink $result)
#end

#ALcell_hr($career '1')
#ALcell_submit($career "eventSubmit_doSchedule_menu_select_member" $l10n.SCHEDULE_DISPLAY)
#end

#ALcell_formfooter()
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

