#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($event_submit = "eventSubmit_doSchedule_form")
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
#set($methodlist = [[$l10n.SCHEDULE_REGISTER_ONEDAY, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','O')"], [$l10n.SCHEDULE_TO_REPEAT_REGISTRATION, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','R')"], [$l10n.SCHEDULE_TO_SPAN_REGISTRATION, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()}).addQueryData('schedule_type','S')"]])
#set($linklist = [[$l10n.SCHEDULE_ONEDAY_LIST, "$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')"], [$l10n.SCHEDULE_TO_SCHEDULE, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#set ($hasMember = false)
#ALcell_pagetitle($career $l10n.SCHEDULE_CELL_SCHEDULE_DETAIL)
#ALcell_dl_header($career)
#ALcell_dt($career $l10n.SCHEDULE_NAME)#ALcell_dd($career "$!{result.Detail.User.AliasName}")
#ALcell_dt($career $l10n.SCHEDULE_DATE)#ALcell_dd_header($career)
#if($!{result.Detail.isSpan()})
$!{result.Detail.StartDate.Year}/$!{result.Detail.StartDate.Month}/$!{result.Detail.StartDate.Day}$!{result.Detail.StartDate.DayOfWeek}から
$!{result.Detail.EndDate.Year}/$!{result.Detail.EndDate.Month}/$!{result.Detail.EndDate.Day}$!{result.Detail.EndDate.DayOfWeek}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}
$!{result.Detail.DateForCell}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
$l10n.SCHEDULE_SUB_REPEAT
#else
$!{result.Detail.StartDate.Year}/$!{result.Detail.StartDate.Month}/$!{result.Detail.StartDate.Day}$!{result.Detail.StartDate.DayOfWeek}
$!{result.Detail.DateForCell}
#if(! ${result.Detail.isPublic()})
$l10n.SCHEDULE_SUB_CLOSE_PUBLIC
#end
#end
#if($!{result.Detail.isTmpreserve()})
$l10n.SCHEDULE_SUB_TEMP
#end
#ALcell_dd_footer($career)
#ALcell_dt($career $l10n.SCHEDULE_SETFIELDNAME_TITLE)#ALcell_dd($career "$!{result.Detail.Name}")
#ALcell_dt($career $l10n.SCHEDULE_SETFIELDNAME_PLACE)#ALcell_dd($career "$!{result.Detail.Place}")
#ALcell_dt($career $l10n.SCHEDULE_SETFIELDNAME_NOTE)#ALcell_dd($career "$!{result.Detail.Note}")
#ALcell_dt($career $l10n.SCHEDULE_SETFIELDNAME_PUBLIC)#ALcell_dd_header($career)
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC_WORD
#elseif(!$!result.Detail.isHidden())
$l10n.SCHEDULE_CLOSE_PUBLIC_WORD
#else
$l10n.SCHEDULE_HIDE_ALL
#end
#ALcell_dd_footer($career)
#ALcell_dt($career $l10n.SCHEDULE_MEMBERS)
#if($result.MemberList && $result.MemberList.size() > 1)
#set($counter = 0)
#foreach($record in $!result.MemberList)
#if(!($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}))
#ALcell_dd_header($career)
$!record.AliasName
#if($result.getStatus($record.UserId.Value) == "T")
$l10n.SCHEDULE_SUB_TEMP
#elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
#set($counter = $counter + 1)
$l10n.SCHEDULE_SUB_DELETE
#end
#ALcell_dd_footer($career)
#end
#end
#if($counter < ($!result.MemberList.size() - 1))
#set ($hasMember = true)
#end
#if($hasMember)
#ALcell_dd_header($career)
#if($!{result.Detail.isEditable()})$l10n.SCHEDULE_CAN_EDIT_DELETE#else$l10n.SCHEDULE_CANNOT_EDIT_DELETE#end
#ALcell_dd_footer($career)
#end
#end

#ALcell_dt($career $l10n.SCHEDULE_SHARED_FACILITIES)
#foreach($record in $!result.FacilityList)
#ALcell_dd_header($career)
${record.FacilityName}
#ALcell_dd_footer($career)
#end

#ALcell_dt($career $l10n.SCHEDULE_CREATE_USER)#ALcell_dd($career "$!{result.Detail.CreateUser.AliasName}")#ALcell_dd($career "($!{result.Detail.CreateDate})")
#ALcell_dt($career $l10n.SCHEDULE_UPDATE_USER)#ALcell_dd($career "$!{result.Detail.UpdateUser.AliasName}")#ALcell_dd($career "($!{result.Detail.UpdateDate})")
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
#ALcell_formheader($career $jslink $portlet)
<input type="hidden" name="entityid" value="$!{result.EntityId}">
<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}">

#if ($!{result.Detail.isRepeat()})
<input type="hidden" name="schedule_type" value="R">
#elseif($!{result.Detail.isSpan()})
<input type="hidden" name="schedule_type" value="S">
#else
<input type="hidden" name="schedule_type" value="O">
#end
<input type="hidden" name="is_first" value="true">

#if($!{result.Detail.isOwner()})
#ALcell_submit($career "$event_submit" $l10n.SCHEDULE_EDIT)
#ALcell_submit($career 'eventSubmit_doSchedule_form_delete' $l10n.SCHEDULE_DELETE)
#ALcell_submit($career 'eventSubmit_doSchedule_form_copy' $l10n.SCHEDULE_COPY)
#elseif($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()})
<input type="hidden" name="status" value="C">
#ALcell_submit($career 'eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_CHANGE_STATUS_BE_DECIDED)
#if($!{result.Detail.isEditable()})
#ALcell_submit($career "$event_submit" $l10n.SCHEDULE_EDIT)
#ALcell_submit($career 'eventSubmit_doSchedule_form_delete' $l10n.SCHEDULE_DELETE)
#ALcell_submit($career 'eventSubmit_doSchedule_form_copy' $l10n.SCHEDULE_COPY)
#end
#elseif($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()})
<input type="hidden" name="status" value="T">
#ALcell_submit($career 'eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_BE_TEMP_SCHEDULE)
#if($!{result.Detail.isEditable()})
#ALcell_submit($career "$event_submit" $l10n.SCHEDULE_EDIT)
#ALcell_submit($career 'eventSubmit_doSchedule_form_delete' $l10n.SCHEDULE_DELETE)
#ALcell_submit($career 'eventSubmit_doSchedule_form_copy' $l10n.SCHEDULE_COPY)
#end
#end
#ALcell_formfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
