#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($title = $l10n.SCHEDULE_SELECT_GROUP)
#set($linklist = [[$l10n.SCHEDULE_MY_SCHEDULE, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#ALcell_pagetitle($career $title)
#ALcell_formheader($career $jslink $portlet)

##ALcell_center_header($career)参照ﾕｰｻﾞｰ選択#ALcell_center_footer($career)
#ALcell_hr($career '1')
$l10n.SCHEDULE_SELECT_USERS_GROUP
#ALcell_hr($career '1')
<input name="selectedgroup" type="radio" value="all" checked>$l10n.SCHEDULE_WHOLE#ALcell_br($career)
#if($result.GroupList.size() > 0)
#ALcell_hr($career '1')
$l10n.SCHEDULE_MYGROUP#ALcell_br($career)
#foreach( $record in $result.GroupList )
<input name="selectedgroup" type="radio" value="$!{record.Name}">$!record.AliasName#ALcell_br($career)
#end
#end
#if($!result.PostMap.size() > 0)
#ALcell_hr($career '1')
$l10n.SCHEDULE_POST#ALcell_br($career)
#foreach( $record in $!result.PostMap )
<input name="selectedgroup" type="radio" value="$!{record.GroupName}">$!record.PostName#ALcell_br($career)
#end
#end
#ALcell_hr($career '1')
#ALcell_submit($career "eventSubmit_doSchedule_form_selectmember" $l10n.SCHEDULE_SELECT_USER)
##cell_submit($career 'eventSubmit_doSchedule_menu' 'ｷｬﾝｾﾙする')
#ALcell_formfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
