#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($linkCompany = $!jslink.getPortletById($!portlet.ID).addQueryData("template","SystemCompanyFormScreen").addQueryData("entityid","1"))
#set($linkWebmailOption = $!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemWebMailSettingsFormScreen').addQueryData('entityid', 'edit'))
#set($linkWebmailAccount = $!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_mailaccount_form','1').addQueryData('template','SystemWebMailAdminFormScreen'))
#set($linkSampleDelete = $!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemDeleteSampleFormScreen').addQueryData('portlet_id',$!{portlet.ID}))
#set($linkAdminpassword = $!jslink.getPortletById($!portlet.ID).addQueryData("template","SystemAdminFormScreen").addQueryData("entityid","new"))
## ---------------------------------------------------------------------------

#if(${client}=="IPHONE")
#ALcontentheader($!portlet.Title '')
#AUIcontentsAreaHeader()
#end

#AUISummaryDiv()
#AUIconfigheader($!{portlet.ID} "16em")
#AUIconfigitem($l10n.SYSTEM_CHANGE_COMPANYINFO $linkCompany)
#AUIconfigitem($l10n.SYSTEM_SET_MAIL_INFORM $linkWebmailOption)
#AUIconfigitem($l10n.SYSTEM_SET_MAILACCOUNT $linkWebmailAccount)
#if($!{result.Detail.Sample} == "exist")
#AUIconfigitem($l10n.SYSTEM_DO_DELETE_SAMPLEDATA $linkSampleDelete)
#end
#AUIconfigitem($l10n.SYSTEM_DO_CHANGE_ADMINPASS $linkAdminpassword)
#AUIconfigfooter()
#AUISummaryDivfooter()

#if((!$config.getString("aipo.asp")) || ($config.getString("aipo.asp") != "true"))
<div style="p">
<h3>$l10n.SYSTEM_ACCESS_IN</h3>
$l10n.SYSTEM_IN_ADDRESS_MSG1${alias}$l10n.SYSTEM_IN_ADDRESS_MSG2
#ALformheader('internal' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaptionheader()
${alias}$l10n.SYSTEM_SITE_IN
#ALtdcaptionfooter()
#ALtditem("$!result.Detail.WbrLocalUrl")
<tr>
#ALtdcellheaderAtt("align='center' colspan='2'")
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemNetworkFormScreen').addQueryData('mode','local')" "$!portlet.ID" 'aipo.system.onLoadNetworkInfoDialog')
#ALtdcellfooter()
</tr>
#ALtablefooter()
#ALformfooter()
</div>
#end
<br />
<h3>$l10n.SYSTEM_ACCESS_OUTSIDE</h3>
$l10n.SYSTEM_OUTSIDE_ADDRESS_MSG1${alias}$l10n.SYSTEM_OUTSIDE_ADDRESS_MSG2
#ALformheader('network' $jslink $portlet)
#ALtableheaderWide()
#ALtdcaptionheader()
${alias}$l10n.SYSTEM_SITE_OUTSIDE
#ALtdcaptionfooter()
#ALtditem("$!result.Detail.WbrGlobalUrl")
<tr>
#ALtdcellheaderAtt("align='center' colspan='2'")
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','SystemNetworkFormScreen').addQueryData('mode','global')" "$!portlet.ID" 'aipo.system.onLoadNetworkInfoDialog')
#ALtdcellfooter()
</tr>
#ALtablefooter()
#ALformfooter()

#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#ALcontentfooter()

#end
