#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_str = "データを送信")
#set ($action_str = "更新する")
#set ($subtitle = 'タイムカード編集')
#set ($event_submit = "eventSubmit_doTimecard_update")
#set ($tabs = [[$subtitle, "",""]])
#set ($indicator_id = "indicator-dlg-") 
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$!portlet.ID" "${indicator_str}しています...")
#ALajaxscreenformheader("timecardForm" $jslink $portlet "TimecardFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.timecard.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('reason'))")
#ALtditem("#ALtextfield('reason' $!result.Reason '90%' 50 'active')")
#ALtdcaption("#ALrequired($!result.getFieldName('work_date'))")
#ALtditemheader()
<span dojoType="aipo.widget.DropdownDatepicker"
    id="dateSpan"
    widgetId="dateSpan"
    iconURL="images/icon/icon_date.gif"
    iconAlt="開始日"
    hiddenId="work_date"
	initValue="$!{result.WorkDate.Year}/$!{result.WorkDate.Month}/$!{result.WorkDate.Day}"
    inputId="work_date_input" 
    dateId="work_date"
    displayCheck="none">
</span>
<select name="work_date_hour" size="1" >
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.WorkDate.Hour == "$num") selected="selected" #end>$num時</option>
#end                 
</select>
<select name="work_date_minute" size="1">
#foreach ( $num in [0..59] )
<option value="$num" #if ($!result.WorkDate.Minute == "$num") selected="selected" #end>$num分</option>         
#end
</select>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
