#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($subtitle = "勤務時間設定")
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.timecardsettings.hideDialog()")
#ALspacebothheader()
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("timecardSettingsForm" $jslink $portlet "TimecardSettingsFormJSONScreen" "aimluck.io.submit(this, '$indicator_id', '$!portlet.ID',aipo.timecardsettings.onReceiveMessage)")
#ALtableheaderWide()
#ALtdcaption("#ALrequired('勤務時間')")
#ALtditemheader()
<select name="start_time_hour" size="1" >
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.StartTimeHour.toString() == "$num") selected="selected" #end>$num時</option>
#end
</select>
<select name="start_time_minute" size="1">
#foreach ( $num in [0..59] )
#if($num % 5 == 0)
<option value="$num" #if ($!result.StartTimeMinute.toString() == "$num") selected="selected" #end>$num分</option>
#end
#end
</select>&nbsp;-&nbsp;<select name="end_time_hour" size="1" >
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.EndTimeHour.toString() == "$num") selected="selected" #end>$num時</option>
#end
</select>
<select name="end_time_minute" size="1">
#foreach ( $num in [0..59] )
#if($num % 5 == 0)
<option value="$num" #if ($!result.EndTimeMinute.toString() == "$num") selected="selected" #end>$num分</option>
#end
#end
</select>
#ALtditemfooter()
#ALtdcaptionAtt("#ALrequired('休憩時間')" "rowspan='2'")
#ALtditemheader()
<h3>勤務時間内の場合</h3>
<input class="text" name="worktime_in" value="$!result.WorktimeIn" type="text" size="2" maxlength="3">
分の勤務に対して、休憩時間は
<input class="text" name="resttime_in" value="$!result.ResttimeIn" type="text" size="2" maxlength="3"> 分
<div class="spaceTop">#ALcaution('休憩時間は0から480の間で半角英数字で入力してください。')</div>
#ALtditemfooter()
#ALtditemheader()
<h3>勤務時間外の場合</h3>
<input class="text" name="worktime_out" value="$!result.WorktimeOut" type="text" size="2" maxlength="3">
分の勤務に対して、休憩 時間は
<input class="text" name="resttime_out" value="$!result.ResttimeOut" type="text" size="2" maxlength="3">分
<div class="spaceTop">#ALcaution('休憩時間は0から480の間で半角英数字で入力してください。')</div>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit('eventSubmit_doTimecardsettings_update' '更新する')
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
#ALajaxtabfooter()
#ALdialogfooter()
