#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aimluck.widget.Menu");

dojo.addOnLoad(function () {

    var subMenu =
        [
            {
                caption: $l10n.ACCOUNT_POST,
                iconClass: "menuBarIconCompanyInfo",
				url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_post_list','1')",
                submenu:
                [
                    {   caption: $l10n.ACCOUNT_POST_WATCH_LIST, iconClass: "menuBarIconList",url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_post_list','1')" },
                    {   caption: $l10n.ACCOUNT_POST_ADD, iconClass: "menuBarIconAdd", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountPostFormScreen").addQueryData("entityid","new")','$!portlet.ID',aipo.account_company.onLoadPostDialog);"  }
                ]
            },

            {
                caption: $l10n.ACCOUNT_POSITION,
                iconClass: "menuBarIconCompanyInfo",
				url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_position_list','1')",
				submenu:
                [
                    {   caption: $l10n.ACCOUNT_POSITION_WATCH_LIST, iconClass: "menuBarIconList" , url: "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccount_position_list','1')"},
                    {   caption: $l10n.ACCOUNT_POSITION_ADD, iconClass: "menuBarIconAdd" , url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountPositionFormScreen").addQueryData("entityid","new")');" }
                ]
            },
#if($chg_adminpasswd == "false")
			{   caption: $l10n.ACCOUNT_COMPANY_EDIT, iconClass: "menuBarIconList", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountCompanyFormScreen").addQueryData("entityid","1")','$!portlet.ID',aipo.account_company.onLoadCompanyDialog);"   }
#else
            {   caption: $l10n.ACCOUNT_COMPANY_EDIT, iconClass: "menuBarIconList", url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountCompanyFormScreen").addQueryData("entityid","1")','$!portlet.ID',aipo.account_company.onLoadCompanyDialog);"    },
            {   caption: $l10n.ACCOUNT_DO_CHANGE_ADMIN_PASS, iconClass: "menuBarIconAccountPasswd" , url: "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountAdminFormScreen").addQueryData("entityid","new")','$!portlet.ID',aipo.account_company.onLoadPasswdDialog);"    }
#end
        ];

	if(aipo.account_company.menuSelected == "undefined"){
          aipo.account_company.menuSelected = -1;
    }
    var menubar = new aimluck.widget.Menubar({id: "mbar", items: subMenu, selectedIndex:aipo.account_company.menuSelected}, "portletMenu");

});

//]]>
</script>
