#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#if($!result.AdminFiltered)
#set($adminfiltered  = 1)
#set($adminfiltered2 = 0)
#else
#set($adminfiltered  = 0)
#set($adminfiltered2 = 1)
#end

#set ($addUser = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserFormScreen").addQueryData("entityid","new")))
#set ($orderUser = $!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserChangeTurnFormScreen"))
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#AUIwideAreaHeader()

#AUISummaryDiv()
<div class="floatLeft">
#AUIbuttonAction($l10n.ACCOUNT_USER_ADD "javascript:aipo.common.showDialog('$addUser','$!portlet.ID',aipo.account_user.onLoadUserDialog);")
</div>

##AUIconfigheader($!{portlet.ID} "15em")
##AUIconfigitem($l10n.ACCOUNT_USER_SORT $orderUser)
##AUIconfigfooter()

#AUISummaryDivfooter()
#AUISummaryDiv()
<form class="auiForm floatLeft" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:180px;">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter","").addQueryData("filtertype","post"))">$l10n.ACCOUNT_ALL_POST</option>
#foreach( $record in $result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter",$!record.PostId).addQueryData("filtertype","post").addQueryData("adminfiltered",$adminfiltered ))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.PostId.toString()) selected="selected" #end>$!record.PostName</option>
#end
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter","").addQueryData("filtertype","post"))">----------</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserListScreen").addQueryData("filter","admin").addQueryData("filtertype","role"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == "admin") selected="selected" #end>$l10n.ACCOUNT_USER_IS_ADMIN</option>
</select>
#ALformfooter()
<div class="floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")</div>
#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
#ALajaxlistformheader($l10n.ACCOUNT_USER)
#if($result.List.size() == 0)
$l10n.ACCOUNT_ALERT_NO_USER_SELECTED<br />
#ALformfooter()
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ACCOUNT_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxEnable($l10n.ACCOUNT_MAKE_VALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxDisable($l10n.ACCOUNT_MAKE_INVALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonLink($l10n.ACCOUNT_USER_SORT $orderUser)
</div>
#AUIajaxpageview('AccountUserListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable auiMbTable wide">
#if($!{client}=="IPHONE")
<colgroup>
<col class="wCheckbox">
<col class="w40">
<col style="width:4.5em;">
<col class="w40">
<col class="wPosition">
<col class="wPosition">
<col style="width:3em;">
</colgroup>
#else
<colgroup style="width:20px;"></colgroup>
<colgroup style="width:4em;"></colgroup>
<colgroup style=""></colgroup>
<colgroup style="width:8em;"></colgroup>
<colgroup style="width:10em;"></colgroup>
<colgroup style="width:10em;"></colgroup>
#end
<colgroup style="width:10em;"></colgroup>
<tbody>
<tr>
#ALtdheadThin("#ALswitchCheckbox()")
#ALtdheadThin($l10n.ACCOUNT_STATUS)
#ALtdheadW33("#ALajaxsort('login_name' $l10n.ACCOUNT_USER_ACCOUNT $result 'AccountUserListScreen')")
#ALtdheadW25("#ALajaxsort('name_kana' $l10n.ACCOUNT_USER_NAME $result 'AccountUserListScreen')")
#ALtdheadW25Class($l10n.ACCOUNT_POST_NAME "mb_hide")
#ALtdheadW10Class($l10n.ACCOUNT_POSITION_NAME "mb_hide")
</tr>
#foreach ($record in $result.List)
#set($disabled_flg = $!record.Disabled)

<tr>
#if($!{client}=="IPHONE")
#ALtdcellheaderAtt('class="center auiMTCheck"')
<input name='check$!record.UserName' type='checkbox' value='$!record.UserName'/>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserDetailScreen").addQueryData("entityid",$record.UserName))');">$!record.Name</a>
#ALtdcellfooter()
#ALtdcell("<div>$!record.Email</div>")
#ALtdcellheaderAtt('class="mb_hide"')
#set($pcount = 0)
<div>
#foreach($postname in $!record.PostNameList)
#if($pcount != 0)、&nbsp;#end
$!postname
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcellheaderAtt("<div>$!record.PositionName</div>" 'class="mb_hide"')
#ALtdcellfooter()
#if("$disabled_flg" == "N")
#ALtdcellAtt($l10n.ACCOUNT_INVALID 'class="center" nowrap="nowrap"')
#elseif("$disabled_flg" == "F")
#ALtdcellAtt($l10n.ACCOUNT_VALID 'class="center" nowrap="nowrap"')
#end

#else
#ALtdcellAtt("<input name='check$!record.UserName' type='checkbox' value='$!record.UserName'/>" 'class="center"')
#if("$disabled_flg" == "N")
#ALtdcellAtt($l10n.ACCOUNT_INVALID 'class="center" nowrap="nowrap"')
#elseif("$disabled_flg" == "F")
#ALtdcellAtt($l10n.ACCOUNT_VALID 'class="center" nowrap="nowrap"')
#end
#ALtdcell("<div>$!record.UserName</div>")
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserDetailScreen").addQueryData("entityid",$record.UserName))');">$!record.Name</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
#set($pcount = 0)
<div>
#foreach($postname in $!record.getPostNameList())
#if($pcount != 0)、&nbsp;#end
$!postname
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcell("<div>$!record.PositionName</div>")
#end
</tr>
#end
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ACCOUNT_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxEnable($l10n.ACCOUNT_MAKE_VALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_enable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
#AUIajaxbuttonCheckboxDisable($l10n.ACCOUNT_MAKE_INVALID "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccountUserFormJSONScreen').addQueryData('mode','multi_disable')" "${indicator_id}" "$!portlet.ID" "aipo.account_user.onListReceiveMessage")
</div>
#AUIajaxpageview('AccountUserListScreen' $result)
#AUISummaryDivfooter()
</form>
#end
#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end