#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($action_str = $l10n.ACCOUNT_UPDATE)
#set ($subtitle = $l10n.ACCOUNT_CHANGE_ADMIN_PASS)
#set ($event_submit = "eventSubmit_doAccount_adminpasswd_update")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
<div id="messageDiv"></div>
$l10n.ACCOUNT_CHANGE_ADMINPASS_MSG
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("accountadminForm" $jslink $portlet "AccountAdminFormJSONScreen" "aimluck.io.submit(this,'$indicator_id', '$!portlet.ID' , aipo.account_company.onReceiveMessage)")
<input type="hidden" name="mode" value="update_passwd" />
#ALtableheaderWide()
#ALtdcaptionAtt("#ALrequired($!result.getFieldName('new_passwd'))" "style='width:180px;'")
#ALtditemheader()
#ALpasswdfield('new_passwd' "$!result.NewPassword" '50%' 16 'disabled')#ALcaution($l10n.ACCOUNT_HALFWIDTH_ALPHANUM)
#ALtditemfooter()
#ALtdcaptionAtt("#ALrequired($!result.getFieldName('new_passwd_confirm'))" "style='width:180px;'")
#ALtditemheader()
#ALpasswdfield('new_passwd_confirm' "$!result.NewPasswordConfirm" '50%' 16 'disabled')#ALcaution($l10n.ACCOUNT_HALFWIDTH_ALPHANUM)
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
