#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!result.currentTab == "receive")
#set($pagetitle = "$l10n.WEBMAIL_INBOX_HALFWIDTH")
#set($person = "$l10n.WEBMAIL_SENDER")
#set($person_value = "$!{result.Detail.From}")
#else
#set($pagetitle = "$l10n.WEBMAIL_OUTBOX_HALFWIDTH")
#set($person = "$l10n.WEBMAIL_TO")
#set($person_value = "$!{result.Detail.To}")
#end
#set($methodlist = [["$l10n.WEBMAIL_REPLY_HALFWIDTH", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '1')"], ["ﾒｰﾙ転送", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '2')"]])
#set($linklist = [["$l10n.WEBMAIL_DO_WATCH_MAILLIST_HALFWIDTH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_list','1')"],["$l10n.WEBMAIL_WEBMAIL_HALFWIDTH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_menu','1')"]])
#ALcell_pagetitle($career "$l10n.WEBMAIL_DETAIL_HAFLWIDTH")
#ALcell_dt($career $l10n.WEBMAIL_TITLE)#ALcell_dd($career "$!{result.Detail.Subject}")
#ALcell_dt($career $l10n.WEBMAIL_DATE)
#ALcell_dd_header($career)
$!{result.Detail.Date.Year}$l10n.WEBMAIL_YEAR$!{result.Detail.Date.Month}$l10n.WEBMAIL_MONTH$!{result.Detail.Date.Day}$l10n.WEBMAIL_DAY$!{result.Detail.Date.time}
#ALcell_dd_footer($career)
#ALcell_dt($career $person)#ALcell_dd($career "$person_value")
#ALcell_dt($career $l10n.WEBMAIL_BODY)#ALcell_dd($career "$!{result.Detail.Body}")
#ALcell_hr($career '1')
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

