#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventsubmit_dowebmail_menu','1')")
#set($title = $l10n.WEBMAIL_MAILACCOUNT_HALFWIDTH)
#set ($list = $result.List)
#ALcell_pagetitle($career $title)
#if ($list.size() == 0)
<div class="message">$l10n.WEBMAIL_NO_REGISTERED_ACCOUNT_HALFWIDTH</div>
#else
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#if($career == "vodafone")
<dl>
#foreach($menulist in $list)
${menulist.AccountName} #if(${menulist.AccountType.Value} == "1") $l10n.WEBMAIL_DEFAULT #end
#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_receive_mails','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_RECEIVE_MAIL_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_INBOX_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_OUTBOX_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_CREATE_EMAIL_HALFWIDTH</a>#ALcell_br($career)
#end
</dl>
#else
<ul>
#foreach($menulist in $list)
#ALcell_li_header($career)
${menulist.AccountName} #if(${menulist.AccountType.Value} == "1") $l10n.WEBMAIL_DEFAULT #end
#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_receive_mails','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_RECEIVE_MAIL_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_INBOX_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('accountid',${menulist.AccountId}).addQueryData('tab', 'sent')">$l10n.WEBMAIL_OUTBOX_HALFWIDTH</a>#ALcell_br($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('accountid',${menulist.AccountId})">$l10n.WEBMAIL_CREATE_EMAIL_HALFWIDTH</a>#ALcell_br($career)

#ALcell_li_footer($career)
#end
</ul>
#end
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#end

#ALcell_hr($career '1')
#ALtdcellFooterLink($career)

