#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($title = '$l10n.WEBMAIL_MAILACCOUNT')
#set ($list = $result.List)
#ALcell_pagetitle_iphone($career $title)
#ALcell_contents_header($career)
#if ($list.size() == 0)
<p class="center">$l10n.WEBMAIL_NO_REGISTERED_ACCOUNT</p>
#else
<ul class="multi_list">
#foreach($menulist in $list)
#ALcell_li_header($career)
<span>${menulist.AccountName}
#if(${menulist.AccountType.Value} == "1")
$l10n.WEBMAIL_DEFAULT
#end
</span>
<ul>
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_receive_mails','1').addQueryData('accountid',${menulist.AccountId})"><img src="themes/iphone/img/icon/32/email-send.gif" width="32" height="32" align="absmiddle" />　$l10n.WEBMAIL_RECEIVE_MAIL</a>
#ALcell_li_footer($career)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_received_mails','1').addQueryData('accountid',${menulist.AccountId})"><img src="themes/iphone/img/icon/32/email.gif" width="32" height="32" align="absmiddle" />　$l10n.WEBMAIL_INBOX</a>
#ALcell_li_footer($career)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1').addQueryData('accountid',${menulist.AccountId}).addQueryData('tab', 'sent')"><img src="themes/iphone/img/icon/32/email-send.gif" width="32" height="32" align="absmiddle" />　$l10n.WEBMAIL_OUTBOX</a>
#ALcell_li_footer($career)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('accountid',${menulist.AccountId})"><img src="themes/iphone/img/icon/32/email-write.gif" width="32" height="32" align="absmiddle" />　$l10n.WEBMAIL_CREATE_EMAIL</a>
#ALcell_li_footer($career)
</ul>
#ALcell_li_footer($career)
#end
</ul>
#end
#ALcell_contents_footer($career)