#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!result.currentTab == "received_mailbox")
#set($pagetitle = "$l10n.WEBMAIL_INBOX")
#set($person = "$l10n.WEBMAIL_SENDER")
#set($person_value = "$!{result.Detail.From}")
#else
#set($pagetitle = "$l10n.WEBMAIL_OUTBOX")
#set($person = "$l10n.WEBMAIL_TO")
#set($person_value = "$!{result.Detail.To}")
#end
#set($methodlist = [["$l10n.WEBMAIL_REPLY_MAIL", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '1')"], ["$l10n.WEBMAIL_FORWARD_MAIL", "$!jslink.getPortletById($!portlet.getID()).addQueryData('eventSubmit_doWebmail_create_mail','1').addQueryData('entityid', $entityid).addQueryData('tab', $!result.currentTab).addQueryData('mailtype', '2')"]])
#set($linklist = [["$l10n.WEBMAIL_LINK_ACCOUNTLIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_accountlist-max','1')"],["$l10n.WEBMAIL_LINK_OUTBOX", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_show_sent_mails','1')"],["$l10n.WEBMAIL_CREATE_EMAIL", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doWebmail_create_mail','1')"]])

#ALcell_pagetitle_iphone($career "$l10n.WEBMAIL_MAIL_DETAIL")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

<table border="1">
<tr>
#ALtdhead('$l10n.WEBMAIL_TITLE')
#ALtdcell("$!{result.Detail.Subject}")
</tr>
<tr>
#ALtdhead('$l10n.WEBMAIL_RECEIVE_DATA')
#ALtdcell("$!{result.Detail.Date.Year}${l10n.WEBMAIL_YEAR}$!{result.Detail.Date.Month}${l10n.WEBMAIL_MONTH}$!{result.Detail.Date.Day}${l10n.WEBMAIL_DAY} $!{result.Detail.Date.Hour}${l10n.WEBMAIL_HOUR}$!{result.Detail.Date.Minute}${l10n.WEBMAIL_MINUTE}")
</tr>
<tr>
#ALtdhead($person)
#ALtdcell("$person_value")
</tr>
<tr><th>$l10n.WEBMAIL_ATTACHMENT</th>
<td>
#set($count = 0)
#foreach( $attachmentFileName in $!result.Detail.AttachmentFileNames )
<a href="$jslink.getTemplate("WebMailFileScreen").addQueryData("accountid", $accountid).addQueryData("tab", $!result.currentTab).addQueryData("entityid", $entityid).addQueryData("attachmentIndex", $count)">$result.getStringCR($attachmentFileName)</a><br>
#set( $count = $count + 1 )
#end

</table><br>
$!{result.Detail.Body}<br>
<div class="navi">
#foreach($link in $methodlist)
<a href="$link.get(1)" class="btn">$link.get(0)</a>
#end
#ALcell_contents_footer($career)


#ALcell_linklist_iphone($career $linklist)
