#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [["グループ一覧", "",""]])
#set ($subtitle = "Myグループ")
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.common.hideDialog()")
<div id="messageDiv"></div>
#if($result.List.size() == 0)
#AUIbuttonActionInBlankBox("グループを追加する" "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','MyGroupFormScreen').addQueryData('entityid','new')','$!portlet.ID',aipo.mygroup.onLoadMygroupDialog);")
#else
#AUISummaryDiv()
	#AUIbuttonAction("グループを追加する" "javascript:aipo.common.showDialog('$!jslink.getPortletById($!portlet.ID).addQueryData('template','MyGroupFormScreen').addQueryData('entityid','new')','$!portlet.ID',aipo.mygroup.onLoadMygroupDialog);")
#AUISummaryDivfooter()

#ALformheader('Myグループ' $jslink $portlet)

	#AUISummaryDiv()
		#AUIajaxpageview('MyGroupListScreen' $result)
	#AUISummaryDivfooter()
	<table class="auiRowTable wide">
	<colgroup style="width:50%;">
	</colgroup>
	<colgroup style="width:25%;">
	</colgroup>
	<colgroup style="width:25%;">
	</colgroup>
		<tbody>
		<tr>
		#ALtdhead("#ALajaxsort('group_alias_name' 'グループ名' $result 'MyGroupListScreen')")
		#ALtdhead('ユーザー')
		#ALtdhead('設備')

		</tr>
		#foreach ($record in $result.List)
			<tr>
			#ALtdcellheader()
			<div><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MyGroupDetailScreen").addQueryData("entityid",$!record.GroupName))');">$!record.GroupAliasName</a></div>
			#ALtdcellfooter()
			#ALtdcellheader()
			<div>
			#foreach ($member in $result.getMemberList($record.GroupName.Value))#if($velocityCount > 1)、#end$!{member.AliasName}#end</div>
			#ALtdcellfooter()
			#ALtdcellheader()<div>
			#foreach ($facility in $result.getFacilityList($record.GroupName.Value))#if($velocityCount > 1)、#end$facility.FacilityName#end</div>
			#ALtdcellfooter()
			</tr>
		#end
	#ALtablefooter()
	#AUISummaryDiv()
		#AUIajaxpageview('MyGroupListScreen' $result)
	#AUISummaryDivfooter()
#ALformfooter()
##ALbuttonheader()
##ALajaxbuttonClose()
##ALbuttonfooter()
#end
#ALdialogfooter()