#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($indicator_str = "データを送信")
#set ($action_str = "Test追加")
#set ($event_submit = "eventSubmit_doTodo_insert")
#set ($subtitle = "Test追加")
#else
#set ($indicator_str = "データを送信")
#set ($action_str = "更新する")
#set ($subtitle = 'Test編集')
#set ($event_submit = "eventSubmit_doTodo_update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="test_val_switch1" style="display:none">$l10n.TODO_TYPE_NEW_WORD</span>
<span id="test_val_switch2" style="display:none">$l10n.TODO_SELECT_DATE_FROM_LIST</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("testForm" $jslink $portlet "TestFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.test.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
<input type="hidden" name="user_id" value="$!result.loginUserId"/>
#else
<input type="hidden" name="mode" value="update" />
<input type="hidden" name="user_id" value="$!result.loginUserId"/>
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('test_name'))")
#ALtditem("#ALtextfieldw100('test_name' $!result.TestName 50 'active')")
#ALtdcaption($!result.getFieldName("note"))
#ALtditemheader()
#ALtextarea('note' $!result.Note 10 40)
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
<input type="hidden" id="urlUserlist$!portlet.ID" name="urlUserlist$!portlet.ID" value="$screenlink" />
<input type="hidden" id="loginUser$!portlet.ID" name="loginUser$!portlet.ID" value="$!result.loginUserId" />
<input type="hidden" id="testUser$!portlet.ID" name="testUser$!portlet.ID" value="$!result.userId.value" />
#ALformfooter()
#ALdialogfooter()
