#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($addFacilityGroup = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityGroupFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#AUIwideAreaHeader()
#AUISummaryDiv()
#if($result.List.size() != 0)
<div class="floatLeft">
#AUIbuttonAction("$l10n.FACILITIES_ADD_FACILITYGROUP" "javascript:aipo.common.showDialog('$addFacilityGroup','$!portlet.ID',aipo.facility.onLoadFacilityGroupDialog);")
</div>
#end
<div class="floatRight clearfix relative">
<div class="auiSelectButton">
<ul>
#set($tab = ["$l10n.FACILITIES_FACILITY", "facility","$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityListScreen').addQueryData('filter','')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:4em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.FACILITIES_FACILITYGROUP", "group", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupListScreen')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:8em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
</ul>
</div>
</div>
#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
#ALajaxlistformheader("$l10n.FACILITIES_FACILITYGROUP")
#if($result.List.size() == 0)
#AUIbuttonActionInBlankBox("$l10n.FACILITIES_ADD_FACILITYGROUP" "javascript:aipo.common.showDialog('$addFacilityGroup','$!portlet.ID',aipo.facility.onLoadFacilityGroupDialog);")
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.FACILITIES_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.facility.onReceiveMessage")
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</div>
#AUIajaxpageview('FacilityGroupListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="width:30em;">
</colgroup><colgroup style="">
</colgroup>
<tbody>
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='auiMTCheck'")
#ALtdhead("#ALajaxsort('group_name' $l10n.FACILITIES_FACILITYGROUP_NAME $result 'FacilityGroupListScreen')")
#ALtdhead("$l10n.FACILITIES_FACILITY_NAME")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.GroupId' type='checkbox' value='$!record.GroupId'/>" 'class="center auiMTCheck"')
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityGroupDetailScreen").addQueryData("entityid",$record.GroupId))');">$result.getStringCR($!record.GroupName)</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
#set($fcount = 0)
<div>
#foreach($group in $!record.getFacilityListByGroupId($!record.GroupId.toString()))
#if($fcount != 0)、&nbsp;#end
$result.getStringCR($!group.FacilityName)
#set($fcount = $fcount + 1)
#end
</div>
#ALtdcellfooter()
</tr>
#end
#ALtablefooter()
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.FACILITIES_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.facility.onReceiveMessage")
</div>
#AUIajaxpageview('FacilityGroupListScreen' $result)
#AUISummaryDivfooter()
#ALformfooter()
#end
#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end