#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($action_str = "$l10n.FACILITIES_ADD")
#set ($event_submit = "eventSubmit_doFacilitygroup_insert")
#set ($subtitle = "$l10n.FACILITIES_ADDITION_FACILITYGROUP")
#else
#set ($action_str = "$l10n.FACILITIES_UPDATE")
#set ($subtitle = "$l10n.FACILITIES_EDITING_FACILITYGROUP")
#set ($event_submit = "eventSubmit_doFacilitygroup_update")
#end
#set ($indicator_id = "indicator-dlg-")
#set ($d = '"')
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("facilitygroupForm" $jslink $portlet "FacilityGroupFormJSONScreen" "aimluck.io.selectAllOptions(this.facility_to);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.facility.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
<input type="hidden" name="entityid" value="$!{result.FacilityGroupId}" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('facility_group_name'))")
#ALtditem("#ALtextfieldw100('facility_group_name' $!result.FacilityGroupName 50 'active')")
#ALtdcaption("$l10n.FACILITIES_FACILITY")
#ALtditemheader()
<div dojoType="aipo.widget.MemberNormalSelectList"
    id="facilityselect"
    widgetId="facilityselect"
    buttonAddId="button_facility_add"
    buttonRemoveId="button_facility_remove"
    memberFromTitle="$l10n.FACILITIES_FACILITY_FROM_LIST"
    memberFromId="tmp_facility_from"
    memberToTitle="$l10n.FACILITIES_FACILITY_LIST"
    memberToId="facility_to"
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen').addQueryData('groupname',"$!{result.FacilityGroupId}")"
    memberFromOptionKey="facilityId"
    memberFromOptionValue="facilityName"
    groupSelectId="tmp_group"
    groupSelectPreOptionKey="all"
    groupSelectPreOptionValue="$l10n.FACILITIES_GROUP_ALL"
    groupSelectOptionKey="facilityGroupId"
    groupSelectOptionValue="facilityGroupName"
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupLiteJSONScreen').addQueryData('mode','post')"
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="5" multiple="multiple" style="display:none;" name="init_facilitylist" id="init_facilitylist">
    #foreach($record in $!result.FacilityList)<option value="$!record.FacilityId.Value">$!record.FacilityName.Value</option>#end
</select>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
