#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if  ($mode=="new_form")
#set ($indicator_str = "データを送信")
#set ($action_str = "追加する")
#set ($event_submit = "eventSubmit_doMygroup_insert")
#set ($subtitle = "グループ追加")
#else
#set ($indicator_str = "データを送信")
#set ($action_str = "更新する")
#set ($event_submit = "eventSubmit_doMygroup_update")
#set ($subtitle = "グループ編集")
#end
#set($tabs = [["$subtitle", "",""]])
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxscreenformheader("mygroupForm" $jslink $portlet "MyGroupFormJSONScreen" "aimluck.io.selectAllOptions(this.member_to);aimluck.io.selectAllOptions(this.facility_to);aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.mygroup.onReceiveMessage)")
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('group_alias_name'))")
#ALtditem("#ALtextfield('group_alias_name' $!result.GroupAliasName '90%' 50 'active')")
#ALtdcaption('所属メンバー')
#ALtditemheader()
<div class="spaceTop spaceLeft small">左側にメンバーを追加してください。</div>
<div dojoType="aipo.widget.MemberNormalSelectList"
        id="membernormalselect"
        widgetId="membernormalselect"
        buttonAddId="button_member_add"
        buttonRemoveId="button_member_remove"
        memberFromId="tmp_member_from"
        memberToTitle="所属メンバー一覧"
        memberToId="member_to"
        memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
        memberFromOptionKey="name"
        memberFromOptionValue="aliasName"
        groupSelectId="tmp_group"
        groupSelectPreOptionKey="LoginUser"
        groupSelectPreOptionValue="すべてのグループ"
        groupSelectOptionKey="groupId"
        groupSelectOptionValue="name"
        memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen').addQueryData('mode','mygroup_and_post')"
        changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="10" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
#ALtditemfooter()

#ALtdcaption('所属設備')
#ALtditemheader()
<div id="facilityField" style="display:#if ($!result.PublicFlag && $!result.PublicFlag.toString() != "O")none#end">
    <div class="spaceTop spaceLeft small">左側に設備を追加してください。</div>
    <div dojoType="aipo.widget.MemberNormalSelectList"
        id="facilityselect"
        widgetId="facilityselect"
        buttonAddId="button_facility_add"
        buttonRemoveId="button_facility_remove"
        memberFromTitle="選択設備一覧"
        memberFromId="tmp_facility_from"
        memberToTitle="設備一覧"
        memberToId="facility_to"
        memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen')"
        memberFromOptionKey="facilityId"
        memberFromOptionValue="facilityName"
        groupSelectId="tmp_facility_group"
	    groupSelectPreOptionKey="all"
	    groupSelectPreOptionValue="すべてのグループ"
	    groupSelectOptionKey="facilityGroupId"
	    groupSelectOptionValue="facilityGroupName"
	    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupLiteJSONScreen').addQueryData('mode','post')"
	    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen').addQueryData('mode','group')">
    </div>
    <select size="5" multiple="multiple" style="display:none;" name="init_facilitylist" id="init_facilitylist">#foreach($record in $!result.FacilityList)<option value="$!record.FacilityId">$!record.FacilityName</option>#end</select>
</div>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
