#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div class="tlInputAttachment">
<div class="floatRight">
  <a href="javascript:aipo.timeline.deleteClip('$portlet.ID')" class="auiIcon auiIconDelete" title="$l10n.TIMELINE_DELETION">
    <span>x</span>
  </a>
</div>
<div class="tlClipBoard clearfix" id="tlClipBoard_$!{portlet.ID}">
  <input type="hidden" id="TimelinePage_$!{portlet.ID}" name="TimelinePage_$!{portlet.ID}" value="1"/>
  <input type="hidden" id="TimelinePage_$!{portlet.ID}_imagesMaxCount" name="TimelinePage_$!{portlet.ID}_imagesMaxCount" value="$result.Images.size()"/>
  #foreach ($record in $result.Images)
    #if($velocityCount == 1)
      <div class="tlClipImage" id="tlClipImage_$!{portlet.ID}_${velocityCount}_untiview" style="display:none">
    #else
      <div class="tlClipImage" id="tlClipImage_$!{portlet.ID}_${velocityCount}_untiview" style="display:none">
    #end
    	#if(!$result.YoutubeFlag)
        <img id="tlClipImage_$!{portlet.ID}_${velocityCount}_img" name="$!record" src="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template', 'ProxyScreen').addQueryData('url', $!record))" onload="aipo.timeline.refreshImageList('$portlet.ID', '$velocityCount');">
        #else
        <img id="tlClipImage_$!{portlet.ID}_${velocityCount}_img" name="$!record" src="https://i.ytimg.com/vi/$result.YoutubeId/default.jpg" onload="aipo.timeline.refreshImageList('$portlet.ID', '$velocityCount');">
        #end
      </div>
  #end
  <div class="tlClipContents">
    <div class="tlClipTitle" id="tlClipTitle_$!{portlet.ID}"><a href="$!result.Url" target="_blank">$!result.Title</a></div>
    <div class="tlClipUrl" id="tlClipUrl_$!{portlet.ID}"><a href="$!result.Url" target="_blank">$!result.AutoCRUrl</a></div>
    <div class="tlClipBody" id="tlClipBody_$!{portlet.ID}">$!result.Body</div>
    #if($result.Images.size() > 0)
      <div class="auiSummaryMeta clearfix" id="auiSummaryMeta_$portlet.ID" style="display:none">
      <div class="auiSelectButton floatLeft" id="timelineSelectButton_$!{portlet.ID}">
        <ul class="floatLeft mr10">
          <li title="$l10n.TIMELINE_PREV">
            <a href="javascript:void(0);" onclick="aipo.timeline.prevThumbnail('$portlet.ID')" title="$l10n.TIMELINE_PREV" class="first arrow">
              <span><i class="auiIconArrow auiIconArrowLeft"></i></span>
            </a>
          </li>
          <li title="$l10n.TIMELINE_NEXT">
            <a href="javascript:void(0);" onclick="aipo.timeline.nextThumbnail('$portlet.ID')" title="$l10n.TIMELINE_NEXT" class="last arrow">
              <span><i class="auiIconArrow auiIconArrowRight"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="count" id="count_$!{portlet.ID}">
        ##${result.Images.size()} $l10n.TIMELINE_1_COUNT
		$l10n.TIMELINE_1_COUNT
      </div>
      </div>
      <div style="clear:both" id="ViewThumbnail_$!{portlet.ID}" style="display:none">
        <input type="checkbox" value="$l10n.TIMELINE_DONOT_VIEW_THUMBNAIL" id="checkbox_$!{portlet.ID}" onclick="aipo.timeline.viewThumbnail('$portlet.ID')">
        <label for="checkbox_$!{portlet.ID}">$l10n.TIMELINE_DONOT_VIEW_THUMBNAIL</label>
      </div>
    #end
  </div>
</div>
</div>
