#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------
<div class="imgBody">
	<iframe onload="aipo.fileupload.onLoadYoutube(this)"#if(!$android) width="640" height="360"#end src="${scheme}://www.youtube.com/embed/$vid?wmode=transparent&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe>
</div>
<div class="auiPopupMeta clearfix">
	<div class="auiPopupTitle">$title</div>
	<div class="auiPopupClose"><a href="javascript:void(0)" onclick="aipo.fileupload.hideYoutubeDialog();"><i class="auiIcon auiIconDelete" title="閉じる"></i></a></div>
</div>
