#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!resultOnTopicDetail)
#set($methodlist = [["返信する", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_reply_form','1').addQueryData('entityid',${result.ParentTopic.TopicId}).addQueryData('mode','reply')"] ,["ﾄﾋﾟｯｸ追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_form','1').addQueryData('entityid','new')"]])
#else
#set($methodlist = [["ﾄﾋﾟｯｸ追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_form','1').addQueryData('entityid','new')"]])
#end
#set($linklist = [["ﾄﾋﾟｯｸ一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')"]])
#ALcell_pagetitle($career "トピック詳細")
#ALcell_dl_header($career)
#ALcell_dt($career 'ﾄﾋﾟｯｸﾀｲﾄﾙ')
#ALcell_dd($career $!{result.ParentTopic.TopicName})
#ALcell_dt($career 'ｶﾃｺﾞﾘ')
#ALcell_dd($career $!{result.ParentTopic.CategoryName})
#ALcell_dt($career '投稿者')
#ALcell_dd($career "$!{result.ParentTopic.OwnerName}")
#ALcell_dt($career '投稿日')
#ALcell_dd($career "$!{result.ParentTopic.CreateDate.Year}$l10n.MSGBOARD_YEAR$!{result.ParentTopic.CreateDate.Month}$l10n.MSGBOARD_MONTH$!{result.ParentTopic.CreateDate.Day}$l10n.MSGBOARD_DATE$!{result.ParentTopic.CreateDate.DayOfWeek} $!{result.ParentTopic.CreateDate.time}")
#ALcell_dt($career "内容")
#ALcell_dd($career $!{result.ParentTopic.Note})
#if($!result.ParentTopic.AttachmentFileList && $!result.ParentTopic.AttachmentFileList.size()>0)
#ALcell_dt($career "添付ファイル")
#foreach( $attachmentFile in $!result.ParentTopic.AttachmentFileList )
#ALcell_dd($career "<a href='$jslink.getTemplate('MsgboardTopicFileRawScreen').addQueryData('ownerid', $!{result.ParentTopic.OwnerId}).addQueryData('entityid', $!result.ParentTopic.TopicId).addQueryData('attachmentIndex', $attachmentFile.FileId)'>$result.getStringCR($attachmentFile.FileNameField)</a>")
#if($attachmentFile.isImage())
#ALcell_dd($career "<img border='0' alt='$attachmentFile.FileName' title='$attachmentFile.FileName' src='$jslink.getTemplate('MsgboardTopicFileThumbnailScreen').addQueryData('ownerid', $!{result.ParentTopic.OwnerId}).addQueryData('entityid', $!result.ParentTopic.TopicId).addQueryData('attachmentIndex', $attachmentFile.FileId)'>")
#end
#end
#end
#if($!result.isMatch($!{result.UserId} , $!{result.ParentTopic.OwnerId.Value}))
<form action="$!jslink.getPortletById($!portlet.ID)" method="post">
<input type="hidden" name="entityid" value=$!{result.ParentTopic.TopicId}>
<input type="hidden" name="mode" value="delete">
<input type="hidden" name="secid" value="$secid" />
##<input type="submit" class="submit" name="eventSubmit_doMsgboard_topic_form" value="編集する">
<input type="submit" class="submit" name="eventSubmit_doMsgboard_topic_delete" value="削除する">
</form>
#end
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
ｺﾒﾝﾄ一覧
#ALcell_hr($career '1')
#if(!$!result.CoTopicList || $!result.CoTopicList.size() <= 0)
ｺﾒﾝﾄはありません
#ALcell_hr($career '1')
#else
#foreach ($record in $result.CoTopicList)
#ALcell_dl_header($career)
#ALcell_dt($career "投稿者")
<dd>$!{record.OwnerName}</dd>
#ALcell_dt($career "投稿日")
<dd>$!{record.CreateDate.Year}$l10n.MSGBOARD_YEAR$!{record.CreateDate.Month}$l10n.MSGBOARD_MONTH$!{record.CreateDate.Day}$l10n.MSGBOARD_DATE$!{record.CreateDate.DayOfWeek} $!{record.CreateDate.time}</dd>
#ALcell_dt($career "書き込み")
#ALcell_dd($career $!{record.Note})
#if($!record.AttachmentFileList && $!record.AttachmentFileList.size()>0)
#ALcell_dt($career "添付ファイル")
#foreach( $attachmentFile in $!record.AttachmentFileList )
#ALcell_dd($career "<a href='$jslink.getTemplate('MsgboardTopicFileRawScreen').addQueryData('ownerid', $!{result.ParentTopic.OwnerId}).addQueryData('entityid', $!result.ParentTopic.TopicId).addQueryData('attachmentIndex', $attachmentFile.FileId)'>$result.getStringCR($attachmentFile.FileNameField)</a>")
#if($attachmentFile.isImage())
#ALcell_dd($career "<img border='0' alt='$attachmentFile.FileName' title='$attachmentFile.FileName' src='$jslink.getTemplate('MsgboardTopicFileThumbnailScreen').addQueryData('ownerid', $!{result.ParentTopic.OwnerId}).addQueryData('entityid', $!result.ParentTopic.TopicId).addQueryData('attachmentIndex', $attachmentFile.FileId)'>")
#end
#end
#end
#*

#foreach( $attachmentFile in $!record.AttachmentFileList )
<img src="images/msgboard/msgboard_item.gif">&nbsp;<a href="$jslink.getTemplate("MsgboardTopicFileRawScreen").addQueryData("ownerid", ${record.OwnerId}).addQueryData("entityid", $record.TopicId).addQueryData("attachmentIndex", $attachmentFile.FileId)">$result.getStringCR($attachmentFile.FileNameField)</a><br>
#if($attachmentFile.isImage())
<img border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("MsgboardTopicFileThumbnailScreen").addQueryData("ownerid", ${record.OwnerId}).addQueryData("entityid", $record.TopicId).addQueryData("attachmentIndex", $attachmentFile.FileId)"><br>
#end
#end
*#
#if($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}))
<form action="$!jslink.getPortletById($!portlet.ID)" method="post">
<input type="hidden" name="topic_reply_id" value=${record.TopicId}>
<input type="hidden" name="mode" value="delete_reply">
<input type="hidden" name="secid" value="$secid" />
<input type="submit" class="submit" name="eventSubmit_doMsgboard_topic_reply_delete" value="削除する">
</form>
#end
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
#end
#end
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
