#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($baselink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','EventlogScreen')")
## ---------------------------------------------------------------------------

#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end

#AUIwideAreaHeader()
<div id="listMessageDiv"></div>
#ALajaxlistformheader($l10n.EVENTLOG)

<div #if(${client}=="IPHONE") class="auiSummaryMeta clearfix" #else class="clearfix" #end>
<select id="start_date_year" name="start_date_year" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach ( $num in [2006..$!result.ViewDateMaxYear] )
<option value="$num" #if ($!result.StartDate.Year == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_YEAR</option>
#end
</select>
<select id="start_date_month" name="start_date_month" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach ( $num in [1..12] )
<option value="$num" #if ($!result.StartDate.Month == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_MONTH</option>
#end
</select>
<select id="start_date_day" name="start_date_day" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach($num in [1..$!result.StartDateMaxDay])
<option value="$num" #if ($!result.StartDate.Day == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_DAY</option>
#end
</select>
&nbsp;-&nbsp;
<select id="end_date_year" name="end_date_year" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach ( $num in [2006..$!result.ViewDateMaxYear] )
<option value="$num" #if ($!result.EndDate.Year == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_YEAR</option>
#end
</select>
<select id="end_date_month" name="end_date_month" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach ( $num in [1..12] )
<option value="$num" #if ($!result.EndDate.Month == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_MONTH</option>
#end
</select>
<select id="end_date_day" name="end_date_day" size="1" onchange="aipo.eventlog.onChangeDate('$baselink', '$!portlet.ID')" >
#foreach($num in [1..$!result.EndDateMaxDay])
<option value="$num" #if ($!result.EndDate.Day == "$num") selected="selected" #end>$!{num}$l10n.EVENTLOG_DAY</option>
#end
</select>
</div>

#if($result.List.size() == 0)
<div class="auiSummaryMeta clearfix">$l10n.EVENTLOG_NO_YOU_SELECT</div>
#ALformfooter()
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.EVENTLOG_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','EventlogFormJSONScreen').addQueryData('mode','multi_delete')" "$!indicator_id" "$!portlet.ID" "aipo.eventlog.onReceiveMessage")
#set($dlLink = $!utils.escapeXML($jslink.getTemplate('EventlogCsvExportScreen').addQueryData('start_day',$!{result.StartDate}).addQueryData('end_day',$!{result.EndDate}) ))

#set($title = "$l10n.EVENTLOG_DOWNLOAD")
<a class="auiButton" title="$title" href="javascript:void(0);" onclick="aipo.eventlog.downloadCvn(${result.isOverSize()},${result.MaxSize},'$dlLink');" >$title</a>

</div>
#AUIajaxpageview('EventlogScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable auiMbTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="">
</colgroup><colgroup style="width:10em;">
</colgroup><colgroup style="width:15em;">
</colgroup><colgroup style="width:10em;">
</colgroup><colgroup style="width:10em;">
</colgroup>
<tbody>
<tr>
#ALtdhead("#ALswitchCheckbox()")
##ヘッダー名を変更する場合はEventlogCsvExportScreenも変更してください
#ALtdhead("#ALajaxsort('event_date' $l10n.EVENTLOG_DATE $result 'EventlogScreen')")
#ALtdhead("#ALajaxsort('user_name' $l10n.EVENTLOG_NAME $result 'EventlogScreen')")
#ALtdheadAtt("#ALajaxsort('portlet_id' $l10n.EVENTLOG_FEATURE_NAME $result 'EventlogScreen')" 'class="center mb_hide"')
#ALtdheadAtt("#ALajaxsort('event_type' $l10n.EVENTLOG_OPERATION $result 'EventlogScreen')" 'class="center mb_hide"')
#ALtdheadAtt("#ALajaxsort('ip_addr' $l10n.EVENTLOG_IP $result 'EventlogScreen')" 'class="mb_hide"')
</tr>
#foreach ($record in $result.List)
<tr>
#if($!{client}=="IPHONE")
#ALtdcellAtt("<input name='check$!record.EventlogId' type='checkbox' value='$!record.EventlogId'/>" "class='center auiMTCheck'")
#ALtdcellheaderAtt('nowrap="nowrap" class="auiMTCaption"')
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","EventlogDetailScreen").addQueryData("entityid",$record.EventlogId))');">$!record.EventDate</a>
#ALtdcellfooter()
#ALtdcell("<div>$!record.UserFullName</div>")
#ALtdcell("<div>$!record.PortletName</div>")
#ALtdcell("<div>$!record.EventName</div>")
#ALtdcellAtt("<div>$!record.IpAddr</div>" 'class="mb_hide"')
#else
#ALtdcellAtt("<input name='check$!record.EventlogId' type='checkbox' value='$!record.EventlogId'/>" 'class="center"')
#ALtditemheaderAtt("nowrap='nowrap'")
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","EventlogDetailScreen").addQueryData("entityid",$record.EventlogId))');">$!record.EventDate</a>
#ALtdcellfooter()
#ALtdcell("<div>$!record.UserFullName</div>")
#ALtdcell("<div>$!record.PortletName</div>")
#ALtdcell("<div>$!record.EventName</div>")
#ALtdcell("<div>$!record.IpAddr</div>")
#end
</tr>
#end
</tbody>
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.EVENTLOG_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','EventlogFormJSONScreen').addQueryData('mode','multi_delete')" "$!indicator_id" "$!portlet.ID" "aipo.eventlog.onReceiveMessage")
</div>
#AUIajaxpageview('EventlogScreen' $result)
#AUISummaryDivfooter()
#ALformfooter()
#end

#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end

