#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<base href="$clink.External">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
<meta http-equiv="cache-control" content="must-revalidate" />
<meta http-equiv="cache-control" content="max-age=0" />
<link rel="stylesheet" type="text/css" href="${external_resources_url}/themes/iphone/css/style.css" />
<link rel="apple-touch-icon-precomposed" href="${external_resources_url}/themes/iphone/img/apple-touch-icon-precomposed.png" />
##if($config.getString("portal.title")) #set ($titlePrefix = $config.getString("portal.title")) #else#set ($titlePrefix = "") #end
##set ($titlePrefix = $config.getString("portal.title"))
<title>${alias}</title>
</head>
<body style="color:#000000;">
##<div style="font-size:smaller;">
$navigation.setTemplate("iphone/top.vm")
$screen_placeholder
$navigation.setTemplate("iphone/bottom.vm")
##</div>
</body>
</html>
