#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "更新する")
#set ($event_submit = "eventSubmit_doMemo_update_normal")
#set ($indicator_id = "memo-indicator-list-")
## ---------------------------------------------------------------------------
#if (! $!{result.MemoLiteList} || $!{result.MemoLiteList.size()} == 0)
    <div class="message">メモはありません。</div>
#else
    #AUISummaryDiv()
    #AUIselectpdheader("memo" "99%" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")
    #foreach( $record in $result.MemoLiteList )
        <option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","MemoScreen").addQueryData("filter",$!record.MemoId).addQueryData("entityid",$!record.MemoId))" #if ($!result.Detail.MemoId.toString() == $!record.MemoId.toString()) selected="selected" #end>$!record.MemoName</option>
    #end
    #AUIselectfooter()
    #AUISummaryDivfooter()
    #if($!{result.Detail})
        #ALerrmsg($errmsgs)
        <div class="messageDiv_memo" id="memo_$!{portlet.ID}"></div>
        #AUIajaxscreenformheader("memoForm" $jslink $portlet "MemoFormJSONScreen" "aipo.memo.enableMessageDiv('$!{portlet.ID}');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.memo.onReceiveMessageUpdate)")
        <input type="hidden" name="mode" value="update" />
        <input type="hidden" name="entityid" value="$!{result.Detail.MemoId}" />
        <input type="hidden" name="memo_name" value="$!{result.Detail.MemoName}" />
        <div class="p">
        <table class="tableWrapper">
			<tbody><tr>
        <td>
        #ALtextarea('note' $!result.Detail.Note 10 40)
        </td>
        </tr><tr>
        <td>
        #AUISummaryDiv()
        <a class="auiButton" href="javascript:void(0)" tabindex="0" onclick="dojo.byId('form$!{portlet.ID}').onsubmit();">更新する</a>
		#ALajaxIndicatorSpan("${indicator_id}" "$!{portlet.ID}" "&nbsp;")
        #AUISummaryDivfooter()
        </td>
        </tr></tbody>
		</table>
        </div>
        #ALformfooter()
    #end
#end
