#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
							#if("${client}" == "PCIPHONE")
								<!-- auiDispChanger -->
								<div class="auiDispChanger">
									<a href="javascript:void(0)" onclick="location.href='$jslink.setAction("ALChangeToSmartPhone")'"><span class="icon"><i class="icon-mobile-phone"></i></span>スマートフォン表示に切り替える</a>
								</div>
								<!-- /auiDispChanger -->
							#end

                            <!-- FOOTER -->
#if ("${client}" != "IPAD" || "${clientVer}" != "4")
#set ($onclickClose = "document.getElementById('startGuide').style.display='none';document.getElementById('wrapper').style.marginBottom='26px';document.getElementById('guide_on').style.display='inline';document.getElementById('guide_off').style.display='none';aipo.setCookie('start_guide_popup',false,'/')")
#set ($onclickOpen = "document.getElementById('startGuide').style.display='block';document.getElementById('wrapper').style.marginBottom='156px';document.getElementById('guide_on').style.display='none';document.getElementById('guide_off').style.display='inline';aipo.setCookie('start_guide_popup',true,'/');")
                            <div id="footer" class="clearfix">
#else
#set ($onclickClose = "document.getElementById('startGuide').style.display='none';document.getElementById('guide_on').style.display='inline';document.getElementById('guide_off').style.display='none';aipo.setCookie('start_guide_popup',false,'/')")
#set ($onclickOpen = "document.getElementById('startGuide').style.display='block';document.getElementById('guide_on').style.display='none';document.getElementById('guide_off').style.display='inline';aipo.setCookie('start_guide_popup',true,'/');")
                            <div id="footer" class="clearfix" style="position:static;">
#end
								#if($data.User.isAdmin() && $data.User.UserName != "admin")
                            	<!-- START GUIDE -->
                            	<div id="startGuide" #if (${start_guide_popup}) style="display:block;" #else  style="display:none;"  #end>
                            		<div class="close">#ALdialogCloseButton("$!{onclickClose}")</div>
                            		<div class="clearfix">
                            			<div class="guideContents">
                            				<p>新しいアプリを使ってみましょう</p>
											<p>#AUIbuttonAction("アプリを追加する" "javascript:aipo.common.customizeDialog()")</p>
                            			</div>
										<div class="guideContents">
                            				<p>みんなの画面を同じにしましょう</p>
											<p>#AUIbuttonAction("画面を統一する" "javascript:aipo.common.showDialog('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'Account').addQueryData('template','GadgetsPsmlFormScreen'))');")</p>
										</div>
                            		</div>
                            	</div>
								<!-- /START GUIDE -->
								#end
							<div id="footText">
                            	<div class="copyright">$!{alias_copyright} $!{version} $!{copyright}</div>
								#if($data.User.isAdmin() && $data.User.UserName != "admin")
                            		<div id="guide_on" #if (${start_guide_popup}) style="display:none;" #else  style="display:inline;"  #end><a href="javascript:void(0);" onclick="$!{onclickOpen}">$l10n.WAR_START_GUIDE</a></div>
									<div id="guide_off" #if (${start_guide_popup}) style="display:inline;" #else  style="display:none;"  #end><a href="javascript:void(0);" onclick="$!{onclickClose}">$l10n.WAR_START_GUIDE</a></div>
								#end
                           </div>
                           </div>
                            <!-- /FOOTER -->