#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<!-- HEADER -->
#if ($data.User.hasLoggedIn())
<div id="header" class="clearfix"><div class="inner">
  <div class="hdSign">
    <div class="hdLogo"><img src="${external_resources_url}/themes/${theme}/images/logo_aipo.png" alt="Aipo" /></div>
  </div>
  <div class="hdNavi">
#if ($data.User.getUserName()!="admin" && ${client} != "IPHONE")
    <div class="hdActivity" title="$l10n.WIDGET_NOTICE"><div id="activitycheckerContainer" class="dijitInline activitycheckerContainerstyle" ><div id="activitychecker" class="zero counter activitycheckerstyle"></div><span class="mb_hide">$l10n.WIDGET_NOTICE</span><span class="pc_hide"><i class="icon-bell-alt"></i></span></div></div>
#end
		<!-- /hdActivity -->

    <div class="hdUserName">
		<a href="javascript:void(0);" class="arrow_bottom" onclick="aipo.customize.showMenu('hdSetting');" onmouseover="dojo.addClass(this, 'customizeMenuIconMouseenter');" onmouseout="dojo.removeClass(this, 'customizeMenuIconMouseenter');" title="$l10n.TOP_CUSTOMIZE">
		#if ($data.User.getUserName()!="admin")
			#if ($data.User.hasPhoto())
				<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{data.User.UserId}).addQueryData("t", $!{data.User.PhotoModified.Time}))" class="avatar" alt="$l10n.USERLIST_PHOTO" />
			#else
				<img src="images/common/avatar_default3.png" class="avatar" alt="$l10n.USERLIST_PHOTO"/>
			#end
			#if($!data.User.CompanyId >= 1)
				$!data.User.getCompanyName($!data.User.CompanyId)
			#end
		#end
		$utils.escapeXML($!data.User.LastName.toString()) $!utils.escapeXML($!data.User.FirstName.toString())
		<i id="menubar_button_hdSetting" class="auiIcon auiIconSetting"></i>
		</a>
		<div class="menubar body-child" id="menubar_hdSetting" style="position: absolute; display:none;">
		<ul>
			#if ($data.User.getUserName()!="admin")
			<li><a href="$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPane($data,'AccountPerson').addQueryData('action','controls.Restore'))">$l10n.PERSONAL</a></li>
			#if ($data.User.isAdmin())
				<li><a href="$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPane($data,'SysInfo').addQueryData('action','controls.Restore'))">$l10n.TOP_MANAGE_SETTING</a></li>
			#end
			#end
			<li class="last"><a href="javascript:void(0);" onclick="location.href='$jslink.setAction($config.getString("action.logout"))'">$l10n.TOP_LOGOUT</a></li>
		</ul>
		</div>
	</div>
  </div>
</div></div>
#end
#if ($data.User.getUserName()!="admin")
<!-- /HEADER -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aipo.widget.DropdownActivityChecker");

dojo.addOnLoad(function () {
    var num;
    if(dojo.byId("messagechecker") != undefined  && dojo.byId("activitychecker") != undefined) {
    	num = parseInt(dojo.byId("activitychecker").innerHTML) + parseInt(dojo.byId("messagechecker").innerHTML);
    } else if(dojo.byId("activitychecker") != undefined) {
    	num = parseInt(dojo.byId("activitychecker"));
    } else {
    	num = 0;
    }
    if (!num){
    	document.title = djConfig.siteTitle;
    } else if (num > 99) {
    	document.title = "(99+) " + djConfig.siteTitle;
    } else {
    	document.title = "(" + num + ") " + djConfig.siteTitle;
    }
    var acHtml = document.getElementById("activitycheckerContainer");
    if(acHtml){
       var params = {
            widgetId: "activitychecker",

#if ("${client}" == "IPHONE" )
            iconURL: "themes/$!theme/images/mobile/an_activity.png",
            iconWidth: "24",
            iconHeight: "24",
#else
            iconURL: "themes/$!theme/images/common/icon_message.gif",
            iconWidth: "19",
            iconHeight: "15",
            extendClass: "counter",

#end
            iconAlt: "あなた宛のお知らせ"
       };
       var ac = new aipo.widget.DropdownActivityChecker(params , acHtml);
   }
});

//]]>
</script>
#end
