#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($mode=="new_form")
#set ($action_str = "$l10n.BLOG_ADD")
#set ($event_submit = "eventSubmit_doBlog_entry_insert")
#set ($subtitle = "$l10n.BLOG_ADD_ENTRY")
#else
#set ($action_str = "$l10n.BLOG_UPDATE")
#set ($subtitle = "$l10n.BLOG_ENTRY_EDIT")
#set ($event_submit = "eventSubmit_doBlog_entry_update")
#end
#set ($indicator_id = "indicator-dlg-")
## --------------------------------------------------------------------
## IE文字化け対策
<span id="blog_val_switch1" style="display:none">$l10n.BLOG_TYPE_NEW_WORD</span>
<span id="blog_val_switch2" style="display:none">$l10n.BLOG_SELECT_DATE_FROM_LIST</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("blogForm" $jslink $portlet "BlogEntryFormJSONScreen" "aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.blog.onReceiveMessage)")
<input name="is_new_thema" type="hidden" value="$!result.isNewThema"/>
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end

#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('create_date'))")
#ALtditemheaderAtt('class="auiSetDate"')
<div dojoType="aipo.widget.DropdownDatepicker" id="datepicker" widgetId="datepicker" iconURL="images/icon/icon_date.gif" iconAlt="$l10n.BLOG_DAY_DAY" hiddenId="create_date" initValue="$!{result.CreateDate.Year}/$!{result.CreateDate.Month}/$!{result.CreateDate.Day}" inputId="create_date_input" dateId="create_date" displayCheck="none"></div>
&nbsp;
<select name="create_date_hour" size="1">
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.CreateDate.Hour == "$num") selected #end>$num</option>
#end
</select>
:
<select name="create_date_minute" size="1">
#foreach ( $num in [0..59] )
<option value="$num" #if ($!result.CreateDate.Minute == "$num") selected #end>#if($num<10)0#end$num</option>
#end
</select>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('thema_id'))")
#ALtditemheader()
<div id="blogThemaInputField" #if(!$!{result.isNewThema})style="display:none"#end>

#ALtextfieldw100('thema_name' $!result.BlogThema.ThemaName 50 'active')

</div>
<div id="blogThemaSelectField" #if($!{result.isNewThema})style="display:none"#end>
#ALselectpdheaderw100("thema_id" "")
#foreach( $record in $result.ThemaList )
<option value='$!record.ThemaId' #if ($!result.ThemaId.toString() == $!record.ThemaId.toString()) selected #end>$!record.ThemaName</option>
#end
#ALselectfooter()
</div>
<div class="mt5">
<input name="post_type" type="button" class="button" value=" #if(!$!{result.isNewThema})$l10n.BLOG_TYPE_NEW_WORD#else$l10n.BLOG_SELECT_DATE_FROM_LIST#end " onclick="aipo.blog.formSwitchThemaInput(this)" />
</div>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('title'))")
#ALtditem("#ALtextfieldw100('title' $!result.Title 50 'active')")
#ALtdcaption($!result.getFieldName("note"))
#ALtditemheader()
#ALtextarea('note' $!result.Note 10 40)
#ALtditemfooter()
<tr #if(!$result.isFileUploadable())class="mb_hide"#end>
<td class="caption">$l10n.BLOG_FILE_ATTACH</td>
<td>
  #set($att_url = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FileuploadFormScreen").addQueryData("mode","form"))
  <div class="clearfix">
  <div>
  	#IFFileUpload()
  </div>
  <ul  id="attachments_$!portlet.ID" style="list-style-type:none;" class="attachments">
   #foreach($record in $!result.AttachmentFileNameList )
    <li data-fileid="s${record.FileId}" data-filename="$!{record.FileName}"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">削除</span></li>
   #end
  </ul>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="$!result.FolderName" />
  </div>
</td>
</tr>
#ALtablefooter()
#ALbuttonheader()
<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="$l10n.BLOG_ADD" onclick="aimluck.io.setHiddenValue(this);">
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
