#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
#set ($indicator_str = "データを送信")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="blog_val_confirm1" style="display:none">$l10n.BLOG_CONFIRM_DELETE_COMMENT</span>
<span id="blog_val_confirm2" style="display:none">$l10n.BLOG_CONFIRM_DELETE_ENTRY</span>
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.BLOG_DETAIL_ENTRY)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxscreenformheader("blogEntryForm" $jslink $portlet "BlogEntryFormJSONScreen" "aimluck.io.disableForm(this, true)")
<table class="listTable wide">
<caption>
<span class="floatRight" style="font-weight:normal; color:#434343;">$!{result.Detail.ThemaNameHtml}</span>
$!{result.Detail.TitleHtml}
</cation>
<tr>
<td>
<div class="clearfix">
<div class="avatar floatLeft mr10">
#if(${result.Detail.hasPhoto()})
<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${result.Detail.OwnerId}).addQueryData("t", ${result.Detail.PhotoModified}))" alt="${result.Detail.OwnerName}" width="32" height="32" />
#else
<img src="images/common/avatar_default3.png" alt="${result.Detail.OwnerName}" width="32" height="32" />
#end
</div>
<div class="alignleft"><strong>${result.Detail.OwnerName}</strong>
<br />
$!{result.Detail.CreateDateAlternative.Year}$l10n.BLOG_YEAR$!{result.Detail.CreateDateAlternative.Month}$l10n.BLOG_MONTH$!{result.Detail.CreateDateAlternative.Day}$l10n.BLOG_DAY$!{result.Detail.CreateDateAlternative.DayOfWeek} $!{result.Detail.CreateDateAlternative.time}
</div>
<div class="alignright">
#if($!result.Editable)
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogEntryFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.blog.onLoadMsgboardDialog")
#end
#if($!{result.Deletable})
#ALbutton("eventSubmit_doBlog_entry_delete" "$l10n.BLOG_DO_DELETE " "aipo.blog.delBlogEntry(this,'$indicator_id','$!{portlet.ID}');")
#end
</div>
</div>
</td>
</tr>

<tr>
<td style="border-bottom:none;">
<div class="clearfix">
  <div>
  $!{result.Detail.Note}
  #if($!result.Detail.AttachmentFileList && $!result.Detail.AttachmentFileList.size() > 0)
    <div style="padding-top:15px;">
    #foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
      <div style="padding-top:5px;">
      <img src="images/blog/blog_item.gif">&nbsp;<a #if("$!{client}"=="IPHONE")target="_blank"#end href="$jslink.getTemplate("BlogFileRawScreen").addPathInfo("ownerid", $!{result.Detail.OwnerId}).addPathInfo("entityid", $!result.Detail.EntryId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.getURLEncodedValue()})"> $result.getStringCR($attachmentFile.FileNameField) </a><br />
      #if($attachmentFile.isImage())
        <div style="padding-top:3px;padding-left:12px;" class="thumbBlock">
        <div id='popc' style='position:absolute'></div>
        <a href="javascript:aipo.fileupload.showImageDialog('$jslink.getTemplate('FileuploadViewScreen').addPathInfo('screen',"BlogFileRawScreen").addPathInfo("ownerid", $!{result.Detail.OwnerId}).addPathInfo("entryid", $!result.Detail.EntryId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.FileNameField})');">
        <img class="width_thumbs mb5" border="0" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("BlogFileThumbnailScreen").addPathInfo("ownerid", $!{result.Detail.OwnerId}).addPathInfo("entityid", $!result.Detail.EntryId).addPathInfo("attachmentIndex", $attachmentFile.FileId).addPathInfo("f", ${attachmentFile.FileNameField})"></a>
        </div>
      #end
      </div>
    #end
    </div>
  #end
  </div>
</div>
</td>
</tr>
</table>



#if($!result.CommentList && $!result.CommentList.size() > 0 || ("$!{client}"!="IPHONE" && $!result.CommentList.size() == 0))
<table class="listTable wide mb0">
<caption>コメント</cation>
#foreach ($record in $result.CommentList)
  <tr>
  <td>
  <div class="clearfix mb10">
  <div class="avatar floatLeft mr10">
  #if(${record.Owner.hasPhoto()})
    <img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", ${record.OwnerId}).addQueryData("t", ${record.Owner.PhotoModified}))" alt="${record.OwnerName}" width="32" height="32" />
  #else
    <img src="images/common/avatar_default3.png" alt="${result.Detail.OwnerName}" width="32" height="32" />
  #end
  </div>
  <div class="alignleft"><strong>$!{record.OwnerName}</strong>
  <br />
  $!{record.UpdateDateAlternative.Year}年$!{record.UpdateDateAlternative.Month}月$!{record.UpdateDateAlternative.Day}日$!{record.UpdateDateAlternative.DayOfWeek} $!{record.UpdateDateAlternative.time}
  </div>
  <div class="alignright">
  #if($!{result.OtherCommentDeletable} || ($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}) && $!{result.CommentDeletable}))
    #ALbutton("eventSubmit_doBlog_comment_delete" "削除する" "aipo.blog.delCommentReply(this, ${record.CommentId}, '$!indicator_id', '$!portlet.ID');")
  #end
  </div>
  </div>

  <div>
  ${record.Comment}
  </div>
  </td>
  </tr>
#end
</table>
#end

#ALformfooter()

<!-- form comment -->
#ALerrmsg($errmsgsOnCommentDetail)
<div id="messageDiv"></div>
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "${indicator_str}$l10n.BLOG_DO")
<form name="blogForm$!portlet.ID" id="blogForm$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogEntryFormJSONScreen').addQueryData('entityid', $!{result.Detail.EntryId})" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.blog.onReceiveMessage);return false;">
#ALajaxscreenformheader("blogForm" $jslink $portlet "BlogEntryFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.blog.onReceiveMessage)")
<input type="hidden" name="mode" value="comment" />
<input type="hidden" name="entityid" value="$!{result.Detail.EntryId}" />
<table class="listTable wide mt0" style="border-top:none;">
#ALtdcaption("#ALrequired($!resultOnCommentDetail.getFieldName('comment'))")
#ALtditemheader()
#ALtextarea('comment' $!resultOnCommentDetail.Comment 10 40)
#ALtditemfooter()
</table>
#ALbuttonheader()
#ALsubmit('eventSubmit_doBlog_entry_reply' "$l10n.BLOG_DO_COMMENT")#ALajaxbuttonClose()
#ALbuttonfooter()
</form>
#ALdialogfooter()

