#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_str = "$l10n.TODO_SEND_DATA")
#set ($action_str = "$l10n.EXTTIMECARD_UPDATE")
#set ($event_submit = "eventSubmit_doTodo_insert")
#set ($subtitle = "$l10n.WAR_SET_UP_APPLICATION")
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!js_peid" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>

<form name="form$!{js_peid}" id="form$!{js_peid}" action="$!jslink.getPortletById($!{js_peid}).addQueryData('template', 'CustomizeFormJSONScreen')" method="post" onsubmit="aimluck.io.submit(this,'$indicator_id','$!js_peid',function(){ location.href='$!{jslink}/js_pane/$!{js_peid}?action=controls.Maximize' });return false;">
<input type="hidden" name="_name" value="ページ" />
<input type="hidden" name="secid" value="$secid" />
<input type="hidden" name="portlet_id" value="$!{js_peid}" />
<input type="hidden" name="mode" value="add" />
<!--
<form name="add_portlet" action="${jslink.Template}/${jslink.ActionKey}" method="post" onsubmit="return(aimluck.io.disableForm(this, true));">
-->
<input type="hidden" name="secid" value="$secid" />

<h3>ページ名</h3>
<p style="margin-bottom:10px">
#if($isMypage)
$!pageTitle
#else
#ALtextfield('pageTitle' $!pageTitle '90%' 10 'active')
#end
</p>

<h3>$l10n.WAR_SELECT_POSITION</h3>
<input type="hidden" name="controller" value="$!controller" />
<table class="tableWrapper controllerTable">
<tbody>
<tr>
<td width="72" align="left" nowrap="nowrap" id="OneColumn" #if($!controller == 'OneColumn') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_100.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="left" nowrap="nowrap" id="TwoColumns" #if($!controller == 'TwoColumns') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_50-50.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap" id="TwoColumnsRight" #if($!controller == 'TwoColumnsRight') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_25-75.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap" id="TwoColumnsLeft" #if($!controller == 'TwoColumnsLeft') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_75-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="left" nowrap="nowrap" id="ThreeColumnsSymetric" #if($!controller == 'ThreeColumnsSymetric') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_33-33-33.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap" id="ThreeColumns" #if($!controller == 'ThreeColumns') class="selected" #end><a href="javascript:void(0);" onclick="aipo.customize.setController('$!js_peid', this)"><img src="images/layout/layout_25-50-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" width="72" height="72" border="0" /></a></td>
<td width="99%"></td>
</tr>
</tbody>
</table>
<br/>

<h3>$l10n.WAR_SELECT_APPLICATION</h3>
<div style="height:300px;overflow:scroll;overflow-x:hidden;">
<table class="listTable" style="margin-top:0">
<tr>
#ALtdheadThin("$l10n.CUSTOMIZER_ADD")
#ALtdheadThin("$l10n.WAR_NUMBER")
#ALtdheadW25("$l10n.CUSTOMIZER_TITLE")
#ALtdheadW50("$l10n.REGISTRY_EDITOR_PORTLET_DESCRIPTION")
</tr>
###foreach ($portlet in $browser)
#foreach ($portlet in $portlets)
#set ($portletCount=0)
#foreach ($entry in $runs)
#if ($entry.parent == "GadgetsTemplate")
  #set ($pname = "GadgetsTemplate::$entry.getParameterValue('aid')")
  #if($pname == $portlet.Name)
  #set ($portletCount=$portletCount+1)
  #end
#end
#if ($entry.parent == $portlet.Name)
#set ($portletCount=$portletCount+1)
#end
#end
<tr>
#ALtdcellheaderAtt('align="center"')
###if($portletsSelected.containsKey($portlet.Name))
##<input type="checkbox" name="pname" value="$portlet.Name" checked="checked"/>
###else

<input type="checkbox" name="pname"  value="$portlet.Name" #if ($insert == 0) disabled="disabled" #end/>
###end
#ALtdcellfooter()
#ALtdcellAtt("$portletCount" 'align="center"')
#ALtdcellheader()
#if ($portlet.Title) $portlet.Title #else $portlet.Name #end
#ALtdcellfooter()
#ALtdcellheader()
#if ($portlet.Description) $portlet.Description #else $l10n.CUSTOMIZER_NODESCRIPTION #end
#ALtdcellfooter()
</tr>
#end
</table>
</div>
<input type="hidden" name="size" value="30"/>
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
</form>
#ALdialogfooter()
