#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
## ---------------------------------------------------------------------------
<input id="page_tutorial" type="hidden" value="1" />

<div class="auiPopup imgPopupTutorial">
 <div class="imgBody">
 	<a href="javascript:void(0)">
		<img width="1000" height="650" id="popupImage1" onload="aipo.tutorial.onLoadImage(this)" src="images/slide01_130809.png"  onclick="aipo.tutorial.nextPage()"/>
		<img width="1000" height="650" id="popupImage2" onload="aipo.tutorial.onLoadImage(this)" src="images/slide02_130809.png" style="display: none;" onclick="aipo.tutorial.nextPage()"/>
		<img width="1000" height="650" id="popupImage3" onload="aipo.tutorial.onLoadImage(this)" src="images/slide03_130809.png" style="display: none;" onclick="aipo.tutorial.nextPage()" />
		<div id="popupImage4" style="background:url(images/slideFacebook_131011.png) no-repeat left top; width:1000px; height:650px; position:relative; display: none;" onclick="aipo.tutorial.showDialog('$jslink.getTemplate("TutorialForbidScreen")'); aipo.tutorial.hideDialog()">
			<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:610px; height:230px; position:absolute; top:271px; left:195px;" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Faipocom.jp&amp;width=605&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=207529679428894"></iframe>
		</div>
	</a>
 </div>
</div>

<div id="tutorial_prev" class="prevButton" style="top: 10px; left: 10px; width: 100px; height: 650px; position: absolute; cursor: pointer; display: none; z-index: 9999;" onclick="aipo.tutorial.prevPage()">
 	<a href="javascript:void(0)">
 		<img width="100" height="650" src="images/prev_tutorial.png"/>
	 </a>
</div>
<div id="tutorial_next" class="nextButton" style="top: 10px; left: 910px; width: 100px; height: 650px; position: absolute; cursor: pointer; z-index: 9999;" onclick="aipo.tutorial.nextPage()">
 	<a href="javascript:void(0)">
 		<img width="100" height="650" src="images/next_tutorial.png"/>
	 </a>
</div>