#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------

## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#AUISummaryDiv()
<form class="auiSearch" id="searchForm_$!{portlet.ID}" action="$!jslink.getPortletById($!portlet.ID)" onsubmit="aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-indicator-list-'); return false;">
<input type="hidden" name="template" value="UserListListScreen"/>
<input type="hidden" name="mode" value="ajaxsearch"/>
<input class="text floatLeft long" type="text" name="sword" id="sword" value="$!result.SearchWord" maxlength="100" style="margin-right:5px;ime-mode:active" />
<a href="javascript:void(0)" tabindex="0" class="auiButtonSearch  floatLeft" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit();">$l10n.USERLIST_SEARCH</a>
</form>
<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">
<div class="indicator" id="search-indicator-list-$!{portlet.ID}" style="display:none;">&nbsp;</div>
</div>
#AUISummaryDivfooter()

#if($result.List.size() == 0)
$l10n.USERLIST_ALERT_NO_ADDRESS_YOUR_SELECT<br />
#else
#ALajaxlistformheaderAction('AddressBook')
#AUISummaryDiv()
#AUIsearchresult($result.SearchWord.toString())
#AUIajaxpageview("UserListListScreen" $result)
#AUISummaryDivfooter()
#AUIrowMTableWide()
<tr>
#ALtdheadW25("#ALajaxsortaddressbook('name_kana' '名前' $result 'UserListListScreen')")
#ALtdhead($l10n.USERLIST_POST_NAME)
#ALtdheadheaderAtt('class="w15 mb_hid"')
$l10n.USERLIST_POSITION
#ALtdheadfooter()
#ALtdheadAtt($l10n.USERLIST_EMAIL 'class="w25 mb_hide"')
#ALtdheadAtt($l10n.USERLIST_OUT_TELEPHONE 'class="mb_hide"')
#ALtdheadAtt($l10n.USERLIST_IN_TELEPHONE 'class="mb_hide"')
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","UserDetailScreen").addQueryData("entityid",$record.UserId))');">$result.getStringCR($!record.Name)</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
#set($pcount = 0)
#foreach($post in $record.getPostNameList())
#if($pcount != 0)、&nbsp;#end
$post
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>$result.getStringCR($!record.PositionName)</div>
#ALtdcellfooter()
#ALtdcellAtt("$!record.Email" "class='mb_hide'")
#ALtdcellAtt("$!record.OutTelephone" "class='mb_hide' nowrap='nowrap'")
#ALtdcellAtt("$!record.InTelephone" "class='mb_hide' nowrap='nowrap'")

</tr>
#end
#AUItablefooter()
#end
#ALformfooter()
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/userlist-widgets.vm")

