#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
##set ($newUrl1 = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowFormScreen")))
#set ($RouteChangeFlag = "isChangedRoute")
#set ($Route = "Route")
#set ($Route_id = "workflow_Route")
#set ($NoteChangeFlag = "isChangedNote")
#set ($Note = "Note")
#set ($Note_id = "workflow_Note")
#if($mode=="new_form")
#set ($indicator_str = "$l10n.WORKFLOW_SEND_TO_DATA")
#set ($action_str = "$l10n.WORKFLOW_DO_APPLY")
#set ($event_submit = "eventSubmit_doWorkflow_insert")
#set ($subtitle = $l10n.WORKFLOW_ADD_REQUEST)
#set($modesrv = "insert")
#else
#set ($indicator_str = "$l10n.WORKFLOW_SEND_TO_DATA")
#set ($action_str = "$l10n.WORKFLOW_DO_REAPPLY")
#set ($subtitle = $l10n.WORKFLOW_UPDATE_REQUEST)
#set ($event_submit = "eventSubmit_doWorkflow_update")
#set($modesrv = "update")
#end
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="workflow_val_route1" style="display:none">$l10n.WORKFLOW_SELECT_MEMBER_FROM_LIST</span>
<span id="workflow_val_route2" style="display:none">$l10n.WORKFLOW_SELECT_ROUTE_FROM_LIST</span>
<span id="workflow_val_confirm1" style="display:none">$l10n.WORKFLOW_UPDATE_CONFIRM</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)

#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
<div id="messageDiv_$!portlet.ID"></div>
#ALajaxscreenformheader("workflowForm" $jslink $portlet "WorkflowFormJSONScreen" "aimluck.io.selectAllOptions(this.positions);aimluck.io.createSelectFromFileList(this, '$!portlet.ID');aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.workflow.onReceiveMessage);aipo.workflow.onLoadWorkflowDetail")
<input type="hidden" name="mode" id="mode_$!portlet.ID" value="$!modesrv" />

#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('request_name'))")
#ALtditemheader()
#ALselectpdheaderclass("category_id" "aipo.workflow.categoryOnChangeSelecter('$!portlet.ID','$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowFormJSONScreen').addQueryData('mode','categorytemplate')',value,'$Note','$NoteChangeFlag','$Route','route_id');" 'w100 mb5')
#foreach( $record in $result.CategoryList )
<option value="$!record.CategoryId" #if ($!result.CategoryId.toString() == $!record.CategoryId.toString()) selected #end>$!record.CategoryName</option>
#end
#ALselectfooter()
#ALtextfieldw100('request_name' $!result.RequestName 50 'active')
#ALtditemfooter()
#ALtdcaption($!result.getFieldName("priority"))
#ALtditemheader()
<input name="priority" type="radio" value="1" id="$!{portlet.ID}priority_high_id" #if ($!result.Priority.toString() == "1") checked="checked" #end /><label for="$!{portlet.ID}priority_high_id"> $l10n.WORKFLOW_HIGH</label>
<input name="priority" type="radio" value="2" id="$!{portlet.ID}priority_middle_high_id" #if ($!result.Priority.toString() == "2") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_high_id"> $l10n.WORKFLOW_FEW_HIGH</label>
<input name="priority" type="radio" value="3" id="$!{portlet.ID}priority_middle_id" #if ($!result.Priority.toString() == "3") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_id"> $l10n.WORKFLOW_USUALLY</label>
<input name="priority" type="radio" value="4" id="$!{portlet.ID}priority_middle_low_id" #if ($!result.Priority.toString() == "4") checked="checked" #end /><label for="$!{portlet.ID}priority_middle_low_id"> $l10n.WORKFLOW_FEW_LOW</label>
<input name="priority" type="radio" value="5" id="$!{portlet.ID}priority_low_id" #if ($!result.Priority.toString() == "5") checked="checked" #end /><label for="$!{portlet.ID}priority_low_id"> $l10n.WORKFLOW_LOW</label>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('note'))")
#ALtditemheader()
<input id=$NoteChangeFlag type="checkbox" style="display:none"/>
<textarea id=$Note_id class="text wide" name=$Note rows="10" cols="40" onchange="aipo.workflow.onChangeNote()">$!result.Note</textarea>
#ALtditemfooter()
##ALtdcaption("$!result.getFieldName('price')")
##ALtditemheader()
##ALtextfield('price' $!result.Price '35%' 16 'disabled')&nbsp;円&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="caution">￥、カンマ（,）は不要</span>
##ALtditemfooter()
#ALtdcaption("#ALrequired($l10n.WORKFLOW_APPLICATION_ROUTE)")
#ALtditemheader()
<input id="is_saved_route" name="is_saved_route" type="hidden" value="$!result.isSavedRoute" />
<div class="mb5">
<input id="is_saved_route_button" name="post_type" type="button" class="button" value=" #if(!$!{result.isSavedRoute})$l10n.WORKFLOW_SELECT_ROUTE_FROM_LIST#else$l10n.WORKFLOW_SELECT_MEMBER_FROM_LIST#end " onclick="aipo.workflow.formSwitchRouteSelect(this)" />
</div>
<div id="workflowRouteInputField" #if($!{result.isSavedRoute})style="display:none"#end>
<div id="membernormallist">
<div class="spaceTop spaceLeft small">$l10n.WORKFLOW_SELECT_MEMBER_MSG</div>
<div dojoType="aipo.workflow.MemberNormalSelectList"
    id="membernormalselect"
    widgetId="membernormalselect"
    buttonAddId="button_member_add"
    buttonRemoveId="button_member_remove"
    memberFromId="tmp_member_from"
    memberToTitle="$l10n.WORKFLOW_MEMBER_TO_TITLE"
    memberToId="positions"
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowUserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
    memberFromOptionKey="name"
    memberFromOptionValue="aliasName"
    groupSelectId="tmp_group"
    groupSelectPreOptionKey="LoginUser"
    groupSelectPreOptionValue="$l10n.WORKFLOW_ALL_GROUP"
    groupSelectOptionKey="groupId"
    groupSelectOptionValue="name"
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserGroupLiteJSONScreen').addQueryData('mode','mygroup_and_post')"
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowUserLiteJSONScreen').addQueryData('mode','group')">
</div>
<select size="5" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
</div>
</div>
<div id="workflowRouteSelectField" #if(!$!{result.isSavedRoute})style="display:none"#end>
#ALselectpdheaderw100("route_id" "aipo.workflow.onChangeSelecter('$!portlet.ID','$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowFormJSONScreen').addQueryData('mode','routetemplate')',value,'$Route','$RouteChangeFlag');")
<option value="0">$l10n.WORKFLOW_NO_SPECIFIED</option>
#foreach( $record in $result.RouteList )
<option value="$!record.RouteId" #if ($!result.RouteId.toString() == $!record.RouteId.toString()) selected #end>$!record.RouteName</option>
#end
</select>
<input id=$RouteChangeFlag type="checkbox" style="display:none"/>
<br />
<div #if ($!result.RouteId.toString() == "" || $!result.RouteId.toString() == "0") style="display:none;" #end id="$Route_id" name="$Route">$!result.RouteH</div>
</div>
#ALtditemfooter()

<tr #if(!$result.isFileUploadable())class="mb_hide"#end>
<td class="caption">$l10n.WORKFLOW_ATTACHMENT</td>
<td>
  <div class="clearfix">
  <div>
  #IFFileUpload()
  </div>
  <ul id="attachments_$!{portlet.ID}" class="attachments">
  	#foreach($record in $!result.AttachmentFileNameList )
  	<li data-fileid="s${record.FileId}" data-filename="$!record.FileName"><span>$!record.FileName</span><span class="deletebutton" onclick="aimluck.io.removeFileFromList(this.parentNode.parentNode,this.parentNode);">$l10n.WORKFLOW_REMOVE</span></li>
  	#end
  </ul>
  <input type="hidden" id="folderName_$!{portlet.ID}" name="folderName" value="" />
  </div>
</td>
</tr>
#ALtablefooter()

#ALbuttonheader()
<input name="${event_submit}" class="auiButtonAction" type="submit" id="al_submit_$!{portlet.ID}" value="$l10n.WORKFLOW_DO_APPLY" onclick="aimluck.io.setHiddenValue(this);">
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
