#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader("$l10n.WORKFLOW_WORKFLOW_CATEGORY")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader("$l10n.WORKFLOW_CATEGORY")
#ALtableheaderWide()
#ALtdcaption("$l10n.WORKFLOW_CLASSIFICATION_NAME")
#ALtditem($!result.Detail.CategoryName)
#ALtdcaption("$l10n.WORKFLOW_APPLICATION_ROUTE")
#ALtditemheader()
#if($!result.Detail.HasRootName)
$!result.Detail.RouteName
<br />
&nbsp;&nbsp;(&nbsp;$!result.Detail.RouteH&nbsp;)
#end
#ALtditemfooter()
#ALtdcaption("$l10n.WORKFLOW_APPLICATION_CONTENTS_TEMPLATE")
#ALtditem($!result.Detail.Template)
#ALtdcaption("$l10n.WORKFLOW_MEMO")
#ALtditem($!result.Detail.Note)
#ALtdcaption("$l10n.WORKFLOW_DATE_ADD")
#ALtditem($!result.Detail.CreateDate)
#ALtdcaption("$l10n.WORKFLOW_DATE_UPDATE")
#ALtditem($!result.Detail.UpdateDate)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormScreen').addQueryData('entityid',$!{result.Detail.CategoryId})" "$!portlet.ID" "aipo.workflow_category.onLoadWorkflowCategoryDialog")
#if(! ($!result.Detail.CategoryId.toString() == "1"))
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','WorkflowCategoryFormJSONScreen').addQueryData('entityid',$!{result.Detail.CategoryId}).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.workflow_category.onReceiveMessage")
#end
#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
