#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
<!-- Start Contents Area -->
#AUIcontentsAreaHeader()
<div class="auiSummaryMeta clearfix">
<form class="auiSearch" id="searchForm_$!{portlet.ID}" action="$!jslink.getPortletById($!portlet.ID)" onsubmit="aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-${indicator_id}'); return false;">
<input type="hidden" name="template" value="WorkflowAllListScreen"/>
<input class="text floatLeft long" type="text" name="keyword" id="q$!{portlet.ID}" style="margin-right:5px;" value="$!result.targetKeyword"/>
<a class="auiButtonSearch floatLeft" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit();">$l10n.WORKFLOW_SAERCH</a>
</a>
</form>
<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!{portlet.ID}" "&nbsp;")</div>
</div>
<div class="auiSummfloatLeftaryMeta clearfix">
<form class="auiForm">
#ALselectpdheader("category" "180px" "aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')")

#if ($all_flg)
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","").addQueryData("eventSubmit_doWorkflow_list_all","1").addQueryData("alltab","$!result.currentTab"))">$l10n.WORKFLOW_ALL_CATEGORY</option>
#foreach( $record in $result.CategoryList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","$!record.CategoryId").addQueryData("eventSubmit_doWorkflow_list_all","1").addQueryData("alltab","$!result.currentTab"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.CategoryId.toString()) selected="selected" #end>$result.getStringCR($!record.CategoryName)</option>
#end

#else
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","").addQueryData("tab","$!result.currentTab"))">$l10n.WORKFLOW_ALL_CATEGORY</option>
#foreach( $record in $result.CategoryList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowListScreen").addQueryData("submenu", "created").addQueryData("filtertype","category").addQueryData("filter","$!record.CategoryId").addQueryData("tab","$!result.currentTab"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.CategoryId.toString()) selected="selected" #end>$result.getStringCR($!record.CategoryName)</option>
#end
#end
</select></form></div>
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('Workflow')
#if($result.List.size() == 0)
<div class="message">$l10n.WORKFLOW_NO_WORKFLOW_YOU_SELECT</div>
#else
<div class="auiSummaryMeta clearfix">
#AUIsearchresult($!result.targetKeyword.toString())
#AUIajaxpageview('WorkflowAllListScreen' $result)
</div>
#AUIrowMTableWide()
<tr>
#ALtdhead("#ALajaxsort('request_name' $l10n.WORKFLOW_REQUEST_NAME $result 'WorkflowAllListScreen')")
#ALtdheadAtt("#ALajaxsort('progress' $l10n.WORKFLOW_SITUATION $result 'WorkflowAllListScreen')" 'style="width:6em" class="center"')
#ALtdheadAtt("#ALajaxsort('user_name' $l10n.WORKFLOW_APPLICANT $result 'WorkflowAllListScreen')" 'style="width:12em"')
#ALtdheadAtt("$l10n.WORKFLOW_APPROVER" 'style="width:12em"')
#ALtdheadAtt("#ALajaxsort('create_date' $l10n.WORKFLOW_CREATEDATE $result 'WorkflowAllListScreen')" 'style="width:6em"')
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.container.gadgetService.requestCheckActivity($record.ActivityId);aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","WorkflowAllDetailScreen").addQueryData("mode","detail").addQueryData("entityid",$record.RequestId).addQueryData("prvid",$record.RequestId))','$!portlet.ID',aipo.workflow.onFocusComment);">$!record.CategoryName#if($!record.RequestName != '') : $!record.RequestName #end</a>
</div>
#ALtdcellfooter()
#ALtdcellAtt("$!record.StateString" 'class="center" nowrap="nowrap"')
#ALtdcellAtt("$!record.ClientName" 'class="left" nowrap="nowrap"')
#ALtdcellAtt("$!record.LastUpdateUser" 'class="left mb_hide" nowrap="nowrap"')
#ALtdcellAtt("$!record.CreateDateTime" 'class="right" nowrap="nowrap"')
</tr>
#end
#AUItablefooter()
<div class="auiSummaryMeta clearfix">
#AUIajaxpageview('WorkflowAllListScreen' $result)
</div>
#end
#ALformfooter()
#AUIcontentsAreaFooter()
<!-- END Contents Area -->
#parse("/portlets/html/ja/workflow-widgets.vm")
