#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="schedule_val_tooltip1" style="display:none;">$l10n.SCHEDULE_READING</span>
<span id="schedule_val_tooltip2" style="display:none;">$l10n.SCHEDULE_PLACE</span>
<span id="schedule_val_tooltip3" style="display:none;">$l10n.SCHEDULE_MENBERS</span>
<span id="schedule_val_tooltip4" style="display:none;">$l10n.SCHEDULE_FACILITY</span>
## ---------------------------------------------------------------------------
#set($schedulescreen = "ScheduleScreen")
#set($tabs = [["$l10n.SCHEDULE_ONEDAY", "oneday","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','oneday')"], ["$l10n.SCHEDULE_WEEKLY", "weekly", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','weekly')"], ["$l10n.SCHEDULE_MONTHLY", "monthly", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','monthly')"], ["$l10n.SCHEDULE_ONEDAY_GROUP", "oneday-group","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','oneday-group')"], ["$l10n.SCHEDULE_WEEKLY_GROUP", "weekly-group", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleScreen').addQueryData('tab','weekly-group')"]])

#ALspacebothheader()
#parse("/portlets/html/ja/scheduleMacro.vm")
## One day
#if ($!result.Viewtype == "calendar")
#parse("/portlets/html/ja/schedule-calendar.vm")
#end
## One day
#if ($!result.Viewtype == "oneday")
#parse("/portlets/html/ja/schedule-oneday.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly")
#parse("/portlets/html/ja/schedule-weekly.vm")
#end
## Monthly
#if ($!result.Viewtype == "monthly")
#parse("/portlets/html/ja/schedule-monthly.vm")
#end
## One day
#if ($!result.Viewtype == "oneday-group")
#parse("/portlets/html/ja/schedule-oneday-group.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly-group")
#parse("/portlets/html/ja/schedule-weekly-group.vm")
#end
## List
#if ($!result.Viewtype == "list")
#parse("/portlets/html/ja/schedule-search-list.vm")
#end
## Search
#if ($!result.Viewtype == "search")
#parse("/portlets/html/ja/schedule-search-result.vm")
#end
#ALspacebothfooter()

