#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------

<script language="JavaScript" type="text/javascript">
//<![CDATA[

    dojo.require("aipo.calendar.weekly");
    dojo.require("aipo.widget.DropdownMemberFacilitypicker");

    ptConfig['$!portlet.ID'] = { group:"schedule" , thisUrl:"$!jslink.getPortletById($!portlet.ID)", jsonUrl:"$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleWeeklyJSONScreen')", formUrl: '$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen')', detailUrl: '$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen')', rowHeight:18, scheduleDivDaySum:7, tmpIndex:-1, distance:3, timeStart:$!time_start, timeEnd:$!time_end, timeInterval:$!time_interval, contentHeight: ($!time_end - $!time_start)*(60/$!time_interval)*18, contentScrollTop: $!time_start*(60/$!time_interval)*18 };

//]]>
</script>
<input type="hidden" id="isMac" value="${isMac}" />
<div class="none" id="indicator-$!portlet.ID">$l10n.SCHEDULE_READING</div>
<!-- WRAPPER -->
    <table class="tableWrapper hide" id="tableWrapper_$!portlet.ID">
        <tbody>
            <tr>
                <td class="wide top">
					<div id="error-$!portlet.ID" style="display:none">
					</div>
                    <div id="content-$!portlet.ID" style="visibility:hidden">
					#if(($!{hasAcl}) && $!{hasAcl} == "T")
						<div id="memberpicker-$!portlet.ID" widgetId="memberpicker-$!portlet.ID"></div>
					    <div id="memberfacilitylistwidget-$!portlet.ID" style="display:none"></div>
                        <select size="10" multiple="multiple" style="display:none;" name="init_memberlist-$!portlet.ID" id="init_memberlist-$!portlet.ID">#foreach($record in  $!member_list) <option value=#if($record.UserFacilityType == "U") "$record.UserFacilityId" #else "f$record.UserFacilityId" #end> $!utils.escapeXML($record.AliasName.toString()) </option>#end</select>
					#end
                        ##参加ユーザー一覧ここまで
                    <div class="clearfix" style="padding-top: 5px;">
                     <ul class="headItem">
                      <li><img src="themes/$!theme/images/icon/arrow_left_w.gif" alt="$l10n.SCHEDULE_PREV_WEEK" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["prevWeek"])' style="cursor:pointer"/></li>
                      <li><img src="themes/$!theme/images/icon/arrow_left.gif" alt="$l10n.SCHEDULE_PREV_DATE" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["prevDate"])' style="cursor:pointer"/></li>
                      <li id="viewWeekly-$!portlet.ID" style="font-weight: bold;">&nbsp;</li>
                      <li><img src="themes/$!theme/images/icon/arrow_right.gif" alt="$l10n.SCHEDULE_NEXT_DATE" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["nextDate"])' style="cursor:pointer"/></li>
                      <li><img src="themes/$!theme/images/icon/arrow_right_w.gif" alt="$l10n.SCHEDULE_NEXT_WEEK" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["nextWeek"])' style="cursor:pointer"/></li>
                      <li><img src="images/schedule/schedule_today.gif" alt="$l10n.SCHEDULE_TODAY" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["today"])' style="cursor:pointer"/> </li>
                      <li><img src="images/schedule/schedule_prevmonth.gif" alt="$l10n.SCHEDULE_PREV_MONTH" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["prevMonth"])' style="cursor:pointer"/></li>
                      <li><img src="images/schedule/schedule_nextmonth.gif" alt="$l10n.SCHEDULE_NEXT_MONTH" width="19" height="20" border="0" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["nextMonth"])' style="cursor:pointer"/></li>
                    </ul>
					#if(($!{hasAcl}) && $!{hasAcl} == "T")
					<span style="padding-left: 10px;" title="$l10n.SCHEDULE_MESSAGE_OF_DISPLAY_SETTING" ><input type="checkbox" id="showAll-$!portlet.ID" onclick='onCheckShowAll(this)' value='$!init_s_all' #if($init_s_all == "t") checked="checked" #end /><label for="showAll-$!portlet.ID">$l10n.SCHEDULE_DISPLAY_SHARE_SCHEDULE</label></span>
				    #end
                    </div>
                    <div id="weeklyTableHeadWrapper_$!portlet.ID" style="width:100%;">
                    <table class="weeklyTableHead" id="weeklyTableHead_$!portlet.ID" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="50">
                            <div class="weeklyHeadLeft">
                              <div class="weeklyHeadLeftTop">&nbsp;</div>
                              <div class="weeklyHeadLeftBottom">&nbsp;</div>
                            </div>
                          </td>
                          <td nowrap="nowrap" width="100%" valign="top">
                            <div class='weeklyHeadRights'>
                              <div class='weeklyHeadRightborder0_$!portlet.ID weeklyHeadRight'  style="left:0%">
                                <div class="weeklyHeadRightTop" id="weeklyDay0-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday0-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder1_$!portlet.ID weeklyHeadRight' style="left: 14.2857%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay1-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday1-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder2_$!portlet.ID weeklyHeadRight' style="left: 28.5714%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay2-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday2-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder3_$!portlet.ID weeklyHeadRight' style="left: 42.8571%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay3-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday3-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder4_$!portlet.ID weeklyHeadRight' style="left: 57.1429%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay4-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday4-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder5_$!portlet.ID weeklyHeadRight' style="left: 71.4286%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay5-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday5-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder6_$!portlet.ID weeklyHeadRightR' style="left: 85.7143%;">
                                <div class="weeklyHeadRightTop" id="weeklyDay6-$!portlet.ID">&nbsp;</div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday6-$!portlet.ID">&nbsp;</div>
                              </div>
                            </div>
                          </td>
                          #if(${client} == "IPAD" && $!top_form == 'simple'||${isMac} == 1)
							#else
						  <td width="18">
                            <div class="weeklySpan">&nbsp;</div>
                            <div class="weeklySpan">&nbsp;</div>
                          </td>
						  #end
                        </tr>

                        <tr>
                          <td width="50">
                            <div class='weeklyTermLeft' id='weeklyTermLeft'>
                              <div class="weeklyTermLeftTop">&nbsp;</div>
                            </div>
                          </td>
                          <td nowrap="nowrap" width="100%" valign="top">
                            <div class='weeklyTermRights'>
                              <div class='weeklyHeadRightborder0_$!portlet.ID weeklyTermRight weeklyTermRightL' id='termDay0-$!portlet.ID' #if(${client} == "IPAD" && $!top_form == 'simple') style="left:0%;border-right:0;" #else style="left: 0%;" #end>
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder1_$!portlet.ID weeklyTermRight' id='termDay1-$!portlet.ID' style="left: 14.2857%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder2_$!portlet.ID weeklyTermRight' id='termDay2-$!portlet.ID' style="left: 28.5714%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder3_$!portlet.ID weeklyTermRight' id='termDay3-$!portlet.ID' style="left: 42.8571%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder4_$!portlet.ID weeklyTermRight' id='termDay4-$!portlet.ID' style="left: 57.1429%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder5_$!portlet.ID weeklyTermRight' id='termDay5-$!portlet.ID' style="left: 71.4286%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder6_$!portlet.ID weeklyTermRight weeklyTermRightR' id='termDay6-$!portlet.ID' style="left: 85.7143%;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div id="termScheduleDivAdd_$!portlet.ID" class="termScheduleDivAdd" style="left: 0%; z-index: 1;">&nbsp;</div>
                            </div>
                          </td>
                          #if(${client} == "IPAD" && $!top_form == 'simple'||${isMac} == 1)
							#else
						  <td class="weeklyTermTailTd_$!portlet.ID" width="18">
                            <div class="weeklyTermTail">&nbsp;</div>
                          </td>
						 #end
                        </tr>
						<tr id="weeklyTermTr_$!portlet.ID">
						<td colspan="9">
						<div id="termScheduleGarage-$!portlet.ID" class="termScheduleGarage" style="z-index: -1;">&nbsp;</div>
						</td>
						</tr>
                      </tbody>
                    </table>
                    </div>
                    <div class="tableBorderM">&nbsp;</div>
                    <div class="weeklyScrollPane" id="weeklyScrollPane_$!portlet.ID" #if("${client}" != "IPHONE") style="height:0px;" #end>
                      <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                          <tr valign="top">
                            <td width="50">
                              <div class="weeklyLeft">
                                <div class="leftMinute">00:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">01:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">02:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">03:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">04:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">05:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">06:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">07:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">08:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">09:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">10:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">11:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">12:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">13:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">14:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">15:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">16:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">17:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">18:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">19:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">20:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">21:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">22:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">23:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                              </div>
                            </td>
                            <td width="100%">
                              <div class='weeklyRights'>
                                <div class="weeklyRight" style="left: 0%;" id="weeklyRight0-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 14.2857%;" id="weeklyRight1-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 28.5714%;" id="weeklyRight2-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 42.8571%;" id="weeklyRight3-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left:57.1429%;" id="weeklyRight4-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 71.4286%;" id="weeklyRight5-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRightR" style="left: 85.7143%;" id="weeklyRight6-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>

                                <div id="scheduleDivAdd00_$!portlet.ID" class="scheduleDivAdd" style="left: 0%;">&nbsp;</div>
                                <div id="scheduleDivAdd01_$!portlet.ID" class="scheduleDivAdd" style="left: 14.2857%;">&nbsp;</div>
                                <div id="scheduleDivAdd02_$!portlet.ID" class="scheduleDivAdd" style="left: 28.5714%;">&nbsp;</div>
                                <div id="scheduleDivAdd03_$!portlet.ID" class="scheduleDivAdd" style="left: 42.8571%;">&nbsp;</div>
                                <div id="scheduleDivAdd04_$!portlet.ID" class="scheduleDivAdd" style="left: 57.1429%;">&nbsp;</div>
                                <div id="scheduleDivAdd05_$!portlet.ID" class="scheduleDivAdd" style="left: 71.4286%;">&nbsp;</div>
                                <div id="scheduleDivAdd06_$!portlet.ID" class="scheduleDivAdd" style="left: 85.7143%;">&nbsp;</div>

                                <div id="scheduleGarage-$!portlet.ID" class="scheduleGarage">&nbsp;</div>
                              </div>
                            </td>
                            <td>
                              <div class="scroll_width"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
##</div>

<script language="JavaScript" type="text/javascript">
//<![CDATA[

  aipo.schedule.login_id = "$current_user_id";
  aipo.schedule.login_name = "$current_user_ln";
  aipo.schedule.login_aliasname = "$current_user";
  var portletId = '$!portlet.ID';
  dojo.style("termScheduleDivAdd_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd00_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd01_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd02_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd03_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd04_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd05_"+portletId,'opacity', 0);
  dojo.style("scheduleDivAdd06_"+portletId,'opacity', 0);
  #if("${client}" != "IPHONE")  dojo.style(dojo.byId('weeklyScrollPane_$!portlet.ID'), 'height', ($!time_end - $!time_start)*(60/$!time_interval)*18 + 'px'); #end

dojo.addOnLoad(function () {

    var initCalendar=function(){
			for(var i =0; i < ptConfig['$!portlet.ID'].scheduleDivDaySum; i++) {
		      tmpDraggable = new aipo.calendar.WeeklyScheduleAddDraggable('scheduleDivAdd0'+i+'_$!portlet.ID' , {idx: i});
		      tmpDraggable.portletId = '$!portlet.ID';
		      tmpDraggable.index = i;
		    };

		    tmpDraggable = new aipo.calendar.WeeklyTermScheduleAddDraggable('termScheduleDivAdd_$!portlet.ID',  {idx: 0});
		    tmpDraggable.portletId = '$!portlet.ID';

		    aipo.calendar.populateWeeklySchedule('$!portlet.ID');
		};


	var mpHTML = document.getElementById("memberpicker-$!portlet.ID");

    if(mpHTML){

        var tmpFrom = document.getElementById("tmp_member_from-$!portlet.ID");
    	var tmpTo = document.getElementById("tmp_member_to-$!portlet.ID");
    	if(tmpTo != null){
	    	tmpTo.parentNode.removeChild(tmpTo);
	    }
    	if(tmpFrom != null){
	    	tmpFrom.parentNode.removeChild(tmpFrom);
	    }

       params = {
            widgetId: "member_to-$!portlet.ID",
            iconURL: "themes/$!theme/images/icon/icon_member.gif",
            iconAlt: "$l10n.SCHEDULE_SELECT_MENBERS",
            selectId: "member_to-$!portlet.ID" ,
            inputId: "member_to_input-$!portlet.ID",
            buttonAddId: "button_member_add-$!portlet.ID",
            buttonRemoveId: "button_member_remove-$!portlet.ID",
            memberFromId: "tmp_member_from-$!portlet.ID" ,
            memberToId: "tmp_member_to-$!portlet.ID" ,
            memberFromUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserFacilityLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')",
            memberFromOptionKey: "name",
            memberFromOptionValue: "aliasName",
            groupSelectId: "tmp_group-$!portlet.ID",
            groupSelectOptionKey: "groupId",
            groupSelectOptionValue: "name",
            memberGroupUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserGroupLiteJSONScreen')",
            changeGroupUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserFacilityLiteJSONScreen').addQueryData('mode','group')" ,
            tmpPortretId: "$!portlet.ID"
       };
       var mp = new aipo.widget.DropdownMemberFacilitypicker(params , mpHTML);
       ptConfig['$!portlet.ID'].DropdownMemberFacilitypicker = mp;

       var addtxt=dojo.query("#adduser-"+portletId);
       var gselect = document.getElementById("groupselect-"+'$!portlet.ID');
		if(gselect.value=="pickup"){
			addtxt.removeClass("hide");
		}else{
			addtxt.addClass("hide");
		}
	}

	var mpicker = dijit.byId("memberpicker-$!portlet.ID");
    if(mpicker){
        //メンバーリストの初期化
    	var gselect = document.getElementById("groupselect-"+'$!portlet.ID');
    	var select = dojo.byId('init_memberlist-$!portlet.ID');
	        var s_o = select.options;
	        for(var i = 0 ; i < s_o.length; i ++ ) {
	            mpicker.addOptionSync(s_o[i].value,s_o[i].text,true);
	        }
		if(gselect.value=="pickup"){
			initCalendar();
		}else{
			//メンバーリストを取得しに行く
			var params="";
			  dojo.xhrGet({
                portletId:'$!portlet.ID',
                url:gselect.value,
                encoding: "utf-8",
                handleAs: "json-comment-filtered",
                load:function(data, event) {
            		//paramsの編集+namesの変更
            		var html="";
            		mp.dropDown.removeMember(dojo.byId("member_to-"+'$!portlet.ID'));
            		for(var i=0;i<data.length;i++){
            			if (i != 0) {
            				html += ' ';
            			}
            			params+="&m_id="+data[i].name;
            			html+="<span class=\"dispUser color" + i +"\">" +data[i].aliasName+ "</span>";
            			aimluck.io.addOption(dojo.byId("member_to-"+'$!portlet.ID'), data[i].name, data[i].aliasName, true);
            		}
            		dojo.byId("member_to_input-"+'$!portlet.ID').innerHTML=html;
            	},
				handle:function(){
					initCalendar();
				}
			});
		}
    }
});

//]]>
</script>

<script language="JavaScript" type="text/javascript">
//<![CDATA[
    onCheckShowAll = function(chk){
	   if(chk.checked == true){
	       chk.value="t";
	   }else{
	       chk.value="f";
	   }
	   aipo.calendar.populateWeeklySchedule('$!portlet.ID');
	};

//]]>
</script>


<div id="modalDialog2" class="modalDialog" style="display:none"></div>
<input type="hidden" id="secid-$!portlet.ID" name="secid-$!portlet.ID" value="$secid" />