#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#set($schedulescreen = "ScheduleListScreen")

<div id="auiContentsArea" #if($clientVer && $clientVer == "5") style="margin-bottom:45px" #end><div id="auiContentsAreaInner">
#ALspacebothheader()


<div class="auiSummaryMeta clearfix">
<form class="auiSearch" id="searchForm_$!{portlet.ID}" action="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleListScreen').addQueryData('tab','search'))" onsubmit="aimluck.io.postViewPage(this, '$!{portlet.ID}', 'search-indicator-list-'); return false;">
<input class="text floatLeft long" type="text" name="keyword" id="q$!{portlet.ID}" style="margin-right:5px;" value="$!{result.targetKeyword}"/>
<a class="auiButtonSearch floatLeft" onclick="dojo.byId('searchForm_$!{portlet.ID}').onsubmit();">$l10n.SCHEDULE_SEARCH</a>
</form>
<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">
	<div class="indicator" id="search-indicator-list-$!{portlet.ID}" style="display:none;">&nbsp;</div>
</div>
</div>

#parse("/portlets/html/ja/scheduleMacro.vm")
## One day
#if ($!result.Viewtype == "calendar")
#parse("/portlets/html/ja/schedule-calendar.vm")
#end
## One day
#if ($!result.Viewtype == "oneday")
#parse("/portlets/html/ja/schedule-oneday.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly")
#parse("/portlets/html/ja/schedule-weekly.vm")
#end
## Monthly
#if ($!result.Viewtype == "monthly")
#parse("/portlets/html/ja/schedule-monthly.vm")
#end
## One day
#if ($!result.Viewtype == "oneday-group")
#parse("/portlets/html/ja/schedule-oneday-group.vm")
#end
## Weekly
#if ($!result.Viewtype == "weekly-group")
#parse("/portlets/html/ja/schedule-weekly-group.vm")
#end
## List
#if ($!result.Viewtype == "list")
#parse("/portlets/html/ja/schedule-search-list.vm")
#end
## List
#if ($!result.Viewtype == "search")
#parse("/portlets/html/ja/schedule-search-result.vm")
#end
#ALspacebothfooter()

#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/schedule-widgets.vm")