#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div id="printHeader">
#AUIPrintWindowCloseIcon()
$l10n.SCHEDULE_ALERT_DONOT_REFLECT
<table>
<tr>
<th>$l10n.SCHEDULE_WIDTH</th>
<td>
<select id=print_width onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="100%" >100%</option>
<option value="90%">90%</option>
<option value="80%">80%</option>
<option selected="selected" value="600px">600$l10n.SCHEDULE_PIXEL</option>
<option value="620px">620$l10n.SCHEDULE_PIXEL</option>
<option value="640px">640$l10n.SCHEDULE_PIXEL</option>
<option value="660px">660$l10n.SCHEDULE_PIXEL</option>
<option value="680px">680$l10n.SCHEDULE_PIXEL</option>
<option value="700px">700$l10n.SCHEDULE_PIXEL</option>
<option value="720px">720$l10n.SCHEDULE_PIXEL</option>
<option value="740px">740$l10n.SCHEDULE_PIXEL</option>
<option value="760px">760$l10n.SCHEDULE_PIXEL</option>
<option value="780px">780$l10n.SCHEDULE_PIXEL</option>
<option value="800px">800$l10n.SCHEDULE_PIXEL</option>
</select>
</tr>
<tr>
<th>$l10n.SCHEDULE_WORD_SIZE</th>
<td><select id=print_word_size onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="8pt">8pt</option>
<option value="9pt">9pt</option>
<option selected="selected" value="10pt">10pt</option>
<option value="11pt">11pt</option>
<option value="12pt">12pt</option>
<option value="13pt">13pt</option>
<option value="14pt">14pt</option>
<option value="16pt">16pt</option>
<option value="18pt">18pt</option>
<option value="20pt">20pt</option>
</select>
</td>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_ICON</label><br />
<label><input id=print_term type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_SPAN_SCHEDULE</label><br />
<label><input id=print_todo type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_TODO</label><br />
<label><input id=print_holiday type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_HOLIDAY</label><br />
##<label><input type="checkbox" checked="checked" onclick="change_print_form()" /> 記念日を表示する。</label></td>
</tr>
<tr>
<td><input type="button" value="$l10n.SCHEDULE_PRINT_OUT" onclick="javascript:print();"/></td>
</tr>
</table>
</div>



<script type="text/javascript" language="JavaScript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = 'none';
        }
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = 'none';
        }
      }
    }
## 祝日の表示切替
    if(document.getElementById('print_holiday').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='alignleft small'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='alignleft small'){
          document.all[i].style.display = 'none';
        }
      }
    }
}else{
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = 'none';
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = 'none';
      }
    }
## 祝日の表示切替
    if(document.getElementById('print_holiday').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('alignleft').length; i++){
        document.getElementById('printBody').getElementsByClassName('alignleft')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('alignleft').length; i++){
        document.getElementById('printBody').getElementsByClassName('alignleft')[i].style.display = 'none';
      }
    }
}
  }
  //]]>
</script>


#if($!result.Users.size() <= 0 && $!result.FacilityList.size() <= 0)
<div class="message">$l10n.SCHEDULE_ALERT_NOT_CREAT_USER_AND_FACILITY</div>
#else
<div id="printBody" style="width:600px;font-size:10pt;">
<h1>$!{result.TargetName}&nbsp;$!{result.ViewMonthText}</h1>

#ALtableheaderCalendar("100%")

<tr class='week'>
<th class='sunday'>
$l10n.SCHEDULE_SUNDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th>
$l10n.SCHEDULE_MONDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th>
$l10n.SCHEDULE_TUSEDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th>
$l10n.SCHEDULE_WEDNESDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th>
$l10n.SCHEDULE_THURSDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th>
$l10n.SCHEDULE_FRIDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
<th class='saturday'>
$l10n.SCHEDULE_SATURDAY<br />
<img src="images/common/dot.gif" width="50" height="1" alt="" />
</th>
</tr>
#set($entityids = "")
#set($weekListSize = $result.Container.WeekList.size())
#set($weekcount = 0)
#foreach($record4 in $result.Container.WeekList)
#set($termConListSize = ${result.TermContainer.getWeekList($weekcount).size()})
#if($!{result.ToDoContainer.getWeekList($weekcount)})
#set($todoConList = $!{result.ToDoContainer.getWeekList($weekcount)})
#if($!todoConList) #set($todoConListSize = $!{todoConList.size()}) #else #set($todoConListSize = 0) #end
#else #set($todoConListSize = 0)
#end
<tr class='days'>
#foreach($record in $record4.DayList)
#set($getScheduleDetailLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailJSONScreen').addQueryData('view_date', $!{record.Date.toString()}))
#set ($color_style = "")
#set ($color_style_holiday = "")
#set ($color_style_othermonth = "")
#set ($holiday_name = "")
#if($!{record.Date.Value.Day} == 0)
#set ($color_style = "sunday")
#elseif($!{record.Date.Value.Day} == 6)
#set ($color_style = "saturday")
#end
#if($!{record.isHoliday()})
#set ($color_style_holiday = "holiday")
#set ($holiday_name = "${record.Holiday.Name}")
#end
#if(! ($!{result.ViewMonth.Month.toString()} == ${record.Date.Month.toString()}))
#set ($color_style_othermonth = " off")
#end

<th class="${color_style}${color_style_holiday}${color_style_othermonth}">
<div class="calendarDay clearfix"><span class="alignright small">$!{record.Date.Day}</span>#if($!{record.isHoliday()})<span class="alignleft small">：${holiday_name}</span>#end</div>
</th>
#end
</tr>
### 期間スケジュール（ここから） ###
#if($termConListSize > 0)
#foreach($termcontainer in ${result.TermContainer.getWeekList($weekcount)})
<tr class="termWeek">
#set($nottermcount = 0)
#foreach($record in $termcontainer.DayList)
#set ($color_style = "")
#set ($color_style_holiday = "")
#set ($color_style_othermonth = "")
#if($!{result.Today.Value} == $!{record.Date.Value})
#set ($color_style = "today")
#elseif($!{record.Date.Value.Day} == 0)
#set ($color_style = "sunday")
#elseif($!{record.Date.Value.Day} == 6)
#set ($color_style = "saturday")
#end
#if($!{record.isHoliday()})
#set ($color_style_holiday = "holiday")
#end
#if(! ($!{result.ViewMonth.Month.toString()} == ${record.Date.Month.toString()}))
#set ($color_style_othermonth = "off")
#end
#if( ! $record.isTermNull() )

#set($entityids = "$!{entityids}$!{record.TermResultData.ScheduleId},")
##if($record.TermResultData.isShowDetail())
#set ($col_span = $!{record.TermResultData.Rowspan})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid',$!{record.TermResultData.ScheduleId}).addQueryData('userid', $!{result.TargetUserId}).addQueryData('view_date', $!{record.Date.toString()})")
<td colspan="$col_span" class="term${color_style}${color_style_holiday}${color_style_othermonth}">
#if(${record.TermResultData.isShowDetail()})
<div id="$!{portlet.ID}-$!{record.TermResultData.ScheduleId}" class="calerndarTermScheduleDiv small schedule-$!{portlet.ID}-$!{record.TermResultData.ScheduleId}">
##<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDetail);" class="small">
$!{record.TermResultData.Name}
#if(!${record.TermResultData.isPublic()})&nbsp;#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")#else<img class="dot_schedule" src="images/common/dot.gif" alt="" />#end
#if(${record.TermResultData.isTmpreserve()})<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>#end
</a>
#else
<div id="$!{portlet.ID}-$!{record.TermResultData.ScheduleId}" class="calerndarTermScheduleDiv small">
$!{record.TermResultData.Name}
#if(!${record.TermResultData.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if(${record.TermResultData.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#end
</div>
</td>
#set ($col_span = $col_span - 1)
##end
#else
<td class="term${color_style}${color_style_holiday}${color_style_othermonth}" #if(($col_span) && ($col_span > 0 )) style="display:none" #else style="display:" #end></td>
#if(($col_span))
#set ($col_span = $col_span - 1)
#end
#end
#end
</tr>
#end
#end
### 期間スケジュール（ここまで） ###
<tr>
#foreach($record in $record4.DayList)
#set ($color_style = "")
#set ($color_style_holiday = "")
#set ($color_style_othermonth = "")
#set ($holiday_name = "")
#if($!{result.Today.Value} == $!{record.Date.Value})
#set ($color_style = " today")
#elseif($!{record.Date.Value.Day} == 0)
#set ($color_style = " sunday")
#elseif($!{record.Date.Value.Day} == 6)
#set ($color_style = " saturday")
#end
#if($!{record.isHoliday()})
#set ($color_style_holiday = " holiday")
#set ($holiday_name = "${record.Holiday.Name}")
#end
#if(! ($!{result.ViewMonth.Month.toString()} == ${record.Date.Month.toString()}))
#set ($color_style_othermonth = " off")
#end

<td class="topNone${color_style}${color_style_holiday}${color_style_othermonth}">
#if($record.ScheduleList.size() <= 0)
<div class="calendarBody">
<div class="calendarScheduleDiv">
#if($!{result.hasAuthoritySelfInsert()} && (!$result.TargetUserId.startsWith('f') || $!{result.hasAuthorityFacilityInsert()}))
#if($result.TargetUserId.startsWith('f'))
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('facility_to', $result.TargetUserId.substring(1))")
#elseif(($result.UserId != $result.TargetUserId) && $result.TargetUserName)
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('member_to', $result.TargetUserName)")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()})")
#end
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="$l10n.SCHEDULE_ADD_SCHEDULES">$l10n.SCHEDULE_ADD_SCHEDULES</a>
#end
</div>
</div>
#else
#foreach($record2 in $record.ScheduleList)
#if(! ${record2.isDummy()})
<div>
#set($entityids = "$!{entityids}$!{record2.ScheduleId},")
#if($record2.isShowDetail())
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record2.ScheduleId}).addQueryData('userid', $!{result.TargetUserId}).addQueryData('view_date', $!{record.Date.toString()})")
<div class="calendarScheduleDiv">
<div class="small time">$!{record2.Date} $!{record2.Name}
##<div class="small time">$!{record2.Date} $!{record2.Name}</div>
##<div class="small schedule-$!{portlet.ID}-$!{record2.ScheduleId}"><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDetail)" class="small">
##</a></div>
##</div>
#else
<div class="calendarScheduleDiv">
<div class="small time">$!{record2.Date} $!{record2.Name}
##<div class="small time">$!{record2.Date} $!{record2.Name}</div>
##<div class="small">$!{record2.Name}</div>
##</div>
#end
#if(! ${record2.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($record2.isDuplicate())
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if(${record2.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record2.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
</div>
</div>
#end
#end
<div class="calendarScheduleDiv">
#if($!{result.hasAuthoritySelfInsert()} && (!$result.TargetUserId.startsWith('f') || $!{result.hasAuthorityFacilityInsert()}))
#if($result.TargetUserId.startsWith('f'))
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('facility_to', $result.TargetUserId.substring(1))")
#elseif(($result.UserId != $result.TargetUserId) && $result.TargetUserName)
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('member_to', $result.TargetUserName)")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()})")
#end
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="$l10n.SCHEDULE_ADD_SCHEDULES">$l10n.SCHEDULE_ADD_SCHEDULES</a>
#end
</div>
#end
<div class="calendarFooter"></div>
</td>
#end
</tr>

#if($todoConListSize > 0)
#foreach($todocontainer in ${result.ToDoContainer.getWeekList($weekcount)})
<tr class="calerndarTodo">
#set($nottodocount = 0)
#foreach($record in $todocontainer.DayList)
#if( ! $record.isTodoNull() )
#if($nottodocount > 0)
#ALtdcellAtt("" "colspan='$nottodocount'")
#end
#ALtdcellheaderAtt("colspan='$!{record.ToDoResultData.Rowspan}' align='center'")
<div class="calerndarTodoDiv small">
#if($result.TargetUserId == $result.UserId)
##<a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoDetailScreen").addQueryData("entityid",$!{record.ToDoResultData.TodoId}))');">
#else
##<a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoPublicDetailScreen").addQueryData("entityid",$!{record.ToDoResultData.TodoId}))');">
#end
##<a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoDetailScreen").addQueryData("entityid",$!{record.ToDoResultData.TodoId}))');">
ToDo：$!{record.ToDoResultData.TodoName}
#if(! ${record.ToDoResultData.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
</a>
</div>
</td>
#set($nottodocount = 0)
#elseif (! $record.isHasTodo() )
#set($nottodocount = $nottodocount + 1)
#end
#end
#if($nottodocount > 0)
#ALtdcellAtt("" "colspan='$nottodocount'")
#end
</tr>
#end
#end

#set($weekcount = $weekcount + 1)
#end
#ALtablefooterCalendar()
</div>
#end

<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');" />
#else
  <script type="text/javascript" language="JavaScript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
    });
    //]]>
  </script>
#end
-->

