#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div id="printHeader">
#AUIPrintWindowCloseIcon()
$l10n.SCHEDULE_ALERT_DONOT_REFLECT
<table>
<tr>
<th>$l10n.SCHEDULE_WIDTH</th>
<td>
<select id=print_width onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="100%" >100%</option>
<option value="90%">90%</option>
<option value="80%">80%</option>
<option selected="selected" value="600px">600$l10n.SCHEDULE_PIXEL</option>
<option value="620px">620$l10n.SCHEDULE_PIXEL</option>
<option value="640px">640$l10n.SCHEDULE_PIXEL</option>
<option value="660px">660$l10n.SCHEDULE_PIXEL</option>
<option value="680px">680$l10n.SCHEDULE_PIXEL</option>
<option value="700px">700$l10n.SCHEDULE_PIXEL</option>
<option value="720px">720$l10n.SCHEDULE_PIXEL</option>
<option value="740px">740$l10n.SCHEDULE_PIXEL</option>
<option value="760px">760$l10n.SCHEDULE_PIXEL</option>
<option value="780px">780$l10n.SCHEDULE_PIXEL</option>
<option value="800px">800$l10n.SCHEDULE_PIXEL</option>
</select>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_WORD_SIZE</th>
<td><select id=print_word_size onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="8pt">8pt</option>
<option value="9pt">9pt</option>
<option selected="selected" value="10pt">10pt</option>
<option value="11pt">11pt</option>
<option value="12pt">12pt</option>
<option value="13pt">13pt</option>
<option value="14pt">14pt</option>
<option value="16pt">16pt</option>
<option value="18pt">18pt</option>
<option value="20pt">20pt</option>
</select>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()"/> $l10n.SCHEDULE_DISPLAY_ICON</label><br />
<label><input id=print_term type="checkbox" checked="checked" onclick="change_print_form()"/> $l10n.SCHEDULE_DISPLAY_SPAN_SCHEDULE</label><br />
<label><input id=print_todo type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_TODO</label><br />
##<label><input id=print_holiday type="checkbox" checked="checked" /> 祝日を表示する。</label><br />
##<label><input type="checkbox" checked="checked" /> 記念日を表示する。</label>
</td>
</tr>
<th></th>
</table>
<input type="button" value="$l10n.SCHEDULE_PRINT_OUT" onclick="javascript:print();"/>
</div>



<script type="text/javascript" language="JavaScript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = 'none';
        }
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = 'none';
        }
      }
    }
## 祝日の表示切替
##    if(document.getElementById('print_holiday').checked){
##      for(i = 0; i < document.all.length; i++){
##        if(document.all[i].className=='holiday small'){
##          document.all[i].style.display = '';
##        }
##      }
##    }else{
##      for(i = 0; i < document.all.length; i++){
##        if(document.all[i].className=='holiday small'){
##          document.all[i].style.display = 'none';
##        }
##      }
##    }
}else{
### firefox用 ############################################
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = 'none';
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = 'none';
      }
    }
## 祝日の表示切替
##    if(document.getElementById('print_holiday').checked){
##      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('holiday small').length; i++){
##        document.getElementById('printBody').getElementsByClassName('holiday small')[i].style.display = '';
##      }
##    }else{
##      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('holiday small').length; i++){
##        document.getElementById('printBody').getElementsByClassName('holiday small')[i].style.display = 'none';
##      }
##    }
}
  }
  //]]>
</script>






#if($result.MemberList.size() == 0 && $result.FacilityList.size() == 0)
<div class="message">$l10n.SCHEDULE_ALERT_NOT_CREAT_USER_AND_FACILITY</div>
#else
<div id="printBody" style="width:600px;font-size:10pt;">
<h1>#if($!{result.getTargetGroupName().groupAliasName})$!{result.getTargetGroupName().groupAliasName}#end $!{result.ViewDateText}$!{result.ViewDate.DayOfWeek}</h1>

#set($getScheduleDetailLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailJSONScreen').addQueryData('view_date', $!{result.ViewDate.toString()}))
#set($entityids = "")
#set($termcolcount = 0)
#set($todocolcount = 0)
#set($duplirowcount = 0)
#foreach($record3 in $result.MemberList)
#if($termcolcount < ${result.getTermResultDataList($record3.UserId.Value).size()})
#set($termcolcount = ${result.getTermResultDataList($record3.UserId.Value).size()})
#end
#if($todocolcount < ${result.getToDoResultDataList($record3.UserId.Value).size()})
#set($todocolcount = ${result.getToDoResultDataList($record3.UserId.Value).size()})
#end
#end

#set($colspanmax = $!{result.Max} + 1)

#if($termcolcount)
#set($colspanmax = $colspanmax + $termcolcount)
#end
#if($todocolcount > 0)
#set($colspanmax = $colspanmax + $todocolcount)
#end
#set($endHour = $!{result.EndHour} - 1)
#ALtableheaderCalendar("100%")
<tr>
#ALtdheadheader()
##<img src="images/common/dot.gif" width="15" height="1" alt="" />
#ALtdheadfooter()
#if($todocolcount > 0)
#ALtdheadAtt("ToDo" "class='calerndarTodo' colspan='1' style='width:10%'")
#end
#if($termcolcount > 0)
#ALtdheadAtt($l10n.SCHEDULE_TERM "class='termWeek' colspan='1' style='width:10%'")
#end
#foreach($hour in [$!{result.StartHour}..$endHour])
#set($colspan = $result.getColspan($hour) )
<th class='groupOneday' colspan='$colspan'>$hour<br/>
##<img src="images/common/dot.gif" width="15" height="1" alt="" />
</th>
#end
</tr>
#foreach($record3 in $result.MemberList)

#if($result.isDuplicate())
#set($duplirowcount = ${result.getDuplicateScheduleListRowCount($record3.UserId.Value)})
#if($duplirowcount > 0)
#set($duplirowmax = $duplirowcount + 1)
#else
#set($duplirowmax = 1)
#end
#else
#set($duplirowcount = 0)
#set($duplirowmax = 1)
#end
#ALtdheadheaderAtt("rowspan='$duplirowmax'")
$record3.AliasName

#ALtdheadfooter()
#set($userTodoCount = $result.getToDoResultDataList($record3.UserId.Value).size())
#if($userTodoCount > 0)
#ALtdcellheaderAtt("class='calerndarTodo' rowspan='$duplirowmax'")
#foreach($record in ${result.getToDoResultDataList($record3.UserId.Value)})

<div class="calendarScheduleDiv">
<div class="small">

${record.TodoName}
#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
</a>
</div>
</div>
#end
#ALtdcellfooter()
#end
#if($userTodoCount == 0 && $todocolcount > 0)
#set($todorestcount = $todocolcount - $userTodoCount)
#ALtdcellAtt("" "class='calerndarTodo' colspan='1' rowspan='$duplirowmax'")
#end
### 期間スケジュール（ここから） ###
#set($userTermCount = $result.getTermResultDataList($record3.UserId.Value).size())
#if($userTermCount > 0)
<td class="termWeek" rowspan="$duplirowmax">
#foreach($record in ${result.getTermResultDataList($record3.UserId.Value)})
#set($entityids = "$!{entityids}$!{record.ScheduleId},")
#if(${record.isShowDetail()})
<div class="schedule-$!{portlet.ID}-$!{record.ScheduleId} calerndarTermScheduleDiv small">
$record.WbrName
#if(! ${record.isPublic()})
&nbsp;#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#else
<img class="dot_schedule" src="images/common/dot.gif" alt="" />
#end
#if(${record.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
</div>
#else
<div class="calerndarTermScheduleDiv small">
$record.WbrName
#if(! ${record.isPublic()})
&nbsp;#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#else
<img class="dot_schedule" src="images/common/dot.gif" alt="" />
#end
#if(${record.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
</div>
#end
#end
#ALtdcellfooter()
#end
#if($userTermCount == 0 && $termcolcount > 0)
#set($termrestcount = $termcolcount - $userTermCount)
#ALtdcellAtt("" "class='termWeek' colspan='1'rowspan='$duplirowmax'")
#end
### 期間スケジュール（ここまで） ###

#foreach($record in $result.getScheduleList($record3.UserId.Value))
#set($rows = $result.getRows($record3.UserId.Value))
#set($colspan = $!{result.getScheduleColspan($record, $rows)} )

#if ($!{record.Name.Value})
#set($entityids = "$!{entityids}$!{record.ScheduleId},")
#ALtdcellheaderAtt("colspan='$colspan'")
#if($record.isShowDetail())
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('userid', $!{record3.UserId}).addQueryData('view_date', $!{result.ViewDate.toString()})")
<div class="schedule-$!{portlet.ID}-$!{record.ScheduleId} calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$!{record.WbrName}</div>
</div>
#else
<div class="calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$!{record.WbrName}</div>
</div>
#end
#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($record.isDuplicate())
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if(${record.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#ALtdcellfooter()
#else
#if ($!{result.hasAuthoritySelfInsert()})
#if ($!{result.isMatch($record3.UserId.Value)})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()})")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()}).addQueryData('member_to', $!{record3.getName().getValue()})")
#end
#ALtdcellheaderAtt("colspan='$colspan'")
#ALtdcellfooter()
#else
#ALtdcellAtt("" "colspan='$colspan' height='1'")
#end

#end
#end
</tr>

### SCHEDULE_DUPLICATE_SCHEDULE表示（ここから） ###
#if($duplirowcount > 0)
#set($insert = false)
#set($startrow2 = 0)
#set($endrow2 = 0)
#set($starttime2 = 0)
#set($endtime2 = 0)

#foreach($record in $result.getDuplicateScheduleList($record3.UserId.Value))
#set($rows = $result.getRows($record3.UserId.Value))
#set($colspan = $!{result.getScheduleColspan($record, $rows)} )
#set($startrow = $record.StartRow)
#set($endrow = $record.EndRow)
#set($starthour = $result.StartHour)
#set($endhour = $result.EndHour)
#set($starttime = $record.startDateTime)
#set($endtime = $record.endDateTime)

#set($endRowResult = 0)
#foreach($hour in [$!{result.StartHour}..$endHour])
#set($endRowResult = $endRowResult + 12)
#end

#if($startrow == 0)
#if($colspan != $endRowResult)
<tr class="duplicate">
#end
#end

#if ($!{record.Name.Value})
#set($entityids = "$!{entityids}$!{record.ScheduleId},")
#ALtdcellheaderAtt("colspan='$colspan'")
#if($record.isShowDetail())
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('userid', $!{record3.UserId}).addQueryData('view_date', $!{result.ViewDate.toString()})")
<div class="schedule-$!{portlet.ID}-$!{record.ScheduleId} calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$record.WbrName</div>
</div>
#else
<div class="calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$record.WbrName</div>
</div>
#end
#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#if(${record.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#ALtdcellfooter()
#else
#if ($!{result.hasAuthoritySelfInsert()})
#if ($!{result.isMatch($record3.UserId.Value)})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()})")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()}).addQueryData('member_to', $!{record3.getName().getValue()})")
#end
#ALtdcellheaderAtt("colspan='$colspan'")
<div class="calendarScheduleDiv"><div class="small">
</div></div>
#ALtdcellfooter()
#else
#ALtdcellAtt("" "colspan='$colspan' height='1'")
#end
#end
#if($endrow == $endRowResult)
</tr>
#end
#end

#set($startrow2 = $startrow)
#set($endrow2 = $endrow)
#set($starttime2 = $starttime)
#set($endtime2 = $endtime)
#end
### SCHEDULE_DUPLICATE_SCHEDULE表示（ここまで） ###
##</tr>
#end

### 設備スケジュール表示（ここから） ###
#set($duplirowcount = 0)
#set($colspanmax = $!{result.Max} + 1)

#foreach($record3 in $result.FacilityList)
#if($result.isDuplicate())
#set($duplirowcount = ${result.getFacilityDuplicateScheduleListRowCount($record3.FacilityId.Value)})
#if($duplirowcount > 0)
#set($duplirowmax = $duplirowcount + 1)
#else
#set($duplirowmax = 1)
#end
#else
#set($duplirowcount = 0)
#set($duplirowmax = 1)
#end

#ALtdheadAtt("$record3.FacilityName" "class='groupOneday' rowspan='$duplirowmax'")
#ALtdheadfooter()

#if($todocolcount > 0)
#ALtdcellAtt("" "colspan='$todorestcount'")
#end

#if($termcolcount > 0)
#ALtdcellAtt("" "colspan='$termcolcount'")
#end

#foreach($record in $result.getFacilityScheduleList($record3.FacilityId.Value))
#set($rows = $result.getFacilityRows($record3.FacilityId.Value))
#set($colspan = $!{result.getScheduleColspan($record, $rows)} )
#if ($!{record.Name.Value})
#set($entityids = "$!{entityids}$!{record.ScheduleId},")
#ALtdcellheaderAtt("colspan='$colspan'")
#if($record.isShowDetail())
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('view_date', $!{result.ViewDate.toString()})")
<div class="schedule-$!{portlet.ID}-$!{record.ScheduleId} calendarScheduleDiv">
<div class="small">${record.Date}$record.WbrName</div>
</div>
#else
<div class="calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$record.WbrName</div>
</div>
#end
#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($record.isDuplicate())
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if(${record.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#ALtdcellfooter()
#else
#if($!{result.hasAuthorityFacilityInsert()})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()}).addQueryData('facility_to', $!{record3.FacilityId.Value})")
#ALtdcellheaderAtt("colspan='$colspan'")
#ALtdcellfooter()
#else
#ALtdcellAtt("" "colspan='$colspan' height='1'")
#end
#end
#end
</tr>

### SCHEDULE_DUPLICATE_SCHEDULE表示（ここから） ###
#if($duplirowcount > 0)
#set($insert = false)
#set($startrow2 = 0)
#set($endrow2 = 0)

#foreach($record in $result.getFacilityDuplicateScheduleList($record3.FacilityId.Value))
#set($rows = $result.getFacilityRows($record3.FacilityId.Value))
#set($colspan = $!{result.getScheduleColspan($record, $rows)} )
#set($startrow = $record.StartRow)
#set($endrow = $record.EndRow)
#set($starthour = $result.StartHour)
#set($endhour = $result.EndHour)

#set($endRowResult = 0)
#foreach($hour in [$!{result.StartHour}..$endHour])
#set($endRowResult = $endRowResult + 12)
#end
#if($startrow == 0)
#if($colspan != $endRowResult)
<tr class="duplicate">
#end
#end

#if ($!{record.Name.Value})
#set($entityids = "$!{entityids}$!{record.ScheduleId},")
#ALtdcellheaderAtt("colspan='$colspan'")
#if($record.isShowDetail())
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record.ScheduleId}).addQueryData('view_date', $!{result.ViewDate.toString()})")
<div class="schedule-$!{portlet.ID}-$!{record.ScheduleId} calendarScheduleDiv">
<div class="small">${record.Date}$record.WbrName</div>
</div>
#else
<div class="calendarScheduleDiv">
<div class="small">${record.Date}</div>
<div class="small">$record.WbrName</div>
</div>
#end

#if(! ${record.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#if(${record.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#else
#if ($!{result.hasAuthoritySelfInsert()})
#if ($!{result.isMatch($record3.UserId.Value)})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()})")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.StartDate.toString()}).addQueryData('form_end', $!{record.EndDate.toString()}).addQueryData('member_to', $!{record3.getName().getValue()})")
#end
#ALtdcellheaderAtt("colspan='$colspan'")
<div class="calendarScheduleDiv"><div class="small">
</div></div>
#ALtdcellfooter()
#else
#ALtdcellAtt("" "colspan='$colspan' height='1'")
#end
#end

#set($startrow2 = $startrow)
#set($endrow2 = $endrow)
#end
#if($endrow == $endRowResult)
</tr>
#end
#end


### SCHEDULE_DUPLICATE_SCHEDULE表示（ここまで） ###


</tr>
#end

#ALtablefooterCalendar()
</div>
#end

##----ここまで schedule-oneday-group.vmと共通--------

<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');ptConfig['$!portlet.ID'].reloadFunction = aipo.reloadPage;" />
#else
  <script type="text/javascript" language="JavaScript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
      ptConfig['$!portlet.ID'].reloadFunction = aipo.reloadPage;
    });
    //]]>
  </script>
#end
-->

