#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#ALjavascript("javascript/aipo/calendar/monthly.js")
## ---------------------------------------------------------------------------
#set ($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new')")
#set ($indicator_id = "indicator-list-")
#if($result.CurrentFilter)
	#set($filter=$result.CurrentFilter)
#else
	#set($filter="null")
#end
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="schedule_val_tooltip1" style="display:none;">$l10n.SCHEDULE_READING</span>
<span id="schedule_val_tooltip2" style="display:none;">$l10n.SCHEDULE_PLACE</span>
<span id="schedule_val_tooltip3" style="display:none;">$l10n.SCHEDULE_MENBERS</span>
<span id="schedule_val_tooltip4" style="display:none;">$l10n.SCHEDULE_FACILITY</span>
## ---------------------------------------------------------------------------
<div id="auiWidgetsArea" #if(${clientVer} && ${clientVer} == "4") style="position:static" #elseif(${client} == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
#AUIbuttonAction($l10n.SCHEDULE_ADD_SCHEDULE "javascript:aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)','$!portlet.ID',aipo.schedule.onLoadScheduleDialog);")
</div>
<div class="auiWidget clearfix">
    <table class="auiCalendar">
    	<tbody id="mc_table"><tr>
    	<th colspan="7" style="line-height:1.7em;">
    		<div class="floatLeft"><span id="mc_year">$!{result.MonthlyCalendarViewMonth.Year}</span>$l10n.SCHEDULE_YEAR<span id="mc_month">$!{result.MonthlyCalendarViewMonth.Month}</span>$l10n.SCHEDULE_MONTH</div>
			<div class="floatRight">
    		<div class="auiSelectButton">
    			<div><a href="javascript:void(0);" class="first arrow" onclick="aipo.calendar.showPreviousMonthlyCalendar()" title="$l10n.SCHEDULE_PREV_MONTH"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></div>
    			<div><a href="javascript:void(0);" class="last arrow" onclick="aipo.calendar.showNextMonthlyCalendar()" title="$l10n.SCHEDULE_NEXT_MONTH"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></div>
    		</div>
			</div>
    	</th>
    	</tr>
    	<tr class="week">
    		<td class="sunday">$l10n.SCHEDULE_SUNDAY</td>
    		<td>$l10n.SCHEDULE_MONDAY</td>
    		<td>$l10n.SCHEDULE_TUSEDAY</td>
    		<td>$l10n.SCHEDULE_WEDNESDAY</td>
    		<td>$l10n.SCHEDULE_THURSDAY</td>
    		<td>$l10n.SCHEDULE_FRIDAY</td>
    		<td class="saturday">$l10n.SCHEDULE_SATURDAY</td>
    	</tr>
    	#set($entityids = "")
    	#set($weekListSize = $result.MonthlyCalendarContainer.WeekList.size())
    	#set($weekcount = 0)
    	#foreach($record4 in $result.MonthlyCalendarContainer.WeekList)
    	<tr class="monthlyCalendarAutoTr">
    	#foreach($record in $record4.DayList)
    	#set($getScheduleDetailLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailJSONScreen').addQueryData('view_date', $!{record.Date.toString()}))
    	#set ($color_style = "")
		#set ($color_style_ohtermonth = "")
		#set ($color_style_selected = "")

    	#if($!{record.Date.Value.Day} == 0)
    	#set ($color_style = " sunday")
    	#elseif($!{record.Date.Value.Day} == 6)
    	#set ($color_style = " saturday")
    	#end

    	#if($!{record.isHoliday()})
    	#set ($color_style = " holiday")
    	#end

    	#if(! ($!{result.MonthlyCalendarViewMonth.Month.toString()} == ${record.Date.Month.toString()}))
    	#set ($color_style_ohtermonth = " out")
    	#end

    	#if($!{record.Today}==$!{result.MonthlyCalendarToday.toString()})
    	#set ($color_style = " today")
    	#end

    	#if($!{record.Today}==$!{result.ViewDate.toString()})
    	#set ($color_style_selected = " selected")
    	#end

    	<td class="${color_style}${color_style_ohtermonth}${color_style_selected}">
    		#ALMonthlyCalendarOnedayLink($!portlet.ID $filter $record)
    	</td>
    	#end
    	</tr>
    	#end
    </tbody></table>
    <img src="images/common/dot.gif" width="1" height="1" alt="" onload="aipo.calendar.initMonthlyCalendar('$!portlet.ID'
    	,'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleMonthlyJSONScreen"))'
    	,'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleListScreen").addQueryData("tab","oneday-group").addQueryData("filter",$filter).addQueryData("filtertype","group"))'
    	,'$!{result.ViewDate.Month}','$!{result.ViewDate.Day}');" />
   	</div>
	<div class="auiWidget clearfix" style="display:none;">
	    <ul>
	    	<li #if ("$!result.Viewtype" == "calendar") class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','calendar'))','$!portlet.ID')">$l10n.SCHEDULE_BLOCK</a></li>
	    	<li #if ("$!result.Viewtype" == "list") class="active" #end><a href="javascript:void(0)" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','list'))','$!portlet.ID')">$l10n.SCHEDULE_LIST</a></li>
	    </ul>
	</div>

</div>
