#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($linklist = [["未完了ToDo一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_list','1').addQueryData('tab','list')"], ["完了ToDo一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_list','1').addQueryData('tab','complete')"], ["カテゴリ一覧", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doTodo_category_list','1')"]])
#ALcell_pagetitle_iphone($career "カテゴリ詳細")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)
#ALtableheaderBorder("1")
#ALthtd('カテゴリ名' "$!{result.Detail.CategoryName}")
#ALthtd('登録日' "$!{result.Detail.CreateDate}")
#ALthtd('更新日' "$!{result.Detail.UpdateDate}")
#ALtablefooterBorder()

#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)

