#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')")
#set($methodlist = [["トピック追加", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_form','1').addQueryData('entityid','new')"]])
#set($linklist = [["トピック一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')"]])
#ALcell_pagetitle_iphone($career '掲示板')
#ALcell_linklist_iphone($career $methodlist)
#ALcell_contents_header($career)
#if(!$result.List || $!result.List.size() <= 0)
<p class="center">トピックはありません。</p>
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#ALcell_radius_header($career)
#foreach ($record in $result.List)
#ALcell_li_header($career)
<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_detail','1').addQueryData('mode','view').addQueryData("entityid",$record.TopicId)">
<strong>${record.TopicName}&nbsp;#if($record.ReplyCount.toString() != "0")（$record.ReplyCount）#end</strong><br/>
<small>
${record.OwnerName}&nbsp;
($!{record.UpdateDate.Year}年$!{record.UpdateDate.Month}月$!{record.UpdateDate.Day}日$!{record.UpdateDate.Hour}時$!{record.UpdateDate.Minute}分)
</small>
</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#end
#end
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $methodlist)