#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'vodafone')
#set($linklist = [["ｱﾄﾞﾚｽ帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle($career "会社情報検索")
#ALcell_formheader($career $jslink $portlet)
#ALcell_textfield($career 'sword' "$!result.SearchWord" 14 100 '' 'h')#ALcell_br($career)
#ALcell_submit($career 'submit' '検索')
#ALcell_br($career)#ALcell_br($career)
会社名・部署名・住所・電話番号で検索します。
<input name="eventSubmit_doAddressbook_company_search_list" type="hidden" value="1">
#ALcell_formfooter()
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
