#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($meisaiflag = 1)
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()

#set($user_results = $result.GroupExtTimecards)
#if($user_results.size() == 0)
<div class="auiSummaryMeta">
<form class="auiForm">
<select name="target_group_name_summary_list" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:16em">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id","none"))">$!{result.loginUserName}</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id", "none"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.Name.toString()) #end>----------</option>
#foreach( $record in $!result.MyGroupList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name",$!{record.Name.toString()}).addQueryData("target_user_id","none"))" #if($!result.TargetGroupName == $!record.Name.toString()) selected="selected" #end>$!record.AliasName</option>
#end
#if(($!{result.MyGroupList.size()}) &&($result.MyGroupList.size() > 0) && ($result.PostMap.size() > 0))
#<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id", "none"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.Name.toString()) #end>----------</option>
#end
#foreach( $record in $!result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name",$!{record.GroupName.toString()}).addQueryData("target_user_id", "none"))" #if($!result.TargetGroupName == $!record.GroupName.toString()) selected="selected" #end>$!record.PostName</option>
#end
</select>
</form>
</div>
<div class="message">$l10n.EXTTIMECARD_NO_USER_IN_THIS_GROUP</div>
#else

<div class="auiSummaryMeta clearfix">
<div class="auiSelectButton floatLeft">
<ul class="floatLeft">
<li style="margin-right:10px;">
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.CurrentMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_CURRENT_MONTH" class="btn" style="width:4em;"><span>$l10n.EXTTIMECARD_CURRENT_MONTH</span></a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.PrevMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_PREV_MONTH" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("view_month",$!{result.NextMonth.toString()}))', '$!portlet.ID');" title="$l10n.EXTTIMECARD_TO_NEXT_MONTH" class="last arrow"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a>
</li>
</ul>
</div>
<div class="count"><strong>$!{result.ViewMonthYearMonthText}</strong></div>
#if($!result.hasAclXlsExport())
<div class="floatRight">
#set($dlLink = $!utils.escapeXML($jslink.getTemplate('ExtTimecardSummaryXlsExportScreen').addPathInfo('target_user_id', "$!result.TargetUserId").addPathInfo('target_group_name', "$!result.TargetGroupName").addPathInfo('view_month', "$!result.ViewMonth").addPathInfo("f", "timecard.xls")))
#AUIbutton($l10n.EXTTIMECARD_DOWNLOAD_DISPLAY_LIST $dlLink)
</div>
#end
</div>
<div class="auiSummaryMeta">
<form class="auiForm">
<select name="target_group_name_summary_list" onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:16em">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id","none"))">$!{result.loginUserName}</option>
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id", "none"))" #if ("$!result.CurrentFilter" == "$!record.Name.toString()") #end>----------</option>
#foreach( $record in $!result.MyGroupList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name",$!{record.Name.toString()}).addQueryData("target_user_id","none"))" #if($!result.TargetGroupName == $!record.Name.toString()) selected="selected" #end>$!record.AliasName</option>
#end
#if(($!{result.MyGroupList.size()}) &&($result.MyGroupList.size() > 0) && ($result.PostMap.size() > 0))
#<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name","only").addQueryData("target_user_id", "none"))" #if ("$!result.CurrentFilter" == "$!record.Name.toString()")  #end>----------</option>
#end
#foreach( $record in $!result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSummaryListScreen").addQueryData("target_group_name",$!{record.GroupName.toString()}).addQueryData("target_user_id", "none"))" #if($!result.TargetGroupName == $!record.GroupName.toString()) selected="selected" #end>$!record.PostName</option>
#end
</select>
</form>
</div>
<div>
#foreach ($key in $user_results)
#AUImultiTableWide()
#if($velocityCount == 1)
<tr class="caption">
#else
<tr class="caption pc_hide">
#end
#ALtdheadAtt($l10n.EXTTIMECARD_NAME "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_WORK_DAY "class='doubleHeight center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OVERTIME_DAY "class='doubleHeight center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OFF_DAY "class='doubleHeight center'")
#ALtdheadAtt($l10n.EXTTIMECARD_LATE_COMING_DAY "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_EARLY_LEAVING_DAY "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_ABSENT_DAY "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_PAID_HOLIDAY "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_COMPENSATORY_HOLIDAY "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_OTHER "class='center'")
#ALtdheadAtt($l10n.EXTTIMECARD_NOT_INPUT "class='center'")
</tr>
<tr>
#ALtdcellAtt("$!{key.UserNameHtml}" "")
#ALtdcellAtt("$!{key.SystemNameHtml}" "class='wType'")
#ALtdcellAtt("$!{key.WorkDay}$l10n.EXTTIMECARD_DAY<br>（$!{key.WorkHour}$l10n.EXTTIMECARD_HOURS）" "nowrap='nowrap' align='center' class='wTime doubleHeight'")
#ALtdcellAtt("$!{key.OvertimeDay}$l10n.EXTTIMECARD_DAY<br>（$!{key.OvertimeHour}$l10n.EXTTIMECARD_HOURS）" "nowrap='nowrap' align='center' class='wTime doubleHeight'")
#ALtdcellAtt("$!{key.OffDay}$l10n.EXTTIMECARD_DAY<br>（$!{key.OffHour}$l10n.EXTTIMECARD_HOURS）" "nowrap='nowrap' align='center' class='wTime doubleHeight'")
#ALtdcellAtt("$!{key.LateComingDay}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.EarlyLeavingDay}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.AbsentDay}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.PaidHoliday}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.CompensatoryHoliday}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.OtherDay}$l10n.EXTTIMECARD_DAY" "nowrap='nowrap' align='center' class='wDays'")
#ALtdcellAtt("$!{key.NoInput}" "nowrap='nowrap' align='center' class='wDays'")
</tr>
#AUItablefooter()
#end
</div>

#end
#AUIcontentsAreaFooter()
#parse("/portlets/html/ja/exttimecard-widget.vm")

