#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($subtitle = $l10n.EXTTIMECARD_WORKTIME_SETTING)
#set ($indicator_id = "indicator-dlg-")
#if  ($mode=="new_form")
#set ($action_str = $l10n.EXTTIMECARD_ADD)
#set ($subtitle = $l10n.EXTTIMECARD_ADD_WORKING_ARRANGEMENTS)
#set ($event_submit = "eventSubmit_doExttimecard_system_insert")
#else
#set ($action_str = $l10n.EXTTIMECARD_UPDATE)
#set ($subtitle = $l10n.EXTTIMECARD_EDIT_WORKING_ARRANGEMENTS)
#set ($event_submit = "eventSubmit_doExttimecard_system_update")
#end
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.exttimecardsystem.hideDialog()")
#ALspacebothheader()
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxIndicator("$!indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("extTimecardSystemForm" $jslink $portlet "ExtTimecardSystemFormJSONScreen" "aimluck.io.submit(this, '$!indicator_id', '$!portlet.ID',aipo.exttimecardsystem.onReceiveMessage)")
#ALtableheaderWide()
#ALtdcaption("#ALrequired($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS)")
#ALtditemheader()
#ALtextfield('system_name' $!result.SystemName '70%' 30 'enabled')
#ALtditemfooter()
#ALtdcaption("#ALrequired($l10n.EXTTIMECARD_WORKTIME)")
#ALtditemheader()
<select name="start_hour" size="1" >
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.StartTimeHour.toString() == "$num") selected="selected" #end>$num</option>
#end
</select>
:
<select name="start_minute" size="1">
#foreach ( $num in [0..59] )
#if($num % 5 == 0)
<option value="$num" #if ($!result.StartTimeMinute.toString() == "$num") selected="selected" #end>#if($num<10)0#end$num</option>
#end
#end
</select>&nbsp;-&nbsp;<select name="end_hour" size="1" >
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.EndTimeHour.toString() == "$num") selected="selected" #end>$num</option>
#end
</select>
:
<select name="end_minute" size="1">
#foreach ( $num in [0..59] )
#if($num % 5 == 0)
<option value="$num" #if ($!result.EndTimeMinute.toString() == "$num") selected="selected" #end>#if($num<10)0#end$num</option>
#end
#end
</select>
#ALtditemfooter()
#ALtdcaption("#ALrequired($l10n.EXTTIMECARD_START_DAY)")
#ALtditemheader()
<select name="start_day" size="1">
#foreach ( $num in [1..28] )
<option value="$num" #if ($!result.StartDay.toString() == "$num") selected="selected" #end>$num$l10n.EXTTIMECARD_DAY</option>
#end
</select>
#ALtditemfooter()
#ALtdcaptionAtt("#ALrequired($l10n.EXTTIMECARD_RESTTIME)" "rowspan='2'")
#ALtditemheader()
<h3>$l10n.EXTTIMECARD_WORKTIME_IN</h3>
$!{result.WorkTimeInRestTimeInText}
<div class="spaceTop">#ALcaution($l10n.EXTTIMECARD_ALERT_RESTTIME)</div>
#ALtditemfooter()
#ALtditemheader()
<h3>$l10n.EXTTIMECARD_WORKTIME_OUT</h3>
$!{result.WorkTimeOutRestTimeOutText}
<div class="spaceTop">#ALcaution($l10n.EXTTIMECARD_ALERT_RESTTIME)</div>
#ALtditemfooter()
#ALtdcaption("#ALrequired($l10n.EXTTIMECARD_CHANGE_HOUR)")
#ALtditemheader()
<select name="change_hour" size="1">
#foreach ( $num in [0..23] )
<option value="$num" #if ($!result.ChangeHour.toString() == "$num") selected="selected" #end>$num$l10n.EXTTIMECARD_HOUR</option>
#end
</select>
<div class="spaceTop">$l10n.EXTTIMECARD_CHANGE_THIS_HOUR_DETAIL</div>
#ALtditemfooter()
#ALtdcaption($l10n.EXTTIMECARD_OUTGOINGTIME)
#ALtditemheader()
<input type="checkbox" name="outgoing_add_flag" value="T" id="outgoing_add_flag" #if($result.OutgoingAddFlag.toString() == 'T')checked="checked"#end/>
<label for="outgoing_add_flag">$l10n.EXTTIMECARD_ADD_OUTGOINGTIME</label>
#ALtditemfooter()
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)
#ALajaxbuttonClose()
#ALbuttonfooter()
#if($mode=="new_form")
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
#ALformfooter()
#ALspacebothfooter()
#ALdialogfooter()
