#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#AUIwideAreaHeader()
#AUISummaryDiv()
<form class="auiForm floatLeft" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:180px;">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSystemMapListScreen").addQueryData("filter","").addQueryData("filtertype","post"))">$l10n.EXTTIMECARD_ALL_POST</option>
#foreach( $record in $result.PostMap )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSystemMapListScreen").addQueryData("filter",$!record.PostId).addQueryData("filtertype","post"))" #if ($!result.CurrentFilter && "$!result.CurrentFilter" == $!record.PostId.toString()) selected="selected" #end>$!record.PostName</option>
#end
</select>&nbsp;
</form>
<div class="floatRight">
<div class="auiSelectButton">
<ul>
#set($tab = [$l10n.EXTTIMECARD_USER, "user","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardSystemMapListScreen')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:6em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = [$l10n.EXTTIMECARD_WORKING_ARRANGEMENTS, "system", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardSystemListScreen')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:6em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
</ul>
</div>
</div>
#AUISummaryDivfooter()
<div id="listMessageDiv"></div>
<form class="auiForm" name="form$!portlet.ID" id="form$!portlet.ID" action="#" method="post" onsubmit="return false;">
<input type="hidden" name="_name" value="$l10n.EXTTIMECARD_USER" />
<input type="hidden" name="secid" value="$secid" />
#if($result.List.size() == 0)
$l10n.EXTTIMECARD_ALERT_NO_USER<br />
#else
#AUISummaryDiv()
#AUIajaxpageview('ExtTimecardSystemMapListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="width:20em;">
</colgroup><colgroup style="">
</colgroup><colgroup style="width:12em;">
</colgroup>
<tbody>
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='auiMTCheck'")
#ALtdhead("#ALajaxsort('name_kana' $l10n.EXTTIMECARD_NAME $result 'ExtTimecardSystemMapListScreen')")
#ALtdhead($l10n.EXTTIMECARD_POST_NAME)
#ALtdhead($l10n.EXTTIMECARD_WORKING_ARRANGEMENTS)
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.UserId' type='checkbox' value='$!record.UserId'/>" 'class="center auiMTCheck"')
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccountUserDetailScreen").addQueryData("entityid",$record.LoginName).addQueryData("noedit",1))');">$!record.Name</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
#set($pcount = 0)
<div>
#foreach($postname in $!record.PostNameList)
#if($pcount != 0)、&nbsp;#end
$!postname.AliasName
#set($pcount = $pcount + 1)
#end
</div>
#ALtdcellfooter()
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ExtTimecardSystemDetailScreen").addQueryData("entityid",$record.SystemId))');">$!record.SystemName</a>
</div>
#ALtdcellfooter()
</tr>
#end
#ALtablefooter()
#AUISummaryDiv()
<div class="floatLeft">
<select name="system_id" style="width:180px;">
#foreach( $record in $result.SystemList )
<option value="$!{record.SystemId}">$!{utils.escapeXML($!record.SystemName)}</option>
#end
</select>
$l10n.EXTTIMECARD_CHANGE_SYSTEMNAME
#AUIajaxbuttonCheckboxAction($l10n.EXTTIMECARD_CHANGE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ExtTimecardSystemMapFormJSONScreen').addQueryData('mode','multi_change')" "$!indicator_id" "$!portlet.ID" "aipo.exttimecardsystem.onReceiveMessage")
</div>
#AUIajaxpageview('ExtTimecardSystemMapListScreen' $result)
#AUISummaryDivfooter()
#ALformfooter()
#end
#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end