#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
                            <!-- MAIN TAB -->
#set($beforeselected =false)
#foreach ( $c in $css )
<link rel="stylesheet" type="text/css" href="${external_resources_url}/css/$c.Path" media="$c.Media" />
#end
#if (!$tabs )
#parse ("jetspeed.vm")
#else
#if($!showTab == "false")
$portlet.getContent($data)
#else

                            <div id="auiTabs" class="clearfix">
                              <ul>
#foreach ( $tab in $tabs )
	#set($selected = $tab.Link && ($tab.isSelected() == true))
                               <li class="#if($velocityCount==1)first#end #if($velocityCount==$tabs.size())last#end ">
                                  <div class="tab#if($beforeselected) activeNext#end#if($selected) active#end">

                                  <div class="title"><a title="$tab.Title" href="$tab.Link">$tab.Title</a></div>
	                                  <div class="setting" style="position:relative;">
	                                  #if ($!tab.Authority)#foreach ($action in $tab.Actions)
	                                        #if (${client} == "IPAD")
	                                        <a href="${action.Link}" class="auiIcon auiIconSetting" title="${action.Alt}"></a>
	                                        #else

	                                        #set($clink = $!utils.escapeXML("$!{jslink}/js_pane/$!{tab.Id}?action=controls.Maximize&template=CustomizeFormScreen") )
											#if ($tab.isSelected() == true)
												#set($activeurlselected=$clink)
											#end
											<a href="javascript:void(0);" id="menubar_button_tab_$!{tab.Id}" class="customizeMenuIcon auiIcon auiIconSetting" onclick="aipo.customize.showMenuForTab('tab_$!{tab.Id}');" onmouseover="dojo.addClass(this, 'customizeMenuIconMouseenter');" onmouseout="dojo.removeClass(this, 'customizeMenuIconMouseenter');" title="カスタマイズ"></a>
											<div class="menubar body-child" id="menubar_tab_$!{tab.Id}" style="position:absolute; width=16em; display:none;">
											<ul>
												<li>
												<a href="javascript:void(0);" onclick="aipo.common.showDialog('$clink')">設定</a>
					    						</li>
												#if($!tab.Title.Value != "マイページ")
												<li class="last">
													<a href="javascript:void(0);" onclick="aipo.customize.deleteTabSubmit('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'Page').addQueryData('template','PageFormJSONScreen').addQueryData('entityid',$!{tab.Id}).addQueryData('mode','delete').addQueryData('secid',$secid))', '$!{tab.Id}', function(){location.href='$!{jslink}/js_pane/$!{mypageId}'})">削除</a>
												</li>
												#end
											</ul>
											</div>
	                                        #end
	                                  #end#end
	                                  </div>
                                  </div>
                                </li>
	#set($beforeselected =$selected)
#end
								#if ($data.User.getUserName()!="admin")
									<li class="addTab">
										<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'AccountPerson').addQueryData('template','PageFormScreen').addQueryData('entityid','new'))','$!portlet.ID',aipo.page.onLoadPageDialog);" title="$l10n.WAR_ADD_MENU_TUB"><span>+</span></a>
									</li>
								#end
                              </ul>
                            </div>
							#if($activeurlselected)
							<input id="data-activecustomizeurl" type="hidden" value="$activeurlselected" />
                            #else
                             <input id="data-activecustomizeurl" type="hidden" value="$!utils.escapeXML("$!{jslink}/js_pane/?template=CustomizeFormErrorScreen")" />
							#end
							<!-- /MAIN TAB -->
                            <!-- MAIN OUTER -->
							#if (${client} != "IPAD" || ${clientVer} != "4")
							<div class="roundMainWrapper">
							#else
							<div class="roundMainWrapper" style="min-height:1000px">
							#end
							#AuiInformation($information_title $information_text $information_cookie_name $information_display)
							#if(!$run)
								$portlet.getContent($data)
							#elseif($runs.size()==0)
							#AUIrowTableWide()
							<tr><td colspan="4" class="auiNoData">
							<p class="mh10">
							<a title="$l10n.WAR_ADD_APPLICATION" href="javascript:void(0)" onclick="aipo.common.showDialog('$activeurlselected')" class="auiButtonAction">$l10n.WAR_ADD_APPLICATION</a>
							</p>
							</td></tr>
							#AUItablefooter()
							#else
								$portlet.getContent($data)
							#end
							</div>
                            <!-- MAIN OUTER -->
#end
#end
