#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------

## ---------------------------------------------------------------------------
#set($beforeselected =false)
#if( ! $portlet.isClosed($data) )
#if($!isMaximized && ($!showTab == "true"))
	#if(${client}=="IPHONE")
<!-- appsNavigation_v2 -->
<script language="javascript">
// ウィジェットメニュー用
aipo.onloadSmartPhone = function(){
	var widgets_area = dojo.byId('auiWidgetsArea');
	if(dojo.byId("snDrawer")) return;
	if(widgets_area != null){
		// classの追加
		var is_menu = ["Msgboard", "ToDo", "Workflow", "Note", "Report", "AddressBook", "UserList", "MyGroup", "AccountPerson", "SysInfo","FileIO","Account","Post","Position","Facilities","GadgetsAdmin","WorkflowCategory","ExtTimecardSystem","AccessControl"].indexOf("$portlet.name") != -1;
		for(var i=0;i<widgets_area.childNodes.length;i++){
			if(widgets_area.childNodes[i].className != null
			&& widgets_area.childNodes[i].className.indexOf('auiWidget',0) >= 0){
				if(widgets_area.childNodes[i].innerHTML.indexOf('auiButtonAction',0) >= 0){
					widgets_area.childNodes[i].className += ' widgetButton';
				}else if(widgets_area.childNodes[i].id == 'subNavigation'){
					is_menu = true;
				}else if(widgets_area.childNodes[i].innerHTML.indexOf('<ul>',0) >= 0){
					widgets_area.childNodes[i].id = 'subNavigation';
					is_menu = true;
				}else{
					widgets_area.childNodes[i].className += ' mb_hide';
				}
			}
		}
		// snDrawerの追加
		if(is_menu){
			var elem = document.createElement('div');
			elem.className = 'snDrawer';
			elem.innerHTML = '<a id="snDrawer" href="javascript:void(0)" onClick="widgetMenuSwitch()"><i class="icon-caret-up"></i></a>';
			widgets_area.appendChild(elem);
		}
	}
	dojo.query("input, textarea").forEach( function (item) {
		dojo.connect(item, "onfocus", aimluck.io.onTextFieldFocus)
		dojo.connect(item, "onblur", aimluck.io.onTextFieldBlur)
	})
	dojo.query("form").forEach( function (item) {
		dojo.connect(item, "onsubmit", aimluck.io.onTextFieldBlur)
	})
}
dojo.addOnLoad(function(){
	aipo.onloadSmartPhone();
});
function widgetMenuSwitch() {
        var subNavi = document.getElementById('subNavigation');
        var widgets = document.getElementById('auiWidgetsArea');
        var contents = document.getElementById('auiContentsArea');
   		var footer = document.getElementById('auiWidgetsArea');
    	var wrapper = document.getElementById('wrapper');
   		var header = document.getElementById('mobileHeader_v3');
	    var body = dojo.body();

		var subNaviStyle = subNavi.currentStyle || document.defaultView.getComputedStyle(subNavi, null);
        if(subNaviStyle.display=='none'){
                subNavi.style.display = 'block';
			    subNavi.style.position = "absolute";

   				var headerHeight =  header?header.clientHeight:0;
   				var footerHeight =  footer?footer.clientHeight:0;
   				var footerRec = footer.getBoundingClientRect();
   				var displayHeight = footerRec.top;
   				var naviHeight = subNavi.clientHeight +  headerHeight + footerHeight;
   				var pageHeight = footerHeight +  document.getElementById('auiContentsArea').clientHeight +  headerHeight;

   				if(displayHeight < naviHeight) {
			        //ナビが動的でその高さがディスプレイ以上の時
				    widgets.style.position = "absolute";
				    if(naviHeight < pageHeight) {
			        //ナビが動的でその高さがディスプレイ以上の時でページ全体がそれ以上の時
				    	footer.style.top = pageHeight + 'px';
				    } else {
			    		wrapper.style.minHeight = naviHeight+ 'px';
						footer.style.top = (subNavi.clientHeight + headerHeight + 50) + 'px';
			    	}
        			window.scrollTo(0, wrapper.clientHeight);
			    } else {
			        //ナビが静的な時
			    	wrapper.style.minHeight = displayHeight+ 'px';
			    }
			    body.style.overflowX = "hidden";//効かない
				if(aipo.userAgent.isAndroid2()) {
					widgets.style.zIndex = 1024;
				}
        }else{
				footer.style.top = '';
			    widgets.style.position = "fixed";
                subNavi.style.display = 'none';
			    body.style.overflowX = "auto";
				if(aipo.userAgent.isAndroid2()) {
					widgets.style.zIndex = 994;
				}
        }
}

// ナビゲーションメニュー用
var navEventList=[];
function appsNaviSwitch() {
    var navi = document.getElementById('appsNavigation_v2');
    var wrapper = document.getElementById('wrapper');
    var bk = document.getElementById('appsNavigationBack_v2');
    var mh = document.getElementById('mobileHeader_v3');

    if(navi.className!='anOpen'){
        navi.style.display = 'block';
        wrapper.style.overflow = 'hidden';
        wrapper.style.height = document.getElementById('anInner').clientHeight + 'px';
        bk.style.display = 'block';
        bk.style.height = document.getElementById('anInner').clientHeight + 'px';
        mh.style.top = '0';
        if (aipo.userAgent.isAndroid()){
            navi.className = 'anOpen';
            bk.className = 'anOpen';

             var content=dojo.query(".roundBlockContent")[0];
             if(content){
                 content.style.display="none";
             }

            //クリック無効化
             var f=function(e){
                e.preventDefault();
                //e.stopImmediatePropagation();
                return false;
            };

            var naviNodes=dojo.query("input,select,button,a",dojo.byId("appsNavigation_v2"));

            //ナビゲーション外のクリックイベントを無効化
            dojo.query("input,select,button,a").forEach(function(node){
                if(!aipo.arrayContains(naviNodes,node))
                    if(node.addEventListener)navEventList.push(node.addEventListener('click',f,true));
                    else navEventList.push(dojo.connect(node,'click',f));
            });

            //ナビゲーション外のフォームオブジェクトの無効化
            dojo.query("input,select,button").forEach(function(node,index){
                if(!aipo.arrayContains(naviNodes,node) && !node.disabled){
                    dojo.addClass(node,"disabled-by-navi");
                    node.disabled=true;
                }
            });

        } else {
            mh.style.position = 'absolute';
            setTimeout('setClassName("appsNavigation_v2","anOpen")',100);
            setTimeout('setClassName("appsNavigationBack_v2","anOpen")',1);
        }
    }else{
        wrapper.style.overflow = 'visible';
        mh.style.top = '';
        navi.className = '';
        if (aipo.userAgent.isAndroid()){
            bk.className = '';
            bk.style.display = 'none';
            wrapper.style.height = 'auto';
            navi.style.display = 'none';

             var content=dojo.query(".roundBlockContent")[0];
             if(content){
                 content.style.display="";
             }

            //無効化していたクリックイベントの有効化
             for(var i=0;i<navEventList.length;i++){
                dojo.disconnect(navEventList[i]);
            }
            navEventList=[];

            //無効化していたフォームオブジェクトの有効化
            dojo.query("input.disabled-by-navi,select.disabled-by-navi,button.disabled-by-navi").forEach(function(node,index){
                dojo.removeClass(node,"disabled-by-navi");
                node.disabled=false;
            });

        } else {
       		mh.style.position = 'fixed';
            setTimeout('setClassName("appsNavigationBack_v2","")',100);
            setTimeout('setNaviDisp("appsNavigationBack_v2","none")',300);
            setTimeout('setNaviDisp("appsNavigation_v2","none")',300);
            setTimeout('setWrapperHeight()',300);
        }
    }
}
function setClassName (obj,string) {
    document.getElementById(obj).className = string;
}
function setNaviDisp (obj,str){
    document.getElementById(obj).style.display = str;
}
function setWrapperHeight() {
    document.getElementById("wrapper").style.height = "auto";
}
</script>
<div id="appsNavigationBack_v2"><a class="backLayer" href="javascript:void(0)" onClick="appsNaviSwitch()"><!--test--></a></div>
<div id="appsNavigation_v2"><div id="anInner">
        <div class="anUser">
                <div class="close"><a href="javascript:void(0)" onClick="appsNaviSwitch()"><i class="icon-remove"></i></a></div>
                <div class="avatar">#if ($data.User.hasPhoto())<img src="$!utils.escapeXML($jslink.getTemplate("FileuploadFacePhotoScreen").addQueryData("uid", $!{data.User.UserId}).addQueryData("t", $!{data.User.PhotoModified.Time}))" alt="$l10n.USERLIST_PHOTO" width="20" height="20" />#else<img src="images/common/avatar_default3.png" alt="$l10n.USERLIST_PHOTO" width="20" height="20"/>#end </div>
                <div class="name">$utils.escapeXML($!data.User.LastName.toString()) $!utils.escapeXML($!data.User.FirstName.toString())</div>
        </div>
        <div class="anApps">
                <h2>$l10n.GADGETS_APP</h2>
                <ul>
#ALtabElementMaximize("Timeline" "icon-comments")
#ALtabElementMaximize("Schedule" "icon-calendar")
#ALtabElementMaximize("ExtTimecard" "icon-time")
#ALtabElementMaximize("Activity" "icon-volume-up")
#ALtabElementMaximize("Blog" "icon-book")
#ALtabElementMaximize("Msgboard" "icon-picture")
#ALtabElementMaximize("ToDo" "icon-list-ul")
#ALtabElementMaximize("Cabinet" "icon-folder-open")
#ALtabElementMaximize("Workflow" "icon-inbox")
#ALtabElementMaximize("Note" "icon-phone")
#ALtabElementMaximize("Report" "icon-file-text")
#ALtabElementMaximize("WebMail" "icon-envelope")
#ALtabElementMaximize("AddressBook" "icon-compass")
#ALtabElementMaximize("UserList" "icon-group")
#ALtabElementMaximize("Memo" "icon-pencil")
</ul>
</div>
#if($menus && $menus.size()>0 && $gadgetCounts>0)
#set($anApps=false)
#foreach($tab in $menus)
	#if($tab.Name.toString() == "GadgetsTemplate")
       #if($anApps == false)
		<div class="anApps">
   		  <h2>ソーシャルアプリ</h2>
    	 <ul>
    	 #set($anApps=true)
      #end
	<li><a href="$!utils.escapeXML($tab.MaximizeLink)"><span class="icon">
		#if($tab.Icon.toString() == "")
			<i class="icon-folder-close"></i>
		#else
			<img src="$tab.Icon" alt="$tab.Title" />
		#end
		</span><span>$tab.Title</span></a></li>
	#end
#end
                </ul>
        </div>
#end
        <div class="anSetting">
                <h2>$l10n.WAR_SET_UP</h2>
                <ul>
                	#if ($data.User.getUserName()!="admin")
						<li><a href="$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPane($data,'AccountPerson').addQueryData('action','controls.Maximize'))"><span class="icon"><i class="icon-cog"></i></span>$l10n.PERSONAL</a></li>
					#end
					#if ($data.User.isAdmin())
						<li><a href="$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPane($data,'SysInfo').addQueryData('action','controls.Maximize'))"><span class="icon"><i class="icon-cogs"></i></span>$l10n.TOP_MANAGE_SETTING</a></li>
					#end
    					<li><a href="javascript:void(0)" onclick="location.href='$jslink.setAction("ALChangeToPC")'"><span class="icon"><i class="icon-desktop"></i></span>PC版表示へ変更</a></li>
    					<li><a href="javascript:void(0)" onclick="location.href='$jslink.setAction($config.getString("action.logout"))'"><span class="icon"><i class="icon-power-off"></i></span>$l10n.TOP_LOGOUT</a></li>
				</ul>
        </div>
        <div class="anFooter">
                <div class="copyright">&copy; Aimluck</div>
        </div>
</div></div>
<!-- /mobileNavigation -->
#else
<!-- MAIN TAB -->
<div id="auiTabs" class="clearfix">
	<ul>
	#foreach ( $tab in $tabs )
		#set($selected = $tab.Link && ($tab.isSelected() == true))
		<li class="#if($velocityCount==1)first#end #if($velocityCount==$tabs.size())last#end ">
			<div class="tab#if($beforeselected) activeNext#end#if($selected) active#end">
				<div class="title"><a title="$tab.Title" href="$tab.Link">$tab.Title</a></div>
				<div class="setting">
				#if ($!tab.Authority)
					#foreach ($action in $tab.Actions)
					#if (${client} == "IPAD")
					<a href="${action.Link}" class="auiIcon auiIconSetting" title="${action.Alt}"></a>
					#else
					#set($clink = $!utils.escapeXML("$!{jslink}/js_pane/$!{tab.Id}?template=CustomizeFormScreen") )
					#if ($tab.isSelected() == true)
						#set($activeurlselected=$clink)
					#end
					<a href="javascript:void(0);" id="menubar_button_tab_$!{tab.Id}" class="customizeMenuIcon auiIcon auiIconSetting" onclick="aipo.customize.showMenuForTab('tab_$!{tab.Id}');" onmouseover="dojo.addClass(this, 'customizeMenuIconMouseenter');" onmouseout="dojo.removeClass(this, 'customizeMenuIconMouseenter');" title="カスタマイズ"></a>
					<div class="menubar body-child" id="menubar_tab_$!{tab.Id}" style="position:absolute; width=16em; display:none;">
					<ul>
						<li>
						<a href="javascript:void(0);" onclick="aipo.common.showDialog('$clink')">設定</a>
						</li>
						#if($!tab.Title.Value != "マイページ")
						<li class="last">
							<a href="javascript:void(0);" onclick="aipo.customize.deleteTabSubmit('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'Page').addQueryData('template','PageFormJSONScreen').addQueryData('entityid',$!{tab.Id}).addQueryData('mode','delete').addQueryData('secid',$!{secid}))', '$!{tab.Id}', function(){location.href='$!{jslink}/js_pane/$!{mypageId}'})">削除</a>
						</li>
						#end
					</ul>
					</div>
					#end
				    #end
				 #end
				</div>
			</div>
		</li>
		#set($beforeselected =$selected)
	#end
		#if ($data.User.getUserName()!="admin")
			<li class="addTab">
				<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!utils.getPortletURIinPersonalConfigPeid($data,'AccountPerson').addQueryData('template','PageFormScreen').addQueryData('entityid','new'))','$!portlet.ID',aipo.page.onLoadPageDialog);" title="$l10n.WAR_ADD_MENU_TUB"><span>+</span></a>
			</li>
		#end
	</ul>
</div>
#if("$!{activeurlselected}"!="")
	<input id="data-activecustomizeurl" type="hidden" value="$activeurlselected" />
#else
	<input id="data-activecustomizeurl" type="hidden" value="$!utils.escapeXML("$!{jslink}/js_pane/?template=CustomizeFormErrorScreen")" />
#end
<!-- /MAIN TAB -->
#end
<!-- MAIN OUTER -->
<div id="roundWrapper">
  <div class="roundMainWrapper">
#AuiInformation($information_title $information_text $information_cookie_name $information_display)
$portlet.getContent($data)
  #set ($flag = false)
  #if ($portlet.name=="AccountPerson")
    #set ($flag = true)
  #elseif($portlet.name=="MyGroup")
   #set ($flag = true)
  #elseif($portlet.name=="Cellular")
    #set ($flag = true)
  #end

  #if ($flag)
	<!-- auiWidgetsArea -->
	<div id="auiWidgetsArea" #if("$!{clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
	<div class="auiWidget clearfix">
	<ul>
	#foreach($menue in $accountMenues)
	<li#if ($menue.isSelected() == true) class="selected"#end><a href="$!utils.escapeXML($menue.MaximizeLink)">$menue.Title</a></li>
	#end
	</ul>
	</div>
	</div>
	<!-- /auiWidgetsArea -->
  #end
#set ($system = false)

  #if ($portlet.name=="SysInfo")
    #set ($system = true)
  #elseif($portlet.name=="FileIO")
   #set ($system = true)
  #elseif($portlet.name=="Account")
    #set ($system = true)
   #elseif($portlet.name=="Post")
    #set ($system = true)
   #elseif($portlet.name=="Position")
    #set ($system = true)
   #elseif($portlet.name=="Facilities")
    #set ($system = true)
   #elseif($portlet.name=="GadgetsAdmin")
    #set ($system = true)
   #elseif($portlet.name=="WorkflowCategory")
    #set ($system = true)
   #elseif($portlet.name=="ExtTimecardSystem")
    #set ($system = true)
    #elseif($portlet.name=="AccessControl")
    #set ($system = true)
   #elseif($portlet.name=="Eventlog")
    #set ($system = true)
  #end
  #if ($system)
	<!-- auiWidgetsArea -->
	<div id="auiWidgetsArea" #if("$!{clientVer}" == "4") style="position:static" #elseif("${client}" == "IPHONE") style="position:fixed" #end>
	<div class="auiWidget clearfix">
	<ul>
	#foreach($menu in $systemMenus)
	<li#if ($menu.isSelected() == true) class="selected"#end><a href="$!utils.escapeXML($menu.MaximizeLink)">$menu.Title</a></li>
	#end
	</ul>
	</div>
	</div>
	<!-- /auiWidgetsArea -->
  #end

  </div>
</div>
<!-- /MAIN OUTER  -->
#else
#if (!$data.User.hasLoggedIn())
	$!portlet.getContent($data)
#else
<!-- PORTLET OUTER -->
<div class="dojoDndItem auiPortlet $!portlet.ID">
	<div class="auiPortletHead"><div class="inner #if (${client} != "IPAD")dojoDndHandle#end">
	#if( !$!isMaximized  && $portlet.isShowTitleBar($data))
		<div class="auiPortletTitle">
			<a href="$!utils.escapeXML($!jslink.getAction("controls.Maximize",$!portlet.ID))">$!utils.escapeXML($portlet_instance.Title)</a>
		</div>
		<div class="auiPortletTool">
      #if($functions.size()==1)
			<div class="auiPortletAction">
        #foreach ( $function in $functions )
				<a #if($function.Screen) href="javascript:void(0);" #if($!{function.AfterFunction}) onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$function.Mode).addQueryData("entityid","new"))','$!portlet.ID',${function.AfterFunction});" #else onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template",$function.Mode).addQueryData("entityid","new"))','$!portlet.ID');" #end #else href="$!utils.escapeXML($!jslink.getAction("controls.Maximize",$!portlet.ID).addQueryData("mode",$function.Mode))"#end>$function.Caption</a>
        #end
			</div>
      #end
			<div class="auiPortletSetting">
				#foreach ( $action in $actions )
					#if (${client} == "IPAD")
					<a href="javascript:void(0)" onclick='aipo.common.showDialog("$!utils.escapeXML(${action.Link})")' title="${action.Alt}" class="auiIcon auiIconSetting" ></a>
					#else
					<a href="javascript:void(0);" id="menubar_button_$!{portlet.ID}" class="customizeMenuIcon auiIcon auiIconSetting" onclick="aipo.customize.showMenu('$!{portlet.ID}');" title="${action.Alt}" ></a>
					#end
				#end
				#if (${client} != "IPAD")
			    <div class="menubar body-child" id="menubar_$!{portlet.ID}" style="position:absolute;left:-5;top:5;display:none;">
					<ul>
					#foreach ( $action in $actions)
						<li><a href="javascript:void(0)" onclick='aipo.common.showDialog("$!utils.escapeXML(${action.Link})")'>$l10n.WAR_SET_UP</a></li>
					#end
					#if($accessControl == "true")
						<li class="last" id="accessControlDelete_$!{portlet.ID}"><a href="javascript:void(0);" onclick="aipo.customize.deletesubmit('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template", "CustomizeFormJSONScreen").addQueryData("mode", "delete"))', '$!portlet.ID', function(){ dojo.query('.dojoDndItem.$!{portlet.ID}').orphan(); window.location.reload(); } );">$l10n.CUSTOMIZER_DELETE</a></li>
					#end
					</ul>
			    </div>
			    #end
			</div>
		</div>
	#else
		<div class="auiPortletTitle">
			<a href="javascript:void(0)">$!utils.escapeXML($portlet_instance.Title)</a>
		</div>
		<div class="auiPortletTool">
			<div class="auiPortletAction">
				<span id="portletMenu"></span>
			</div>
			<div class="auiPortletSetting">
				<span id="portletMenu"></span>
			</div>
		</div>
	#end
	</div></div>
	<!-- auiPortletBody -->
	<div class="auiPortletBody dndIdentifier">
    <div class="inner" dojoType="aimluck.widget.Contentpane" widgetId="portlet_$!portlet.ID" id="portlet_$!portlet.ID">
    $!portlet.getContent($data)
	  </div>
  </div>
	<!-- /auiPortletBody -->
	<div class="auiPortletFoot"><div class="inner"></div></div>
</div>
<!-- /PORTLET OUTER -->
#end
#end

#end
