#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.BLOG_THEME_DETAIL)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader("$l10n.BLOG_THEME")
#ALtableheaderWide()
#ALtdcaption($l10n.BLOG_THEME_NAME)
#ALtditem($!result.Detail.ThemaNameHtml)
#ALtdcaption($l10n.BLOG_MEMO)
#ALtditem($!result.Detail.Description)
#ALtdcaption($l10n.BLOG_CREATE_USER_NAME)
#ALtditem($!result.Detail.CreateUserName)
#ALtdcaption($l10n.BLOG_UPDATE_USER_NAME)
#ALtditem($!result.Detail.UpdateUserName)
#ALtdcaption($l10n.BLOG_CREATE_DATE)
#ALtditem($!result.Detail.CreateDate)
#ALtdcaption($l10n.BLOG_UPDATE_DATE)
#ALtditem($!result.Detail.UpdateDate)
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogThemaFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.blog.onLoadBlogThemaDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogThemaFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.blog.onReceiveMessage")#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
