#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
#set($newEntryUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','BlogEntryFormScreen').addQueryData('entityid','new')))
#set($newThemaUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogThemaFormScreen").addQueryData("entityid","new")))
#set($themaEditUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template', "BlogThemaListScreen")))

<div id="auiWidgetsArea" #if(${clientVer} && ${clientVer} == "4") style="position:static" #elseif(${client} == "IPHONE") style="position:fixed" #end>
<div class="auiWidget clearfix">
<a title="$l10n.BLOG_CREATE" href="javascript:aipo.common.showDialog('$newEntryUrl','$!portlet.ID',aipo.blog.onLoadBlogDialog);" class="auiButtonBold">$l10n.BLOG_CREATE</a>
</div>
<div class="auiWidget clearfix">
<ul>
<li#if ($!result.OwnerId && $!result.OwnerId == "all") class="active"#end>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogEntryListScreen").addQueryData("ownerid", "all"))', '$!portlet.ID');">$l10n.BLOG_NEW_ENTRY</a>
</li>
<li#if ($!result.OwnerId && $!result.OwnerId == $!result.LoginUid.toString()) class="active"#end>
<a href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogEntryListScreen").addQueryData("ownerid", ${result.LoginUid}))', '$!portlet.ID');">$l10n.BLOG_MY_ENTRY</a>
</li>
</ul>
</div>
<div class="auiWidget clearfix">
<ul>
#set($themaFilterUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogEntryListScreen").addQueryData("themeid", "all")))
<li#if (${result.ThemeId} && ${result.ThemeId} == "all") class="active"#end>
<a href="javascript:void(0);" onclick="aipo.viewPage('$themaFilterUrl', '$!portlet.ID');">$l10n.BLOG_ALL_THEME</a>
</li>
#foreach( $record in $result.ThemaList )
#set($themaFilterUrl = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","BlogEntryListScreen").addQueryData("themeid", $!record.ThemaId.toString())))
<li#if (${result.ThemeId} && ${result.ThemeId} == $!record.ThemaId.toString()) class="active"#end>
<a href="javascript:void(0);" onclick="aipo.viewPage('$themaFilterUrl', '$!portlet.ID');">$!record.ThemaName</a>
</li>
#end
</ul>
<div style="margin:0.5em 0;">
<a href="javascript:void(0);" onclick="aipo.view$themaEditUrl', '$!portlet.ID');">$l10n.BLOG_MANAGEMENT</a>
</div>
</div>
</div>
