#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'wm')
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')")
#set($methodlist = [["編集", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAccountperson_form','1').addQueryData('entityid','new')"]])
#set($linklist = [["トピック一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doMsgboard_topic_list','1')"]])
## ---------------------------------------------------------------------------
#ALcell_pagetitle_iphone($career '個人設定')
#ALcell_linklist_iphone($career $methodlist)
##ALtableheaderWide()

#ALcell_contents_header($career)

<dl class="detail">
<dt>ユーザ名</dt><dd>$!{result.Detail.UserName}</dd>
<dt>名前</dt><dd>$!{result.Detail.Name}</dd>
<dt>メール</dt><dd>$!{result.Detail.Email}</dd>
<dt>電話番号(外線)</dt><dd>$!{result.Detail.OutTelephone}</dd>
<dt>電話番号(内線)</dt><dd>$!{result.Detail.InTelephone}</dd>
<dt>電話番号(携帯)</dt><dd>$!{result.Detail.CellularPhone}</dd>
<dt>携帯メール</dt><dd>$!{result.Detail.CellularMail}</dd>
<dt>部署</dt>
<dd>
#foreach($postname in $!result.Detail.PostNameList)
$!postname <br/>
#end
</dd>
<dt>役職名</dt><dd>$!{result.Detail.PositionName}</dd>
</dl>

##ALtablefooter()
#ALcell_linklist_iphone($career $methodlist)