#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')")
#set($methodlist = [["$l10n.BLOG_ADD_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"],["$l10n.BLOG_LOOK_ALL_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["$l10n.BLOG_DO_ENTRY_SEARCH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($linklist = [["$l10n.BLOG_GO_ENTRY_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"]])
#ALcell_pagetitle($career "$l10n.BLOG_BLOG")
#ALcell_li_header($career)
$l10n.BLOG_ENTRY_SEARCH<br />
#ALcell_li_footer($career)
#ALcell_formheader($career $jslink $portlet)
#ALcell_textfield($career 'sword' $!result.SearchWord 14 50 '' 'h')
#ALcell_submit($career 'eventSubmit_doBlog_search_list' " $l10n.BLOG_SEARCH_CELL ")
#ALcell_formfooter()
（$l10n.BLOG_SEARCH_ALL）<br />
#ALcell_hr($career '1')
#if (!$result.List || $!{result.List.size()} <= 0)
 &nbsp;$l10n.BLOG_NOTHING_ENTRY。
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#ALcell_hr($career '1')
#end
<table>
#foreach ($record in $result.List)
<tr>
<td>${record.TitleDate}</td>
<td><a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_detail','1').addQueryData('mode','view').addQueryData("entityid",$record.EntryId).addQueryData('view_uid',${record.OwnerId}))');">${record.Title} #if($record.CommentsNum > 0)（$record.CommentsNum）#end</a> &nbsp;</td>
<td>${record.OwnerName}</td>
</tr>
#end
</table>
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#end
#ALcell_hr($career '1')
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
