#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')")
#set($methodlist = [["$l10n.BLOG_DO_COMMENT_CELL", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_reply_form','1').addQueryData('entityid',${result.Detail.EntryId}).addQueryData('mode','reply')"], ["$l10n.BLOG_ADD_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_form','1').addQueryData('entityid','new')"],["$l10n.BLOG_LOOK_ALL_ENTRY", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_user','1')"],["$l10n.BLOG_DO_ENTRY_SEARCH", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_search_list','1')"]])
#set($linklist = [["$l10n.BLOG_GO_ENTRY_LIST", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doBlog_entry_list_latest','1')"]])
#ALcell_pagetitle($career "$l10n.BLOG_DETAIL_THEME")
#ALcell_dl_header($career)
#ALcell_dt($career $l10n.BLOG_ENTRY_TITLE)
#ALcell_dd($career $!{result.Detail.Title})
#ALcell_dt($career $l10n.BLOG_THEME_CELL)
#ALcell_dd($career $!{result.Detail.ThemaName})
#ALcell_dt($career "$l10n.BLOG_POSTING_NAME")
<dd>$!result.Detail.OwnerName</dd>
#ALcell_dt($career $l10n.BLOG_POSTING_DAY)
<dd>$!{result.Detail.CreateDateAlternative.Year}$l10n.BLOG_YEAR$!{result.Detail.CreateDateAlternative.Month}$l10n.BLOG_MONTH$!{result.Detail.CreateDateAlternative.Day}$l10n.BLOG_DAY$!{result.Detail.CreateDateAlternative.DayOfWeek}&nbsp;$!{result.Detail.CreateDateAlternative.Time}</dd>
<br />
#ALcell_dt($career "$l10n.BLOG_ENTRY_NOTE")
#ALcell_dd($career $!{result.Detail.Note})
#ALcell_dl_footer($career)
#foreach( $attachmentFile in $!result.Detail.AttachmentFileList )
<img src="images/blog/blog_item.gif">&nbsp;<a href="$jslink.getTemplate("BlogFileRawScreen").addQueryData("ownerid", $!{result.Detail.OwnerId}).addQueryData("entityid", $!result.Detail.EntryId).addQueryData("attachmentIndex", $attachmentFile.FileId)"> $result.getStringCR($attachmentFile.FileNameField) </a><br />
#if($attachmentFile.isImage())
<img border="0" style="padding-left:12px;" alt="$attachmentFile.FileName" title="$attachmentFile.FileName" src="$jslink.getTemplate("BlogFileThumbnailScreen").addQueryData("ownerid", $!{result.Detail.OwnerId}).addQueryData("entityid", $!result.Detail.EntryId).addQueryData("attachmentIndex", $attachmentFile.FileId)"></a><br />
#end
#end
#ALcell_formheader($career $jslink $portlet)
<input type="hidden" name="entityid" value=${result.Detail.EntryId}>
<input type="hidden" name="mode" value="delete">
#if($result.Editable)
<input type="submit" class="submit" name="eventSubmit_doBlog_entry_form" value="$l10n.BLOG_EDIT">
#end
#if($result.Deletable)
<input type="submit" class="submit" name="eventSubmit_doBlog_entry_detail" value="$l10n.BLOG_DO_DELETE ">
#end
#ALcell_formfooter()
#ALcell_hr($career '1')
$l10n.BLOG_COMMENT_CELL_LIST
#ALcell_hr($career '1')
#if(!$!result.CommentList || $!result.CommentList.size() <= 0)
$l10n.BLOG_COMMENT_CELL_NOTHING
#ALcell_hr($career '1')
#else
#foreach ($record in $result.CommentList)
#ALcell_dl_header($career)
#ALcell_dt($career "$l10n.BLOG_POSTING_NAME")
<dd>$!{record.OwnerName}</dd>
#ALcell_dt($career "$l10n.BLOG_POSTING_DAY")
<dd>$!{record.UpdateDateAlternative.Year}$l10n.BLOG_YEAR$!{record.UpdateDateAlternative.Month}$l10n.BLOG_MONTH$!{record.UpdateDateAlternative.Day}$l10n.BLOG_DAY$!{record.UpdateDateAlternative.DayOfWeek}&nbsp;$!{record.UpdateDateAlternative.Time}</dd>
#ALcell_dt($career "$l10n.BLOG_COMMENT_CELL")
#ALcell_dd($career $!{record.Comment})
#if($!{result.OtherCommentDeletable} || ($!result.isMatch($!{result.UserId} , $!{record.OwnerId.Value}) && $!{result.CommentDeletable}))
#ALcell_formheader($career $jslink $portlet)
<input type="hidden" name="entityid" value=${result.Detail.EntryId}>
<input type="hidden" name="comment_id" value=${record.CommentId}>
<input type="hidden" name="mode" value="view">
<input type="submit" class="submit" name="eventSubmit_doBlog_entry_comment_delete" value="$l10n.BLOG_DO_DELETE">
#ALcell_formfooter()
#end
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
#end
#end
#ALcell_linklist($career $methodlist)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)
