#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
<form class="auiSearch auiForm" name="addressbook$!portlet.ID" id="addressbook$!portlet.ID" action="#" method="post" onsubmit="aipo.addressbook.onSubmitSerchButton(this,'$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookScreen')','$!portlet.ID','','$indicator_id'); return false;">

#AUISummaryDiv()
<input class="text floatLeft" type="text" name="sword" id="sword" style="width:60%; margin-right:5px;" value="$!result.SearchWord" />
<a class="auiButtonSearch floatLeft" onclick="dojo.byId('addressbook$!portlet.ID').onsubmit();">$l10n.ADDRESSBOOK_SEARCH</a>
<div class="floatLeft"><div class="indicator" id="${indicator_id}$!{portlet.ID}" style="display:none;">&nbsp;</div></div>
#AUISummaryDivfooter()

<input name="mode" type="hidden" value="ajaxsearch" />
#if("$!result.CurrentTab" != "")
  #if($result.List.size() == 0)
    $l10n.ADDRESSBOOK_NO_ADDRESS_YOUR_SELECT<br />
  #else
    #AUISummaryDiv()
    #AUIsearchresult($result.SearchWord.toString())
    #AUIajaxpageview('AddressBookScreen' $result)
    </div>
    <table class="auiRowTable wide">
    <colgroup style="width:8em;" />
    <colgroup />
    <tbody>
    #foreach ($record in $result.List)
    <tr>
    #ALtdcellheader()
    <div>
    #if($!record.PublicFlag.toString() == 'F')
    	#AUIiconSecretAtt("title='$l10n.TODO_CLOSE_PUBLIC'")&nbsp;
    #end
    <a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AddressBookDetailScreen").addQueryData("entityid",$record.AddressId).addQueryData("tab","$!result.currentTab"))');">$result.getStringCR($!record.Name)</a>
    </div>
    #ALtdcellfooter()
    #ALtdcellheader()
    <div>
    $result.getStringCR($!record.CompanyName)
    </div>
    #ALtdcellfooter()
    </tr>
    #end
  </tbody></table>
  #end
#end
</form>
