#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheader($l10n.ADDRESSBOOK_COMPANY_DETAIL)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#ALajaxdetailformheader($l10n.ADDRESSBOOK_COMPANY_INFO)
#ALtableheaderWide()
#ALtdcaption($l10n.ADDRESSBOOK_COMPANY_NAME)
#ALtditem("$result.getStringCR($!result.Detail.CompanyName)")
#ALtdcaption($l10n.ADDRESSBOOK_COMPANY_NAME_KANA)
#ALtditem("$result.getStringCR($!result.Detail.CompanyNameKana)")
#ALtdcaption($l10n.ADDRESSBOOK_POST_NAME)
#ALtditem("$result.getStringCR($!result.Detail.PostName)")
#ALtdcaption($l10n.ADDRESSBOOK_ZIPCODE)
#ALtditem("$!result.Detail.Zipcode")
#ALtdcaption($l10n.ADDRESSBOOK_ADDRESS)
#ALtditem("$result.getStringCR($!result.Detail.Address)")
#ALtdcaption($l10n.ADDRESSBOOK_TELEPHONE)
#ALtditem("$!result.Detail.Telephone")
#ALtdcaption($l10n.ADDRESSBOOK_FAX_NUMBER)
#ALtditem("$!result.Detail.FaxNumber")
#ALtdcaption($l10n.ADDRESSBOOK_URL)
#ALtditem("<a href='$!utils.normalizeURL($result.Detail.getUrl().toString())' target='_blank'>$result.getStringCR($!result.Detail.Url)</a>")
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormScreen').addQueryData('entityid',$entityid)" "$!portlet.ID" "aipo.addressbook.onLoadAddressbookCompanyDialog")#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','AddressBookCompanyFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.addressbook.onReceiveMessage")#ALajaxbuttonClose()
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
