#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------

<h2>$l10n.ACTIVITY_INFO_TO_YOU</h2>
<div style="background:#ffffff;padding:2px;">
#if($result.List.size() == 0)
<div class="message">$l10n.ACTIVITY_NO_INFO_TO_YOU</div>
<p class="rightBtn">
#if($!notifySupport)<a href="javascript:void(0);" onclick="activitySwitch();dijit.byId('activitycheckerContainer')._closeDropDown();aipo.container.gadgetService.requestDesktopNotifyEnable();" class="small">$l10n.ACTIVITY_DESKTOP#if($!desktopNotification && $!notifyPermission)$l10n.ACTIVITY_INVALID#else$l10n.ACTIVITY_VALID#end$l10n.ACTIVITY_DO</a>&nbsp;#end
</p>
#else

#set($pageRange = 5)
#set($pageTrimRange = 2)
#set($pages = $result.PagesNum)
#set($currentPage = $result.CurrentPage)
#set($rowsNum = $result.RowsNum)
#set($count = $result.Count)
#set($from = ($currentPage - 1 ) * $rowsNum + 1)
#if ( $currentPage * $rowsNum > $result.Count)
#set($to = $result.Count )
#else
#set($to = $currentPage * $rowsNum )
#end

#set($nextLeftPage = 1 )
#set($nextRightPage = $pages)
#if($pages < ${pageRange} + ${pageTrimRange} + ${pageTrimRange} + 1)
#set($showLeftRest = false)
#set($showRightRest = false)
#else
## show left and right
#set($showLeftRest = true)
#set($showRightRest = true)
#if($currentPage > ${pageRange})
#set($nextLeftPage = $currentPage - $pageTrimRange )
#if((${currentPage} + ${pageRange}) > ${pages})
#if(${currentPage} - ${pageTrimRange} > ${pages} - ${pageRange}) #set($nextLeftPage = ${pages} - ${pageRange} + 1) #else #set($nextLeftPage = ${currentPage} - ${pageTrimRange}) #end
#set($nextRightPage = ${pages})
#else
#set($nextRightPage = $currentPage + ($pageTrimRange / 2) + 1)
#end
#else
#if(($currentPage + ${pageTrimRange}) < ${pageRange})
#set($nextRightPage = $pageRange )
#else
#if(${currentPage} + ${pageRange} > ${pages}) #set($nextRightPage = ${pages}) #else #set($nextRightPage = $currentPage + ${pageTrimRange}) #end
#end
#end
#end

<div class="auiSummaryMeta clearfix">
<div class="floatRight">
	<div class="count">$from - $to / $count</div>
#if ($pages > 1)
    <div class="auiSelectButton floatLeft">
      <ul>
#if($currentPage > 1) #set($pre = $currentPage - 1)
	    <li title="前へ"><a href="javascript:void(0);" onclick="dijit.byId('activityListPane').viewPage('?template=ActivityListScreen&start=$pre');" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
#else
	    <li title="前へ"><a href="javascript:void(0);" class="first arrow"><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a></li>
#end
#if($pages > $currentPage) #set($next = $currentPage + 1)
        <li title="次へ"><a href="javascript:void(0);" onclick="dijit.byId('activityListPane').viewPage('?template=ActivityListScreen&start=$next');" class="last arrow"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
#else
	    <li title="次へ"><a href="javascript:void(0);" class="last arrow"><span><i class="auiIconArrow auiIconArrowRight"></i></span></a></li>
#end
      </ul>
    </div>
#end
</div>
</div>

<ul class="activityList">
#foreach ($record in $result.List)
<li #if(!$record.isRead()) class="unread" #end >
<div class="meta">$!record.UpdateDate &nbsp; $!{record.DisplayName}</div>
#if($!$record.Icon.toString() != "")
<img src="$!record.Icon" width="16" height="16" alt="" align="absmiddle" />
#end
<a href="javascript:void(0);" onclick="dijit.byId('activitycheckerContainer')._closeDropDown();aipo.common.showDialog('$!utils.escapeXML($!{record.PopupUrl})&amp;js_peid=$!{portletId}', '$!{portletId}', aipo.container.onPopupGadgets );aipo.container.gadgetService.requestCheckActivity(${record.Id})">$!record.TitleText</a>
</li>
#end
</ul>

<img src="images/common/dot.gif" width="1" height="1" onload="aipo.activity.setListSize()" style="display:none" />


<p class="rightBtn">
#if($!notifySupport)<a href="javascript:void(0);" onclick=";dijit.byId('activitycheckerContainer')._closeDropDown();aipo.container.gadgetService.requestDesktopNotifyEnable();" class="small">$l10n.ACTIVITY_DESKTOP#if($!desktopNotification && $!notifyPermission)$l10n.ACTIVITY_INVALID#else$l10n.ACTIVITY_VALID#end$l10n.ACTIVITY_DO</a>&nbsp;#end<input type="button" name="allread" value="$l10n.ACTIVITY_ALL_ALREADY_READ" onclick="activitySwitch();dijit.byId('activitycheckerContainer')._closeDropDown();aipo.container.gadgetService.requestCheckActivity('*')" />
</p>

#end
</div>