#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'docomo_foma')
#set($linklist = [["ｱﾄﾞﾚｽ帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle($career "ｱﾄﾞﾚｽ検索")
#ALcell_formheader($career $jslink $portlet)
<input value="syagai" #if($address_type && $address_type=="corp_address") checked="checked" #end>
#ALcell_br($career)
#ALcell_textfield($career 'sword' "" 14 100 '' 'h')#ALcell_br($career)
#ALcell_submit($career 'submit' '検索')
<input name="eventSubmit_doAddressbook_addr_search_list" type="hidden" value="1">
#ALcell_formfooter()
#ALcell_br($career)
名前・ﾒｰﾙｱﾄﾞﾚｽ・電話番号・会社名で検索します。
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

