#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'docomo_foma')
#if($isSerchRes)
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_search_list','1')")
#else
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_list','1')")
#end
#set($linklist = [["ｱﾄﾞﾚｽ帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle($career "会社情報一覧")
#if($isSerchRes)
#ALcell_center_header($career)検索結果#ALcell_center_footer($career)
#ALcell_hr($career '1')
#end
#if($result.List.size() ==0)
会社情報はありません。
#else
#if($result.PagesNum > 1)
#ALcell_pageview($career $link $result)
#ALcell_hr($career '1')
#end
<ul>
#foreach ($record in $result.List)
#ALcell_li_header($career)<a href="$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_detail','1').addQueryData('entityid',$!record.CompanyId)">$!record.CompanyName</a>#ALcell_li_footer($career)
#end
</ul>
#if($result.PagesNum > 1)
#ALcell_hr($career '1')
#ALcell_pageview($career $link $result)
#end
#end
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

