#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'docomo_foma')
#set($linklist = [["社外ｱﾄﾞﾚｽ一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list', '1')"], ["ｱﾄﾞﾚｽ帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle($career "社外ｱﾄﾞﾚｽ詳細")
#ALcell_dl_header($career)
#ALcell_dt($career '名前')
#ALcell_dd_header($career)
$!result.Detail.Name
#if($!result.Detail.PublicFlag.toString() == 'F')
（非公開）
#end
#ALcell_dd_footer($career)
#ALcell_dt($career '名前（ﾌﾘｶﾞﾅ）')#ALcell_dd($career "$!{result.Detail.NameKana}")
#ALcell_dt($career 'ﾒｰﾙｱﾄﾞﾚｽ')
#if($!{result.Detail.Email} && $!{result.Detail.Email.Value} != '')
#ALcell_dd_header($career)<a href="mailto:$!{result.Detail.Email}">$!{result.Detail.Email}</a>#ALcell_dd_footer($career)
#end
#ALcell_dt($career '電話番号')
#if($!{result.Detail.Telephone} && $!{result.Detail.Telephone.Value} != '')
#if($!{result.Detail.Telephone.Value.length()} > 3 || $!{result.Detail.Telephone.Value.length()} < 26)
#ALcell_dd_header($career)<a href="tel:$!{result.Detail.Telephone}">$!{result.Detail.Telephone}</a>#ALcell_dd_footer($career)
#else
#ALcell_dd($career "$!{result.Detail.Telephone}")
#end
#end
#ALcell_dt($career '電話番号(携帯)')
#if($!{result.Detail.CellularPhone} && $!{result.Detail.CellularPhone.Value} != '')
#if($!{result.Detail.CellularPhone.Value.length()} > 3 || $!{result.Detail.CellularPhone.Value.length()} < 26)
#ALcell_dd_header($career)<a href="tel:$!{result.Detail.CellularPhone}">$!{result.Detail.CellularPhone}</a>#ALcell_dd_footer($career)
#else
#ALcell_dd($career "$!{result.Detail.CellularPhone}")
#end
#end
#ALcell_dt($career '携帯ﾒｰﾙｱﾄﾞﾚｽ')
#if($!{result.Detail.CellularMail} && $!{result.Detail.CellularMail.Value} != '')
#ALcell_dd_header($career)<a href="mailto:$!{result.Detail.CellularMail}">$!{result.Detail.CellularMail}</a>#ALcell_dd_footer($career)
#end
#ALcell_dt($career '役職名')#ALcell_dd($career "$!{result.Detail.PositionName}")
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
会社情報#ALcell_br($career)
#ALcell_dl_header($career)
#ALcell_dt($career '会社名')#ALcell_dd($career "$!{result.Detail.CompanyName}")
#ALcell_dt($career '会社名(ﾌﾘｶﾞﾅ)')#ALcell_dd($career "$!{result.Detail.CompanyNameKana}")
#ALcell_dt($career '部署名')#ALcell_dd($career "$!{result.Detail.PostName}")
#ALcell_dt($career '郵便番号')#ALcell_dd($career "$!{result.Detail.Zipcode}")
#ALcell_dt($career '住所')#ALcell_dd($career "$!{result.Detail.CompanyAddress}")
#ALcell_dt($career '電話番号')
#if($!{result.Detail.CompanyTelephone} && $!{result.Detail.CompanyTelephone.Value} && $!{result.Detail.CompanyTelephone.Value} != '')
#if($!{result.Detail.CompanyTelephone.Value.length()} > 3 || $!{result.Detail.CompanyTelephone.Value.length()} < 26)
#ALcell_dd_header($career)<a href="tel:$!{result.Detail.CompanyTelephone}">$!{result.Detail.CompanyTelephone}</a>#ALcell_dd_footer($career)
#else
#ALcell_dd($career "$!{result.Detail.CompanyTelephone}")
#end
#end
#ALcell_dt($career 'FAX番号')#ALcell_dd($career "$!{result.Detail.CompanyFaxNumber}")
#ALcell_dt($career 'URL')#ALcell_dd($career "$!{result.Detail.CompanyUrl}")
#ALcell_dt($career '登録者名')#ALcell_dd($career "$!{result.Detail.CreatedUser}")#ALcell_dd($career "($!{result.Detail.CreateDate})")
#ALcell_dt($career '更新者名')#ALcell_dd($career "$!{result.Detail.UpdatedUser}")#ALcell_dd($career "($!{result.Detail.UpdateDate})")
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)

