#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($title = "別のユーザーを選択")
#set($linklist = [["自分のスケジュールへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#ALcell_pagetitle_iphone($career $title)
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

#ALcell_formheader($career $jslink $portlet)

<h3>所属グループ選択</h3>
<script type="text/javascript">

function formSubmit(value) {
  var form = document.forms[0];
  form.selectedgroup.value = value;
  form.submit();
}

</script>
<input name="eventSubmit_doSchedule_form_selectmember" type="hidden" value="1"/>
<input name="selectedgroup" type="hidden" value="all"/>
#ALcell_radius_header($career)
#ALcell_li_header($career)
<a href="javascript:void(0);" onclick="formSubmit('all');return false;">全体</a>
#ALcell_li_footer($career)
#ALcell_radius_footer($career)

#if($result.GroupList.size() > 0)
<h3>Myグループ</h3>
#ALcell_radius_header($career)
#foreach( $record in $result.GroupList )
#ALcell_li_header($career)
<a href="javascript:void(0);" onclick="formSubmit('$!{record.Name}');return false;">$!record.AliasName</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#end
#if($!result.PostMap.size() > 0)
<h3>部署</h3>
#ALcell_radius_header($career)
#foreach( $record in $!result.PostMap )
#ALcell_li_header($career)
<a href="javascript:void(0);" onclick="formSubmit('$!{record.GroupName}');return false;">$!record.PostName</a>
#ALcell_li_footer($career)
#end
#ALcell_radius_footer($career)
#end
#ALcell_formfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
