#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($link = "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1')")
#set($methodlist = [["登録(1日)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_oneday','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"], ["登録(繰り返し)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_repeat','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"], ["登録(期間)へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_form_span','1').addQueryData('entityid','new').addQueryData('view_date', $!{result.ViewDate.toString()})"]])
#set($linklist = [["スケジュールへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#set($daylist = [["前週へ","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.PrevWeek.toString()})"],["前日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.PrevDate.toString()})"],["今日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.Today.toString()})"],["翌日","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.NextDate.toString()})"],["翌週","$!jslink.addQueryData('js_peid',$!portlet.ID).addQueryData('eventSubmit_doSchedule_list','1').addQueryData('view_date',$!{result.NextWeek.toString()})"]])

#ALcell_pagetitle_iphone($career "スケジュール(1日)一覧")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

<h3>$!{result.ViewStart.Year} 年 $!{result.ViewStart.Month} 月 $!{result.ViewStart.Day} 日 $!{result.ViewStart.DayOfWeek} - $!{result.ViewEnd.Month} 月 $!{result.ViewEnd.Day} 日 $!{result.ViewEnd.DayOfWeek}</h3>
#ALcell_navilist($career $daylist)
日  9..0..3..6.#ALcell_br($career)
#foreach($record in $result.Container.DayList)
<a href="$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('tab', 'oneday').addQueryData('view_date', $!{record.Date.toString()})">$!{record.Date.Day} $!{record.Date.DayOfWeek}</a>

#if( ! $record.isSpanNull() )
#if(! ${record.SpanResultData.isPublic()})
非公開
#end
#if($record.SpanResultData.isShowDetail())
#set($addScheduleLink = "$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('mode','detail').addQueryData('entityid', $!{record.SpanResultData.ScheduleId})")
#end
##<a href=$addScheduleLink>$!{record.SpanResultData.Name}</a>
<a href=$addScheduleLink>*</a>
#elseif (! $record.isHasspan() )
#if($!{record.Date.Value.equals($result.Today.Value)})
#if($!{record.isHoliday()})
##${record.Holiday.Name}
#end
#elseif($!{record.isHoliday()})
##${record.Holiday.Name}
#end
#foreach($record2 in $record.ScheduleList)
#if(! ${record2.isDummy()})
##${record2.Date}
#if(! ${record2.isPublic()})
##非公開
S
#end
#if($record2.isDuplicate())
##重複スケジュール
D
#end
#if(${record2.isRepeat()})
##繰り返し
R
#end
#if($record2.isTmpreserve())
##仮スケジュール
T
#end
#if($record2.isShowDetail())
#set($addScheduleLink = "$!jslink.getAction('controls.Maximize',$!portlet.ID).addQueryData('mode','detail').addQueryData('entityid', $!{record2.ScheduleId}).addQueryData('view_date', $!{record.Date.toString()})")
#end
##<a href=$addScheduleLink>$record2.Name</a>
<a href=$addScheduleLink>*</a>
#end
#end
#end
#ALcell_br($career)
#end

#ALcell_linklist($career $methodlist)
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
