#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($title = "グループ選択")
#set($linklist = [["自分のスケジュールへ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doSchedule_menu','1')"]])
#ALcell_pagetitle_iphone($career $title)
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

#ALcell_formheader($career $jslink $portlet)

#set($usercount = 1)
#set($membersize = $!{result.MemberList.size()})
<input type="hidden" name="shareusers" value="#foreach($record in $!{result.MemberList})$!{record.Name}#if($usercount<$membersize),#set($usercount = $usercount + 1)#end#end">
#set($fmembersize = $!{result.FacilityMemberList.size()})
<input type="hidden" name="sharefacs" value="#foreach($record in $!{result.FacilityMemberList})$!{record.FacilityId}#if($facilitycount<$fmembersize),#set($facilitycount = $facilitycount + 1)#end#end">

##<h3>参照ユーザー選択</h3>
#ALcell_hr($career '1')
ユーザーの所属するグループを選択してください。
#ALcell_hr($career '1')
<input name="selectedgroup" type="radio" value="all" checked>（全体）#ALcell_br($career)
#if($result.GroupList.size() > 0)
#ALcell_hr($career '1')
Myグループ#ALcell_br($career)
#foreach( $record in $result.GroupList )
<input name="selectedgroup" type="radio" value="$!{record.Name}">$!record.AliasName#ALcell_br($career)
#end
#end
#if($!result.PostMap.size() > 0)
#ALcell_hr($career '1')
部署#ALcell_br($career)
#foreach( $record in $!result.PostMap )
<input name="selectedgroup" type="radio" value="$!{record.GroupName}">$!record.PostName#ALcell_br($career)
#end
#end
#ALcell_submit($career "eventSubmit_doSchedule_form_selectmember" "ユーザー選択へ")
##cell_submit($career 'eventSubmit_doSchedule_menu' 'ｷｬﾝｾﾙする')
#ALcell_formfooter()
#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)

