#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($subtitle = $l10n.GADGETS_SET_APPSETTING)
#set ($action_str = $l10n.GADGETS_SET_AS_DEFAULT_SETTING)
#set ($default_str = $l10n.GADGETS_DO_DEFAULT_SETTING )
#set ($all_user_str = $l10n.GADGETS_CHANGE_SETTING  )
#set ($indicator_id = "indicator-form-")
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>

#ALajaxscreenformheader("psmlForm" $jslink $portlet "GadgetsPsmlFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.gadgets_admin.onReceiveMessageUpdate);aipo.gadgets_admin.submit(this,'$indicator_id','$!js_peid',function(){ location.href='$!{jslink}/js_pane/$!{js_peid}?action=controls.Maximize' });return false;")
<div class="p">
<input type="hidden" value="" id="$!{portlet.ID}-mode" name="mode">
</div>

<p class="center">$l10n.GADGETS_CHANGE_SETTING_ALLUSER_MSG</p>
<ul class="auiRowList mb10">
    <li>
        <label for="layout01">
        <span class="section auiRowListImg"><img src="themes/default/images/function/btn_selectlayout_timeline.gif" alt="$l10n.GADGETS_TIMELINE_MAIN" width="130" height="130"></span>
        <span class="section"><input type="radio" name="layout" id="layout01" onclick="aipo.gadgets_admin.beforeSubmit(this,'$!portlet.ID', 'timeline')"></span>
        <span class="section small">$l10n.GADGETS_SET_TIMELINE_MAIN</span>
        </label>
    </li>
    <li>
        <label for="layout02">
        <span class="section auiRowListImg"><img src="themes/default/images/function/btn_selectlayout_schedule.gif" alt="$l10n.GADGETS_SCHEDULE_MAIN" width="130" height="130"></span>
        <span class="section"><input type="radio" name="layout" id="layout02" onclick="aipo.gadgets_admin.beforeSubmit(this,'$!portlet.ID', 'schedule')"></span>
        <span class="section small">$l10n.GADGETS_SET_SCHEDULE_MAIN</span>
        </label>
    </li>
    <li>
        <label for="layout03">
        <span class="section auiRowListImg"><img src="themes/default/images/function/btn_selectlayout_mine.gif" alt="$l10n.GADGETS_THIS_SETTING_MAIN" width="130" height="130"></span>
        <span class="section"><input type="radio" name="layout" id="layout03" onclick="aipo.gadgets_admin.beforeSubmit(this,'$!portlet.ID', 'all_user')"></span>
        <span class="section small">$l10n.GADGETS_SET_THIS_SETTING</span>
        </label>
    </li>
</ul>

<div class="p spaceBottom">
<div class="spaceTop caution" align="center"><span class="small em" id="caution"></span></div>
</div>
<div align="center">
<input type="submit" onclick="aimluck.io.setHiddenValue(this)" value="$l10n.GADGETS_CHANGE_SETTING" class="auiButtonAction" name="$event_submit">
<input type="button" onclick="aipo.common.hideDialog();" value="$l10n.GADGETS_CLOSE2" class="button" name="ajaxbuttonClose">
</div>
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
