#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'wm')
#set($linklist = [["社外アドレス一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_list', '1')"], ["アドレス帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle_iphone($career "社外アドレス詳細")
#ALcell_linklist_iphone($career $linklist)
#ALcell_contents_header($career)

<dl class="detail">
#set($publicflag = "")
#if($!result.Detail.PublicFlag.toString() == 'F')
#set($publicflag = "（非公開）")
#end
<dt>名前</dt><dd>$!{result.Detail.Name}${publicflag}</dd>
<dt>フリガナ</dt><dd>$!{result.Detail.NameKana}</dd>
#if($!{result.Detail.Email} && $!{result.Detail.Email.Value} != '')
<dt>メール</dt><dd><a href='mailto:$!{result.Detail.Email}'>$!{result.Detail.Email}</a></dd>
#end
#if($!{result.Detail.Telephone} && $!{result.Detail.Telephone.Value} != '')
#if($!{result.Detail.Telephone.Value.length()} > 3 || $!{result.Detail.Telephone.Value.length()} < 26)
<dt>電話番号</dt><dd><a href='tel:$!{result.Detail.Telephone}'>$!{result.Detail.Telephone}</a></dd>
#else
<dt>電話番号</dt><dd>$!{result.Detail.Telephone}</dd>
#end
#end
#if($!{result.Detail.CellularPhone} && $!{result.Detail.CellularPhone.Value} != '')
#if($!{result.Detail.CellularPhone.Value.length()} > 3 || $!{result.Detail.CellularPhone.Value.length()} < 26)
<dt>携帯番号</dt><dd><a href='tel:$!{result.Detail.CellularPhone}'>$!{result.Detail.CellularPhone}</a></dd>
#else
<dt>携帯番号</dt><dd>$!{result.Detail.CellularPhone}</dd>
#end
#end
#if($!{result.Detail.CellularMail} && $!{result.Detail.CellularMail.Value} != '')
<dt>携帯メール</dt><dd><a href='mailto:$!{result.Detail.CellularMail}'>$!{result.Detail.CellularMail}</a></dd>
#end
<dt>役職名</dt><dd>$!{result.Detail.PositionName}</dd>
</dl>

<h3>会社情報</h3>
<dl class="detail">
<dt>会社名</dt><dd>$!{result.Detail.CompanyName}</dd>
<dt>フリガナ</dt><dd>$!{result.Detail.CompanyNameKana}</dd>
<dt>部署名</dt><dd>$!{result.Detail.PostName}</dd>
<dt>郵便番号</dt><dd>$!{result.Detail.Zipcode}</dd>
<dt>住所</dt><dd>$!{result.Detail.CompanyAddress}</dd>
#if($!{result.Detail.CompanyTelephone} && $!{result.Detail.CompanyTelephone.Value} != '')
#if($!{result.Detail.CompanyTelephone.Value.length()} > 3 || $!{result.Detail.CompanyTelephone.Value.length()} < 26)
<dt>電話番号</dt><dd><a href='tel:$!{result.Detail.CompanyTelephone}'>$!{result.Detail.CompanyTelephone}</a></dd>
#else
<dt>電話番号</dt><dd>$!{result.Detail.CompanyTelephone}</dd>
#end
#end
<dt>FAX番号</dt><dd>$!{result.Detail.CompanyFaxNumber}</dd>
<dt>URL</dt><dd><a href='$!{result.Detail.CompanyUrl}'>$!{result.Detail.CompanyUrl}</a></dd>
<dt>登録者名</dt><dd>$!{result.Detail.CreatedUser}($!{result.Detail.CreateDate})</dd>
<dt>更新者名</dt><dd>$!{result.Detail.UpdatedUser}($!{result.Detail.UpdateDate})</dd>
</dl>

#ALcell_contents_footer($career)
#ALcell_linklist_iphone($career $linklist)
