#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = $l10n.SYSTEM_UPDATE)
#set ($subtitle = $l10n.SYSTEM_CAUTION)
#set ($event_submit = "eventSubmit_doSystem_update_network")
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($subtitle "aipo.system.hideDialog();")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
<div style="padding:0px 0px 5px 0px">
$l10n.SYSTEM_SET_ADDRESS_FROM_OUTSIDE_MSG1${alias}$l10n.SYSTEM_SET_ADDRESS_FROM_OUTSIDE_MSG2
</div>
#ALajaxscreenformheader("systemForm" $jslink $portlet "SystemNetworkFormJSONScreen" "aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.system.onReceiveMessage)")
#ALtableheaderWide()
#ALtdcaption("#ALrequired($!result.getFieldName('protocol'))")
#ALtdcellheader()
<select name="protocol">
  <option value="http" #if($!result.Protocol.Value == "http")selected="selected"#end>http</option>
  <option value="https" #if($!result.Protocol.Value == "https")selected="selected"#end>https</option>
</select>
#ALtdcellfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('ipaddress'))")
#ALtditem("#ALtextfield('ipaddress' $!result.Ipaddress '90%' 50 'disabled')")
#ALtdcaption("#ALrequired($!result.getFieldName('port'))")
#ALtditem("#ALtextfield('port' $!result.Port '90%' 10 'disabled')")
#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.SYSTEM_CLOSE" onclick="aipo.system.hideDialog();" />
#ALbuttonfooter()
#ALformfooter()
#ALdialogfooter()
