#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($career = 'docomo_foma')
#set($linklist = [["会社情報一覧へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_company_list','1')','1')"], ["ｱﾄﾞﾚｽ帳へ", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doAddressbook_menu','1')"]])
#ALcell_pagetitle($career "会社情報詳細")
#ALcell_dl_header($career)
#ALcell_dt($career '会社名')#ALcell_dd($career "$!{result.Detail.CompanyName}")
#ALcell_dt($career '会社名(ﾌﾘｶﾞﾅ)')#ALcell_dd($career "$!{result.Detail.CompanyNameKana}")
#ALcell_dt($career '部署名')#ALcell_dd($career "$!{result.Detail.PostName}")
#ALcell_dt($career '郵便番号')#ALcell_dd($career "$!{result.Detail.Zipcode}")
#ALcell_dt($career '住所')#ALcell_dd($career "$!{result.Detail.Address}")
#ALcell_dt($career '電話番号(外線)')
#if($!{result.Detail.Telephone} && $!{result.Detail.Telephone.Value} != '')
#if($!{result.Detail.Telephone.Value.length()} > 3 || $!{result.Detail.Telephone.Value.length()} < 26)
#ALcell_dd_header($career)<a href="tel:$!{result.Detail.Telephone}">$!{result.Detail.Telephone}</a>#ALcell_dd_footer($career)
#else
#ALcell_dd($career "$!{result.Detail.Telephone}")
#end
#end
#ALcell_dt($career 'FAX番号')#ALcell_dd($career "$!{result.Detail.FaxNumber}")
#ALcell_dt($career 'URL')#ALcell_dd($career "$!{result.Detail.Url}")
#ALcell_dl_footer($career)
#ALcell_hr($career '1')
#ALcell_linklist($career $linklist)
#ALtdcellFooterLink($career)


