#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($tabs = [["$l10n.WAR_ADD_APP", "",""]])
## ---------------------------------------------------------------------------
##ALtabheader($tabs "")
#ALspacebothheader()
<form name="add_portlet" action="${jslink.Template}/${jslink.ActionKey}/${action}" method="post" onsubmit="return(aimluck.io.disableForm(this, true));">
<input type="hidden" name="secid" value="$secid" />
<div class="message">$l10n.WAR_SELECT_ADD_APPLICATION</div>
#ALtableheaderWide()
<tr>
#ALtdheadThin("$l10n.CUSTOMIZER_ADD")
#ALtdheadThin("$l10n.WAR_SELECT_NUMBER")
#ALtdheadW25("$l10n.CUSTOMIZER_TITLE")
#ALtdheadW50("$l10n.REGISTRY_EDITOR_PORTLET_DESCRIPTION")
</tr>
#foreach ($portlet in $browser)
#set ($portletCount=0)
#foreach ($entry in $runs)
#if ($entry.parent == "GadgetsTemplate")
  #set ($pname = "GadgetsTemplate::$entry.getParameterValue('aid')")
  #if($pname == $portlet.Name)
  #set ($portletCount=$portletCount+1)
  #end
#end
#if ($entry.parent == $portlet.Name)
#set ($portletCount=$portletCount+1)
#end
#end
<tr>
#ALtdcellheaderAtt('align="center"')
#if($portletsSelected.containsKey($portlet.Name))
<input type="checkbox" name="pname" value="$portlet.Name" checked="checked"/>
#else
<input type="checkbox" name="pname" value="$portlet.Name"/>
#end
#ALtdcellfooter()
#ALtdcellAtt("$portletCount" 'align="center"')
#ALtdcellheader()
#if ($portlet.Title) $portlet.Title #else $portlet.Name #end
#ALtdcellfooter()
#ALtdcellheader()
#if ($portlet.Description) $portlet.Description #else $l10n.CUSTOMIZER_NODESCRIPTION #end
#ALtdcellfooter()
</tr>
#end
#ALtablefooter()
<input type="hidden" name="size" value="30"/>
#ALbuttonheader()
#ALbutton('eventSubmit_doAdd' $l10n.TODO_ADD 'aimluck.io.checkboxActionSubmit(this)')#ALsubmit('eventSubmit_doCancel' $l10n.ACCOUNT_CANCEL)
#ALbuttonfooter()
#ALformfooter()
#ALspacebothfooter()
##ALtabfooter()

<script language="JavaScript" type="text/javascript">
//<![CDATA[
    aipo.portletset.menuSelected = 1;
//]]>
</script>
