#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<script language="JavaScript" type="text/javascript">
//<![CDATA[
dojo.require("aimluck.widget.Menu");
dojo.addOnLoad(function () {

    var subMenu =
		[
			{   caption: "レイアウト設定", iconClass: "menuBarIconLayoutConf", url: "$jslink.Template.addPathInfo('js_peid',$!set.ID).addPathInfo('mode','layout').addQueryData('mtype', $mtype).addQueryData('action', 'controls.Customize')" }
            ,{   caption: "アプリ追加",  iconClass: "menuBarIconPortletAdd", url: "$jslink.Template.addPathInfo('js_peid',$!set.ID).addPathInfo('mode','add').addQueryData('mtype', $mtype).addQueryData('action', 'controls.Customize')"  }
		];

        if(aipo.portletset.menuSelected != "undefined"){
            aipo.portletset.menuSelected = -1;
        }

	var menubar = new aimluck.widget.Menubar({id: "mbar", items: subMenu, selectedIndex:aipo.portletset.menuSelected}, "portletMenu");

});

//]]>
</script>
