#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($customize-mode = $!data.PageSessionState.getAttribute("customize-mode"))
#if  ($customize-mode == "layout")
#set ($navilist = [["$l10n.ACTIVITY_TOP", "$!jslink.getAction('controls.Restore',$!set.ID)"], ["$l10n.WAR_SET_UP_LAYOUT", ""]])
#elseif($customize-mode == "add")
#set ($navilist = [["$l10n.ACTIVITY_TOP", "$!jslink.getAction('controls.Restore',$!set.ID)"], ["$l10n.WAR_SET_UP_LAYOUT", "$jslink.Template.addPathInfo('js_peid',$!set.ID).addPathInfo('mode','layout').addQueryData('mtype', $mtype).addQueryData('action', 'controls.Customize')"], ["$l10n.WAR_ADD_APP", ""]])
#end
## ---------------------------------------------------------------------------
<script language="JavaScript" type="text/javascript">
//<![CDATA[
dojo.provide("aipo.portletset");
//]]>
</script>

#ALcontentheader("$!{portlet.Title}" $navilist)
#parse ($feature)
#ALcontentfooter()
#parse("/portlets/html/customizer-portletset-menu.vm")
