#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!set) #set($portletsum = $!set.size()) #else #set($portletsum = 0) #end
#set($tabs = [["$l10n.WAR_SET_UP_LAYOUT", "",""]])
## ---------------------------------------------------------------------------
##ALtabheader($tabs "")
#ALspacebothheader()
#if($portletsum <= 0)
<div class="message">$l10n.WAR_ADD_APPLICATION_BUTTON</div>
#else
<h3>$l10n.WAR_SELECT_POSITION</h3>
<div class="message">$l10n.WAR_SELECT_LAYOUT_BUTTON</div>
<table class="tableWrapper">
<tbody>
<tr>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=OneColumn"><img src="images/layout/layout_100.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 100% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumns"><img src="images/layout/layout_50-50.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 50% | 50% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumnsRight"><img src="images/layout/layout_25-75.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 75% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=TwoColumnsLeft"><img src="images/layout/layout_75-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 75% | 25% ]" width="72" height="72" border="0"  /></a></td>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=ThreeColumnsSymetric"><img src="images/layout/layout_33-33-33.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 33% | 33% | 33% ]" width="72" height="72" border="0" /></a></td>
<td width="72" align="left" nowrap="nowrap"><a href="#ALpsmlLink($jslink.Template)&amp;eventSubmit_doLayout=layout&amp;controller=ThreeColumns"><img src="images/layout/layout_25-50-25.gif" alt="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" title="$l10n.CUSTOMIZER_LAYOUT [ 25% | 50% | 25% ]" width="72" height="72" border="0" /></a></td>
<td width="99%"></td>
</tr>
</tbody>
</table>
<br />
<h3>$l10n.WAR_ARRANGE_APP</h3>
$l10n.WAR_ARRANGE_APP_UP_DOWN
$l10n.WAR_DELETE_APP
<table class="tableWrapper">
<tbody>
$data.User.setTemp("customizer",$customizer)
$!set.Controller.getContent($data)
</tbody>
</table>
#end
#ALspacebothfooter()
##ALtabfooter()

<script language="JavaScript" type="text/javascript">
//<![CDATA[
    aipo.portletset.menuSelected = 0;
//]]>
</script>

