#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: database-browser-portlet.vm,v 1.13 2004/03/17 19:19:02 jford Exp $

*#
<table cellpadding=0 cellspacing=1 border=0 width="100%">
  <tbody>
  <tr>
    #foreach ($column in $title)
      #set ($columnLink = $jslink.setPortletById($portlet.ID).addQueryData("js_dbcolumn",$column))

      <td align=CENTER class="listCellHead" width="43" nowrap onClick="window.location.href='$columnLink'">
        <div align="center">$column</div>
      </td>
    #end
    #if ($rowLinks)
        #if ($rowLinks.size() > 0)
            <td align=CENTER width="43" class="listCellHead"></td>
        #end
    #end
  </tr>
  #foreach ( $row in $table )
  <tr>
    #foreach ( $entry in $row )
      #if ($velocityCount == 1)
        #set ($rowid = $entry)
      #end
      <td class="listCell" nowrap width="43">
        <div align="center">$entry</div>
      </td>
    #end
    #if ($rowLinks)
        #if ($rowLinks.size() > 0)
            <td class="listCell" nowrap width="100">
            #foreach ($rowLink in $rowLinks)
                #set ($rName = $l10n.get($rowLink.Name))
                #if($rowLink.Type=="pane")
                    #set ($link1 = $jslink.setPaneByName($rowLink.Action).addQueryData("js_rowid",$rowid).addQueryData("js_mode",$rName))
                #else
                    #set ($link1 = $jslink.setPage($rowLink.Page).addQueryData("js_rowid",$rowid).addQueryData("js_mode",$rName))
                #end
                <a class="listCell" href='$link1'>$rName</a>&nbsp;
            #end
            </td>
        #end
    #end
  </tr>
  #end
  #if ($tableLinks)
    #if ($tableLinks.size() > 0)
      <tr>
        <td>&nbsp;
        </td>
      </tr>
      <tr>
        #foreach ($tableLink in $tableLinks)
            #set ($tName = $l10n.get($tableLink.Name) )
            #if ($tableLink.Type == "pane")
                #set ($link2 = $jslink.setPaneByName($tableLink.Action).addQueryData("js_mode",$tName))
            #else
                #set ($link2 = $jslink.setPage($tableLink.Page).addQueryData("js_mode",$tName))
            #end
            <td><a href='$link2'>$tName</a></td>
        #end
      </tr>
    #end
  #end
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr bgcolor="#6868AB">
    <td>&nbsp;
    </td>
  </tr>
</table>
<table width="200" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    #if ($prev)
      <td valign="middle" height="30">
        <div align="center">
          <form action="$jslink" method="post">
            <input class="bluebuttonsmall" type="submit" value="${l10n.DATABASE_BROWSER_PORTLET_LT_LT_PREVIOUS_VM}">
            <input type="hidden" name="start" value="$prev">
            <input type="hidden" name="js_peid" value="$portlet.ID">
          </form>
        </div>
      </td>
    <td width="50">&nbsp; </td>
    #end
    #if ($next)
      <td valign="middle">
        <div align="center">
          <form action="$jslink" method="post">
            <input class="bluebuttonsmall" type="submit" value="${l10n.DATABASE_BROWSER_PORTLET_NEXT_GT_GT_VM}">
            <input type="hidden" name="start" value="$next">
            <input type="hidden" name="js_peid" value="$portlet.ID">
          </form>
        </div>
      </td>
      <td width="50">&nbsp; </td>
    #end
    #if ($tableSize > 0)
      <td valign="middle">
        <div align="center">
          <form action="$jslink" method="post">
            <input class="bluebuttonsmall" type="submit" name="eventSubmit_doRefresh" value="${l10n.DATABASE_BROWSER_PORTLET_REFRESH_VM}" />
            <input type="hidden" name="js_peid" value="$portlet.ID">
          </form>
        </div>
      </td>
    #end
  </tr>
</table>
