#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

Display the details of a psml file.

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: psml-form.vm,v 1.9 2004/03/17 19:19:02 jford Exp $
*#

<form method="post" action="$jslink.getPaneByName("PsmlBrowser").setAction("portlets.PsmlUpdateAction")">
  <table bgcolor="#ffffff" cellpadding="5">
      #if ($msg)
      <tr>
        <td colspan="2">
          <table bgcolor="#ffffff">
            <tr>
              <td>
                $msg
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end

      #if (($mode == "delete"))
        <tr>
            #formReadOnlyCell ("Id" "Id" $profile.Id)
        </tr>
        <tr>
            #formReadOnlyCell ("Name" "Name" $profile.Name)
        </tr>
      #elseif (($mode == "insert") || ($mode == "import"))

        <tr>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <b><font face="$ui.sansSerifFonts">${l10n.PSML_FORM_NAME_VM}</font></b>
          </td>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <font face="$ui.sansSerifFonts">
              <input type="text" size="30" name="Name" value=$!profile.Name>
            </font>
          </td>
        </tr>

        <tr>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <b><font face="$ui.sansSerifFonts">${l10n.PSML_FORM_MEDIATYPE_VM}</font></b>
          </td>
            <td bgcolor="$!{skin.TitleBackgroundColor}">
              <select name="psml_mediatype">
                #set ($flag = 0)
                #foreach ($type in $mediaTypes)
                    #if ($type == $profile.MediaType)
                        <option value="$type" selected>$type</option>
                        #set ($flag = 1)
                    #else
                        <option value="$type" >$type</option>
                    #end
                #end
                #if ($flag == 1)
                    <option value="" >&nbsp;&nbsp;&nbsp;&nbsp;</option>
                #else
                    <option value="" selected>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                #end
              </select>
            </td>
        </tr>

        <tr>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <b><font face="$ui.sansSerifFonts">${l10n.PSML_FORM_LANGUAGE_VM}</font></b>
          </td>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <font face="$ui.sansSerifFonts">
              <input type="text" size="30" name="psml_language" value=$!profile.Language>
            </font>
          </td>
        </tr>

        <tr>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <b><font face="$ui.sansSerifFonts">${l10n.PSML_FORM_COUNTRY_VM}</font></b>
          </td>
          <td bgcolor="$!{skin.TitleBackgroundColor}">
            <font face="$ui.sansSerifFonts">
              <input type="text" size="30" name="psml_country" value=$!profile.Country>
            </font>
          </td>
        </tr>

        <tr>
            <td bgcolor="$!{skin.TitleBackgroundColor}">
                <b><font face="$ui.sansSerifFonts">${l10n.PSML_FORM_CATEGORYNAME_VM}</font></b>
            </td>
            <td bgcolor="$!{skin.TitleBackgroundColor}">
              <select name="CategoryName">
                  #if ($categoryName == "group")
                    <option value="group" selected>${l10n.PSML_FORM_GROUP_VM}</option>
                  #else
                    <option value="group">${l10n.PSML_FORM_GROUP_VM}</option>
                  #end

                  #if ($categoryName == "role")
                    <option value="role" selected>${l10n.PSML_FORM_ROLE_VM}</option>
                  #else
                    <option value="role">${l10n.PSML_FORM_ROLE_VM}</option>
                  #end

                  #if ($categoryName == "user")
                    <option value="user" selected>${l10n.PSML_FORM_USER_VM}</option>
                  #else
                    <option value="user">${l10n.PSML_FORM_USER_VM}</option>
                  #end
              </select>
            </td>
        </tr>
        <tr>
            #formCell ("Category Value" "CategoryValue" $categoryValue)
        </tr>
        <tr>
            #formCell ("Copy From" "CopyFrom" $copyFrom)
        </tr>
     #end   
     #if ($mode == "export")     
        <tr>
            #formCell ("Copy From" "CopyFrom" $copyFrom)
        </tr>
        <tr>
            #formCell ("Copy To" "CopyTo" $copyTo)
        </tr>
     #end    
     #if ($mode == "export_all")     
        <tr>
            <td colspan="2">${l10n.PSML_FORM_THIS_OPTION_EXPORTS_VM}<b>${l10n.PSML_FORM_COPY_TO_VM}</b>${l10n.PSML_FORM_PARAMETER_THE_ROOT_VM}<p>${l10n.PSML_FORM_PLEASE_NOTE_THAT_TH_VM}</td>
        </tr>
        <tr>
            #formCell ("Copy To" "CopyTo" $copyTo)
        </tr>
     #end    
     #if ($mode == "import_all")     
        <tr>
            <td colspan="2">${l10n.PSML_FORM_THIS_OPTION_IMPORTS_VM}<b>${l10n.PSML_FORM_COPY_FROM_VM}</b>${l10n.PSML_FORM_PARAMETER_INCLUDING_VM}<ul>
                <li>${l10n.PSML_FORM_USER_ROLE_GROUP_VM}${entity-name}/${media-type}/${language}/${country}/${page-name}.psml</li>
                <li>${l10n.PSML_FORM_USER_ROLE_GROUP_VM}${entity-name}/${media-type}/${language}/${page-name}.psml</li>
                <li>${l10n.PSML_FORM_USER_ROLE_GROUP_VM}${entity-name}/${media-type}/${page-name}.psml</li>
                <li>${l10n.PSML_FORM_USER_ROLE_GROUP_VM}${entity-name}/${page-name}.psml}</li>                                                
            </ul>${l10n.PSML_FORM_PLEASE_NOTE_THAT_TH_VM}</td>
        </tr>
        <tr>
            #formCell ("Copy From" "CopyFrom" $copyFrom)
        </tr>
     #end    
  </table>
  <table border="0"  cellspacing="0" cellpadding="5" width="30%">
      <tr>
        <td>
          #if ($mode == "insert")
            <input type="submit" name="eventSubmit_doInsert" value="${l10n.PSML_FORM_ADD_PSML_VM}"/>
          #elseif ($mode == "delete")
            <input type="submit" name="eventSubmit_doDelete" value="${l10n.PSML_FORM_DELETE_VM}"/>
          #elseif ($mode == "export")
            <input type="submit" name="eventSubmit_doExport" value="${l10n.PSML_FORM_EXPORT_PSML_VM}"/>
          #elseif ($mode == "import")
            <input type="submit" name="eventSubmit_doImport" value="${l10n.PSML_FORM_IMPORT_PSML_VM}"/>
          #elseif ($mode == "export_all")
            <input type="submit" name="eventSubmit_doExportall" value="${l10n.PSML_FORM_EXPORT_ALL_VM}"/>
          #elseif ($mode == "import_all")
            <input type="submit" name="eventSubmit_doImportall" value="${l10n.PSML_FORM_IMPORT_ALL_VM}"/>
          #end
      </td>
      </form>
      <form action="$jslink.setPaneByName("PsmlBrowser")" method="post">
      <td>
          <input type="submit" value="${l10n.PSML_FORM_CANCEL_VM}">
      </td>
    </tr>
  </table>
</form>
