#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@author <a href="mailto:paulsp@apache.org">Paul Spencer</a>
@version $Id: user-browser.vm,v 1.11 2004/03/17 19:19:02 jford Exp $

*#

#set ( $headings = ["Username","First Name", "Last Name", "Email", "Actions"] )
#set ( $filter = $data.getRequest().getParameter("filter_value") )
#set ( $filter_type = $data.getRequest().getParameter("filter_type") )
#set ( $regexp = $data.getRequest().getParameter("filter_regexp") )
#set ( $systemUsers = $config.getVector("services.JetspeedSecurity.system.users"))

#if ($pagelinks) <p align=right>$pagelinks</p> #end
<form method="post">
<b>${l10n.USER_BROWSER_FILTER_STRING_CASE_VM}</b> <input type="Text" name="filter_value" value="$!filter"/>
<select name="filter_type">
  <option value="filter_type_username" #if ($filter_type == "filter_type_username") selected #end>${l10n.USER_BROWSER_USER_NAME_VM}</option>
  <option value="filter_type_lastname" #if ($filter_type == "filter_type_lastname") selected #end>${l10n.USER_BROWSER_LAST_NAME_VM}</option>  
</select>
<input type="submit" value="${l10n.USER_BROWSER_FILTER_VM}"/>
<INPUT TYPE="CHECKBOX" NAME="filter_regexp" #if($!regexp) checked #end/>${l10n.USER_BROWSER_USE_REGULAR_EXPRESS_VM}<table>

  <tr>
    <td>
      <table border="true" cellspacing="1" cellpadding="3">
        <tr>
          #foreach ($heading in $headings)
          #headerCell ($heading)
          #end
        </tr>

        #foreach ($user in $users)
        <tr
          #if ($user.Disabled) class="UserBrowserUserDisabled" #end
          #if ($user.Confirmed != ${s_config.CONFIRM_VALUE}) class="UserBrowserUserConfirmed" #end
        >
          #entryCell ($!user.UserName)
          #entryCell ($!user.FirstName)
          #entryCell ($!user.LastName)
          #entryCell ("<a href=mailto:$!user.Email>$!user.Email</a>")
          <td>
              <a href="$jslink.getPaneByName("UserForm").addPathInfo("entityid",$user.UserName).addQueryData("mode","update")">${l10n.USER_BROWSER_EDIT_VM}</a> &nbsp;
              <a href="$jslink.getPaneByName("UserRoleForm").addPathInfo("entityid",$user.UserName)">${l10n.USER_BROWSER_ROLES_VM}</a>
              <a href="$jslink.getPaneByName("UserGroupForm").addPathInfo("entityid",$user.UserName)">${l10n.USER_BROWSER_GROUPS_VM}</a>
              <a href="$jslink.getPaneByName("UserGroupRoleForm").addPathInfo("entityid",$user.UserName)">${l10n.USER_BROWSER_GROUP_ROLES_VM}</a>
              #if ($systemUsers.contains($user.UserName) == false)
              <a href="$jslink.getPaneByName("UserForm").addPathInfo("entityid",$user.UserName).addQueryData("mode","delete")">${l10n.USER_BROWSER_REMOVE_VM}</a>
              #else
              &nbsp;
              #end
          </td>
        </tr>
        #end
      </table>
    </td>
  </tr>
  <tr>
    <td>
        <a href="$jslink.getPaneByName("UserForm")">${l10n.USER_BROWSER_ADD_USER_VM}</a>
    <td>
  </tr>
</table>
</form>
#if ($pagelinks) <p align=right>$pagelinks</p> #end


