#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($action_str = "更新する")
#set ($indicator_id = "indicator-dlg-")
#set ($subtitle = 'ユーザー編集')
#set ($event_submit = "eventSubmit_doAccountedit_update")
#set($methodlist = [["更新する", "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_ doAccountedit_update','1').addQueryData('entityid','new')"]])
## ---------------------------------------------------------------------------
#ALcell_pagetitle_iphone($career '編集')
#ALcell_formheader($career $jslink $portlet)
#ALcell_errmsg($career $errmsgs)
<div id="messageDiv"></div>
##ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxscreenformheader("accountpersonForm" $jslink $portlet "AccountPersonFormJSONScreen" "aimluck.io.selectAllOptions(this.attachments);aimluck.io.submit(this,'$indicator_id', '$!portlet.ID', aipo.account_person.onReceiveMessage)")
<input type="hidden" name="mode" value="update" />
#ALtableheaderWide()
#ALcell_contents_header($career)
<h3>#ALrequired('名前')</h3>
#ALtextfield('lastname' $!result.LastName '30%' 20 'active')#ALtextfield('firstname' $!result.FirstName '30%' 20 'active')
<h3>#ALrequired('名前（フリガナ）')</h3>
#ALtextfield('last_name_kana' $!result.LastNameKana '30%' 20 'active')#ALtextfield('first_name_kana' $!result.FirstNameKana '30%' 20 'active')
<h3>$!result.getFieldName("email")</h3>
#ALtextfield('email' $!result.Email '60%' 50 'disabled')<br />#ALcaution('（半角英数字）')
<h3>$!result.getFieldName("out_telephone1")</h3>
#ALtextfield('out_telephone1' $!result.OutTelephone1 '20%' 5 'disabled')-#ALtextfield('out_telephone2' $!result.OutTelephone2 '20%' 4 'disabled')-#ALtextfield('out_telephone3' $!result.OutTelephone3 '20%' 4 'disabled')<br />#ALcaution('（半角数字）')
<h3>$!result.getFieldName("in_telephone")</h3>
#ALtextfield('in_telephone' $!result.InTelephone '30%' 13 'disabled')#ALcaution('（半角英数字）')
<h3>$!result.getFieldName("cellular_phone1")</h3>
#ALtextfield('cellular_phone1' $!result.CellularPhone1 '20%' 5 'disabled')-#ALtextfield('cellular_phone2' $!result.CellularPhone2 '20%' 4 'disabled')-#ALtextfield('cellular_phone3' $!result.CellularPhone3 '20%' 4 'disabled')<br />#ALcaution('（半角数字）')
<h3>$!result.getFieldName("cellular_mail")</h3>
#ALtextfield('cellular_mail' $!result.CellularMail '75%' 50 'disabled')<br />#ALcaution('（半角英数字）')
#ALcell_submit($career $event_submit $action_str)
#ALcell_formfooter()
#ALcell_contents_footer($career)


