#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($categoryEtc = false) ## msgboard-widgets.vmでのカテゴリ表示の判断用
## ---------------------------------------------------------------------------
#AUIcontentsAreaHeader()
<div class="auiSummaryMeta auiFilter clearfix">
<form class="auiSearch" style="margin-right:1em;" id="searchForm_$!portlet.ID" action="$!jslink.getPortletById($!portlet.ID)" onsubmit="aimluck.io.postViewPage(this, '$!portlet.ID', 'search-${indicator_id}'); return false;">
<input type="hidden" id="baseuri_$!portlet.ID" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","TestListScreen")' />
<input type="hidden" name="template" value="TestListScreen"/>
<div class="filterInputField">
<div class="filters" id="filters_$!portlet.ID">

#foreach($record in $result.postList)
#if($!result.issetFilter("post",$!{record.Name}))
<span class="filterTip">
<span>$!record.AliasName</span>
<a href="javascript:void(0)" onclick="aipo.test.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end

#foreach($record in $result.PostMap)
#if($!result.issetFilter("post",$!{record.GroupName}))
<span class="filterTip">
<span>$!record.PostName</span>
<a href="javascript:void(0)" onclick="aipo.test.filterSetDefault('$!portlet.ID','post')"><i class="auiIcon auiIconDelete"></i></a>
</span>
#end#end

###foreach($record in $result.CategoryList)
###if($!result.issetFilter("category",$!{record.CategoryId}))
##<span class="filterTip">
##<span>$!record.CategoryName</span>
##<a href="javascript:void(0)" onclick="aipo.test.filterSetDefault('$!portlet.ID','category')"><i class="auiIcon auiIconDelete"></i></a>
##</span>
###end#end
</div>
<a href="javascript:void(0)" class="filterDropDrawer menubarOpenButton" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),true)"><i class="auiIcon auiIconArwBottom"></i></a>
<input class="text" type="text" name="keyword" id="q$!{portlet.ID}" value="$!result.targetKeyword" onfocus='aipo.test.initFilterSearch("$!portlet.ID");' onblur='aipo.test.finFilterSearch("$!portlet.ID");' />
</div>
<a class="auiButtonSearch" onclick="dojo.byId('searchForm_$!portlet.ID').onsubmit();">$l10n.TODO_SEARCH</a>
</form>
<div class="indicatorWrap floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("search-${indicator_id}" "$!portlet.ID" "&nbsp;")</div>
</div>

#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
<div id="listmessageDiv"></div>
#ALajaxlistformheaderAction('Test')
#if($result.List.size() == 0)
<div class="message">$l10n.TODO_NO_TODO_YOUR_SELECT</div>
#else
<div class="auiSummaryMeta clearfix">
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','TestFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.test.onListReceiveMessage")
</div>
#AUIajaxpageview('TestListScreen' $result)
</div>
#if($!result.targetKeyword && ($!result.targetKeyword.toString() != ""))
#AUISummaryDiv()
#AUIsearchresult($!result.targetKeyword.toString())
#AUISummaryDivfooter()
#end

#AUIrowMTableWide()
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='thin center'")
<th>#ALajaxsort('test_name' $l10n.TODO_TITLE $result 'TestListScreen')</th>
</tr>
#foreach ($record in $result.List)
<tr>

#ALtdcellAtt("<input name='check$!record.TestId' type='checkbox' value='$!record.TestId'/>" 'align="center" class="auiMTCheck"')
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TestDetailScreen").addQueryData("entityid",$record.TestId))');">$!record.TestName</a>
</div>
#ALtditem($!$record.Url)
#ALtdcellfooter()

</tr>

#end
#AUItablefooter()
<div class="auiSummaryMeta clearfix">
	<div class="floatLeft">
		#AUIajaxbuttonCheckboxDelete($l10n.TODO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','TestFormJSONScreen').addQueryData('mode','multi_delete')" "$indicator_id" "$!portlet.ID" "aipo.test.onListReceiveMessage")
	</div>
#AUIajaxpageview('TestListScreen' $result)
</div>
#end

<img src="images/common/dot.gif" alt="" width="1" height="1" onload='dojo.byId("q$!{portlet.ID}").style.paddingLeft=dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; if(dojo.isIE){ dojo.byId("q$!{portlet.ID}").style.width=480-dojo.byId("filters_$!{portlet.ID}").offsetWidth+"px"; }' />

<div class="menubar multi" id="menubar_auiFilter_$!portlet.ID" style="display:none; top:85px; left:276px;">
<div>
<p class="caption">$l10n.COMMON_GROUP</p>
<ul class="filtertype filtertype_$!portlet.ID" data-type="post" data-defaultparam="0">
<li data-param="0" #if(!$!result.issetFilter("post")) class="selected" #end><a href="javascript:void(0)" #if(!$!result.issetFilter("post")) class="selected" #end onclick="aipo.test.filterClick('$!portlet.ID',this,event)">$l10n.TODO_ALL_GLOUP</a></li>
#foreach($record in $result.postList)
<li data-param="$!record.Name" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.Name})) class="selected" #end onclick="aipo.test.filterClick('$!portlet.ID',this,event)">$!record.AliasName</a></li>
#end
#foreach($record in $result.PostMap)
<li data-param="$!record.GroupName" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end onclick="aipo.test.filterClick('$!portlet.ID',this,event)">$!record.PostName</a></li>
#end
</ul>
</div>
##<div>
##<p class="caption">$l10n.TODO_CATEGORY</p>
##<ul class="filtertype filtertype_$!portlet.ID" data-type="category" data-defaultparam="0">
##<li data-param="0" #if(!$!result.issetFilter("category")) class="selected" #end><a href="javascript:void(0)" #if(!$!result.issetFilter("category")) class="selected" #end onclick="aipo.test.filterClick('$!portlet.ID',this,event)">$l10n.TODO_ALL_CATEGORY</a></li>
###foreach($record in $result.CategoryList)
##<li data-param="$!record.CategoryId" #if($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end><a href="javascript:void(0)" #if($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end onclick="aipo.test.filterClick('$!portlet.ID',this,event)">$!record.CategoryName</a></li>
###end
##</ul>
##</div>
</div>

#ALformfooter()
#AUIcontentsAreaFooter()

#parse("/portlets/html/ja/test-widgets.vm")

