#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
<div class="auiSummaryMeta auiFilter clearfix">
	<input type="hidden" id="baseuri_$!{portlet.ID}" value='$!jslink.getPortletById($!portlet.ID).addQueryData("template","TestScreen")' />
##	<div class="filters floatLeft" id="filters_$!{portlet.ID}">
##		 #if(!$!result.issetFilter("post"))
##			 <a href="javascript:void(0);" class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$l10n.TODO_ALL_GLOUP</span></a>
##		   #else
##		 	 #set($break=false)
##		 	 #foreach($record in $result.postList)
##		 		 #if(!$break)
##				 #if($!result.issetFilter("post",$!{record.Name}))
##					 <a href="javascript:void(0);"class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$record.AliasName</span></a>
##		 			 #set($break=true)
##		 		 #end
##		 	 #end#end
##		 	 #foreach($record in $result.PostMap)#if(!$break)
##			 	 #if($!result.issetFilter("post",$!{record.GroupName}))
##				<a href="javascript:void(0);"class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$!record.PostName</span></a>
##		 			#set($break=true)
##		 		#end
##		 	 #end#end
##		  #end
##		  #if(!$!result.issetFilter("category"))
##			 <a href="javascript:void(0);" class="customizeMenuIcon filterTip menubarOpenButton" style="display:none;" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$l10n.TODO_ALL_CATEGORY</span></a>
##		  #else
##		 	 #set($break=false)
##		 	 #foreach($record in $result.CategoryList)#if(!$break)
##		 		 #if ($!result.issetFilter("category",$!{record.CategoryId}))
##					 <a href="javascript:void(0);" class="customizeMenuIcon filterTip menubarOpenButton" onclick="aipo.test.toggleMenu(dojo.byId('menubar_auiFilter_$!portlet.ID'),dojo.byId('filters_$!portlet.ID'),event);"><span>$!record.CategoryName</span></a>
##		 			 #set($break=true)
##		 		 #end
##		 	 #end#end
##		#end
##	 </div>
	<div class="floatRight">
	#if($result.List.size() != 0)
	#AUIajaxpageview('TestScreen' $result)
	#end
	</div>
</div>
<div class="menubar multi " id="menubar_auiFilter_$!portlet.ID" style="display:none;">
	<div>
		<p class="caption">$l10n.COMMON_GROUP</p>
		<ul class="filtertype_$!portlet.ID"data-type="post" data-defaultparam="0">
			<li data-param="0"><a href="javascript:void(0)"  #if (!$!result.issetFilter("post")) class="selected" #end onclick='aipo.test.filterClick("$!portlet.ID",this,event)'>$l10n.TODO_ALL_GLOUP</a></li>

##			#foreach($record in $result.postList)
##			<li #if ($!result.issetFilter("post",$record.Name)) class="selected" #end  data-param="$record.Name"><a href="javascript:void(0)"  #if ($!result.issetFilter("post",$record.Name)) class="selected" #end onclick='aipo.test.filterClick("$!portlet.ID",this,event)' >$record.AliasName</a></li>
##			#end
			#foreach($record in $result.PostMap)
			<li #if ($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end data-param="$!{record.GroupName}" ><a href="javascript:void(0)" #if ($!result.issetFilter("post",$!{record.GroupName})) class="selected" #end onclick='aipo.test.filterClick("$!portlet.ID",this,event)'>$!record.PostName</a></li>
			#end
		</ul>
	</div>
##	<div>
##		<p class="caption">$l10n.TODO_CATEGORY</p>
##		<ul class="filtertype_$!portlet.ID"data-type="category" data-defaultparam="0">
##			<li #if (!$!result.issetFilter("category")) class="selected" #end data-param="0"><a href="javascript:void(0)"  #if (!$!result.issetFilter("category")) class="selected" #end onclick='aipo.test.filterClick("$!portlet.ID",this,event)'>$l10n.TODO_ALL_CATEGORY</a></li>
##			#foreach( $record in $result.CategoryList )
##			<li #if ($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end  data-param="$!{record.CategoryId}" ><a href="javascript:void(0);" #if ($!result.issetFilter("category",$!{record.CategoryId})) class="selected" #end onclick='aipo.test.filterClick("$!portlet.ID",this,event)'>$!record.CategoryName</a></li>
##			#end
##		</ul>
##	</div>
</div>

#if ($result.List.size() == 0)
<div class="message">$l10n.TODO_NO_TODO_YOUR_SELECT</div>
#else
#if($result.TableColumNum == 4)
#ALformheaderAction('Test' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:20%;" />
<colgroup style="width:20%;" />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TestDetailScreen").addQueryData("entityid",$record.TestId))');">$!record.TestName</a>
</div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.CategoryNameHtml</div>" '')
#ALtdcellAtt("<div>$!record.userNameHtml</div>" '')
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#else
#ALformheaderAction('Test' $jslink $portlet)
<table class="auiRowTable wide">
<colgroup />
<colgroup style="width:6em;" />
<tbody>
#foreach ($record in $result.List)
<tr>
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","TestDetailScreen").addQueryData("entityid",$record.TestId))');">$!record.TestName</a>
$!record.Url
</div>
#ALtdcellfooter()
#ALtdcellAtt("<div>$!record.UpdateDate</div>" 'class="right" nowrap="nowrap"')
</tr>
#end
</tbody>
</table>
#ALformfooter()
#end
#end
