#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set($tabs = [["$l10n.ACCESSCTL_AUTHORITY", "",""]])
#set ($indicator_id = "indicator-list-")
#set ($addRole = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccessControlFormScreen").addQueryData("entityid","new")))
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#else
#AUIwideAreaHeader()
#end
#AUISummaryDiv()
#AUIbuttonAction("$l10n.ACCESSCTL_ROLE_ADD" "javascript:aipo.common.showDialog('$addRole','$!portlet.ID',aipo.accessctl.onLoadAccessctlDialog);")
#AUISummaryDivfooter()
#AUISummaryDiv()
<form class="auiForm floatLeft" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:180px;">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccessControlScreen").addQueryData("filter","").addQueryData("filtertype","feature"))">$l10n.ACCESSCTL_FEATURE_ALL</option>
#foreach( $record in $result.PortletFeatureList )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccessControlScreen").addQueryData("filter",$!record.FeatureId).addQueryData("filtertype","feature"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.FeatureId.toString()) selected="selected" #end>$!record.FeatureAliasName</option>
#end
</select>
#ALformfooter()
<div class="floatLeft ml10" style="padding-top: 0.4em;">#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")</div>
#AUISummaryDivfooter()
#ALajaxlistformheader("$l10n.ACCESSCTL_ROLE")
#if($result.List.size() == 0)
<div class="message">$l10n.ACCESSCTL_ALERT_NO_YOUR_SELECT</div>
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ACCESSCTL_DO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccessControlFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.accessctl.onReceiveMessage")
</div>
#AUIajaxpageview('AccessControlScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable auiMbTable wide">
<colgroup style="width:20px;"></colgroup>
<colgroup style=""></colgroup>
<colgroup style=""></colgroup>
<colgroup style=""></colgroup>
<tbody>
<tr>
#ALtdhead("#ALswitchCheckbox()")
#ALtdhead("#ALajaxsort('acl_role_name' $l10n.ACCESSCTL_ROLE_NAME $result 'AccessControlScreen')")
#ALtdhead("#ALajaxsort('feature_alias_name' $l10n.ACCESSCTL_FEATURE_NAME $result 'AccessControlScreen')")
#ALtdhead("$l10n.ACCESSCTL_FEATURE_AUTHORITY")
</tr>
#foreach ($record in $result.List)
<tr>
#if($!{client}=="IPHONE")
#ALtdcellheaderAtt('align="center" class="auiMTCheck"')
<input name='check$!record.AclRoleId' type='checkbox' value='$!record.AclRoleId'/>
#ALtdcellfooter()
#ALtdcellheaderAtt('class="auiMTCaption"')
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccessControlDetailScreen").addQueryData("entityid",$record.AclRoleId))');">$!record.AclRoleName</a>
</div>
#ALtdcellfooter()
#ALtdcell("<div>$record.FeatureName</div>")
#ALtdcellheaderAtt('class="mb_hide"')
<div>
#if($record.hasAclList()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_LISTVIEW</span> #end
#if($record.hasAclDetail()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_DETAILVIEW</span> #end
#if($record.hasAclInsert()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_ADD</span> #end
#if($record.hasAclUpdate()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_EDIT</span> #end
#if($record.hasAclDelete()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_DELETE</span> #end
#if($record.hasAclExport()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_EXPORT</span> #end
</div>
#ALtdcellfooter()
#else
#ALtdcellAtt("<input name='check$!record.AclRoleId' type='checkbox' value='$!record.AclRoleId'/>" 'align="center"')
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","AccessControlDetailScreen").addQueryData("entityid",$record.AclRoleId))');">$!record.AclRoleName</a>
</div>
#ALtdcellfooter()
#ALtdcell("<div>$record.FeatureName</div>")
#ALtdcellheader()
<div>
#if($record.hasAclList()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_LISTVIEW</span> #end
#if($record.hasAclDetail()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_DETAILVIEW</span> #end
#if($record.hasAclInsert()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_ADD</span> #end
#if($record.hasAclUpdate()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_EDIT</span> #end
#if($record.hasAclDelete()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_DELETE</span> #end
#if($record.hasAclExport()) <span class="spaceRight">$l10n.ACCESSCTL_FEATURE_EXPORT</span> #end
</div>
#ALtdcellfooter()
#end
</tr>
#end
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete($l10n.ACCESSCTL_DO_DELETE "$!jslink.getPortletById($!portlet.ID).addQueryData('template','AccessControlFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.accessctl.onReceiveMessage")
</div>
#AUIajaxpageview('AccessControlScreen' $result)
#AUISummaryDivfooter()
#end
</form>
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#else
#AUIwideAreaFooter()
#end
