#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($mode=="new_form")
#set ($indicator_str = $l10n.SCHEDULE_SEND_DATA)
#set ($action_str = $l10n.SCHEDULE_ADD)
#set ($event_submit = "eventSubmit_doSchedule_insert")
#set ($subtitle = $l10n.SCHEDULE_SCHEDULE_ADD)
#elseif($!result.isCopy())
#set ($indicator_str = $l10n.SCHEDULE_SEND_DATA)
#set ($action_str = $l10n.SCHEDULE_ADD)
#set ($event_submit = "eventSubmit_doSchedule_insert")
#set ($subtitle = $l10n.SCHEDULE_SCHEDULE_COPY)
#else
#set ($indicator_str = $l10n.SCHEDULE_SEND_DATA)
#set ($action_str = $l10n.SCHEDULE_UPDATE)
#set ($event_submit = "eventSubmit_doSchedule_update")
#set ($subtitle = $l10n.SCHEDULE_SCHEDULE_EDIT)
#end
#set($tabs = [[$subtitle , "",""]])
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
## IE文字化け対策
<span id="schedule_val_category1" style="display:none;">$l10n.SCHEDULE_OTHER</span>
<span id="schedule_val_repeat1" style="display:none">$l10n.SCHEDULE_REPEATING</span>
<span id="schedule_val_repeat2" style="display:none">$l10n.SCHEDULE_DONOT_REPEAT</span>
<span id="schedule_val_span1" style="display:none">$l10n.SCHEDULE_SET_SPAN</span>
<span id="schedule_val_span2" style="display:none">$l10n.SCHEDULE_SET_TIME</span>
<span id="schedule_val_confirm1" style="display:none">$l10n.SCHEDULE_CONFIRM_CREATED_SCHEDULE</span>
<span id="schedule_val_member1" style="display:none">$l10n.SCHEDULE_SELECT_ENTRY_USER</span>
<span id="schedule_val_member2" style="display:none">$l10n.SCHEDULE_HIDE_SELECT_VIEW</span>
<span id="schedule_val_facility1" style="display:none">$l10n.SCHEDULE_SELECT_FACILITY</span>
## ---------------------------------------------------------------------------
#ALdialogheader($subtitle)
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
<div id="messageDiv"></div>
#if($result.SelectData.Max)
#if($!result.SelectData.isDuplicate())
#set($colspanmax = $!{result.SelectData.Max} + 2)
#else
#set($colspanmax = $!{result.SelectData.Max} + 1)
#end
#end
#if($!result.SelectData.isHasspan())
#set($colspanmax = $colspanmax + 1)
#end
#if($result.SelectData.EndHour)#set($endHour = $!{result.SelectData.EndHour} - 1)#end
##ALajaxscreenformheader("_scheduleForm" $jslink $portlet "ScheduleFormJSONScreen" "aimluck.io.selectAllOptions(this.member_to);aimluck.io.selectAllOptions(this.facility_to);aipo.schedule.onSubmit(this); aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.schedule.onReceiveMessage)")
<form id = "_scheduleForm" name="scheduleForm" action="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen')" method="post" onsubmit="aimluck.io.selectAllOptions(this.member_to);aimluck.io.selectAllOptions(this.facility_to);aipo.schedule.onSubmit(this); aimluck.io.submit(this,'$indicator_id','$!portlet.ID',aipo.schedule.onReceiveMessage);return false;">
<input type="hidden" name="ignore_duplicate_facility" value="false" />
<input type="hidden" name="secid" value="$secid" />
#if($mode=="new_form" || $!result.isCopy())
<input type="hidden" name="mode" value="insert" />
#else
<input type="hidden" name="mode" value="update" />
#end
<input type="hidden" name="is_repeat" value="$!{result.Repeat}" />
<input type="hidden" name="is_span" value="$!{result.Span}" />
<input type="hidden" name="is_member" value="TRUE" />
<input name="is_facility" type="hidden" #if (! $!{result.isSpan()} || ($!{result.PublicFlag.toString()} == "O")) value="TRUE" #else value="FALSE" #end />
<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}" />
#if($afterbehavior)
<input type="hidden" name="afterbehavior" value="1" />
#end
<input type="hidden" name="all_day_flag" value="$!{result.AllDayFlag.toString()}" />
#ALerrmsg($errmsgs)
##mustmessage()
##ALtableheader("100%")
#ALtableheaderWide()
#if($mode!="new_form" && ($!{result.EditRepeatFlag.toString()} != "-1"))
#ALtdcaption($l10n.SCHEDULE_EDIT_RANGE)
#ALtditemheader()
<input name="edit_repeat_flag" type="radio" value="0"  id="edit_repeat_flag0_$!{portlet.ID}" #if ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} == 0) checked="checked" #end onclick="aipo.schedule.formEditRepeatAll(this.form)"/>
<label onclick="aipo.schedule.formEditRepeatAll(this.form)" for="edit_repeat_flag0_$!{portlet.ID}">$l10n.SCHEDULE_ALL_SCHEDULE</label>
#if($!ignore_viewdate == "false")
<input name="edit_repeat_flag" type="radio" value="1" id="edit_repeat_flag1_$!{portlet.ID}" #if ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} == 1) checked="checked" #end onclick="aipo.schedule.formEditRepeatOne(this.form)"/>
<label onclick="aipo.schedule.formEditRepeatOne(this.form)" for="edit_repeat_flag1_$!{portlet.ID}">$!{result.OnlyViewDateText}</label><br/>
#end
#ALtditemfooter()
#end
#ALtdcaption($l10n.SCHEDULE_DATE)
#ALtditemheader()
  <div id="normalField" style="display:#if($!{result.Repeat} && ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} != 1))none#end">
    <div class="p auiSetDate">
        <span dojoType="aipo.widget.DropdownDatepicker" id="startDateSpan" widgetId="startDateSpan"  iconURL="images/icon/icon_date.gif" iconAlt="$l10n.SCHEDULE_START_DATE" hiddenId="start_date" #if ($!result.StartDateCheck.toString() && ($!result.StartDateCheck.toString() == "TRUE")) initValue="" #else initValue="$!{result.StartDateSub}"checked="checked" #end inputId="start_date_input" dateId="start_date" displayCheck="none" callback="aipo.schedule.onSpanStartChange"></span>
        <span id="spanField" style="display:#if(!$!{result.Span} || $!{result.AllDayFlag.toString()} == "ON" )none#end">&nbsp;-&nbsp;
          <span dojoType="aipo.widget.DropdownDatepicker" id="endDateSpan" widgetId="endDateSpan"  iconURL="images/icon/icon_date.gif" iconAlt="$l10n.SCHEDULE_END_DATE" hiddenId="end_date" #if ($!result.EndDateCheck.toString()  && ($!result.EndDateCheck.toString() == "TRUE")) initValue="" #else initValue="$!{result.EndDateSub}"checked="checked" #end inputId="end_date_input" dateId="end_date" displayCheck="none"  callback="aipo.schedule.onSpanEndChange"></span>
        </span>
      <span id="allDayField" style="display:#if($!{result.Span} && $!{result.AllDayFlag.toString()} != "ON")none#end">
        <input id="all_day_flag_checkbox" type="checkbox"  #if ($!{result.AllDayFlag.toString()} == "ON") checked="checked" #end value="ON" name="all_day_flag_checkbox" onclick="aipo.schedule.formSwitchAllDay(this)"/>
        <label for="all_day_flag_checkbox">$l10n.SCHEDULE_ALL_DAY</label>
      </span>
    </div>
  </div>
  <div id="repeatField" style="display:#if(!$!{result.Repeat} || ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} == 1))none#end">
    <div class="p auiSetDate">
      <h3>$l10n.SCHEDULE_REPEAT_TYPE</h3>
      <input id="repeat_typeD" type="radio" value="D" #if ($!{result.RepeatType.toString()} == "D") checked="checked" #end name="repeat_type"/>
      <label for="repeat_typeD">$l10n.SCHEDULE_EVERY_DAY</label>
      <br/>
      <input id="repeat_typeW" type="radio" value="W" #if ($!{result.RepeatType.toString()} == "W") checked="checked" #end name="repeat_type"/>
      <label for="repeat_typeW">$l10n.SCHEDULE_EVERY_WEEK</label>
      <input id="week_0_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week0.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_0"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_0_id">$l10n.SCHEDULE_SUNDAY</label>
      <input id="week_1_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week1.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_1"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_1_id">$l10n.SCHEDULE_MONDAY</label>
      <input id="week_2_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week2.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_2"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_2_id">$l10n.SCHEDULE_TUSEDAY</label>
      <input id="week_3_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week3.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_3"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_3_id">$l10n.SCHEDULE_WEDNESDAY</label>
      <input id="week_4_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week4.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_4"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_4_id">$l10n.SCHEDULE_THURSDAY</label>
      <input id="week_5_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week5.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_5"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_5_id">$l10n.SCHEDULE_FRIDAY</label>
      <input id="week_6_id" type="checkbox" onclick="aipo.schedule.enablePerWeek(this.form)" #if ($!{result.Week6.toString()} == "TRUE") checked="checked" #end value="TRUE" name="week_6"/>
      <label onclick="aipo.schedule.enablePerWeek(this.form)" for="week_6_id">$l10n.SCHEDULE_SATURDAY</label>
      <br/>
      <input id="repeat_typeM" type="radio" value="M" #if ($!{result.RepeatType.toString()} == "M") checked="checked" #end name="repeat_type"/>
      <label for="repeat_typeM">$l10n.SCHEDULE_EVERY_MONTH</label>
      <select onchange="aipo.schedule.enableMonth(this.form)" name="month_day">
      #foreach ( $num in [1..31] )
      	<option value="$num" #if ($!{result.MonthDay.toString()} == "$num") selected #end>$num$l10n.SCHEDULE_DAY</option>
      #end
      </select>
   </div>
    <div class="p auiSetDate">
      <h3>$l10n.SCHEDULE_REPEAT_SPAN</h3>
      <input id="limit_flagOFF" type="radio" #if ($!{result.LimitFlag.toString()} == "OFF") checked="checked" #end value="OFF" name="limit_flag"/>
      <label for="limit_flagOFF">$l10n.SCHEDULE_DONOT_SELECT_REPEAT_SPAN</label>
      <br />
      <input id="limit_flagON" type="radio"  #if ($!{result.LimitFlag.toString()} == "ON") checked="checked" #end value="ON" name="limit_flag"/>
      <label for="limit_flagON">$l10n.SCHEDULE_SELECT_REPEAT_SPAN</label>
      <br />
      <span dojoType="aipo.widget.DropdownDatepicker" id="limitStartDateSpan" widgetId="limitStartDateSpan"  iconURL="images/icon/icon_date.gif" iconAlt="$l10n.SCHEDULE_START_DATE" hiddenId="limit_start_date" #if ($!result.StartDateCheck.toString() && ($!result.StartDateCheck.toString() == "TRUE")) initValue="" #else initValue="$!{result.LimitStartDateSub}"checked="checked" #end inputId="limit_start_date_input" dateId="limit_start_date" displayCheck="none"></span>
            &nbsp;-&nbsp;<span dojoType="aipo.widget.DropdownDatepicker" id="limitEndDateSpan" widgetId="limitEndDateSpan"  iconURL="images/icon/icon_date.gif" iconAlt="$l10n.SCHEDULE_END_DATE" hiddenId="limit_end_date" #if ($!result.StartDateCheck.toString() && ($!result.StartDateCheck.toString() == "TRUE")) initValue="" #else initValue="$!{result.LimitEndDateSub}"checked="checked" #end inputId="limit_end_date_input" dateId="limit_end_date" displayCheck="none"></span>
    </div>
  </div>
  <div class="p auiSetDate">
    <h3 id="timeLabelField" style="display:#if(!$!{result.Repeat} || ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} == 1))none#end">$l10n.SCHEDULE_TIME</h3>
    <div id="timeField"  style="display:#if($!{result.Span})none#end">
        <span id="startTimeSpan">
        <select name="start_date_hour" size="1">
            #foreach ( $num in [0..23] )
            <option value="$num" #if ($!result.StartDate.Hour == "$num") selected="selected" #end>$num</option>
            #end
            </select>
            :
            <select name="start_date_minute" size="1">
            <option value="0" #if ($!result.StartDate.Minute == "0") selected="selected" #end>00</option>
            <option value="5" #if ($!result.StartDate.Minute == "5") selected="selected" #end>05</option>
            <option value="10" #if ($!result.StartDate.Minute == "10") selected="selected" #end>10</option>
            <option value="15" #if ($!result.StartDate.Minute == "15") selected="selected" #end>15</option>
            <option value="20" #if ($!result.StartDate.Minute == "20") selected="selected" #end>20</option>
            <option value="25" #if ($!result.StartDate.Minute == "25") selected="selected" #end>25</option>
            <option value="30" #if ($!result.StartDate.Minute == "30") selected="selected" #end>30</option>
            <option value="35" #if ($!result.StartDate.Minute == "35") selected="selected" #end>35</option>
            <option value="40" #if ($!result.StartDate.Minute == "40") selected="selected" #end>40</option>
            <option value="45" #if ($!result.StartDate.Minute == "45") selected="selected" #end>45</option>
            <option value="50" #if ($!result.StartDate.Minute == "50") selected="selected" #end>50</option>
            <option value="55" #if ($!result.StartDate.Minute == "55") selected="selected" #end>55</option>
            </select>
        </span>&nbsp;-&nbsp;
        <span id="endTimeSpan">
            <select name="end_date_hour" size="1" onchange="aipo.schedule.changeEnd(this.form)">
            ##<option value="" #if ($!result.isSameDate) selected="selected" #end>--</option>
            #foreach ( $num in [0..23] )
            <option value="$num" #if ($!result.EndDate.Hour == "$num") selected="selected" #end >$num</option>
            #end
            </select>
            :
            <select name="end_date_minute" size="1" onchange="aipo.schedule.changeEnd(this.form)">
            <option value="0" #if ($!result.isSameDate || ($!result.EndDate.Minute == "0")) selected="selected" #end>00</option>
            <option value="5" #if ($!result.EndDate.Minute == "5") selected="selected" #end>05</option>
            <option value="10" #if ($!result.EndDate.Minute == "10") selected="selected" #end>10</option>
            <option value="15" #if ($!result.EndDate.Minute == "15") selected="selected" #end>15</option>
            <option value="20" #if ($!result.EndDate.Minute == "20") selected="selected" #end>20</option>
            <option value="25" #if ($!result.EndDate.Minute == "25") selected="selected" #end>25</option>
            <option value="30" #if ($!result.EndDate.Minute == "30") selected="selected" #end>30</option>
            <option value="35" #if ($!result.EndDate.Minute == "35") selected="selected" #end>35</option>
            <option value="40" #if ($!result.EndDate.Minute == "40") selected="selected" #end>40</option>
            <option value="45" #if ($!result.EndDate.Minute == "45") selected="selected" #end>45</option>
            <option value="50" #if ($!result.EndDate.Minute == "50") selected="selected" #end>50</option>
            <option value="55" #if ($!result.EndDate.Minute == "55") selected="selected" #end>55</option>
            </select>
        </span></div>
  </div>
  <span id="repeatButtonField" style="display:#if($!{result.Span})none#end"><input name="repeat_button" type="button" class="button" value=" #if(!$!{result.Repeat} || ($!{result.getInt($!{result.EditRepeatFlag.getValue()})} == 1))$l10n.SCHEDULE_REPEATING#else$l10n.SCHEDULE_DONOT_REPEAT#end " onclick="aipo.schedule.formSwitchRepeat(this)" /></span>
  <span id="spanButtonField" style="display:#if($!{result.Repeat} || $!{result.AllDayFlag.toString()} == "ON" )none#end"><input name="span_button" type="button" class="button" value="#if($!{result.Span} && $!{result.AllDayFlag.toString()} != "ON")$l10n.SCHEDULE_SET_TIME#else$l10n.SCHEDULE_SET_SPAN#end" onclick="aipo.schedule.formSwitchSpan(this)" /></span>
#ALtditemfooter()
#ALtdcaption("#ALrequired($!result.getFieldName('name'))")
#ALtditem("#ALtextfield('name' $!result.Name '100%' 50 'active')")

#* 共有カテゴリ連携（ここから） *#
#if($!result.isDisplayManHour())
#ALtdcaption($l10n.SCHEDULE_COMMON_CATEGORY)
#ALtditemheader()
#ALselectpdheader("common_category_id" '90%' "");
#ALselectfooter()
#ALtditemfooter()
#end
#* 共有カテゴリ連携（ここまで） *#

#ALtdcaption("$!result.getFieldName('place')")
#ALtditem("#ALtextfield('place' $!result.Place '100%' 50 'active')")
#ALtdcaption("$!result.getFieldName('note')")
#ALtditemheader()
#ALtextarea('note' $!result.Note 5 50)
#ALtditemfooter()
#ALtdcaption($!result.getFieldName("public_flag"))
#ALtditemheader()
<p><input name="public_flag" type="radio" value="O" id="public_flagO_$!{portlet.ID}" #if ("$!result.PublicFlag.toString()" == "O") checked="checked" #end onclick="aipo.schedule.formPublicOn(this.form)"/><label for="public_flagO_$!{portlet.ID}" onclick="aipo.schedule.formPublicOn(this.form)">$l10n.SCHEDULE_OPEN_PUBLIC</label></p>
<p><input name="public_flag" type="radio" value="C" id="public_flagC_$!{portlet.ID}" #if ("$!result.PublicFlag.toString()" == "C") checked="checked" #end onclick="aipo.schedule.formPublicOff(this.form)"/><label for="public_flagC_$!{portlet.ID}" onclick="aipo.schedule.formPublicOff(this.form)">$l10n.SCHEDULE_CLOSED_PUBLIC</label></p>
<p><input name="public_flag" type="radio" value="P" id="public_flagP_$!{portlet.ID}" #if ("$!result.PublicFlag.toString()" == "P") checked="checked" #end onclick="aipo.schedule.formPublicOff(this.form)"/><label for="public_flagP_$!{portlet.ID}" onclick="aipo.schedule.formPublicOff(this.form)">$l10n.SCHEDULE_HIDDEN_PUBLIC</label></p>
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_ENTRY_USER)
#ALtditemheader()
<div id="memberFieldButton">
	<table style="width:98%;">
		<tbody>
			<tr class="member">
				<td style="width:80%; border:none;"></td>
				<td style="border:none;">
					<input type="button" class="alignright" value="$l10n.SCHEDULE_SELECT_ENTRY_USER" onclick="aipo.schedule.expandMember();" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="memberField" style="display:none;">
<table class="none">
  <tr><td>
    <div class="spaceTop spaceLeft small">$l10n.SCHEDULE_ADD_ENTRY_USER</div>
    <div dojoType="aipo.widget.MemberNormalSelectList"
        id="membernormalselect"
        widgetId="membernormalselect"
        buttonAddId="button_member_add"
        buttonRemoveId="button_member_remove"
        memberFromId="tmp_member_from"
        memberToTitle="$l10n.SCHEDULE_ENTRY_USER_LIST"
        memberToId="member_to"
        memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')"
        memberFromOptionKey="name"
        memberFromOptionValue="aliasName"
        groupSelectId="tmp_group"
        groupSelectPreOptionKey="LoginUser"
        groupSelectPreOptionValue="$l10n.SCHEDULE_ALL_GROUP"
        groupSelectOptionKey="groupId"
        groupSelectOptionValue="name"
        memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserGroupLiteJSONScreen').addQueryData('mode','mygroup_and_post')"
        changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','UserLiteJSONScreen').addQueryData('mode','group')">
    </div>
    <select size="5" multiple="multiple" style="display:none;" name="init_memberlist" id="init_memberlist">#foreach($record in $!result.MemberList)<option value="$!record.Name">$!record.AliasName</option>#end</select>
  </td></tr>
  <tr><td>
#if($!{result.Owner} || $!{result.EditFlag.toString()} == "T")
    <div class="p">
    	<div id="edit_control_title_$!{portlet.ID}" style="background:inherit;cursor: pointer;text-decoration:underline;border:inherit;">$l10n.SCHEDULE_SET_EDIT_PERMISSION</div>
    	<div id="edit_control_context_$!{portlet.ID}" style="display:none;">
 	   		<input name="edit_flag" type="radio" value="T" id="edit_control_flagT_$!{portlet.ID}" #if ("$!{result.EditFlag.toString()}" == "T") checked="checked" #end /><label for="edit_control_flagT_$!{portlet.ID}">$l10n.SCHEDULE_EDIT_THE_SCHEDULE</label><br/>
  	  		<input name="edit_flag" type="radio" value="F" id="edit_control_flagF_$!{portlet.ID}" #if ("$!{result.EditFlag.toString()}" == "F") checked="checked" #end /><label for="edit_control_flagF_$!{portlet.ID}">$l10n.SCHEDULE_DONOT_EDIT_THE_SCHEDULE</label></div>
	</div>
#end
#if($mode!="new_form" && $!result.Member)
    <div class="p">
    	<div id="change_tmpreserve_title_$!{portlet.ID}" style="background:inherit;cursor: pointer;text-decoration:underline;border:inherit;">$l10n.SCHEDULE_SET_RETURN_TEMP_SCHEDULE</div>
    	<div id="change_tmpreserve_context_$!{portlet.ID}" style="display:none;">
   	 		<input name="change_tmpreserve_flag" type="radio" value="T" id="change_tmpreserve_flagT_$!{portlet.ID}" #if ("$!{result.ChangeTmpreserveFlag.toString()}" == "T")  checked="checked" #end /><label for="change_tmpreserve_flagT_$!{portlet.ID}">$l10n.SCHEDULE_RETURN_TO_TEMP_SCHEDULE</label><br/>
    		<input name="change_tmpreserve_flag" type="radio" value="F" id="change_tmpreserve_flagF_$!{portlet.ID}" #if ("$!{result.ChangeTmpreserveFlag.toString()}" == "F") checked="checked" #end /><label for="change_tmpreserve_flagF_$!{portlet.ID}">$l10n.SCHEDULE_DONOT_RETURN_TO_TEMP_SCHEDULE</label></div>
    </div>
#end
<div class="p">
    	<div id="mail_title_$!{portlet.ID}" style="background:inherit;cursor: pointer;text-decoration:underline;border:inherit;">$l10n.SCHEDULE_SET_MAIL_DOR_ENTRY_USER</div>
    	<div id="mail_context_$!{portlet.ID}" style="display:none;">
	  	  <input name="mail_flag" type="radio" value="A" id="mail_flag_A" #if("$!{result.MailFlag}"=="A") checked="checked" #end /><label for="mail_flag_A">$l10n.SCHEDULE_DO_INFORM</label><br />
	   	  <input name="mail_flag" type="radio" value="N" id="mail_flag_N" #if("$!{result.MailFlag}"=="N") checked="checked" #end /><label for="mail_flag_N">$l10n.SCHEDULE_DONT_INFORM</label>
	   	</div>
</div>
  </td></tr>
</table>
</div>
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_FACILITY)
#ALtditemheader()
<div id="facilityFieldButton" style="display:#if($!{result.Span} || $!{result.PublicFlag.toString()} == "P")none#end">
	<table style="width:98%;">
		<tbody>
			<tr class="member">
				<td style="width:80%; border:none;"></td>
				<td style="border:none;">
					<input type="button" class="alignright" value="$l10n.SCHEDULE_SELECT_FACILITY" onclick="aipo.schedule.expandMember();" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="facilityField" style="display:none;">
    <div class="spaceTop spaceLeft small">$l10n.SCHEDULE_ADD_FACILITY</div>
    <div dojoType="aipo.widget.MemberNormalSelectList"
    id="facilityselect"
    widgetId="facilityselect"
    buttonAddId="button_facility_add"
    buttonRemoveId="button_facility_remove"
    memberFromTitle="$l10n.SCHEDULE_SELECT_FACILITY_LIST"
    memberFromId="tmp_facility_from"
    memberToTitle="$l10n.SCHEDULE_FACILITY_LIST"
    memberToId="facility_to"
    memberFromUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen').addQueryData('groupname','$!result.FacilityGroupId')"
    memberFromOptionKey="facilityId"
    memberFromOptionValue="facilityName"
    groupSelectId="tmp_facility_group"
    groupSelectPreOptionKey="all"
    groupSelectPreOptionValue="$l10n.SCHEDULE_ALL_GROUP"
    groupSelectOptionKey="facilityGroupId"
    groupSelectOptionValue="facilityGroupName"
    memberGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupLiteJSONScreen').addQueryData('mode','post')"
    changeGroupUrl="$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityLiteJSONScreen').addQueryData('mode','group')">
</div>
    <select size="5" multiple="multiple" style="display:none;" name="init_facilitylist" id="init_facilitylist">#foreach($record in $!result.FacilityList)<option value="$!record.FacilityId">$!record.FacilityName</option>#end</select>
</div>
#ALtditemfooter()

#ALtablefooter()
#ALbuttonheader()
#ALsubmit($event_submit $action_str)#ALajaxbuttonClose()
#ALbuttonfooter()
<input type="hidden" id="commonUrl$!portlet.ID" name="commonUrl$!portlet.ID" value="$!jslink.getPortletById($!portlet.ID).addPathInfo('template','CommonCategoryLiteJSONScreen')" />
<input type="hidden" id="commonCategoryid$!portlet.ID" name="commonCategoryid$!portlet.ID" value="$!{result.CommonCategoryId.Value}" />
#ALformfooter()
#ALdialogfooter()
