#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#set ($hasMember = false)
#set ($tabs = [[$l10n.SCHEDULE_SCHEDULE_DETAIL, "",""]])
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#if (${client}!= "IPHONE")
	#ALdialogheaderPrintSchedule($l10n.SCHEDULE_SCHEDULE_DETAIL "$!portlet.ID" "ScheduleDetailScreenPrint" "$!{result.getViewDate().toString()})" "$!{result.Detail.User.UserId.toString()}")
#else
	#ALdialogheaderDetailSmartPhone("$l10n.SCHEDULE_SCHEDULE_DETAIL")
#end
#ALajaxIndicator("$indicator_id" "$!portlet.ID")
#ALerrmsg($errmsgs)
<div id="messageDiv"></div>
#ALajaxdetailformheader($l10n.SCHEDULE_SCHEDULE)
<input type="hidden" name="edit_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('mode','form').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="delete_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('mode','delete').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="change_status_url" value="$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('mode','change_status').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()})"/>
<input type="hidden" name="view_date" value="$!{result.ViewDate.toString()}"/>
<input type="hidden" name="type" value="$!{result.Detail.Type}"/>
<input type="hidden" name="userid" value="$!{result.Detail.User.UserId.toString()}"/>
#if($afterbehavior)
<input type="hidden" name="afterbehavior" value="1" />
#end
#if($!{result.ViewDate.Year} && $!{result.ViewDate.Month} && $!{result.ViewDate.Day} && ($!{result.ViewDate.Year} != "") && ($!{result.ViewDate.Month} != "") && ($!{result.ViewDate.Day} != ""))
#set($viewDateEnable = "true")
#else
#set($viewDateEnable = "false")
#end
#ALtableheaderWide()
#if(!($!result.isActivity() || $!ignore_viewdate == "true"))
#ALtdcaption($l10n.SCHEDULE_NAME)
#ALtditemheader()
$!{result.Detail.User.AliasNameHtml}
#ALtditemfooter()
#end
#ALtdcaption($l10n.SCHEDULE_DATE)
#ALtditemheader()
#if($!{result.Detail.isSpan()})
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek} -
$!{result.Detail.EndDateFormatSpace} $!{result.Detail.EndDate.DayOfWeek}
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}<br/>
$!{result.Detail.Date}
#else
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}<br/>
$!{result.Detail.Date}
#end
#if(! ${result.Detail.isPublic()})
	#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($!{result.Detail.isDuplicate()})
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if($!{result.Detail.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($!{result.Detail.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_TITLE)
#ALtditem($!{result.Detail.WbrName})

#* 共有カテゴリ連携（ここから）  *#
#if($!result.isDisplayManHour())
#ALtdcaption($l10n.SCHEDULE_COMMON_CATEGORY)
#ALtditem($!{result.Detail.CommonCategoryName})
#end
#* 共有カテゴリ連携（ここまで）  *#

#ALtdcaption($l10n.SCHEDULE_PLACE)
#ALtditem($!{result.Detail.PlaceHtml})
#ALtdcaption($l10n.SCHEDULE_NOTE)
#ALtditem($!{result.Detail.Note})
#ALtdcaption($l10n.SCHEDULE_PUBLIC)
#ALtditemheader()
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC
#elseif(!$!result.Detail.isHidden())
$l10n.SCHEDULE_CLOSED_PUBLIC
#else
$l10n.SCHEDULE_HIDDEN_PUBLIC
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_ENTRY_USER)
#ALtditemheader()
#set($counter = 0)
#foreach($record in $!result.MemberList)
    #if($!result.isActivity() || $!ignore_viewdate == "true" || !($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}))
    $!record.AliasName
        #if($result.getStatus($record.UserId.Value) == "T")
        <i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
        #elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
        #set($counter = $counter + 1)
        <img src="images/schedule/schedule_remove.gif" border="0" width="16" height="16" align="absmiddle" alt="$l10n.SCHEDULE_DELETED" title="$l10n.SCHEDULE_DELETED"/>
        #end
    <br/>
    #end
#end

#if(($!result.MemberList.size() ) && $counter < ($!result.MemberList.size() - 1) )
#set ($hasMember = true)
#end

#if($hasMember)
<div style="padding:4px 0px 0px 0px">
#if($!{result.Detail.isEditable()}) $l10n.SCHEDULE_MESSAGE_OF_EDIT_AND_DELETE#else #if($!{result.Detail.User.UserId.toString()}==$!{result.Detail.UpdateUser.UserId.toString()}) $l10n.SCHEDULE_ENTRY_USER#else $!{result.OutsideUser}#end#end
</div>

<div>
#if($!{result.Detail.MailFlag} && $!{result.Detail.MailFlag} == "A")
$l10n.SCHEDULE_MESSAGE_OF_SEND_EMAIL
#elseif($!{result.Detail.MailFlag} && $!{result.Detail.MailFlag} == "I")
$l10n.SCHEDULE_MESSAGE_OF_DONOT_SEND_EMAIL_IN_UPDATE
#else
$l10n.SCHEDULE_MESSAGE_OF_DONOT_SEND_EMAIL_FOR_USER
#end
</div>
#end

#ALtdcellfooter()

#ALtdcaption($l10n.SCHEDULE_FACILITY)
#ALtditemheader()
#foreach($record in $!result.FacilityList)
${record.FacilityNameHtml}<br/>
#end
#ALtditemfooter()

#ALtdcaption($l10n.SCHEDULE_CREATE_USER)
#ALtditem("$!{result.Detail.CreateUser.AliasName} （$!{result.Detail.CreateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_DAY)}）")
#ALtdcaption($l10n.SCHEDULE_UPDATE_USER)
#ALtditem("$!{result.Detail.UpdateUser.AliasName} （$!{result.Detail.UpdateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_MINUTE)}）")
#ALtablefooter()

#ALbuttonheader()
#if( ($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} || ($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()}) || ($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()}) || (!$!{result.Detail.isOwner()} && $!{result.hasAuthorityOtherDelete()}) || (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherEdit()})))
    <div align="left" style="padding:0px 0px 2px 0px" class="radioBlock">
    #if($viewDateEnable == "true" && $!ignore_viewdate == "false")
        #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} ||($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}&&$!{result.hasAuthoritySelfDelete()} &&($!{result.Detail.isTmpreserve()}||$!{result.Detail.isConfirm()}))|| (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherDelete()}))
        <h3> $l10n.SCHEDULE_DELETE_CASE</h3>
        #set($prestr = "$!{result.Detail.User.AliasNameHtml} の")

            #if(($hasMember || $!{result.Detail.Type}=="F") && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3"  id="$!{portlet.ID}del_flag_3_id" checked="checked" onclick="aipo.schedule.delFlag3(this.form)"/>${prestr} $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"/>${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label><br/>
            <label for="$!{portlet.ID}del_flag_1_id" onclick="aipo.schedule.delFlag1(this.form)"><input name="del_flag" type="radio" value="1"  id="$!{portlet.ID}del_flag_1_id" onclick="aipo.schedule.delFlag1(this.form)"/>$l10n.SCHEDULE_DELETE_ONLY_THE_SCHEDULE_OF_ENTRY_USER $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="1"/>
            #elseif( ($hasMember || $!{result.Detail.Type}=="F") && ! $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label><br/>
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif(! $hasMember && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3"  id="$!{portlet.ID}del_flag_3_id" checked="checked" onclick="aipo.schedule.delFlag3(this.form)"/>${prestr} $!{result.ViewDateFormat}</label><br/>
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"/>${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="1"/>
            #else
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>${prestr}$l10n.SCHEDULE_DELETE_THE_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #end
        #else
            #if($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}&&$!{result.hasAuthoritySelfDelete()}&&($!{result.Detail.isTmpreserve()}||$!{result.Detail.isConfirm()}) )
                #if($!{result.Detail.isRepeat()})
                <label for="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"><input name="del_flag" type="radio" value="3" id="$!{portlet.ID}del_flag_3_id" onclick="aipo.schedule.delFlag3(this.form)"/>$l10n.SCHEDULE_DELETE_ONLY_MY_SCHEDULE $!{result.ViewDateFormat}</label><br/>
                <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE</label>
                <input type="hidden" name="del_member_flag" value="1"/>
                <input type="hidden" name="del_range_flag" value="0"/>
                #else
                <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>$l10n.SCHEDULE_DELETE_THE_OWN_SCHEDULE</label>
                <input type="hidden" name="del_member_flag" value="1"/>
                <input type="hidden" name="del_range_flag" value="0"/>
                #end
            #end
		#end
	#else
       #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()} || ($!{result.Detail.isLoginuser()} && $!{result.Detail.isEditable()}) || (!$!{result.Detail.isLoginuser()} && $!{result.hasAuthorityOtherDelete()}))
        <h3>削除する場合の条件</h3>
            #if(($hasMember || $!{result.Detail.Type}=="F") && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" checked="checked" onclick="aipo.schedule.delFlag0(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="0"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif( ($hasMember || $!{result.Detail.Type}=="F") && ! $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_0_id" onclick="aipo.schedule.delFlag0(this.form)"><input name="del_flag" type="radio" value="0"  id="$!{portlet.ID}del_flag_0_id" checked="checked" onclick="aipo.schedule.delFlag0(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="0"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #elseif(! $hasMember && $!{result.Detail.isRepeat()})
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #else
            <label for="$!{portlet.ID}del_flag_2_id" onclick="aipo.schedule.delFlag2(this.form)"><input name="del_flag" type="radio" value="2"  id="$!{portlet.ID}del_flag_2_id" checked="checked" onclick="aipo.schedule.delFlag2(this.form)"/>$l10n.SCHEDULE_DELETE_THE_ENTRY_USERS_SCHEDULE</label>
            <input type="hidden" name="del_member_flag" value="1"/>
            <input type="hidden" name="del_range_flag" value="0"/>
            #end
        #end

    #end
    </div>

    <span style="vertical-align:middle;">
    #if($!{result.Detail.isOwner()} || $!{result.Detail.isCreateuser()})
        #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        #end
        #if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        #end
    #elseif(!$!{result.Detail.isLoginuser()})
        #if($!{result.hasAuthorityOtherEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        #end
        #if($!{result.hasAuthorityOtherDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        #end
    #elseif($!{result.Detail.isTmpreserve()} && $!{result.Detail.isLoginuser()})
        #ALbutton('eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_CHANGE_STATUS_BE_DECIDED "aipo.schedule.buttonChangeStatus(this.form, this.form.change_status_url.value, 'C', '$indicator_id', '$!portlet.ID')")
        #if($!{result.Detail.isEditable()})
            #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
            #end
            #if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
            #end
        #else
            #if($!{result.hasAuthorityOtherEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
            #end
            #if($!{result.hasAuthorityOtherDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
                #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
            #end
        #end
    #elseif($!{result.Detail.isConfirm()} && $!{result.Detail.isLoginuser()})
        #ALbutton('eventSubmit_doSchedule_change_status' $l10n.SCHEDULE_CHANGE_STATUS_TEMP_SCHEDULE "aipo.schedule.buttonChangeStatus(this.form, this.form.change_status_url.value, 'T', '$indicator_id', '$!portlet.ID')")
        #if($!{result.Detail.isEditable()})
            #if($!{result.hasAuthoritySelfEdit()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('ignore_viewdate', $!ignore_viewdate)" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog")
        #end
        #if($!{result.hasAuthoritySelfDelete()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
            #ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.schedule.onReceiveMessage")
        #end
        #end
    #end

    #if($!{result.hasAuthoritySelfInsert()} && (($viewDateEnable == "true") || ($!ignore_viewdate == "true")))
    #ALajaxbuttonNameEditCallback("$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid',$entityid).addQueryData('view_date',$!{result.getViewDate().toString()}).addQueryData('is_copy','true')" "$!portlet.ID" "aipo.schedule.onLoadScheduleDialog" $l10n.SCHEDULE_COPY)
    #end

    #ALajaxbuttonClose()
    </span>
#else
    #ALajaxbuttonClose()
#end
#ALbuttonfooter()

#ALformfooter()
#ALdialogfooter()
