#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

## ---------------------------------------------------------------------------
#AUIwideAreaHeader()

<h3>$l10n.SCHEDULE_ACCESS_PERMISSION_OF_SETTING</h3>

###AUISummaryDiv()
##<div class="floatRight">
##<div class="auiSelectButton">
##<ul>
###set($tab = ["基本設定", "settings","$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleAdminSettingsListScreen')"])
##<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:6em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
###set($tab = ["アクセス権限", "acl", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleAdminAclListScreen')"])
##<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:7em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
##</ul>
##</div>
##</div>
###AUISummaryDivfooter()

<div id="listmessageDiv"></div>
#if($result.List.size() == 0)
<div class="message">$l10n.SCHEDULE_MESSAGE_OF_NO_USER</div>
#else
<div class="auiSummaryMeta clearfix">
#AUIajaxpageview('ScheduleAdminAclListScreen' $result)
</div>
#AUIrowTableWide()
<tr>
<th class="w50">$l10n.SCHEDULE_NAME</th>
<th>$l10n.SCHEDULE_ACCESS_PERMISSION</th>
</tr>
#foreach ($record in $result.List)
<tr>
<td>
#set($formLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleAdminAclFormScreen').addQueryData('entityid', $!record.Key))
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($formLink)', '$!portlet.ID', 'aipo.schedule_admin.onLoadScheduleAdminAclList')" >
$!record.Name</a></td>
<td>#if($record.Updated)$l10n.SCHEDULE_UPDATED#end</td>
</tr>
#end
#AUItablefooter()
#end


#AUIcontentsAreaFooter()
