#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
## 簡易表示用
<input type="hidden" id="isMac" value="$!{isMac}" />
<input type="hidden" id="top_form_$!portlet.ID" value="$!{top_form}" />
<input type="hidden" id="view_type_$!portlet.ID" value="$!{dayList}" />

#if($client == "IPHONE")
<div class="relativeBlock auiSummaryMeta clearfix">
#else
<div class="auiSummaryMeta auiMultiSelector clearfix">
<div class="floatRight mb_hide">
<div class="auiSelectButton">
#if(($!{schedulescreen}=="ScheduleScreen" && (!$!top_form || $!top_form!='simple')) || $!{schedulescreen}!="ScheduleScreen")

<ul>
#set($tab = ["$l10n.SCHEDULE_BLOCK", "calendar","$!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','calendar')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:6em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.SCHEDULE_DAY", "oneday-group","$!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','oneday-group')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a style="width:3em;" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.SCHEDULE_WEEK", "weekly-group", "$!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','weekly-group')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a style="width:3em;" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.SCHEDULE_MONTH", "monthly", "$!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','monthly')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a style="width:3em;" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.SCHEDULE_LIST", "list", "$!jslink.getPortletById($!portlet.ID).addQueryData('template',$!{schedulescreen}).addQueryData('tab','list')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:4em;" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
</ul>
#end
</div>
</div>

<div class="floatLeft">
#end

<div class="auiSelectButton">
<ul>
#if($!top_form && $!top_form=='simple'&&${client} == "IPAD")
<li style="width:3em;" class="mr5" title="$l10n.SCHEDULE_TODAY">
#else
<li style="width:4em;" class="mr5" title="$l10n.SCHEDULE_TODAY">
#end
<a href="javascript:void(0);" class="btn" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["today"]);'><span>$l10n.SCHEDULE_THIS_DAY</span></a>
</li>
<li class="mr5" title="$l10n.SCHEDULE_PREV_WEEK">
<a href="javascript:void(0);" class="btn arrow" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["prevWeek"]);' title='$l10n.SCHEDULE_PREV_WEEK'><span><i class="auiIconArrow auiIconArrowLeftW"></i></span></a>
</li>
<li title="$l10n.SCHEDULE_PREV_DATE">
<a href="javascript:void(0);" class="first arrow" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["prevDate"]);' title='$l10n.SCHEDULE_PREV_DATE'><span><i class="auiIconArrow auiIconArrowLeft"></i></span></a>
</li>
<li class="mr5" title="$l10n.SCHEDULE_NEXT_DATE">
<a href="javascript:void(0);" class="last arrow" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["nextDate"]);' title='$l10n.SCHEDULE_NEXT_DATE'><span><i class="auiIconArrow auiIconArrowRight"></i></span></a>
</li>
<li title="$l10n.SCHEDULE_NEXT_WEEK">
<a href="javascript:void(0);" class="btn arrow" onclick='aipo.calendar.populateWeeklySchedule("$!portlet.ID", "&amp;view_start=" + ptConfig["$!portlet.ID"].jsonData["nextWeek"]);' title='$l10n.SCHEDULE_NEXT_WEEK'><span><i class="auiIconArrow auiIconArrowRightW"></i></span></a>
</li>
#if($!top_form && $!top_form=='simple' && "${client}" != "IPHONE")
<li class="ml5" style="width: 3em;" title="$!{dayList}$l10n.SCHEDULE_DAY">
<a id="indicateDate_$portlet.ID" href="javascript:void(0);" class="btn menubarOpenButton" onclick="aipo.customize.showMenuSchedule('$!{portlet.ID}');"><span>$!{dayList}$l10n.SCHEDULE_DAY</span></a>
</li>
#end
</ul>
#if("${client}" != "IPHONE")
	<div class="count"><strong id="viewWeekly-$!portlet.ID">&nbsp;</strong></div>
#end
</div>
#if("${client}" == "IPHONE")
	<div style="line-height:24px; text-align:right;"><strong id="viewWeekly-$!portlet.ID">&nbsp;</strong></div>
#end
</div>

#if("${client}" != "IPHONE")
</div>
#end

<div class="indicator" id="indicator-$!portlet.ID">$l10n.SCHEDULE_READING</div>
<!-- WRAPPER -->
    <table class="tableWrapper hide" id="tableWrapper_$!portlet.ID">
        <tbody>
            <tr>
                <td class="wide top">
					<div id="error-$!portlet.ID" style="display:none">
					</div>
                    <div id="content-$!portlet.ID" style="visibility:hidden">


                    </div>
					#if(($!{hasAcl}) && $!{hasAcl} == "T")
						<select id="groupselect-$!portlet.ID" onchange="aipo.schedule.groupSelectOnchange(this, event, '$!portlet.ID', ptConfig['$!portlet.ID'].DropdownMemberFacilitypicker);">
							##マイグループ
                			#foreach( $record in $result.GroupList)
                        		<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname",$!record.Name))" #if($result.SelectedGroup.equals($!record.Name.Value))selected="selected" #end>$!record.AliasName</option>
                			#end
                			#if($result.GroupList.size() > 0)
                				<option value="">----------</option>
            				#end

							##部署
                            #foreach( $record in $result.PostMap )
                            	<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname",$!record.GroupName))"#if($result.SelectedGroup.equals($record.GroupName.Value)) selected="selected" #end>$!record.PostName</option>
							#end
                           	#if($result.PostMap.size() > 0)
                        		<option value="">----------</option>
                			#end

                			##設備グループ
                        	<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","f;all"))"#if($result.SelectedGroup.equals("f;all")) selected="selected" #end>$l10n.SCHEDULE_FACILITY_LIST</option>
                            #foreach($record in $!result.FacilityGroupList)
                            	<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname",$!result.getFacilityName($!record.Name.Value)))"#if($result.SelectedGroup.equals($!result.getFacilityName($!record.Name.Value))) selected="selected" #end>$!record.AliasName</option>
                            #end
                    		<option value="">----------</option>
							<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","pickup"))" #if(($!result.SelectedGroup &&  $result.SelectedGroup.equals("pickup"))|| (!$result.SelectedGroup)) selected="selected" #end>$l10n.SCHEDULE_SSELECT_USER</option>
						</select>
						<input id="groupselect-defaulturl-$!portlet.ID"  type="hidden" value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","pickup"))" />
						<div id="memberpicker-$!portlet.ID" widgetId="memberpicker-$!portlet.ID">

						</div>
					    <div id="memberfacilitylistwidget-$!portlet.ID" style="display:none"></div>
                        <select size="10" multiple="multiple" style="display:none;" name="init_memberlist-$!portlet.ID" id="init_memberlist-$!portlet.ID">#foreach($record in  $!member_list) <option value=#if($record.UserFacilityType == "U") "$record.UserFacilityId" #else "f$record.UserFacilityId" #end> $!utils.escapeXML($record.AliasName.toString()) </option>#end</select>
						##データ保存時に競合したためユーザー選択の保持用に別に用意
						<select multiple="multiple" class="hide" id="picked_memberlist-$!portlet.ID">#foreach($record in  $!member_list) <option value=#if($record.UserFacilityType == "U") "$record.UserFacilityId" #else "f$record.UserFacilityId" #end> $!utils.escapeXML($record.AliasName.toString()) </option>#end</select>
					#elseif(($!{hasAcl}) && $!{hasAcl} == "F")
						<select id="groupselect-$!portlet.ID" onchange="aipo.schedule.groupSelectOnchange(this, event, '$!portlet.ID', ptConfig['$!portlet.ID'].DropdownMemberFacilitypicker);">
                			##設備グループ
                        	<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","f;all"))"#if($result.SelectedGroup.equals("f;all")) selected="selected" #end>$l10n.SCHEDULE_FACILITY_LIST</option>
                            #foreach($record in $!result.FacilityGroupList)
                            	<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname",$!result.getFacilityName($!record.Name.Value)))"#if($result.SelectedGroup.equals($!result.getFacilityName($!record.Name.Value))) selected="selected" #end>$!record.AliasName</option>
                            #end
                    		<option value="">----------</option>
							<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","pickup"))" #if(($!result.SelectedGroup &&  $result.SelectedGroup.equals("pickup"))|| (!$result.SelectedGroup)) selected="selected" #end>$l10n.SCHEDULE_SSELECT_USER</option>
						</select>
						<input id="groupselect-defaulturl-$!portlet.ID"  type="hidden" value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleCalendarUserSelectJSONScreen").addQueryData("mode","group").addQueryData("groupname","pickup"))" />
						<div id="memberpicker-$!portlet.ID" widgetId="memberpicker-$!portlet.ID">

						</div>
					    <div id="memberfacilitylistwidget-$!portlet.ID" style="display:none"></div>
                        <select size="10" multiple="multiple" style="display:none;" name="init_memberlist-$!portlet.ID" id="init_memberlist-$!portlet.ID">#foreach($record in  $!member_list) <option value=#if($record.UserFacilityType == "U") "$record.UserFacilityId" #else "f$record.UserFacilityId" #end> $!utils.escapeXML($record.AliasName.toString()) </option>#end</select>
						##データ保存時に競合したためユーザー選択の保持用に別に用意
						<select multiple="multiple" class="hide" id="picked_memberlist-$!portlet.ID">#foreach($record in  $!member_list) <option value=#if($record.UserFacilityType == "U") "$record.UserFacilityId" #else "f$record.UserFacilityId" #end> $!utils.escapeXML($record.AliasName.toString()) </option>#end</select>
					#end
					<div class="message" id="calender_m_empty_$!portlet.ID" style="display:none;">$l10n.SCHEDULE_ALERT_NOT_CREAT_USER_AND_FACILITY</div>
					<div id="weeklyTableHeadWrapper_$!portlet.ID" style="width:100%;">
                    <table class="weeklyTableHead" id="weeklyTableHead_$!portlet.ID" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="50">
                            <div class="weeklyHeadLeft">
                              <div class="weeklyHeadLeftTop">&nbsp;</div>
                              <div class="weeklyHeadLeftBottom">&nbsp;</div>
                            </div>
                          </td>
                          <td nowrap="nowrap" width="100%" valign="top">
                            <div id="weeklyHeadRights-$!portlet.ID" class='weeklyHeadRights'>
                              <div id="weeklyHeadRightborder-$!portlet.ID" class="weeklyHeadRightborder0_$!portlet.ID weeklyHeadRight#if($!top_form && $!top_form == 'simple')R#end" style="left: 0%;#if($!top_form && $!top_form=='simple')width: 100%;#end border-right: block;">
                                <div class="weeklyHeadRightTop" id="weeklyDay0-$!portlet.ID">
                                <a id="weeklyDay0_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a>
                                </div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday0-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder1_$!portlet.ID weeklyHeadRight' style="left: 14.2857%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay1-$!portlet.ID">
                                <a id="weeklyDay1_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a></div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday1-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder2_$!portlet.ID weeklyHeadRight' style="left: 28.5714%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay2-$!portlet.ID">
                                <a id="weeklyDay2_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a>
                                </div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday2-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder3_$!portlet.ID weeklyHeadRight' style="left: 42.8571%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay3-$!portlet.ID">
                                <a id="weeklyDay3_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a>
                                </div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday3-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder4_$!portlet.ID weeklyHeadRight' style="left: 57.1429%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay4-$!portlet.ID">
                                <a id="weeklyDay4_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a></div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday4-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder5_$!portlet.ID weeklyHeadRight' style="left: 71.4286%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay5-$!portlet.ID">
                                <a id="weeklyDay5_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a></div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday5-$!portlet.ID">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder6_$!portlet.ID weeklyHeadRightR' style="left: 85.7143%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyHeadRightTop" id="weeklyDay6-$!portlet.ID">
                                <a id="weeklyDay6_element_a-$!portlet.ID" href="javascript:void(0);" onclick="aipo.schedule.setIndicator('$!portlet.ID');aipo.viewPage('$!utils.escapeXML($!jslink.getPortletById($portlet.ID).addQueryData("template","ScheduleScreen").addQueryData("tab","oneday-group").addQueryData("filter","null").addQueryData("filtertype","group").addQueryData("view_start","2001-01-01"))', '$!portlet.ID');">
                                &nbsp;
                                </a></div>
                                <div class="weeklyHeadRightBottom" id="weeklyHoliday6-$!portlet.ID">&nbsp;</div>
                              </div>
                            </div>
                          </td>
						  <td id ="weeklySpan-$!portlet.ID" width="18" style="display:block;">
                            <div class="weeklySpan" style="width:16px">&nbsp;</div>
                            <div class="weeklySpan" style="width:16px">&nbsp;</div>
                          </td>
                        </tr>

                        <tr>
                          <td width="50">
                            <div class='weeklyTermLeft' id='weeklyTermLeft'>
                              <div class="weeklyTermLeftTop">&nbsp;</div>
                            </div>
                          </td>
                          <td nowrap="nowrap" width="100%" valign="top">
                            <div id='weeklyTermRights-$!portlet.ID' class='weeklyTermRights'>
                              <div class='weeklyHeadRightborder0_$!portlet.ID weeklyTermRight weeklyTermRightL#if($!top_form && $!top_form=='simple') weeklyTermRightR#end' id='termDay0-$!portlet.ID' style="left: 0%;#if($!top_form && $!top_form=='simple')width: 100%;#end border-right: block;">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder1_$!portlet.ID weeklyTermRight' id='termDay1-$!portlet.ID' style="left: 14.2857%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder2_$!portlet.ID weeklyTermRight' id='termDay2-$!portlet.ID' style="left: 28.5714%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder3_$!portlet.ID weeklyTermRight' id='termDay3-$!portlet.ID' style="left: 42.8571%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder4_$!portlet.ID weeklyTermRight' id='termDay4-$!portlet.ID' style="left: 57.1429%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder5_$!portlet.ID weeklyTermRight' id='termDay5-$!portlet.ID' style="left: 71.4286%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                              <div class='weeklyHeadRightborder6_$!portlet.ID weeklyTermRight weeklyTermRightR' id='termDay6-$!portlet.ID' style="left: 85.7143%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">
                                <div class="weeklyTermRightTop">&nbsp;</div>
                              </div>
                            </div>
                          </td>
               #if(${client} == "IPAD" && ($!top_form && $!top_form == 'simple')||(${isMac} && ${isMac} == 1))
							#else
						  <td class="weeklyTermTailTd_$!portlet.ID"  width="18">
                <div class="weeklyTermTail">&nbsp;</div>
              </td>
						  #end
						  </tr>
						<tr id="weeklyTermTr_$!portlet.ID">
						<td width="50">
                          <div class='weeklyTermLeft' id='weeklyTermLeft'>
                            <div class="weeklyTermLeftTop" id="weeklyTermLeftTopTall-$!portlet.ID">&nbsp;</div>
                          </div>
                        </td>
						<td nowrap="nowrap" width="100%" valign="top">
						<div id="termScheduleGarage-$!portlet.ID" class="termScheduleGarage" style="z-index: -1;">&nbsp;</div>
						<div id='weeklyTermRights-$!portlet.ID' class='weeklyTermRights'>
							<div id="termScheduleDivAdd_$!portlet.ID" class="termScheduleDivAdd" style="left: 0%; z-index: 1">&nbsp;</div>
						</div>
						<div  id="termScheduleContainer-$!portlet.ID" >
						</div>
						</td>
						#if(${client} == "IPAD" && ($!top_form && $!top_form == 'simple')||(${isMac} && ${isMac} == 1))
						#else
						<td class="weeklyTermTailTd_$!portlet.ID" style="display: none" width="18">
              <div class="weeklyTermTail">&nbsp;</div>
            </td>
						#end
						</tr>
                      </tbody>
                    </table>
                    </div>
                    <div class="tableBorderM">&nbsp;</div>
                    <div class="weeklyScrollPane" id="weeklyScrollPane_$!portlet.ID" #if("${client}" != "IPHONE") style="height:0px;" #end>
                      <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                          <tr valign="top">
                            <td width="50">
                              <div class="weeklyLeft">
                                <div class="leftMinute">00:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">01:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">02:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">03:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">04:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">05:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">06:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">07:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">08:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">09:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">10:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">11:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">12:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">13:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">14:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">15:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">16:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">17:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">18:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">19:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">20:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">21:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">22:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                                <div class="leftMinute">23:00</div>
                                <div class="leftMinuteBottom">&nbsp;</div>
                              </div>
                            </td>
                            <td width="100%">
                              <div id='weeklyRights-$!portlet.ID' class='weeklyRights'>
                                <div class="weeklyRight" style="left: 0%;#if($!top_form && $!top_form=='simple')width: 100%;#end" id="weeklyRight0-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 14.2857%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight1-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 28.5714%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight2-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 42.8571%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight3-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left:57.1429%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight4-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRight" style="left: 71.4286%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight5-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>
                                <div class="weeklyRightR" style="left: 85.7143%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end" id="weeklyRight6-$!portlet.ID">
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                  <div class="rightMinute">&nbsp;</div>
                                  <div class="rightMinuteBottom">&nbsp;</div>
                                </div>

                                <div id="scheduleDivAdd00_$!portlet.ID" class="scheduleDivAdd" style="left: 0%;#if($!top_form && $!top_form=='simple')width: 100%;#end">&nbsp;</div>
                                <div id="scheduleDivAdd01_$!portlet.ID" class="scheduleDivAdd" style="left: 14.2857%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>
                                <div id="scheduleDivAdd02_$!portlet.ID" class="scheduleDivAdd" style="left: 28.5714%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>
                                <div id="scheduleDivAdd03_$!portlet.ID" class="scheduleDivAdd" style="left: 42.8571%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>
                                <div id="scheduleDivAdd04_$!portlet.ID" class="scheduleDivAdd" style="left: 57.1429%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>
                                <div id="scheduleDivAdd05_$!portlet.ID" class="scheduleDivAdd" style="left: 71.4286%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>
                                <div id="scheduleDivAdd06_$!portlet.ID" class="scheduleDivAdd" style="left: 85.7143%;#if($!top_form && $!top_form=='simple')width: 0%;display: none;#end">&nbsp;</div>


                                <div id="scheduleGarage-$!portlet.ID" class="scheduleGarage">&nbsp;</div>
                              </div>
                            </td>
								<td class="scrollRight">
                              <div class="scroll_width"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
##</div>
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="#if($client == 'IPHONE') aipo.calendar.changeDisypayPeriod('1', '$!portlet.ID'); #end initCalendar['$!{portlet.ID}'](true);" />
#else
<script language="JavaScript" type="text/javascript">
//<![CDATA[

dojo.require("aipo.calendar.weekly");

dojo.addOnLoad(function () {
  initCalendar['$!{portlet.ID}'](false);
  #if($!top_form && $!top_form == 'simple')
    aipo.calendar.changeDisypayPeriod('$!{dayList}', '$!portlet.ID');
  #else
    aipo.calendar.changeDisypayPeriod('7', '$!portlet.ID');
  #end
 //aipo.calendar.populateWeeklySchedule('$!portlet.ID');
});

//]]>
</script>
#end

<div id="modalDialog2" class="modalDialog" style="display:none"></div>
<input type="hidden" id="secid-$!portlet.ID" name="secid-$!portlet.ID" value="$secid" />
<input style="display:none" type="checkbox" id="showAll-$!portlet.ID" value='$!init_s_all' #if($init_s_all == "t") checked="checked" #end />
#if("${client}" =="IPHONE")
</div>
#end

#if($!top_form && $!top_form=='simple')
<div class="menubar" id="menubar_$!{portlet.ID}_date" style="position:absolute;display:none;width: 3em;">
<ul>
<li>
<a href="javascript:void(0);" onclick="aipo.calendar.changeDisypayPeriod('1', '$!portlet.ID');aipo.calendar.populateWeeklySchedule('$!portlet.ID', '');aipo.setCookie('schedule_selected_daylist_$!portlet.ID',1,'/',365*24*60*60*1000)">1$l10n.SCHEDULE_DAY</a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.calendar.changeDisypayPeriod('4', '$!portlet.ID');aipo.calendar.populateWeeklySchedule('$!portlet.ID', '');aipo.setCookie('schedule_selected_daylist_$!portlet.ID',4,'/',365*24*60*60*1000)">4$l10n.SCHEDULE_DAY</a>
</li>
<li>
<a href="javascript:void(0);" onclick="aipo.calendar.changeDisypayPeriod('7', '$!portlet.ID');aipo.calendar.populateWeeklySchedule('$!portlet.ID', '');aipo.setCookie('schedule_selected_daylist_$!portlet.ID',7,'/',365*24*60*60*1000)">7$l10n.SCHEDULE_DAY</a>
</li>
</ul>
</div>
#end
