#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div id="printHeader">
#AUIPrintWindowCloseIcon()
$l10n.SCHEDULE_ALERT_DONOT_REFLECT
<table>
<tr>
<th>$l10n.SCHEDULE_WIDTH</th>
<td>
<select id="print_width" onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="100%" >100%</option>
<option value="90%">90%</option>
<option value="80%">80%</option>
<option selected="selected" value="600px">600$l10n.SCHEDULE_PIXEL</option>
<option value="620px">620$l10n.SCHEDULE_PIXEL</option>
<option value="640px">640$l10n.SCHEDULE_PIXEL</option>
<option value="660px">660$l10n.SCHEDULE_PIXEL</option>
<option value="680px">680$l10n.SCHEDULE_PIXEL</option>
<option value="700px">700$l10n.SCHEDULE_PIXEL</option>
<option value="720px">720$l10n.SCHEDULE_PIXEL</option>
<option value="740px">740$l10n.SCHEDULE_PIXEL</option>
<option value="760px">760$l10n.SCHEDULE_PIXEL</option>
<option value="780px">780$l10n.SCHEDULE_PIXEL</option>
<option value="800px">800$l10n.SCHEDULE_PIXEL</option>
</select>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_WORD_SIZE</th>
<td><select id="print_word_size" onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="8pt">8pt</option>
<option value="9pt">9pt</option>
<option selected="selected" value="10pt">10pt</option>
<option value="11pt">11pt</option>
<option value="12pt">12pt</option>
<option value="13pt">13pt</option>
<option value="14pt">14pt</option>
<option value="16pt">16pt</option>
<option value="18pt">18pt</option>
<option value="20pt">20pt</option>
</select>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_ICON</label><br />
</td>
</tr>
<tr>
<td><input type="button" value="$l10n.SCHEDULE_PRINT_OUT" onclick="javascript:print();"/></td>
</tr>
</table>
</div>

<script type="text/javascript" language="JavaScript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
}else{
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
}
  }
  //]]>
</script>


<div id="printBody" style="width:600px;font-size:10pt;">
#if($!{result.Detail.isSpan()})
<h1>$!{result.User.AliasName} $!{result.ViewDateFormatText}$!{result.Detail.StartDate.DayOfWeek}</h1>
#else
<h1>$!{result.User.AliasName} $!{result.ViewDateFormatText}$!{result.Detail.StartDate.DayOfWeek}$!{result.Detail.Date2}</h1>
#end

<table><tbody>

#ALtdcaption($l10n.SCHEDULE_NAME)
#ALtditem($!{result.Detail.User.AliasName})
#ALtdcaption($l10n.SCHEDULE_DATE)
#ALtditemheader()
#if($!{result.Detail.isSpan()})
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}&nbsp;-&nbsp;
$!{result.Detail.EndDateFormatSpace} $!{result.Detail.EndDate.DayOfWeek}
#elseif($!{result.Detail.isRepeat()})
$!{result.Detail.Text}<br/>
$!{result.Detail.Date2}
#else
$!{result.Detail.StartDateFormatSpace} $!{result.Detail.StartDate.DayOfWeek}<br/>
$!{result.Detail.Date2}
#end
#if(! ${result.Detail.isPublic()})
#AUIiconSecretAtt('title="$l10n.SCHEDULE_CLOSE_PUBLIC_WORD" border="0" width="16" height="16" align="absmiddle"')
#end
#if($!{result.Detail.isDuplicate()})
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE" border="0" width="16" height="16" align="absmiddle"></i>
#end
#if($!{result.Detail.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT" border="0" width="16" height="16" align="absmiddle"></i>
#end
#if($!{result.Detail.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE" border="0" width="16" height="16" align="absmiddle"></i>
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_TITLE)
#ALtditem($!{result.Detail.Name})

#* 共有カテゴリ連携（ここから）  *#

#ALtdcaption($l10n.SCHEDULE_COMMON_CATEGORY)
#ALtditem($!{result.Detail.CommonCategoryName})

#* 共有カテゴリ連携（ここまで）  *#

#ALtdcaption($l10n.SCHEDULE_PLACE)
#ALtditem($!{result.Detail.Place})
#ALtdcaption($l10n.SCHEDULE_NOTE)
#ALtditem($!{result.Detail.Note})
#ALtdcaption($l10n.SCHEDULE_PUBLIC)
#ALtditemheader()
#if($!result.Detail.isPublic())
$l10n.SCHEDULE_OPEN_PUBLIC
#elseif(!$!result.Detail.isHidden())
$l10n.SCHEDULE_CLOSED_PUBLIC
#else
$l10n.SCHEDULE_HIDDEN_PUBLIC
#end
#ALtditemfooter()
#ALtdcaption($l10n.SCHEDULE_ENTRY_USER)
#ALtditemheader()
#set($counter = 0)
#foreach($record in $!result.MemberList)
    #if(!($!{record.Name.toString()} == $!{result.Detail.User.Name.toString()}) || $!result.isActivity())
    $!record.AliasName
        #if($result.getStatus($record.UserId.Value) == "T")
        <i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE" border="0" width="16" height="16" align="absmiddle"></i>
        #elseif($result.getStatus($record.UserId.Value) == "R" || $result.getStatus($record.UserId.Value) == "D")
        #set($counter = $counter + 1)
        <img class="icon_schedule" src="images/schedule/schedule_remove.gif" border="0" width="16" height="16" align="absmiddle" alt="$l10n.SCHEDULE_DELETED" title="$l10n.SCHEDULE_DELETED"/>
        #end
    <br/>
    #end
#end
#if($counter < ($!result.MemberList.size() - 1))
#set ($hasMember = true)
#end
#if($hasMember)
<div style="padding:4px 0px 0px 0px">
#if($!{result.Detail.isEditable()}) $l10n.SCHEDULE_MESSAGE_OF_EDIT_AND_DELETE#else #if($!{result.Detail.User.UserId.toString()}==$!{result.Detail.UpdateUser.UserId.toString()}) $l10n.SCHEDULE_ENTRY_USER#else $!{result.Detail.UpdateUserAliasNameText}#end$l10n.SCHEDULE_YOU_DONOT_EDIT_AND_DELETE_THE_SCHEDULE#end
</div>

<div>
#if($!{result.Detail.MailFlag} == "A")
$l10n.SCHEDULE_SEND_MAIL_FOR_UPDATING
#else
$l10n.SCHEDULE_DONOT_SEND_MAIL_FOR_UPDATING
#end
</div>
#end

#ALtdcellfooter()

#ALtdcaption($l10n.SCHEDULE_FACILITY)
#ALtditemheader()
#foreach($record in $!result.FacilityList)
${record.FacilityName}<br/>
#end
#ALtditemfooter()

#ALtdcaption($l10n.SCHEDULE_CREATE_USER)
#ALtditem("$!{result.Detail.CreateUser.AliasName} （$!{result.Detail.CreateDate.toString($l10n.SCHEDULE_SIMPLE_DATE_FORMAT_DAY)}）")
#ALtdcaption($l10n.SCHEDULE_UPDATE_USER)
#ALtditem("$!{result.Detail.UpdateUser.AliasName} （$!{result.Detail.UpdateDate.toString($l10n.SCHEDULE_PERIOD)}）")


</tbody></table>
</div>

<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');" />
#else
  <script type="text/javascript" language="JavaScript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
    });
    //]]>
  </script>
#end
-->

