#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
<div id="printHeader">
#AUIPrintWindowCloseIcon()
$l10n.SCHEDULE_ALERT_DONOT_REFLECT
<table>
<tr>
<th>$l10n.SCHEDULE_WIDTH</th>
<td>
<select id=print_width onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="100%" >100%</option>
<option value="90%">90%</option>
<option value="80%">80%</option>
<option selected="selected" value="600px">600$l10n.SCHEDULE_PIXEL</option>
<option value="620px">620$l10n.SCHEDULE_PIXEL</option>
<option value="640px">640$l10n.SCHEDULE_PIXEL</option>
<option value="660px">660$l10n.SCHEDULE_PIXEL</option>
<option value="680px">680$l10n.SCHEDULE_PIXEL</option>
<option value="700px">700$l10n.SCHEDULE_PIXEL</option>
<option value="720px">720$l10n.SCHEDULE_PIXEL</option>
<option value="740px">740$l10n.SCHEDULE_PIXEL</option>
<option value="760px">760$l10n.SCHEDULE_PIXEL</option>
<option value="780px">780$l10n.SCHEDULE_PIXEL</option>
<option value="800px">800$l10n.SCHEDULE_PIXEL</option>
</select>
</tr>
<tr>
<th>$l10n.SCHEDULE_WORD_SIZE</th>
<td><select id=print_word_size onChange="change_print_form()" onkeyup="this.blur();this.focus();">
<option value="8pt">8pt</option>
<option value="9pt">9pt</option>
<option selected="selected" value="10pt">10pt</option>
<option value="11pt">11pt</option>
<option value="12pt">12pt</option>
<option value="13pt">13pt</option>
<option value="14pt">14pt</option>
<option value="16pt">16pt</option>
<option value="18pt">18pt</option>
<option value="20pt">20pt</option>
</select>
</td>
</td>
</tr>
<tr>
<th>$l10n.SCHEDULE_SET_OTHER_VIEW</th>
<td>
<label><input id=print_icon type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_ICON</label><br />
<label><input id=print_term type="checkbox" checked="checked" onclick="change_print_form()"/> $l10n.SCHEDULE_DISPLAY_SPAN_SCHEDULE</label><br />
<label><input id=print_todo type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_TODO</label><br />
<label><input id=print_holiday type="checkbox" checked="checked" onclick="change_print_form()" /> $l10n.SCHEDULE_DISPLAY_HOLIDAY</label><br />
##<label><input type="checkbox" checked="checked" onclick="change_print_form()" /> 記念日を表示する。</label></td>
</tr>
<tr>
<td><input type="button" value="$l10n.SCHEDULE_PRINT_OUT" onclick="javascript:print();"/></td>
</tr>
</table>
</div>



<script type="text/javascript" language="JavaScript">
  //<![CDATA[
  function change_print_form(){
    document.getElementById('printBody').style.width=document.getElementById('print_width').value;
    document.getElementById('printBody').style.fontSize=document.getElementById('print_word_size').value;

if(document.all!=undefined){
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className.indexOf('auiIcon')>=0){
          document.all[i].style.display = 'none';
        }
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='termWeek'){
          document.all[i].style.display = 'none';
        }
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='calerndarTodo'){
          document.all[i].style.display = 'none';
        }
      }
    }
## 祝日の表示切替
    if(document.getElementById('print_holiday').checked){
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='holiday small'){
          document.all[i].style.display = '';
        }
      }
    }else{
      for(i = 0; i < document.all.length; i++){
        if(document.all[i].className=='holiday small'){
          document.all[i].style.display = 'none';
        }
      }
    }
}else{
### firefox用 ############################################
## アイコンの表示切替
    if(document.getElementById('print_icon').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('auiIcon').length; i++){
        document.getElementById('printBody').getElementsByClassName('auiIcon')[i].style.display = 'none';
      }
    }
## 期間スケジュールの表示切替
    if(document.getElementById('print_term').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('termWeek').length; i++){
        document.getElementById('printBody').getElementsByClassName('termWeek')[i].style.display = 'none';
      }
    }
## ToDoの表示切替
    if(document.getElementById('print_todo').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('calerndarTodo').length; i++){
        document.getElementById('printBody').getElementsByClassName('calerndarTodo')[i].style.display = 'none';
      }
    }
## 祝日の表示切替
    if(document.getElementById('print_holiday').checked){
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('holiday small').length; i++){
        document.getElementById('printBody').getElementsByClassName('holiday small')[i].style.display = '';
      }
    }else{
      for(i = 0; i < document.getElementById('printBody').getElementsByClassName('holiday small').length; i++){
        document.getElementById('printBody').getElementsByClassName('holiday small')[i].style.display = 'none';
      }
    }
}
  }
  //]]>
</script>






#if($result.MemberList.size() == 0 && $result.FacilityList.size() == 0)
<div class="message">$l10n.SCHEDULE_ALERT_NOT_CREAT_USER_AND_FACILITY</div>
#else
<div id="printBody" style="width:600px;font-size:10pt;">
#if($!{result.getTargetGroupName().groupAliasName})
<h1>$!{result.getTargetGroupName().groupAliasName} $!{result.ViewStartFormat}$!{result.ViewStart.DayOfWeek}&nbsp;-&nbsp;$!{result.ViewEnd.Day}日$!{result.ViewEnd.DayOfWeek}</h1>
#else
<h1>$!{result.ViewStartFormat}$!{result.ViewStart.DayOfWeek}&nbsp;-&nbsp;$!{result.ViewEnd.Day}日$!{result.ViewEnd.DayOfWeek}</h1>
#end

#ALtableheaderCalendar("100%")
#set($entityids = "")
#set($roop = 0)
#foreach($record3 in $result.MemberList)
### 日付（曜日）の表示（ここから）
#if( $roop % 5 == 0)
<tr>
#ALtdheadheaderAtt("class='groupWeekly' nowrap='nowrap'")
<img src="images/common/dot.gif" width="50" height="1" alt="" />
#ALtdheadfooter()
#if($result.MemberList.size() > 0)
#set($daylist = ${result.getContainer($result.MemberList.get(0).UserId.Value).DayList})
#else
#set($daylist = ${result.getFacilityContainer($result.FacilityList.get(0).FacilityId.Value).DayList})
#end
#foreach($record in $daylist)
#set($getScheduleDetailLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailJSONScreen').addQueryData('view_date', $!{record.Date.toString()}))
#if($!{record.isHoliday()})
#set ($stday = $velocityCount )
#ALtdheadheaderAtt("class='holiday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
<span class="holiday small"><br />${record.Holiday.Name}</span>
#elseif($!{record.Date.Value.Day} == 0)
#set ($stday = $velocityCount )
#ALtdheadheaderAtt("class='sunday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#elseif($!{record.Date.Value.Day} == 6)
#set ($sunday = $velocityCount )
#ALtdheadheaderAtt("class='saturday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#elseif($!{result.Today.Value} == $!{record.Date.Value})
#ALtdheadheaderAtt("class='today groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#else
#ALtdheadheaderAtt("class='groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#end
<br/><img src="images/common/dot.gif" width="50" height="1" alt="" />
#ALtdheadfooter()
#end
</tr>
#end
#set($roop = $roop + 1)

### 日付（曜日）の表示（ここまで）
<tr>
#set($record3rowcount = $result.getTermContainer($record3.UserId.Value).size() + 1 + $result.getToDoContainer($record3.UserId.Value).size())
#set($rowspanstr = "rowspan=$record3rowcount")
#set($show_tr = 0)
#ALtdheadheaderAtt("$rowspanstr class='groupWeekly' nowrap='nowrap'")
$record3.AliasName
##if(!$result.isMatch($record3.UserId.Value))
##set($noteLink = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormScreen').addQueryData('dest_user_id', $!record3.userId)))
##<br /><a class="btn_gray" style="margin-top:5px;" href="javascript:void(0);" onclick="aipo.common.showDialog('$noteLink', '$!portlet.ID', aipo.note.onLoadNoteDialog);">
##伝言メモ追加
##</a>
##end
#ALtdheadfooter()
### 期間スケジュール（ここから） ###
#foreach($termcontainer in ${result.getTermContainer($record3.UserId.Value)})
#if($show_tr > 0)
<tr>
#end
#set($nottermcount = 0)
#foreach($record4 in $termcontainer.DayList)
#if( ! $record4.isTermNull() )
##if($record4.TermResultData.isShowDetail())
#if($nottermcount > 0)
#ALtdcellAtt("" "colspan='$nottermcount'")
#end
#set($addScheduleLink = "")
#ALtdcellheaderAtt("class='termWeek' colspan='$!{record4.TermResultData.Rowspan}'")
#set($entityids = "$!{entityids}$!{record4.TermResultData.ScheduleId},")
#if(${record4.TermResultData.isShowDetail()})
<div class="schedule-$!{portlet.ID}-$!{record4.TermResultData.ScheduleId} calerndarTermScheduleDiv small">$!{record4.TermResultData.WbrName}
##<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleDetailScreen").addQueryData("entityid",$!{record4.TermResultData.ScheduleId}).addQueryData('userid', $!{record3.UserId}).addQueryData('view_date', $!{record4.Date.toString()}))', '$!portlet.ID', aipo.schedule.onLoadScheduleDetail);" class="small">$!{record4.TermResultData.WbrName}
#if(!${record4.TermResultData.isPublic()})&nbsp;#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")#else<img class="dot_schedule" src="images/common/dot.gif" alt="" />#end
#if(${record4.TermResultData.isTmpreserve()})<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>#end
</a>
#else
<div class="calerndarTermScheduleDiv small">
$!{record4.TermResultData.WbrName}
#if(!${record4.TermResultData.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if(${record4.TermResultData.isTmpreserve()})
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
#end
</div>
#ALtdcellfooter()
#set($nottermcount = 0)
##end
#elseif (! $record4.isHasTerm() )
#set($nottermcount = $nottermcount + 1)
#end
#end
#if($nottermcount > 0)
#ALtdcellAtt("" "class='termWeek' colspan='$nottermcount'")
#end
</tr>
#set($show_tr = $show_tr + 1 )
#end
### 期間スケジュール（ここまで） ###
### １日もしくは$l10n.SCHEDULE_REPEATスケジュール（ここから） ###
#if($show_tr > 0)
<tr>
#end
#set($show_tr = 0 )
#foreach($record in ${result.getContainer($record3.UserId.Value).DayList})
#set ($color_style = "")
#set ($color_style_holiday = "")
#set ($color_style_othermonth = "")
#set ($holiday_name = "")
#if($!{result.Today.Value} == $!{record.Date.Value})
#set ($color_style = " today")
#elseif($!{record.Date.Value.Day} == 0)
#set ($color_style = " sunday")
#elseif($!{record.Date.Value.Day} == 6)
#set ($color_style = " saturday")
#end
#if($!{record.isHoliday()})
#set ($color_style_holiday = " holiday")
#end
<td class="topNone${color_style}${color_style_holiday}">
#if($record.ScheduleList.size() <= 0)
<div class="calendarBody">
<div class="calendarScheduleDiv"><div class="small">
#if($!{result.hasAuthoritySelfInsert()})
#if($record3.UserId.Value == $result.UserId)
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()})")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('member_to', $!{record3.getName().getValue()})")
#end
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="$l10n.SCHEDULE_ADD_SCHEDULES">$l10n.SCHEDULE_ADD_SCHEDULES</a>
#end
</div></div>
</div>
#else
#foreach($record2 in $record.ScheduleList)
#if(! ${record2.isDummy()})
<div>
#if($record2.isShowDetail())
#set($entityids = "$!{entityids}$!{record2.ScheduleId},")
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record2.ScheduleId}).addQueryData('userid', $!{record3.UserId}).addQueryData('view_date', $!{record.Date.toString()})")
<div class="calendarScheduleDiv">
<div class="small">$!{record2.Date} $!{record2.WbrName}
##<div class="small">$!{record2.Date} $!{record2.WbrName}</div>
##<div class="schedule-$!{portlet.ID}-$!{record2.ScheduleId} small"><a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDetail)" class="small">$!{record2.WbrName}</a></div>
##</div>
#else
<div class="calendarScheduleDiv">
<div class="small">$!{record2.Date} $!{record2.WbrName}
##<div class="small">$!{record2.Date} $!{record2.WbrName}</div>
##<div class="schedule-$!{portlet.ID}-$!{record2.ScheduleId} small">$!{record2.WbrName}</div>
##</div>
#end
#if(! ${record2.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($record2.isDuplicate())
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if(${record2.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record2.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
</div>
</div>
#end
#end
<div class="calendarScheduleDiv"><div class="small">
#if($!{result.hasAuthoritySelfInsert()})
#if($record3.UserId.Value == $result.UserId)
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()})")
#else
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('member_to', $!{record3.getName().getValue()})")
#end
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="$l10n.SCHEDULE_ADD_SCHEDULES">$l10n.SCHEDULE_ADD_SCHEDULES</a>
#end

</div></div>
#end
<div class="calendarFooter"></div>
</td>
#set($show_tr = $show_tr + 1 )
#end
#if($show_tr > 0)
</tr>
#end
#set($show_tr = $show_tr + 1 )
### １日もしくは$l10n.SCHEDULE_REPEATスケジュール（ここまで） ###
### ToDoリスト（ここから） ###
#foreach($todocontainer in ${result.getToDoContainer($record3.UserId.Value)})
<tr>
#set($nottodocount = 0)
#foreach($record in $todocontainer.DayList)
#if( ! $record.isTodoNull() )
#if($nottodocount > 0)
#ALtdcellAtt("" "class ='calerndarTodo' colspan='$nottodocount' style='vertical-align:top;background-color:#FFFFFF;'")
#end
#ALtdcellheaderAtt("class ='calerndarTodo' colspan='$!{record.ToDoResultData.Rowspan}' align='center' style='vertical-align:top;'")
<div class="calerndarTodoDiv small">
#if($record3.UserId.Value == $result.UserId )
##<a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoDetailScreen").addQueryData("entityid",$!{record.ToDoResultData.TodoId}))');">
#else
##<a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ToDoPublicDetailScreen").addQueryData("entityid",$!{record.ToDoResultData.TodoId}))');">
#end
ToDo：$!{record.ToDoResultData.TodoName}
#if(! ${record.ToDoResultData.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
</a>
</div>
#ALtdcellfooter()
#set($nottodocount = 0)
#elseif (! $record.isHasTodo() )
#set($nottodocount = $nottodocount + 1)
#end
#end
#if($nottodocount > 0)
#ALtdcellAtt("" "class ='calerndarTodo' colspan='$nottodocount' style='vertical-align:top;background-color:#FFFFFF;'")
#end
</tr>
#end
### ToDoリスト（ここまで） ###
#end
### 設備スケジュール（ここから） ###
#if ($roop > 0)
##<tr>
##foreach ( $num in [1..8] )
##<td class="calendarHeader"><img src="images/common/dot.gif" height="1" alt="" /></td>
##end
##</tr>
#end
#foreach($record3 in $result.FacilityList)
### 日付（曜日）の表示(設備用)（ここから）
#if( $roop % 5 == 0)
<tr>
#ALtdheadheaderAtt("class='groupWeekly' nowrap='nowrap'")
<img src="images/common/dot.gif" width="50" height="1" alt="" />
#ALtdheadfooter()
#if($result.MemberList.size() > 0)
#set($daylist = ${result.getContainer($result.MemberList.get(0).UserId.Value).DayList})
#else
#set($daylist = ${result.getFacilityContainer($result.FacilityList.get(0).FacilityId.Value).DayList})
#end
#foreach($record in $daylist)
#set($getScheduleDetailLink = $!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailJSONScreen').addQueryData('view_date', $!{record.Date.toString()}))
#if($!{record.isHoliday()})
#set ($stday = $velocityCount )
#ALtdheadheaderAtt("class='holiday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
<span class="holiday small"><br />${record.Holiday.Name}</span>
#elseif($!{record.Date.Value.Day} == 0)
#set ($stday = $velocityCount )
#ALtdheadheaderAtt("class='sunday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#elseif($!{record.Date.Value.Day} == 6)
#set ($sunday = $velocityCount )
#ALtdheadheaderAtt("class='saturday groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#elseif($!{result.Today.Value} == $!{record.Date.Value})
#ALtdheadheaderAtt("class='today groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#else
#ALtdheadheaderAtt("class='groupWeekly' nowrap='nowrap'")
$!{record.Date.Day} $!{record.Date.DayOfWeek}
#end
<br/><img src="images/common/dot.gif" width="50" height="1" alt="" />
#ALtdheadfooter()
#end
</tr>
#end
#set($roop = $roop + 1)
### 日付（曜日）の表示(設備用)（ここまで）

#set($record3rowcount = 1)
#set($rowspanstr = "rowspan=$record3rowcount")
#ALtdheadAtt("$record3.FacilityName" "$rowspanstr")
#foreach($record in ${result.getFacilityContainer($record3.FacilityId.Value).DayList})
#if($!{record.Date.Value.equals($result.Today.Value)})
#if($!{record.isHoliday()})
#ALtdcellheaderAtt("class='holiday' style='vertical-align:top;' height='100%'")
#else
#ALtdcellheaderAtt("class='today' style='vertical-align:top;' height='100%'")
#end
##<table class="outer" cellspacing="1" cellpadding="2" width="100%" height="100%"><tbody><tr ><td class="item" style="vertical-align:top;background-color:#FFFFE5" height="100%">
#elseif($!{record.isHoliday()})
#ALtdcellheaderAtt("class='holiday' style='vertical-align:top;'")
#elseif($!{record.Date.Value.Day} == 0)
#ALtdcellheaderAtt("class='sunday' style='vertical-align:top;'")
#elseif($!{record.Date.Value.Day} == 6)
#ALtdcellheaderAtt("class='saturday' style='vertical-align:top;'")
#else
#ALtdcellheaderAtt("style='vertical-align:top;'")
#end

#if($record.ScheduleList.size() <= 0)
<div class="calendarBody">
<div class="calendarScheduleDiv"><div class="small">
#if($!{result.hasAuthorityFacilityInsert()})
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('facility_to', $!{record3.FacilityId.Value})")
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="#$l10n.SCHEDULE_WILL_ADD_SCHEDULE">#$l10n.SCHEDULE_WILL_ADD_SCHEDULE</a>
#end
</div></div>
</div>
#else
#foreach($record2 in $record.ScheduleList)
#if(! ${record2.isDummy()})
#if($record2.isShowDetail())
#set($entityids = "$!{entityids}$!{record2.ScheduleId},")
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen').addQueryData('entityid', $!{record2.ScheduleId}).addQueryData('view_date', $!{record.Date.toString()}).addQueryData('facilityid', $record3.FacilityId.Value)")
<div class="calendarScheduleDiv">
<div class="small">${record2.Date} $record2.WbrName
##<div class="small">${record2.Date} $record2.WbrName</div>
##<div class="schedule-$!{portlet.ID}-$!{record2.ScheduleId} small"><a class="small" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDetail)">$record2.WbrName</a></div>
##</div>
#else
<div class="calendarScheduleDiv">
<div class="small">${record2.Date} $record2.Name
##<div class="small">${record2.Date} $record2.Name</div>
##<div class="schedule-$!{portlet.ID}-$!{record2.ScheduleId} small">$record2.Name</div>
##</div>
#end
#if(! ${record2.isPublic()})
#AUIiconSecretAtt("title='$l10n.SCHEDULE_CLOSE_PUBLIC_WORD'")
#end
#if($record2.isDuplicate())
<i class="auiIcon auiIconOverlap" title="$l10n.SCHEDULE_DUPLICATE_SCHEDULE"></i>
#end
#if(${record2.isRepeat()})
<i class="auiIcon auiIconRepeat" title="$l10n.SCHEDULE_REPEAT"></i>
#end
#if($record2.isTmpreserve())
<i class="auiIcon auiIconTmpreserve" title="$l10n.SCHEDULE_TEMP_SCHEDULE"></i>
#end
</div>
</div>
#end
#end
<div class="calendarScheduleDiv"><div class="small">
#set($addScheduleLink = "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen').addQueryData('entityid','new').addQueryData('form_start', $!{record.Date.toString()}).addQueryData('form_end', $!{record.Date.toString()}).addQueryData('facility_to', $!{record3.FacilityId.Value})")
##<a class="small addSchedule" href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($addScheduleLink)', '$!portlet.ID', aipo.schedule.onLoadScheduleDialog)" title="#$l10n.SCHEDULE_WILL_ADD_SCHEDULE">#$l10n.SCHEDULE_WILL_ADD_SCHEDULE</a>
</div></div>
#end
#if($!{record.Date.Value.equals($result.Today.Value)})
##</td></tr></tbody></table>
#end
#ALtdcellfooter()
#end
</tr>
#end
### 設備スケジュール（ここまで） ###
#ALtablefooterCalendar()
#end

<!--
#if($!ajax_onloadimage)
  <img src="images/common/dot.gif" width="1" height="1" onload="aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');ptConfig['$!portlet.ID'].reloadFunction = aipo.reloadPage;" />
#else
  <script type="text/javascript" language="JavaScript">
    //<![CDATA[
    dojo.addOnLoad(function(){
      aipo.schedule.setupTooltip('$!{getScheduleDetailLink}', '$!entityids', '$!portlet.ID');
      ptConfig['$!portlet.ID'].reloadFunction = aipo.reloadPage;
    });
    //]]>
  </script>
#end
-->

