#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------

<script language="JavaScript" type="text/javascript">
//<![CDATA[
    dojo.provide('aipo.schedule');

    dojo.require("aipo.calendar.weekly");
    dojo.require("aipo.widget.DropdownMemberFacilitypicker");

    ptConfig['$!portlet.ID'] = { group:"schedule", thisUrl:"$!jslink.getPortletById($!portlet.ID)", jsonUrl:"$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleWeeklyJSONScreen')", formUrl: '$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleFormScreen')', detailUrl: '$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleDetailScreen')', rowHeight:18, scheduleDivDaySum:7, tmpIndex:-1, distance:3, timeStart:$!time_start, timeEnd:$!time_end, timeInterval:$!time_interval, contentHeight: ($!time_end - $!time_start)*(60/$!time_interval)*18, contentScrollTop: $!time_start*(60/$!time_interval)*18, initUrl:'$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","ScheduleScreen"))', reloadFunction:aipo.reloadPage };
	aipo.schedule.login_id = "$current_user_id";
	aipo.schedule.login_name = "$current_user_ln";
    aipo.schedule.login_aliasname = "$current_user";
//]]>
</script>
#ALjavascript("javascript/aipo/schedule/form.js")

<script language="JavaScript" type="text/javascript">
//<![CDATA[

    var portletId = '$!portlet.ID';
    var initCalendar = initCalendar || {};
    initCalendar['$!portlet.ID'] = function(isAjax) {

    ptConfig['$!portlet.ID'].isScroll = false;

    aipo.schedule.login_id = "$current_user_id";
    aipo.schedule.login_name = "$current_user_ln";
    aipo.schedule.login_aliasname = "$current_user";
    var portletId = '$!portlet.ID';
    dojo.style("termScheduleDivAdd_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd00_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd01_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd02_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd03_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd04_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd05_"+portletId,'opacity', 0);
    dojo.style("scheduleDivAdd06_"+portletId,'opacity', 0);
    #if("${client}" != "IPHONE") dojo.style(dojo.byId('weeklyScrollPane_$!portlet.ID'), 'height', ($!time_end - $!time_start)*(60/$!time_interval)*18 + 'px'); #end

	#if (${client} == "IPAD")
	dojo.query(".scroll_width").style("width", "17px");
	#if("$!top_form" == 'simple')
	dojo.query(".scroll_width").style("width", "3%");
 	#end
	#end

    var initCalendar=function(){
			for(var i =0; i < ptConfig['$!portlet.ID'].scheduleDivDaySum; i++) {
		      tmpDraggable = new aipo.calendar.WeeklyScheduleAddDraggable('scheduleDivAdd0'+i+'_$!portlet.ID' , {idx: i});
		      tmpDraggable.portletId = '$!portlet.ID';
		      tmpDraggable.index = i;
		    };

		    tmpDraggable = new aipo.calendar.WeeklyTermScheduleAddDraggable('termScheduleDivAdd_$!portlet.ID',  {idx: 0});
		    tmpDraggable.portletId = '$!portlet.ID';

		    aipo.calendar.populateWeeklySchedule('$!portlet.ID');
		};

	var mpHTML = document.getElementById("memberpicker-$!portlet.ID");
    if(mpHTML){

        var tmpFrom = document.getElementById("tmp_member_from-$!portlet.ID");
    	var tmpTo = document.getElementById("tmp_member_to-$!portlet.ID");
    	if(tmpTo != null){
	    	tmpTo.parentNode.removeChild(tmpTo);
	    }
    	if(tmpFrom != null){
	    	tmpFrom.parentNode.removeChild(tmpFrom);
	    }

       params = {
            widgetId: "member_to-$!portlet.ID",
            iconURL: "themes/$!theme/images/icon/icon_member.gif",
            iconAlt: "$l10n.SCHEDULE_SELECT_MENBERS",
            selectId: "member_to-$!portlet.ID" ,
            inputId: "member_to_input-$!portlet.ID",
            buttonAddId: "button_member_add-$!portlet.ID",
            buttonRemoveId: "button_member_remove-$!portlet.ID",
            memberFromId: "tmp_member_from-$!portlet.ID" ,
            memberToId: "tmp_member_to-$!portlet.ID" ,
            memberFromUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserFacilityLiteJSONScreen').addQueryData('mode','group').addQueryData('groupname','LoginUser')",
            memberFromOptionKey: "name",
            memberFromOptionValue: "aliasName",
            groupSelectId: "tmp_group-$!portlet.ID",
            groupSelectOptionKey: "groupId",
            groupSelectOptionValue: "name",
            memberGroupUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserGroupLiteJSONScreen')",
            changeGroupUrl: "$!jslink.getPortletById($!portlet.ID).addQueryData('template','ScheduleUserFacilityLiteJSONScreen').addQueryData('mode','group')" ,
            tmpPortretId: "$!portlet.ID"
       };
       var mp = new aipo.widget.DropdownMemberFacilitypicker(params , mpHTML);
       ptConfig['$!portlet.ID'].DropdownMemberFacilitypicker = mp;

       var addtxt=dojo.query("#adduser-"+portletId);
       var gselect = document.getElementById("groupselect-"+portletId);
        if(gselect.value.indexOf("pickup")!=-1){
            addtxt.removeClass("hide");
        }else{
            addtxt.addClass("hide");
        }
    }

    var mpicker = dijit.byId("memberpicker-$!portlet.ID");
    if(mpicker){
        var params="";
        dojo.xhrGet({
            portletId:'$!portlet.ID',
            url:gselect.value,
            encoding: "utf-8",
            handleAs: "json-comment-filtered",
            load:function(data, event) {
                //paramsの編集+namesの変更
                var html="";
                mp.dropDown.removeMember(dojo.byId("member_to-"+'$!portlet.ID'));
                for(var i=0;i<data.length;i++){
                    if (i != 0) {
                        html += ' ';
                    }
                    params+="&m_id="+data[i].name.replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;");

					var dataId = data[i].userFacilityId;
					if(data[i].userFacilityType == 'F'){
						dataId = 'f' + dataId;
					}
                    mpicker.addOptionSync(dataId,data[i].aliasName,true);
                }
            },
            handle:function(){
                initCalendar();
            }
        });
    }
  };

//]]>
</script>
#if($!hasMinimumAuthority)
#parse("/portlets/html/ja/ajax-schedule.vm")
#else
#parse("/portlets/html/PermissionError.vm")
#end
