#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#if($!result.currentTab == "received_notes")
#set($person_key = $l10n.NOTE_SRC_USER)
#set($person_value = $!result.Detail.SrcUserFullName)
#else
#set($person_key = $l10n.NOTE_DEST_USER)
#set($person_value = $!result.Detail.DestUserFullName)
#end
#set ($navilist = [[$l10n.NOTE_TOP, "$!jslink.getAction('controls.Restore',$!portlet.ID)"], [$l10n.NOTE_NOTE_LIST, "$!jslink.getPortletById($!portlet.ID).addQueryData('eventSubmit_doNote_list','1')"], [$l10n.NOTE_NOTE_DETAIL, ""]])
#set ($tabs = [[$l10n.NOTE_NOTE_DETAIL, "",""]])
#set ($indicator_id = "indicator-dlg-")
## ---------------------------------------------------------------------------
#ALdialogheaderCloseJS($l10n.NOTE_NOTE_DETAIL "aipo.note.hideDialog()")
#ALajaxIndicator("$indicator_id" "$!portlet.ID" "")
#ALajaxdetailformheader($l10n.NOTE_NOTE)
#ALtableheaderWide()
#ALtdcaption($l10n.NOTE_CLERK_TIME)
#ALtditem("$!{result.Detail.AcceptDate.Year}$l10n.NOTE_YEAR$!{result.Detail.AcceptDate.Month}$l10n.NOTE_MONTH$!{result.Detail.AcceptDate.Day}$l10n.NOTE_DAY$!{result.Detail.AcceptDate.DayOfWeek} $!{result.Detail.AcceptDate.time}")
#ALtdcaption($person_key)
#ALtditemheader()
#if($!result.currentTab == "received_notes")
$person_value
#else
#foreach($record in $!result.MemberList)
#if(!($!{record.UserId.toString()} == $!{result.Detail.SrcUserId.toString()}))
$!record.AliasName
#if($result.getStatus($record.UserId.Value) == "1")
<img src="images/note/note_new_message.gif" alt="$l10n.NOTE_NEW_MESSAGE" title="$l10n.NOTE_NEW_MESSAGE"/>
#elseif($result.getStatus($record.UserId.Value) == "2")
<img src="images/note/note_unread_message.gif" alt="$l10n.NOTE_UNREAD_MESSAGE" title="$l10n.NOTE_UNREAD_MESSAGE"/>
#elseif($result.getStatus($record.UserId.Value) == "3")
<img src="images/note/note_read_message.gif" alt="$l10n.NOTE_READ_MESSAGE" title="$l10n.NOTE_READ_MESSAGE"/>
#else
<img src="images/note/note_deleted_message.gif" alt="$l10n.NOTE_DELETED_MESSAGE" title="$l10n.NOTE_DELETED_MESSAGE"/>
#end
<br/>
#end
#end
#end
#ALtditemfooter()
#ALtdcaption($l10n.NOTE_CLIENT)
#ALtditem($!result.Detail.ClientName)
#ALtdcaption($l10n.NOTE_CLIENT_CAMPANY)
#ALtditem($!result.Detail.CompanyName)
#ALtdcaption($l10n.NOTE_CLIENT_CELLILAR_PHONE)
#ALtditem($!result.Detail.Telephone)
#ALtdcaption($l10n.NOTE_CLIENT_EMAIL)
#ALtditem($!result.Detail.EmailAddress)
#set($count = 0)
#if ($!result.Detail.AddDestTypePc.toString() == "1") #set ($dest_type_pc_dist = $l10n.NOTE_PC) #set($count = $count+1) #end
#if ($!result.Detail.AddDestTypeCellphone.toString() == "1") #set ($dest_type_cellphone_dist = $l10n.NOTE_CELLULAR_PHONE) #set($count = $count+1) #end
#ALtdcaption($l10n.NOTE_ADDING_ADDRESS)
#if($count == 0)
#ALtditem("-----")
#else
#ALtditemheader()
$!dest_type_pc_dist #if($count == 2) と #end $!dest_type_cellphone_dist
#ALtditemfooter()
#end
#if ($!result.Detail.SubjectType.toString() == "0") #set ($subject = $!result.Detail.CustomSubject.toString()) #end
#if ($!result.Detail.SubjectType.toString() == "1") #set ($subject = $l10n.NOTE_CALL_AGAIN) #end
#if ($!result.Detail.SubjectType.toString() == "2") #set ($subject = $l10n.NOTE_CALL_BACK) #end
#if ($!result.Detail.SubjectType.toString() == "3") #set ($subject = $l10n.NOTE_TELL_ME) #end
#if ($!result.Detail.SubjectType.toString() == "4") #set ($subject = $l10n.NOTE_TAKE_A_MESSAGE) #end
#ALtdcaption($l10n.NOTE_SUBJECT)
#ALtditem($!subject)
#ALtdcaption($l10n.NOTE_MESSAGE)
#ALtditem($!result.Detail.Message)
#ALtdcaption($l10n.NOTE_CREATE_TIME)
#ALtditem("$!{result.Detail.CreateDate.Year}$l10n.NOTE_YEAR$!{result.Detail.CreateDate.Month}$l10n.NOTE_MONTH$!{result.Detail.CreateDate.Day}$l10n.NOTE_DAY$!{result.Detail.CreateDate.DayOfWeek} $!{result.Detail.CreateDate.time}")
#if($!{result.Detail.ConfirmDate})
#ALtdcaption($l10n.NOTE_CHECK_TIME)
#ALtditem("$!{result.Detail.ConfirmDate.Year}$l10n.NOTE_YEAR$!{result.Detail.ConfirmDate.Month}$l10n.NOTE_MONTH$!{result.Detail.ConfirmDate.Day}$l10n.NOTE_DAY$!{result.Detail.ConfirmDate.DayOfWeek} $!{result.Detail.ConfirmDate.time}")
#end
#ALtablefooter()
#ALbuttonheader()
#ALajaxbuttonDelete("$!jslink.getPortletById($!portlet.ID).addQueryData('template','NoteFormJSONScreen').addQueryData('entityid',$entityid).addQueryData('mode', 'delete')" "$indicator_id" "$!portlet.ID" "aipo.note.onReceiveMessage")<input name="ajaxbuttonClose" class="button" type="button" value="$l10n.NOTE_CLOSE" onclick="aipo.note.hideDialog();" />
#ALbuttonfooter()
#ALformfooter()
<img src="images/common/dot.gif" width="0" height="0" style="display:none;"onload="aipo.IfrGadgetService.prototype.requestCheckActivity();"/>
#ALdialogfooter()
