#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#

## ---------------------------------------------------------------------------
#macro(ALnoteResultList $msg_type)
#if($msg_type == "0")
<div class="message">$l10n.NOTE_SENT_NOTE</div>
#elseif($msg_type == "1")
<div class="message">$l10n.NOTE_SENT_NOTE<br/>
<span class="errmsg">$l10n.NOTE_ALERT_DONT_SEND_NOTE_FOR_NO_EMAIL</span></div>
#elseif($msg_type == "2")
<div class="message">$l10n.NOTE_SENT_NOTE<br/>
<span class="errmsg">$l10n.NOTE_ALERT_DONT_SEND_NOTE_FOR_NO_CELLULAR_MAIL</span></div>
#elseif($msg_type == "3")
<div class="message">$l10n.NOTE_SENT_NOTE<br/>
<span class="errmsg">$l10n.NOTE_ALERT_DONT_SEND_NOTE_FOR_NO_EMAIL_AND_CELLULAR_MAIL</span></div>
#elseif($msg_type == "4")
<div class="message">$l10n.NOTE_SENT_NOTE<br/>
<span class="errmsg">$l10n.NOTE_ALERT_DONT_SEND_NOTE_FOR_NO_USER</span></div>
#elseif($msg_type == "5")
<div class="message">$l10n.NOTE_SENT_NOTE<br/>
<span class="errmsg">$l10n.NOTE_ALERT_DONT_SEND_NOTE_FOR_NO_ADMIN</span>
</div>
#end
#end

#macro(ALsetSubject $record)
#if ($!record.SubjectType.toString() == "0") #set ($subject = $!record.CustomSubject.toString()) #end
#if ($!record.SubjectType.toString() == "1") #set ($subject = $l10n.NOTE_CALL_AGAIN) #end
#if ($!record.SubjectType.toString()  == "2") #set ($subject = $l10n.NOTE_CALL_BACK) #end
#if ($!record.SubjectType.toString()  == "3") #set ($subject = $l10n.NOTE_TELL_ME) #end
#if ($!record.SubjectType.toString()  == "4") #set ($subject = $l10n.NOTE_TAKE_A_MESSAGE) #end
#end

#macro(ALsetEven $setEven)
#if($setEven)
#set($setEven = false)
#else
#set($setEven = true)
#end
#end