#*
 * Aipo is a groupware program developed by Aimluck,Inc.
 * Copyright (C) 2004-2011 Aimluck,Inc.
 * http://www.aipo.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
## ---------------------------------------------------------------------------
#set ($indicator_id = "indicator-list-")

#set ($addFacility = $!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityFormScreen").addQueryData("entityid","new")))
#set ($orderFacility = $!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityChangeTurnFormScreen"))
## ---------------------------------------------------------------------------
#if(${client}=="IPHONE")
#AUIcontentsAreaHeader()
#end
#AUIwideAreaHeader()
#AUISummaryDiv()
#if($result.getAllFacilitySum() != 0)
<div class="floatLeft">
#AUIbuttonAction("$l10n.FACILITIES_ADD_FACILITY" "javascript:aipo.common.showDialog('$addFacility','$!portlet.ID',aipo.facility.onLoadFacilityDialog);")
</div>
#end
<div class="floatRight clearfix relative">
<div class="auiSelectButton">
<ul>
#set($tab = ["$l10n.FACILITIES_FACILITY", "facility","$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityListScreen')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="first" style="width:4em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
#set($tab = ["$l10n.FACILITIES_FACILITYGROUP", "group", "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityGroupListScreen')"])
<li #if ($tab.get(1) == $!result.Viewtype) class="active"#end><a class="last" style="width:8em;" href="javascript:void(0);" onclick="aipo.viewPage('$!utils.escapeXML($tab.get(2))', '$!portlet.ID');"><span>$tab.get(0)</span></a></li>
</ul>
</div>
</div>
#AUISummaryDivfooter()
#if($result.getAllFacilitySum() != 0)
#AUISummaryDiv()
<form class="auiForm floatLeft" action="#" method="post" style="margin-right:1em;" onsubmit="return false;">
<select onchange="aipo.viewPage(this.options[this.selectedIndex].value, '$!portlet.ID')" style="width:180px;">
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityListScreen").addQueryData("filter","").addQueryData("filtertype","group_id"))">$l10n.FACILITIES_FACILITYGROUP_ALL</option>
#foreach( $record in $result.AllFacilityGroup )
<option value="$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityListScreen").addQueryData("filter",$!record.GroupId).addQueryData("filtertype","group_id"))" #if ($!result.CurrentFilter && $!result.CurrentFilter == $!record.GroupId.toString()) selected="selected" #end>$!record.GroupName</option>
#end
</select>&nbsp;
#ALformfooter()
#AUISummaryDivfooter()
#end
<div id="listMessageDiv"></div>
#ALajaxlistformheader("$l10n.FACILITIES_FACILITY")
#if($result.getAllFacilitySum() == 0)
#AUIbuttonActionInBlankBox("$l10n.FACILITIES_ADD_FACILITY" "javascript:aipo.common.showDialog('$addFacility','$!portlet.ID',aipo.facility.onLoadFacilityDialog);")
#elseif($result.List.size() == 0)
$l10n.FACILITIES_MSG_NO_FACILITIES<br />
#else
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.FACILITIES_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.facility.onReceiveMessage")
#AUIajaxbuttonLink("$l10n.FACILITIES_SORT_FACILITY" $orderFacility)
#ALajaxIndicator("${indicator_id}" "$!{portlet.ID}" "")
</div>
#AUIajaxpageview('FacilityListScreen' $result)
#AUISummaryDivfooter()
<table class="auiRowTable wide">
<colgroup style="width:20px;">
</colgroup><colgroup style="width:30em;">
</colgroup><colgroup style="">
</colgroup>
<tbody>
<tr>
#ALtdheadAtt("#ALswitchCheckbox()" "class='auiMTCheck'")
#ALtdhead("#ALajaxsort('facility_name' $l10n.FACILITIES_FACILITY_NAME $result 'FacilityListScreen')")
#ALtdhead("$l10n.FACILITIES_FACILITYGROUP_NAME")
</tr>
#foreach ($record in $result.List)
<tr>
#ALtdcellAtt("<input name='check$!record.FacilityId' type='checkbox' value='$!record.FacilityId'/>" 'class="center auiMTCheck"')
#ALtdcellheader()
<div>
<a href="javascript:void(0);" onclick="aipo.common.showDialog('$!utils.escapeXML($!jslink.getPortletById($!portlet.ID).addQueryData("template","FacilityDetailScreen").addQueryData("entityid",$record.FacilityId))');">$result.getStringCR($!record.FacilityName)</a>
</div>
#ALtdcellfooter()
#ALtdcellheader()
#set($gcount = 0)
<div>
#foreach($group in $!record.getFacilityGroupListByFacilityId($!record.FacilityId.toString()))
#if($gcount != 0)、&nbsp;#end
$result.getStringCR($!group.GroupName)
#set($gcount = $gcount + 1)
#end
</div>
#ALtdcellfooter()
</tr>
#end
</table>
#AUISummaryDiv()
<div class="floatLeft">
#AUIajaxbuttonCheckboxDelete("$l10n.FACILITIES_DELETE" "$!jslink.getPortletById($!portlet.ID).addQueryData('template','FacilityFormJSONScreen').addQueryData('mode','multi_delete')" "${indicator_id}" "$!portlet.ID" "aipo.facility.onReceiveMessage")
#AUIajaxbuttonLink("$l10n.FACILITIES_SORT_FACILITY" $orderFacility)
</div>
#AUIajaxpageview('FacilityListScreen' $result)
#AUISummaryDivfooter()
#end
#ALformfooter()
#AUIwideAreaFooter()
#if(${client}=="IPHONE")
#AUIcontentsAreaFooter()
#end